<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Repetir ticket</h5></CCardHeader>
        <CCardBody>
          <CRow>
            <CCol xs="12" lg="4">
              <CFormCheck
                type="radio"
                name="radioType"
                label="Duplicar Igual"
                value="duplicar"
                v-model="v$.radioType.$model"
              />
              <CFormCheck
                type="radio"
                name="radioType"
                value="horario"
                label="Cambiar Horario"
                v-model="v$.radioType.$model"
              />
              <CFormCheck
                type="radio"
                name="radioType"
                value="sorteo"
                label="Seleccionar Sorteo"
                v-model="v$.radioType.$model"
              />
            </CCol>
            <CCol xs="12" lg="4">
              <CRow class="mb-3">
                <CFormLabel for="serial" class="col-sm-4">Serial</CFormLabel>
                <CCol>
                  <CFormInput
                    maxlength="16"
                    v-model="v$.serial.$model"
                    type="text"
                  />
                  <small class="wrong-input" v-if="v$.serial.$error">
                    {{ v$.serial.$errors[0].$message }}
                  </small>
                </CCol>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel for="serial" class="col-sm-4"
                  >Serial alterno
                </CFormLabel>
                <CCol>
                  <CFormInput
                    maxlength="16"
                    v-model="v$.serialInterno.$model"
                    type="text"
                  />
                  <small class="wrong-input" v-if="v$.serialInterno.$error">
                    {{ v$.serialInterno.$errors[0].$message }}
                  </small>
                </CCol>
              </CRow>
            </CCol>
            <CCol xs="12" lg="4"
              ><CRow class="mb-3">
                <CFormLabel for="serial" class="col-sm-4 text-lg-end"
                  >Taquilla</CFormLabel
                >
                <CCol>
                  <CFormSelect
                    aria-label="Default select example"
                    :options="[
                      'Seleccione',
                      { label: '1', value: '1' },
                      { label: '2', value: '2' },
                      { label: '3', value: '3' },
                    ]"
                  >
                  </CFormSelect>
                </CCol>
              </CRow>
              <CCol class="mb-3 col-lg-12 col-sm-12 d-flex justify-content-end">
                <CButton
                  :disabled="isDisabled"
                  @click="showItems = true"
                  class="btn-primario"
                >
                  Buscar
                </CButton>
              </CCol>
            </CCol>
            <CRow v-if="showItems">
              <CCol class="mt-3" xs="12" lg="5">
                <!-- <h6 class="text-center customs-title-table">Sorteos Jugados</h6>

                <EasyDataTable
                  v-model:items-selected="itemsSelectedJugados"
                  :headers="headers"
                  :items="items"
                />
                <br />
                items selected:<br />
                {{ itemsSelectedJugados }} -->
                <CCTable
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :ref="tRef"
                  v-model="currentPage"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="eraseFromTable"
                  :loading="tableDataLoading"
                  maxHeight="10rem"
                  doNotEmit
                  :showEdit="false"
                  :showView="false"
                  :checkCol="true"
                  :setTableState="setTableState"
                />
              </CCol>
              <CCol class="mt-3" xs="12" lg="5">
                <!-- <h6 class="text-center customs-title-table">
                  Sorteos a Duplicar
                </h6>
                <EasyDataTable
                  v-model:items-selected="itemsSelectedDuplicar"
                  :headers="headers"
                  :items="items"
                />
                <br />
                items selected:<br />
                {{ itemsSelectedDuplicar }} -->
                <CCTable
                  :tableData="tableData2"
                  :inTableData="inTableData2"
                  :ref="tRef2"
                  v-model="currentPage2"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="eraseFromTable"
                  :loading="tableDataLoading2"
                  maxHeight="10rem"
                  doNotEmit
                  :showEdit="false"
                  :showView="false"
                  :checkCol="true"
                  :setTableState="setTableState"
                />
              </CCol>
              <CCol xs="12" lg="2">
                <CRow id="helpers" class="mt-0 mt-lg-3">
                  <CCol class="section-container">
                    <h6 class="reference">Monto</h6>
                    <CFormLabel for="triple">Triple Bs.</CFormLabel>
                    <CFormInput
                      v-model="v$.triplebs.$model"
                      class="mt-2"
                      type="text"
                      maxlength="11"
                    />

                    <small class="wrong-input" v-if="v$.triplebs.$error">
                      {{ v$.triplebs.$errors[0].$message }}
                    </small>
                    <CFormLabel for="terminales">Terminales Bs.</CFormLabel>
                    <CFormInput
                      v-model="v$.terminales.$model"
                      class="mb-3"
                      type="text"
                      maxlength="11"
                    />
                    <small class="wrong-input" v-if="v$.terminales.$error">
                      {{ v$.terminales.$errors[0].$message }}
                    </small>
                    <CFormLabel for="figura">Figura Bs.</CFormLabel>
                    <CFormInput class="mb-3" type="text" />
                  </CCol>
                </CRow>
              </CCol>
              <CCol class="d-flex justify-content-center mt-3" xs="12" lg="12">
                <CButton class="mx-4 btn-primario">
                  Aceptar
                </CButton>
                <CButton @click="limpiarCerrar" class="mx-md-4 btn-primario">
                  Cancelar
                </CButton>
              </CCol>
            </CRow>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
 
</template>

<script>
import valTicketRepeat from '@/_validations/ticketRepeat/ticketRepeat'
import useValidate from '@vuelidate/core'
import { loadToggler } from '@/composables/loadToggler'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
function limpiarCerrar() {
  this.showItems = false
  this.radioType = 'sorteo'
  this.terminal = ''
  this.serial = ''
  this.serialInterno = ''
  this.v$.$reset()
}
// SETUP
function setup() {
  loadToggler()
  
  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Nombre', attr: 'name' }, 50],
      [{ name: 'Hora', attr: 'hora' }, 50],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
  const inTableData2 = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    inTableData,
    inTableData2
  }
}

//COMPUTED
function isDisabled() {
  return this.v$.$invalid
}
function data() {
  return {
    v$: useValidate(),
    triplebs: '',
    terminales: '',
    select_taquilla: '',
    showItems: false,
    radioType: 'sorteo',
    terminal: '',
    serialInterno: '',
    serial: '',
    
   
  
  }
}
export default {
  setup,
  data,
  validations() {
    return valTicketRepeat(this.showItems)
  },
  computed: {
    isDisabled,
  },
  methods: {
    limpiarCerrar,
  },
  components: { CCTable },
  mixins: [tableGenerals],
  mounted() {
    this.tRef = 'jugados'
    this.tRef2 = 'duplicar'
    this.tableData = [
      { name: 'El terminalito', hora: '3pm', },
      { name: 'El terminalito', hora: '3pm' },
    ];
    this.tableData2 = [
      { name: 'El terminalito', hora: '3pm', },
      { name: 'El terminalito', hora: '3pm' },
    ];
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.customs-title-table {
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 10px;
  margin: 0;
}
</style>
