<template>
  <div></div>
  <CCol>
    <CCard class="mb-4">
      <CCardHeader>
        <h5>Gestionar grupos</h5>
      </CCardHeader>
      <CCardBody class="row">
        <div class="col-md-12">
          <CRow>
            <CCol
              xs="12"
              lg="4"
              v-if="this.auth_tipoUsuario === 24"
              
            >
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="compradorc"
                :v_="v$.compradorc"
                activateTouched
                :execute="
                  () => {
                    v$.compradorc.$touch()
                  }
                "
                :options="compradoresc"
                hideSeleccione
              />
            </CCol>
            <CCol
              xs="12"
              lg="4"
              v-if="
                this.auth_tipoUsuario === 22 ||
                this.auth_tipoUsuario === 24 ||
                this.auth_tipoUsuario === 0
              "
            >
              <CCol class="mb-1">Rif/Nombre del grupo</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="grupo"
                :v_="v$.grupo"
                activateTouched
                :execute="
                  () => {
                    v$.grupo.$touch()
                  }
                "
                :options="grupoOption"
                hideSeleccione
                :disabled="
                    compradorc === 'MDAwMDAw' && this.auth_tipoUsuario === 24
                      ? true
                      : false
                  "
              />
            </CCol>
            
            <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">Estatus</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="estatus"
                  :v_="v$.estatus"
                  activateTouched
                  :execute="
                    () => {
                      v$.estatus.$touch()
                    }
                  "
                  :options="estatusOptions"
                  hideSeleccione
                /> 
              </CCol>
          </CRow>
          <CRow>
            <CCol xs="12" lg="4"></CCol>
            <CCol xs="12" lg="2">
                <CModalFooter class="justify-content-center m-t-3">
                  <CButton
                    class="btn-primario mx-2"
                    @click="fetchListarGestionGrupo()"
                    :disabled="
                      v$.grupo.$error || v$.compradorc.$error || (this.auth_tipoUsuario === 24 && compradorc === 'MDAwMDAw') || (grupoOption.length == 0 && compradorc != 'MDAwMDAw') ? 'disabled' : null
                    "
                    >Buscar
                  </CButton>
                </CModalFooter>
              </CCol>
            <CCol xs="12" lg="2">
              <CModalFooter class="justify-content-center m-t-3">
                <CButton
                  class="btn-primario mx-2"
                  @click="viewGroup(null, 'register')"
                  >Agregar
                </CButton>
              </CModalFooter>
            </CCol>
          </CRow>
          <br />
          <br />
          <CRow>
            <CCTable
              :ref="tRef"
              v-model="currentPage"
              :tableData="tableData"
              :inTableData="inTableData"
              :setTableState="setTableState"
              :showPagination="showPagination"
              :setShowPagination="setShowPagination"
              :showDelete="false"
              :showView="false"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem"
              :checkCol="false"
              :hideActionsHeader="true"
              maxHeight="30rem"
              doNotEmit
              :pageSize="15"
              :viewFromTable="viewGroup"
              :editFromTable="viewGroup"
            />
          </CRow>
        </div>
      </CCardBody>
    </CCard>
  </CCol>
  <modalGrupo
    ref="modalgroupDecorator"
    :visible="groupModalVisible"
    :data="groupModalDta"
    :close="closeModal"
    :edit="groupEdit"
    :mode="groupMode"
    :fetchListarGrupos="fetchListarGrupos"
    :actualizarComprador="fetchListarCompradorComercial"
    />
    <!-- :refresh="fetchListarGestionGrupo()" -->
    <!-- :refresh="compradorc != 'MDAwMDAw' ? fetchListarGestionGrupo() : clearAll()" -->
</template>
<script>
import CCTable from '@/components/custom/CCTable.vue'
import monitorearCombinaciones from '@/_validations/gestionGrupo/gestionGrupoVal'
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import CCInput from '@/components/custom/CCInput.vue'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import useVuelidate from '@vuelidate/core'
import modalGrupo from './modalGrupo.vue'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import modalGenerals from '@/_mixins/modalGenerals'
import { modalSetupData } from '@/composables/modalDataStruct'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { loadToggler } from '@/composables/loadToggler'
import { LABELS as labels } from '@/_helpers/labels'
//import { groupRegister } from '@/_helpers/formData'

function clearAll(){
    this.compradorc = 'MDAwMDAw'
}

//------------------------------------------------- LISTAR COMPRADOR COMERCIAL ------------------------------------------------------------

async function fetchListarCompradorComercial() {
  const self = this
  fetchRequest({
    api:
      this.$apiGeneral + 'ListarCompradorComercial/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.compradoresc = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradoresc = [
        { label: 'SELECCIONE', value: 'MDAwMDAw' },
        ...self.compradoresc,
      ]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}

//---------------------------------------------------------- LISTAR GRUPOS ----------------------------------------------------------------

async function fetchListarGrupos(val) {
  const self = this
  let auxComprador = window.atob(val) + '%'
  auxComprador = window.btoa(auxComprador)
  self.grupoOption = []
  fetchRequest({
    api:
      this.$apiGeneral + 'ListarGrupos/' + self.auth_tokenUsuario + '/'+ auxComprador,
    self,
    success: (rjson) => {
      self.grupoOption = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.grupoOption = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.grupoOption,
      ]
    },
    error: (rjson) => {
      console.error(rjson)
      this.grupo = 'MDAwMDAw';
      this.tableData= [];
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los grupos', true),
      })
    },
  })
}

//---------------------------------------------------- LISTAR ESTATUS ----------------------------------------------------------------
async function fetchListarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral + 'ListarEstatusGral/MA==',
    self,
    success: (rjson) => {
      self.estatusOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.estatusOptions = [
        { label: 'TODOS', value: '%' },
        ...self.estatusOptions,
      ]
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

//------------------------------------------------------- LISTAR GESTION GRUPOS ---------------------------------------------------------------

async function fetchListarGestionGrupo() {
  this.tableDataLoading = true
  const self = this
  let codComprador = self.compradorc //CAMBIAR A cc0179 por 000000
  let codGrupo = self.grupo
  let codStatus = self.estatus === '%' ? 'JQ==' : self.estatus
  self.tableData = []
  fetchRequest({
    api: `${this.$apiAdministrativo}ConsultarGrupo/${self.auth_tokenUsuario}/${codComprador}/${codGrupo}/${codStatus}`,
    self,
    success: (rjson) => {
      if (rjson.mensaje.codigo === '000') {
        self.tableData = rjson.datos
      }
    },
    error: (rjson) => {
      console.error('error', rjson)
      self.tableData = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        boolError: true,
      })
    },
    done: () => {
      self.tableDataLoading = false
    },
  })
}

//-----------------------------------------------------------------------------------------------------------------------------------

function groupEdit() {
  this.groupModalVisible = false
  this.modalDecorator(this, 'modalgroupDecorator')
}

async function viewGroup(data, mode) {
  if (mode === 'edit') {
    this.compradorc = data.codigoComprador
  }
    
  this.groupMode = mode
  this.groupModalDta = {
    auxComprador: this.compradorc,
    auxGrupo: data ? data.codigoGrupo : '',
    allData: data,
  }
  this.actionFromTable(this.groupModalDta, mode)
  this.groupModalVisible = true
}

function closeModal(isLoading = false) {
  if (!isLoading) {
    this.groupModalVisible = false
    this.modalDecorator(this, 'modalgroupDecorator')
  }
  if (this.groupMode === 'register' && this.auth_tipoUsuario === 22) this.fetchListarGrupos('MDAwMDAw')
  if (this.groupMode === 'edit') this.fetchListarGestionGrupo()
  if (this.groupMode === 'register' && this.tableData.length > 0) this.fetchListarGestionGrupo()
}

function isInvalid() {
  return this.v$.$invalid
}

function mounted() {
  this.tRef = 'usuariosTable'

  if (this.auth_tipoUsuario === 24) this.fetchListarCompradorComercial()
  if (this.auth_tipoUsuario === 24 || this.auth_tipoUsuario === 22) {
    //this.fetchListarGrupos()
    this.fetchListarEstatus()
  }
  if (this.auth_tipoUsuario ===22) this.fetchListarGrupos('MDAwMDAw')
  
}

function unmounted() {}

function setup() {
  const optionsColWidthRem = 2
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)

  loadToggler()

  const forTabla = [
    [{ name: 'Nombre del Grupo', attr: 'nombreGrupo' }],
    [{ name: 'Rif', attr: 'rifGrupo' }],
    [{ name: 'Estatus', attr: 'desEstatusGrupo' }],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(tableCol[1], optionsColWidthRem)
        : {}),
    })),
  )

  return {
    ...setupData(1),
    ...modalSetupData('actualizar'),
    ...modalSetupData('modalGrupo', true),
    v$: useVuelidate(),
    inTableData,
    auth_tokenUsuario,
    optionsColWidthRem,
    auth_tipoUsuario,
  }
}

function data() {
  return {
    compradoresc: [],
    compradorc: 'MDAwMDAw',
    grupo: 'MDAwMDAw',
    grupoOption: [],
    estatus: '%',
    estatusOptions: [],
    tableData: [],
    groupModalVisible: false,
    groupModalDta: {},
    groupMode: 'Register',
    errorGrupo: false
  }
}

export default {
  name: 'gestionGrupo',
  components: { CCTable, CCInput, modalGrupo },
  mixins: [globalMixin, tableGenerals, modalGenerals],
  setup,
  data,
  methods: {
    fetchListarCompradorComercial,
    fetchListarGrupos,
    fetchListarEstatus,
    fetchListarGestionGrupo,
    viewGroup,
    groupEdit,
    closeModal,
    clearAll,
  },
  watch: {
    compradorc: function (val) {
        this.fetchListarGrupos(val)
        this.grupo = 'MDAwMDAw';
        this.estatus = '%';
      },
  },
  mounted,
  validations() {
    return monitorearCombinaciones(this.auth_tipoUsuario)
  },
  unmounted,
  computed: {
    isInvalid,
  },
}
</script>
