<template>
  <CModal
    size="xl"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle>{{
        this.mode === 'edit' ? 'Modificar grupo' : 'Agregar grupo'
      }}</CModalTitle>
    </CModalHeader>
    <CModalBody class="modal-content">
      <CForm class="d-flex flex-wrap justify-content-between align-items-start">
        <CCol xs="12" lg="5"
          v-if="this.auth_tipoUsuario === 24"
        >
          <CCol class="mb-1 color-text" xs="12" lg="5">Comprador comercial *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'select',
            }"
            v-model="comprador"
            :v_="v$.comprador"
            activateTouched
            :execute="
              () => {
                v$.comprador.$touch()
              }
            "
            :options="compradorOptions"
            hideSeleccione
            :disabled="this.mode === 'edit' ? true : false"
            @change="actualizarPremiacion()"
          />
        </CCol>
        <CCol xs="12" lg="5">
          <CCol class="mb-1 color-text" xs="12" lg="5">Nombre grupo *</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="nombreGrupo"
              :v_="v$.nombreGrupo"
              activateTouched
              :execute="
                () => {
                  v$.nombreGrupo.$touch()
                }
              "
            />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">RIF *</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="rif"
              :v_="v$.rif"
              activateTouched
              @input="rif = $event.target.value.toUpperCase()"
              :execute="
                () => {
                  v$.rif.$touch()
                }
              "
              :disabled="this.mode === 'edit' ? true : false"
            />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3 ">
          <CCol class="mb-1 color-text" xs="12" lg="5">Número teléfono móvil *</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="numeroTele"
              :v_="v$.numeroTele"
              activateTouched
              :execute="
                () => {
                  v$.numeroTele.$touch()
                }
              "
            />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Tipo de grupo *</CCol>
           <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }"
              v-model="tipoGrupo"
              :v_="v$.tipoGrupo"
              activateTouched
              :execute="
                () => {
                  v$.tipoGrupo.$touch()
                }
              "
              :options="tipoGrupoOptions"
              :disabled="this.mode === 'edit' ? true : false"
              hideSeleccione
            />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Forma de premiación *</CCol>
           <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }"
              v-model="premiacion"
              :v_="v$.premiacion"
              activateTouched
              :execute="
                () => {
                  v$.premiacion.$touch()
                }
              "
              :options="premiacionOptions"
              hideSeleccione
              @change="cambiarPremiacion()"
            />
        </CCol>

        <CCol
          xs="12"
          :lg="this.mode === 'edit' ? 5 : 12"
          class="mt-3"
        >
          <CCol class="mb-1 color-text" xs="12" lg="5">Dirección</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="direccion"
              :v_="v$.direccion"
              activateTouched
              :execute="
                () => {
                  v$.direccion.$touch()
                }
              "
            />
        </CCol>
        <CCol
          xs="12"
          lg="5"
          class="mt-3"
          v-if="this.mode === 'edit'"
        >
          <CCol class="mb-1 color-text" xs="12" lg="5">Estatus</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }"
              v-model="estatus"
              :v_="v$.estatus"
              activateTouched
              :execute="
                () => {
                  v$.estatus.$touch()
                }
              "
              :options="estatusOptions"
              hideSeleccione
            />
        </CCol>

        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Responsable legal *</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="responsable"
              :v_="v$.responsable"
              activateTouched
              :execute="
                () => {
                  v$.responsable.$touch()
                }
              "
              :disabled="this.mode === 'edit' ? true : false"
            />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Correo electrónico *</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="correo"
              :v_="v$.correo"
              activateTouched
              :execute="
                () => {
                  v$.correo.$touch()
                }
              "
            />
        </CCol>
      </CForm>

      <!----------------------------DATOS EN LOS TABS ---------------------------->
      <div class="mt-4" v-if="validarSeccionTabs">
        <CNav variant="tabs">
          <CNavItem>
            <CNavLink
              @click="handlerTabs(0)"
              :active="negociacion"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Condiciones de negociación
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(1)"
              :active="centroApuestas"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Centros de apuestas
            </CNavLink>
          </CNavItem>
        </CNav>

        <CTabContent class="rounded-bottom">
          <CTabPane class="p-3 preview" :visible="negociacion">
            <div class="table-responsive">
              <CCol xs="12" lg="5" class="me-1">
                <CCol class="mb-1 color-text" xs="12" lg="5">Productos</CCol>
                  <CCInput
                    :allData="{
                      errorMessageClasses: 'wrong-input',
                      type: 'select',
                    }"
                    v-model="productoNegociacion"
                    :v_="v$.productoNegociacion"
                    activateTouched
                    :execute="
                      () => {
                        v$.productoNegociacion.$touch()
                      }
                    "
                    :options="productosNegociacionOptions"
                    hideSeleccione
                  />
              </CCol>
              <table class="table">
                <thead>
                  <tr>
                    <th class="mb-1 color-text maximo">Tipo de jugada</th>
                    <th class="mb-1 color-text">Condición de negociación</th>
                  </tr>
                </thead>
              </table>
              <div class="tableContainer">
                <table class="table">
                  <tbody>
                    <template v-for="(prod, i) of elementosFiltradosNegociacion" :key="prod.value">
                      <tr>
                        <td class="mb-1 maximo">
                            <CCol xs="12" lg="5" class="mt-1">{{ prod.NomJugada }}</CCol>
                        </td>
                        <td class="mb-1">
                          <CCol xs="12" lg="5" v-for="aux of auxCondicionOptions" :key="aux.value">
                            <CCInput
                              :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'select',
                              }"
                              v-model="condicion[i]"
                              :v_="v$.condicion"
                              v-if="prod.CodJugada === aux.CodJugada &&
                              prod.codigoCondNeg === aux.codigoCondNeg"
                              :options="aux.ListCondicionesProTipJug"
                              @change="
                                obtenerValorNegociacion(
                                  condicion[i],
                                  prod.CodigoProducto,
                                  aux.CodJugada,
                                )
                              "
                            />
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton
                class="btn-primario"
                @click="handlerTabs(1)"
                :disabled="mode === 'register' ? btnTabsDisabled(1) : false"
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="centroApuestas">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="mb-1 color-text maximo">Asociar</th>
                    <th class="mb-1 color-text">Centro de apuesta</th>
                  </tr>
                </thead>
              </table>
              <div class="tableContainer">
                <table class="table">
                  <tbody>
                    <template
                      v-for="(centro, index) in centrosApuestaGrupoOptions"
                      :key="index"
                    >
                      <tr>
                        <td class="mb-1 maximo">
                          <CCol xs="12" lg="12" class="mt-1">
                            <input
                              class="check-figura d-block"
                              type="checkbox"
                              :id="'Centro-' + index"
                              :value="estatusArray[index]"
                              v-model="estatusArray[index]"
                              @change="cambiarEstatus(index)"
                            />
                          </CCol>
                        </td>
                        <td class="mb-1">
                          <CCol xs="12" lg="12">
                            {{ centro.label }}
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CCLoader v-if="loading" inline />&nbsp;
              <CButton class="btn-primario" @click="handlerTabsAtras(0)">
                Atrás
              </CButton>
              <CButton
                class="btn-primario"
                @click="handlerTabs(2)"
                :disabled="mode === 'register' ? (btnTabsDisabled(2) || valBtn) : btnTabsDisabledEdit(2)"
              >
                {{ this.mode === 'edit' ? 'Modificar' : 'Guardar' }}
              </CButton>
            </CModalFooter>
          </CTabPane>
        </CTabContent>
      </div>
    </CModalBody>
    <CModalFooter v-if="showFooter" class="justify-content-center">
    </CModalFooter>
  </CModal>
</template>
<script>
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import modalGrupo from '@/_validations/gestionGrupo/modalGestionGrupo'
import CCInput from '@/components/custom/CCInput.vue'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import CCLoader from '@/components/custom/CCLoader.vue'
import { LABELS as labels } from '@/_helpers/labels'

function cleanAll() {
  //this.comprador = 'MDAwMDAw'
  this.nombreGrupo = ''
  this.rif = ''
  this.grupo = ''
  this.premiacion = 'MDA='
  this.numeroTele = ''
  this.correo = ''
  this.estatus = ''
  this.direccion = ''
  this.responsable = ''
  this.condicion = []
  this.productoNegociacion = 'MDA='
  this.aplicarTodos = false
  this.productosNegociacionOptions = []
  this.condicionOptions = []
  this.condiciones = {}
  this.centrosApuestaGrupo = ''
  this.centrosApuestaGrupoOptions = []
  this.elementosFiltradosNegociacion = []
  this.auxCondicionOptions = []
  this.arrayCondicionesNeg = []
  this.arraySinDuplicados = []
  this.estatusArray = []
  this.arrayCentroApuestas = []
  this.tipoGrupo = ''
  this.codigoTipoGrupo = ''
  this.handlerTabs(0)
  this.v$.$reset()
}

function btnTabsDisabled(val) {
  // const todasSonSeleccione = this.condicion.every(
  //   (item) => item === 'seleccione',
  // )
  if (val === 1 && this.productoNegociacion != 'MDA='/*  && !todasSonSeleccione */)
    return false
  else if (val === 2) {
    if(this.direccion.length === 0 && this.v$.direccion.$invalid === true){
      return false
    }
    else if(this.direccion.length > 0 && this.v$.direccion.$invalid === true){
      return true
    }

  }
  //else if(val === 3 && this.productoLimite != 'MDA=') return false
  //else if(val === 4) return false
  else return true
}

function btnTabsDisabledEdit(val) {
  if (val === 2) {
    if(this.direccion.length === 0 && this.v$.direccion.$invalid === true){
      return false
    }
    else if(this.direccion.length > 0 && this.v$.direccion.$invalid === true){
      return true
    }
  }else return true
}

//*******************************************************FUNCION PARA CAMBIAR ENTRE PESTAÑAS****************************************************
function handlerTabs(val) {
  if (val == 0) {
    this.negociacion = true
    this.centroApuestas = false   
      if (this.mode === 'edit' && this.premiacion != 'MDA=' && this.premiacion != '' && this.visible === true) this.fetchCondicionNegociacion(this.codigoTipoGrupo)
  } else if (val == 1) {
    this.negociacion = false
    this.centroApuestas = true
  } else {
    this.fetchGestionarGrupo()
  }
}

function handlerTabsAtras(val) {
  if (val == 0) {
    this.negociacion = true
    this.centroApuestas = false
      if (this.mode === 'edit' && this.premiacion != 'MDA=' && this.premiacion != '' && this.visible === true) this.fetchCondicionNegociacion(this.codigoTipoGrupo)
  } else if (val == 1) {
    this.negociacion = false
    this.centroApuestas = true
  }
}

//ESTO ES DE LA PESTAÑA DE NEGOCIACION
function obtenerValorNegociacion(cond_, valor, jugada) {
  const objeto = {
    codigoProducto: valor,
    codigoCondicion: cond_,
    codigoJugada: jugada,
  }
 const index = this.arrayCondicionesNeg.findIndex(
    (item) => item.codigoJugada == jugada && item.codigoProducto == valor,
  )
  // let index = -1
  // let pos = 0
  // this.arrayCondicionesNeg.forEach(item => {
  //     if (item.codigoJugada == jugada && item.codigoProducto == valor) {
  //       item.codigoCondicion = cond_
  //       index = pos
  //     }
  //     pos = pos + 1
  // })

  if (index !== -1) {
    // Reemplazar el objeto existente con la nueva data
    this.arrayCondicionesNeg[index]= objeto
  } else {
    // Agregar el nuevo objeto si no existe
    this.arrayCondicionesNeg.push(objeto)
  }
  
  this.arrayCondicionesNeg = this.arrayCondicionesNeg.map((val) => {
      return {
          codigoProducto: val.codigoProducto,
          codigoCondicion: val.codigoCondicion,
          codigoJugada: val.codigoJugada,
          estatus: val.estatus
        }
    })
  
  this.arraySinDuplicados =  this.arrayCondicionesNeg.filter((value, index) => {
    const _value = JSON.stringify(value);
    return index === this.arrayCondicionesNeg.findIndex(obj => {
      return JSON.stringify(obj) === _value;
    });
  });
  
  this.arraySinDuplicados.forEach((item,indice,arr)=>{
    if(item.codigoCondicion === 'seleccione')
    { arr.splice(indice,1 )}
})
}

//***************************CARGAR DATOS PARA TODO EL MODAL *****************************************************
async function fetchCargarDatos(auxComprador, auxGrupo) {
  const self = this
  const tipoOpcion = self.mode === 'register' ? 'MA==' : 'MQ=='
  let valComprador = self.auth_tipoUsuario === 22 ? 'MDAwMDAw' : auxComprador
  const valGrupo = self.mode === 'register' ? 'MDAwMDAw' : auxGrupo
  if (self.mode === 'register' && self.auth_tipoUsuario === 24 && auxComprador === 'MDAwMDAw') valComprador = 'MDAwMDAw'
  self.premiacionOptions = []
  fetchRequest({
    // api: `${this.$apiAdministrativo}CargarDatosCA/6D5A3FA3172C41C2AC3295929B6B4ACF/Q0MwMTc5/MA==/MDAwMDAw`,
    api: `${this.$apiAdministrativo}CargarDatosGrupo/${self.auth_tokenUsuario}/${valComprador}/${tipoOpcion}/${valGrupo}`,
    self,
    success: (rjson) => {
      //--------------------LISTAR PREMIOS-----------------------------
      if (rjson.datos.formaPremiacion) {
        self.premiacionOptions = rjson.datos.formaPremiacion.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
            estatus: val.estatus,
          }
        })

        self.premiacionOptions = [
          ...new Map(
            self.premiacionOptions.map((v) => [JSON.stringify(v), v]),
          ).values(),
        ]

        const opcionPorDefectoPremio = self.premiacionOptions.find(
          (opcion) => opcion.estatus === 'MQ==',
        )

        self.premiacionOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.premiacionOptions,
        ]
        if (opcionPorDefectoPremio?.value && self.v$?.premiacion) {
          self.premiacion = opcionPorDefectoPremio.value
          self.v$.premiacion.$model = opcionPorDefectoPremio.value
        }
      }
      //-----------------------PRODUCTOS-------------------------------
      if (rjson.datos.productos) {
        self.productosNegociacionOptions = rjson.datos.productos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
            estatus: val.estatus,
          }
        })
        self.productosNegociacionOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.productosNegociacionOptions,
        ]
      }
      //-----------------------Centro de Apuestas-------------------------------
      if (rjson.datos.centrosApuestaGrupo) {
        self.centrosApuestaGrupoOptions = rjson.datos.centrosApuestaGrupo.map(
          (val) => {
            return {
              value: val.codigo,
              label: val.descripcion,
              estatus: val.estatus,
            }
          },
        )

        self.centrosApuestaGrupoOptions.forEach((e) => {
          if (e.estatus === 'MQ==') {
            self.estatusArray.push(true)
          } else {
            self.estatusArray.push(false)
          }
        })
      }
      if ((self.auth_tipoUsuario === 24 && self.comprador === 'MDAwMDAw') || (self.auth_tipoUsuario === 24 && self.mode === 'edit')) {
        this.fetchComprador()
      }
      this.fetchListarEstatus()
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los turnos', true),
      })
    },
  })
}

//*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        { label: 'SELECCIONE', value: 'MDAwMDAw' },
        ...self.compradorOptions,
      ]

      for (const item of self.compradorOptions) {
        if (
          item.value === self.comprador ||
          item.value === self.valorComprador
        ) {
          self.pruebaComprador = item
          break
        }
      }
      self.comprador = self.pruebaComprador.value
      self.v$.comprador.$model = self.pruebaComprador.value
      
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//*******************************************************LISTAR CONDICIONES DE NEGOCIACION POR ENTIDAD Y CCL****************************************************
async function fetchCondicionNegociacion(valTipoGrupo) {
  const self = this
  const valComp = self.auth_tipoUsuario === 24 ? self.comprador : 'MDAwMDAw'
  const codAsociado = self.mode === 'register' ? 'MDAwMDAw' : self.codigoGrupo
  const auxPremiacion = self.premiacion
  const auxTipoGrupo = valTipoGrupo
  fetchRequest({
    api: `${this.$apiAdministrativo}ListarCondicionEntidad/${self.auth_tokenUsuario}/${valComp}/MjM=/${auxPremiacion}/${codAsociado}/${auxTipoGrupo}`,
    self,
    success: (rjson) => {
      self.condicionOptions = rjson.datos
        if (self.mode==='edit' && self.arraySinDuplicados.length === 0){
            self.condicionOptions.forEach(e=>{
                e.ListCondicionesProTipJug.forEach((condicion) => {
                    if (condicion.estatus !=='MA=='){
                      self.obtenerValorNegociacion(
                      condicion.codigo,
                      e.CodigoProducto,
                      e.CodJugada,
                      )
                    }
                })
        })
        }
    },
    error: (rjson) => {
      self.condicionOptions = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//***********************************************************LISTAR ESTATUS*********************************************************************
async function fetchListarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral + 'ListarEstatusGral/MA==',
    self,
    success: (rjson) => {
      self.estatusOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.estatusOptions = [
        { label: 'SELECCIONE', value: 'Seleccione' },
        ...self.estatusOptions,
      ]

      for (const item of self.estatusOptions) {
        if (item.value === self.estatus) {
          self.pruebaEstatus = item
          break
        }
      }
      self.estatus = self.pruebaEstatus.value
      self.v$.estatus.$model = self.pruebaEstatus.value
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

//***********************************************************LISTAR tipos de grupo*********************************************************************
async function fetchTipoGrupo() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarTipoGrupo/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.tipoGrupoOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.tipoGrupoOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.tipoGrupoOptions,
      ]

      for (const item of self.tipoGrupoOptions) {
        if (item.value === self.codigoTipoGrupo) {
          self.tipoGrupo = item.value
          break
        }
      }
      // self.estatus = self.pruebaEstatus.value
      // self.v$.estatus.$model = self.pruebaEstatus.value
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

function cambiarEstatus(val) {
  if (this.centrosApuestaGrupoOptions[val].estatus === 'MA==') {
    this.centrosApuestaGrupoOptions[val].estatus = 'MQ=='
  } else {
    this.centrosApuestaGrupoOptions[val].estatus = 'MA=='
  }
}


//**********************************GESTIONAR GRUPO ************************************** */
async function fetchGestionarGrupo() {
    const self = this
    self.loading = true
    self.valBtn = true
    const tpoOperacion = self.mode === 'register' ? 'MA==' : 'MQ=='
    const codGrupo = self.mode === 'register' ? 'MDAwMDAw' : self.codigoGrupo
    const estGrupo = self.mode === 'register' ? 'MA==' : self.estatus
    self.arrayCentroApuestas = []
    self.centrosApuestaGrupoOptions.forEach(e=>{
        if (e.estatus === 'MQ=='){
            self.arrayCentroApuestas.push(e.value)
        }
    })
    self.arraySinDuplicados = self.arraySinDuplicados.map((val) => {
      return {
          codigoProducto: val.codigoProducto,
          codigoCondicion: val.codigoCondicion,
        }
    })
    self.arraySinDuplicados.forEach((item,indice,arr)=>{
        if(item.codigoCondicion === 'seleccione')
        { arr.splice(indice,1 )}
    })

    fetchRequest({
      api: this.$apiAdministrativo+'GestionarGrupo',
      method: 'POST',
      self,
      body: {
        tokenUsuario: self.auth_tokenUsuario,
        tipoOperacion: tpoOperacion,
        codigoComprador: self.comprador,
        nombreGrupo: self.nombreGrupo,
        rifGrupo: window.btoa(self.rif),
        telefonoGrupo: window.btoa(self.numeroTele),
        formaPremiacion: self.premiacion,
        DireccionGrupo: self.direccion,
        nombrResponsable: self.responsable,
        emailGrupo: window.btoa(self.correo),
        codigoGrupo: codGrupo,
        estatusGrupo: estGrupo,
        ListCondicionesNeg: self.arraySinDuplicados,
        ListCentrosApuesta: self.arrayCentroApuestas,
        tipoGrupo: self.tipoGrupo
      },
  


      
      success: (rjson) => {
        self.loading = false
        self.close()
        self.fireToastMsg(
          rjson.mensaje.descripcion,
          // self.mode === 'register' ? 'Grupo creado de manera exitosa.' : 'Grupo editado de manera exitosa.',
          { icon: 'success' });
          self.fetchListarGrupos(this.comprador)
          self.valBtn = false
        //self.cleanAll()
      },
      error: (rjson) => {
        self.loading = false
        self.valBtn = false
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
      done: () => {
        self.actualizarComprador();
      },
    })
  }
  
function actualizarPremiacion(){
    this.fetchCargarDatos(this.comprador,'MDAwMDAw')
}

function cambiarPremiacion(){
  this.productoNegociacion = 'MDA='
  if ((this.mode === 'register' || this.mode === 'edit') && this.premiacion != '' && this.visible === true) {
    this.fetchCondicionNegociacion(this.tipoGrupo)
  }     
}

function shouldClose() {
  this.cleanAll()
  this.v$.$reset()
  this.close()
}

async function fillInputs(data) {
  if (this.visible === true) {
    this.fetchCargarDatos(data.auxComprador, data.auxGrupo)
    this.valorComprador = data.auxComprador
    this.nombreGrupo = data.allData ? data.allData.nombreGrupo : ''
    this.rif = data.allData ? data.allData.rifGrupo : ''
    this.numeroTele = data.allData
      ? window.atob(data.allData.telefonoGrupo)
      : ''
    this.correo = data.allData ? data.allData.emailGrupo : ''
    this.direccion = data.allData ? data.allData.DireccionGrupo : ''
    this.responsable = data.allData ? data.allData.nombrResponsable : ''
    this.comprador = data.allData ? data.allData.codigoComprador : 'MDAwMDAw'
    this.codigoGrupo = data.allData ? data.allData.codigoGrupo : ''
    this.estatus = data.allData ? data.allData.codEstatusGrupo : ''
    this.codigoTipoGrupo = data.allData ? data.allData.codigoTipoGrupo : ''
    this.premiacion = data.allData ? data.allData.formaPremiacion : ''
    this.fetchTipoGrupo()
  }
  /*if (this.mode === 'register' && data.auxComprador!='MDAwMDAw') {
    this.comprador = data.auxComprador
  }*/
  if (this.mode === 'edit' && this.visible === true) {
    this.fetchCondicionNegociacion(this.codigoTipoGrupo)
  }
  
}

function visibleW() {
  this.cleanAll()
  this.fillInputs(this.data)
}
export default {
  name: 'modalGrupo',

  data() {
    return {
      loading: false,
      pruebaComprador: [],
      pruebaEstatus: [],
      codigoGrupo: '',
      valorComprador: '',
      comprador: 'MDAwMDAw',
      compradorOptions: [],
      compradorAux:'',
      nombreGrupo: '',
      rif: '',
      numeroTele: '',
      premiacion: 'MDA=',
      premiacionOptions: [],
      direccion: '',
      correo: '',
      responsable: '',
      estatusOptions: [],
      estatus: '',
      negociacion: true,
      centroApuestas: false,
      productoNegociacion: 'MDA=',
      productosNegociacionOptions: [],
      condicion: [],
      condicionOptions: [],
      condiciones: {},
      centrosApuestaGrupo: '', ////
      centrosApuestaGrupoOptions: [],

      elementosFiltradosNegociacion: [],
      auxCondicionOptions: [],
      arrayCondicionesNeg: [],
      arraySinDuplicados: [],
      estatusArray: [],
      arrayCentroApuestas: [],
      tipoGrupoOptions: [],
      tipoGrupo: '',
      codigoTipoGrupo: '',
      valBtn: false
    }
  },
  components: { CCInput, CCLoader },
  mixins: [globalMixin],
  props: {
    visible: Boolean,
    close: Function,
    save: Function,
    edit: Function,
    refresh: Function,
    formData: {
      type: Array,
      default: () => [],
    },
    mode: {
      type: String,
      default: 'register',
    },
    data: Object,
    showFooter: {
      type: Boolean,
      default: true,
    },
    fetchListarGrupos: Function,
    actualizarComprador: Function,
  },
  setup() {
    const authStore = useAuth()
    const { auth_tipoUsuario, auth_tokenUsuario } = storeToRefs(authStore)
    return {
      v$: useVuelidate(),
      auth_tipoUsuario,
      auth_tokenUsuario,
    }
  },
  computed: {
    validarSeccionTabs: function () {

      if(this.auth_tipoUsuario === 24){
        if (
        this.mode === 'register' &&
        this.comprador != 'MDAwMDAw' &&
        this.v$.nombreGrupo.$invalid === false &&
        ((this.rif.length === 12 && this.v$.rif.$invalid === false) || (this.rif.length === 11 && this.v$.rif.$invalid === false)) &&
        (this.premiacion != 'MDA=' && this.premiacion != '') &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false &&
        (this.tipoGrupo != 'MDA=' && this.tipoGrupo != '')
      )
        return true
      else if (this.mode === 'edit' &&
        this.comprador != 'MDAwMDAw' &&
        this.v$.nombreGrupo.$invalid === false &&
        ((this.rif.length === 12 && this.v$.rif.$invalid === false) || (this.rif.length === 11 && this.v$.rif.$invalid === false)) &&
        (this.premiacion != 'MDA=' && this.premiacion != '') &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false &&
        (this.tipoGrupo != 'MDA=' && this.tipoGrupo != '') && this.estatus != 'Seleccione') return true
      else return false
      }else{
        if (
        this.mode === 'register' &&
        this.v$.nombreGrupo.$invalid === false &&
        ((this.rif.length === 12 && this.v$.rif.$invalid === false) || (this.rif.length === 11 && this.v$.rif.$invalid === false)) &&
        (this.premiacion != 'MDA=' && this.premiacion != '') &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false &&
        (this.tipoGrupo != 'MDA=' && this.tipoGrupo != '')
      )
        return true
      else if (this.mode === 'edit' &&
        this.v$.nombreGrupo.$invalid === false &&
        ((this.rif.length === 12 && this.v$.rif.$invalid === false) || (this.rif.length === 11 && this.v$.rif.$invalid === false)) &&
        (this.premiacion != 'MDA=' && this.premiacion != '') &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false &&
        (this.tipoGrupo != 'MDA=' && this.tipoGrupo != '') && this.estatus != 'Seleccione') return true
      else return false
      }

      
      //return true
    },
  },
  validations() {
    return modalGrupo(this.auth_tipoUsuario)
  },

  mounted() {
    this.tRef = 'gestionGrupo'
  },

  methods: {
    shouldClose,
    obtenerValorNegociacion,
    btnTabsDisabled,
    btnTabsDisabledEdit,
    handlerTabs,
    handlerTabsAtras,
    fetchCondicionNegociacion,
    fetchComprador,
    fetchCargarDatos,
    fetchListarEstatus,
    fillInputs,
    cleanAll,
    cambiarEstatus,
    fetchGestionarGrupo,
    actualizarPremiacion,
    cambiarPremiacion,
    fetchTipoGrupo
  },

  watch: {
    visible: visibleW,
    productoNegociacion: function (val) {
      function filtrarElementosNegociacion(valor, objeto) {
        return objeto.filter((elemento) => elemento.CodigoProducto === valor)
      }
      
      const valorBuscado = val
      const objeto = this.condicionOptions
      this.elementosFiltradosNegociacion = filtrarElementosNegociacion(
        valorBuscado,
        objeto,
      )
      if (this.elementosFiltradosNegociacion.length > 0) {
        this.auxCondicionOptions = []
        this.elementosFiltradosNegociacion.forEach((prod) => {
          this.auxCondicionOptions.push({
            CodJugada: prod.CodJugada,
            ListCondicionesProTipJug: [],
            codigoCondNeg: prod.codigoCondNeg,
          })
          prod.ListCondicionesProTipJug.forEach((condicion) => {
            this.auxCondicionOptions[this.auxCondicionOptions.length - 1].ListCondicionesProTipJug.push({
              value: condicion.codigo,
              label: condicion.descripcion,
              estatus: condicion.estatus,
            })
          })
        })
      }
      
      this.condicion = []
      this.elementosFiltradosNegociacion.forEach(e =>{
        let valor = ''
        e.ListCondicionesProTipJug.forEach((l) => {
            this.arraySinDuplicados.forEach(d=>{
                if (
                    d.codigoProducto === e.CodigoProducto && 
                    d.codigoCondicion === l.codigo &&
                    d.estatus !== 'MA=='
                    ){
                    valor = l.codigo
                }
            })
        })
        if (valor){
            this.condicion.push(valor)
        }else{
            this.condicion.push('seleccione')
        }
      })
    },
    tipoGrupo: function (val) {
      if(this.premiacion != 'MDA=' && this.premiacion != '') {
        this.fetchCondicionNegociacion(val)
      }
      this.productoNegociacion = 'MDA='
    },
    direccion: function(val){
      if(val.length === 0) this.v$.direccion.$reset()
    }
  },
}
</script>
<style lang="scss" scoped>
@include deepSectionContainer;
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
  text-align: center;
}
.color-text {
  color: #1c4c96;
}
.inline-block {
  display: inline-block;
}
a {
  color: gray !important;
  cursor: pointer;
}
.nav-link {
  color: gray !important;
}
.modal-content {
  overflow-y: scroll; /* Habilitar el scroll vertical */
}
.tableContainer {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
.maximo {
  width: 30%;
}

.inputContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.inputContainer label {
  padding-right: 10px;
  padding-bottom: 5px;
}
</style>
