<template>
<CRow>
    <CCol>
        <CCard class="mb-4">
            <CCardHeader><h5>Gestión de usuarios</h5></CCardHeader>
            <CCardBody>
                <CRow class="mb-4">
                    <CCol xs="12" lg="3">
                        <CCol class="mb-1">Tipo de usuario</CCol>
                        <CCInput
                            :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'select',
                            }"
                            v-model="tipoUsuario"
                            :v_="v$.tipoUsuario"
                            :execute="
                            () => {
                                v$.tipoUsuario.$touch()
                            }
                            "
                            :options="tipoUsuarioOption"
                            @change="changeEntidad()"
                        />
                    </CCol>
                    <CCol xs="12" lg="3" v-if="this.auth_tipoUsuario == '24' && this.tipoUsuario != 'seleccione'">
                        <CCol class="mb-1">Comprador comercial</CCol>
                        <CCInput
                            :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'vSelect',
                                multiple: false
                            }"
                            v-model="compradorComercial"
                            :v_="v$.compradorComercial"
                            :execute="
                            () => {
                                v$.compradorComercial.$touch()
                            }
                            "
                            :options="compradorComercialOption"
                        />
                    </CCol>
                    <CCol xs="12" lg="3" v-if="(this.tipoUsuario == 'MjE=' || this.tipoUsuario == 'MjA=')  && ((this.compradorComercial && this.compradorComercial.value != 'seleccione') ||  this.auth_tipoUsuario != '24')">
                        <CCol class="mb-1">Centro de apuesta</CCol>
                        <CCInput
                            :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'vSelect',
                                multiple: false
                            }"
                            v-model="centroApuesta"
                            :v_="v$.centroApuesta"
                            :execute="
                            () => {
                                v$.centroApuesta.$touch()
                            }
                            "
                            :options="centroApuestaOption"
                            
                        />
                    </CCol>
                    <CCol xs="12" lg="3" v-if="this.tipoUsuario == 'MjM=' && ((this.compradorComercial && this.compradorComercial.value != 'seleccione') || this.auth_tipoUsuario != '24')">
                        <CCol class="mb-1">Grupo</CCol>
                        <CCInput
                            :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'vSelect',
                                multiple: false
                            }"
                            v-model="grupo"
                            :v_="v$.grupo"
                            :execute="
                            () => {
                                v$.grupo.$touch()
                            }
                            "
                            hideSeleccione
                            :options="grupoOption"  
                        />
                    </CCol>
                    <CCol xs="12" lg="3" v-if="
                        this.tipoUsuario == 'MjA=' && (
                            this.centroApuesta && this.centroApuesta.value != 'seleccione' &&
                            this.centroApuesta.value != undefined && 
                            this.centroApuesta.value != 'MDAwMDAw')">
                        <CCol class="mb-1">Taquilla</CCol>
                        <CCInput
                            :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'select',
                            }"
                            v-model="taquilla"
                            :v_="v$.taquilla"
                            :execute="
                            () => {
                                v$.taquilla.$touch()
                            }
                            "
                            :options="taquillaOption"   
                            hideSeleccione 
                            @change="cleanTable()"                 
                        />
                    </CCol>
                </CRow>
                <CRow class="mb-4">
                    <CCol class="d-md-flex">                        
                        <CButton
                            ref="acceptbtn"
                            class="btn-primario adapt-all-md mb-2 mb-md-0 ms-md-auto me-md-2"  
                            :disabled="this.auth_tipoUsuario === 24 ? !isValid : this.newValBtn()"  
                            @click="fetchListarUsuarios()"                                                            
                        >
                        Buscar
                        </CButton>
                        <CButton
                            class="btn-terciario adapt-all-md me-md-auto ms-md-2"   
                            @click="cancelar()"                                     
                        >
                        Cancelar
                        </CButton>
                    </CCol>
                </CRow>
                <CRow>
                    <CCTable
                        :ref="tRef"
                        v-model="currentPage"
                        :tableData="tableData"
                        :inTableData="inTableData"
                        :setTableState="setTableState"
                        :showPagination="showPagination"
                        :setShowPagination="setShowPagination"
                        :viewFromTable="viewActualizar"
                        :editFromTable="viewActualizar"
                        :loading="tableDataLoading"
                        :optionsColWidth="optionsColWidthRem"
                        :showDelete="false"
                        maxHeight="30rem"
                        doNotEmit
                        :iconDistinct="true"
                        :pageSize="10"
                        />
                </CRow>                        
            </CCardBody>
        </CCard>
    </CCol>
</CRow>
<ModalActualizar
    ref="modalactualizarDecorator"
    :visible="actualizarModalVisible"
    :data="actualizarModalDta"
    :close="closeModal"
    :mode="actualizarMode"
    :edit="actUsuario"
    :actUsuario="fetchListarUsuarios"
/>
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import globalMixin from '@/_mixins/globals'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import { loadToggler } from '@/composables/loadToggler'
import { fetchRequest, caseWrong } from '@/_helpers/fetchToolkit'
import useVuelidate from '@vuelidate/core'
import gestionUsuarioVal from '@/_validations/gestionUsuario/gestionUsuarioAdminVal'
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import {
    optionsColWidthRemStup,
    setupData,
    tableDataStruc,
} from '@/composables/tableDataStruc'
import modalGenerals from '@/_mixins/modalGenerals'
import ModalActualizar from './modalActualizarAdmin.vue'
import { modalSetupData } from '@/composables/modalDataStruct'
import { LABELS as labels } from '@/_helpers/labels'

//--- LISTAR TIPOS DE USUARIO ---
async function fetchListarTipoUsuarios() {
    const self = this
    fetchRequest({
      api:
        this.$apiGeneral + 'ListarTipoUsuario/'+self.auth_tokenUsuario,
      self,
      success: (rjson) => {
        self.tipoUsuarioOption = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.tipoUsuarioOption = [        
          ...self.tipoUsuarioOption,
        ]
      },
      error: (rjson) => {       
        this.tipoUsuario = '';
        this.tipoUsuarioOption = [];
        this.tableData = [];        
        return caseWrong({
            self,
            error: rjson.msg || rjson,
            passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        })
      },
    })
}

//--- LISTAR COMPRADOR COMERCIAL ---
async function fetchListarCompradorComercial() {
    const self = this
    fetchRequest({
        api: this.$apiGeneral + 'ListarCompradorComercial/'+self.auth_tokenUsuario,
        self,
        success: (rjson) => {
        self.compradorComercialOption = rjson.datos.map((val) => {
            return {
            value: val.codigo,
            label: val.descripcion,
            }
        })
        if (self.tipoUsuario == 'MjI='){
            self.compradorComercialOption = [   
                { label: 'TODOS', value: 'MDAwMDAw' },      
                ...self.compradorComercialOption,
            ]
            self.compradorComercial = { label: 'TODOS', value: 'MDAwMDAw' }
        } else {
            self.compradorComercialOption = [   
                { label: 'SELECCIONE', value: 'seleccione' },      
                ...self.compradorComercialOption,
            ]
        }
        },
        error: (rjson) => {            
            this.compradorComercial = '';
            this.compradorComercialOption = [];
            this.tableData = [];
            this.validarBtn = false;
            return caseWrong({
                self,
                error: rjson.msg || rjson,
                passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            })
        },
    })
}

//--- LISTAR CENTRO DE APUESTA ---
async function fetchListarCentroApuesta() {
    const self = this
    let codigoAsociado

    if (self.auth_tipoUsuario == '22' || self.auth_tipoUsuario == '23' ) {
        codigoAsociado = 'MDAwMDAw'
    } else if (self.auth_tipoUsuario == '24') {
        codigoAsociado = self.compradorComercial.value
    }

    fetchRequest({
        api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${codigoAsociado}`,
        self,
        success: (rjson) => {
            self.centroApuestaOption = rjson.datos.map((val) => {
                return {
                value: val.codigo,
                label: val.descripcion,
                }
            })
            if (self.tipoUsuario == 'MjA='){
                self.centroApuestaOption = [    
                    { label: 'SELECCIONE', value: 'seleccione' },    
                    ...self.centroApuestaOption,
                ]
            } else {
                self.centroApuestaOption = [    
                    { label: 'TODOS', value: 'MDAwMDAw' },    
                    ...self.centroApuestaOption,
                ]
                // self.centroApuesta = 'MDAwMDAw'
            }
        },      
        error: (rjson) => {
            // console.error(rjson)

            if (self.tipoUsuario == 'MjA='){
                self.centroApuesta  = [{ label: 'SELECCIONE', value: 'seleccione' }]
            } else {
                self.centroApuesta = [{ label: 'TODOS', value: 'MDAwMDAw' }]
            }

            this.centroApuestaOption = [];
            this.tableData = [];
            this.validarBtn = false;

            return caseWrong({
                self,
                error: rjson.msg || rjson,
                passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg
            })
        },
    })
}

//--- LISTAR GRUPO ---
async function fetchListarGrupo() {
    const self = this
    let codigoAsociado

    if (self.auth_tipoUsuario == '22' || self.auth_tipoUsuario == '23' ) {
        codigoAsociado = 'MDAwMDAw'
    } else if (self.auth_tipoUsuario == '24') {
        codigoAsociado = self.compradorComercial.value
    }
    
    fetchRequest({
        api: `${this.$apiGeneral}ListarGrupos/${self.auth_tokenUsuario}/${codigoAsociado}`,
        self,
        success: (rjson) => {
        if (rjson.mensaje.codigo === '000') {       
            self.grupoOption = rjson.datos.map((val) => {
                return {
                value: val.codigo,
                label: val.descripcion,
                }
            })
            self.grupoOption = [     
                { label: 'TODOS', value: 'MDAwMDAw' },   
                ...self.grupoOption,
            ]
        } else {
            self.grupoOption = []
        }
        },
        error: (rjson) => {
            //console.error('grupoOption', rjson)
            this.compradorComercial = { label: 'SELECCIONE', value: 'seleccione' }
            this.grupo = { label: 'TODOS', value: 'MDAwMDAw' };
            this.grupoOption = [];
            this.tableData = [];
            this.validarBtn = false;
            return caseWrong({
                self,
                error: rjson.msg || rjson,
                passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            })
        },
    })
}

//--- LISTAR TAQUILLA ---
async function fetchListarTaquilla() {
    const self = this
    let codigoPunto

    if ( this.centroApuesta.value == 'MDAwMDAw' ){
        codigoPunto = 'MDAwMDAw' + 'JQ=='
    } else {
        codigoPunto = this.centroApuesta.value + 'JQ=='
    }

    fetchRequest({
        api: `${this.$apiGeneral}ListarTaquillas/${self.auth_tokenUsuario}/${codigoPunto}`,
        self,
        success: (rjson) => {
        if (rjson.mensaje.codigo === '000') {   
            self.taquillaOption = rjson.datos.map((val) => {
                return {
                value: val.codigo,
                label: window.atob(val.descripcion),
                }
            })
            self.taquillaOption = [ 
                { label: 'TODOS', value: 'MDA=' },       
                ...self.taquillaOption,
            ]
        } else {
            self.taquillaOption = []
        }
        },
        error: (rjson) => {
            //console.error('taquillaOption', rjson)
            this.taquilla = '';
            this.taquillaOption = [];
            this.tableData = [];
            this.validarBtn = false;
            return caseWrong({
                self,
                error: rjson.msg || rjson,
                passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            })
        },
    })
}

//--- LISTAR USUARIOS ---
async function fetchListarUsuarios() {
    this.tableDataLoading = true
    const self = this   
    
    let codComprador = (self.compradorComercial.value === 'seleccione' || self.compradorComercial.value === '') ? window.btoa('000000') : self.compradorComercial.value
    let codGrupo = (self.grupo.value === 'seleccione' || self.grupo.value === '') ? window.btoa('000000') : self.grupo.value    
    let codCentroApuesta = (self.centroApuesta.value === 'seleccione' || self.centroApuesta.value === '')  ? window.btoa('000000')  : self.centroApuesta.value     
    
    fetchRequest({
    api: this.$apiUsuario+'ListarUsuariosAdm/'+self.auth_tokenUsuario+'/MDE='+'/'+self.tipoUsuario+'/'+codComprador+'/'+codGrupo+'/'+codCentroApuesta+'/'+self.taquilla,   
    self,
    success: (rjson) => {
    self.tableData = rjson.datos      
        if (rjson.mensaje.codigo === '000') {       
            self.tableData = rjson.datos  
            self.tableData = rjson.datos.map((val) => {
            return {                      
                entidad: val.nombreEntidad,
                login: window.atob(val.loginUsuario),  
                telefono: val.telefonoUsuario,
                correo: val.emailUsuario,
                estatus: val.descripcionEstatus,

                codestatusUsuario: val.estatusUsuario,          
            }
        })      
        }
    },
    error: (rjson) => {
        self.tableData = []
        return caseWrong({
            self,
            error: rjson.msg || rjson,
            passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        })
    },
    done: () => {
        self.tableDataLoading = false
    },
})
}

//--- ACTUALIZAR USUARIO ---
async function actUsuario(data) {      
  const self = this
  fetchRequest({
    api: this.$apiUsuario+'EditarUsuarioAdm',
    method: 'PUT', 
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      codigoSoftware: 'MDE=',
      loginUsuario: window.btoa(data.loginUsuario),
      estatusUsuario: window.btoa(data.estatusUsuario),
      emailUsuario: window.btoa(data.emailUsuario),
      telefonoUsuario: window.btoa(data.telefonoUsuario.slice(0,4)+'-'+data.telefonoUsuario.slice(4,11)),
    },
    success: (rjson) => {
      const msg = rjson?.mensaje?.description || rjson?.message?.description || rjson?.mensaje?.descripcion;
      self.fireToastMsg(msg, { icon: 'success' });
      self.fetchListarUsuarios();
    },
    error: (rjson) => {
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
        self.actualizarModalVisible = false;
        self.modalDecorator(self,'modalactualizarDecorator');
      }
  });  
}

// ---DATOS PARA EL MODAL ---
async function viewActualizar(data, mode) {
  this.actionFromTable(
    {
        entidad: data.entidad,
        login: data.login,
        telefono: data.telefono.replace(/[-()]/g, ""),
        correo: data.correo,
        estatus: data.codestatusUsuario,       
    },
    mode,
  )
}

// VALIDAR EL BOTON CUANDO SEA GRUPO Y CC
function newValBtn(){
    
    if((this.auth_tipoUsuario == 22 || this.auth_tipoUsuario == 23) && this.tipoUsuario === 'seleccione') return true
    else if ((this.auth_tipoUsuario == 22 || this.auth_tipoUsuario == 23) && (this.tipoUsuario === 'MjM=' || this.tipoUsuario === 'MjE=')) return false
    else if ((this.auth_tipoUsuario == 22 || this.auth_tipoUsuario == 23) && this.tipoUsuario === 'MjA='){
        if(this.centroApuesta && this.centroApuesta.value != 'seleccione') return false
        else return true    
    }
}

function setup() {  
    const authStore = useAuth()
    const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)

    loadToggler()

    const optionsColWidthRem = 6
    const forTabla = [
        [{ name: 'Entidad', attr: 'entidad' }, 3],
        [{ name: 'Login del usuario', attr: 'login' }, 70],
        [{ name: 'Teléfono', attr: 'telefono' }, 15],
        [{ name: 'Correo', attr: 'correo' }, 15],
        [{ name: 'Estatus', attr: 'estatus' }, 15],
    ]
    const inTableData = tableDataStruc(
        forTabla.map((tableCol) => ({
        ...tableCol[0],
        ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
            )
        : {}),
        })),
    )

    return {   
        ...setupData(1),
        ...modalSetupData('actualizar'),
        v$: useVuelidate(),
        auth_tokenUsuario,
        auth_tipoUsuario,
        inTableData,
        optionsColWidthRem
    }
}

function data() {
    return {
        tipoUsuario: 'seleccione',
        tipoUsuarioOption: [],
        compradorComercial: 'seleccione',
        compradorComercialOption: [],   
        centroApuesta: { label: 'TODOS', value: 'MDAwMDAw' },
        centroApuestaOption: [],  
        grupo: { label: 'TODOS', value: 'MDAwMDAw' },
        grupoOption: [],
        taquilla: 'MDA=',
        taquillaOption: [],
        validarBtn: false,
    }
}

function changeEntidad(){
    const self = this
    if (self.tipoUsuario != 'seleccione' && self.auth_tipoUsuario == '24'){ //comprador comercial, solo para el usuario banca
        self.fetchListarCompradorComercial()               
        self.validarBtn =  (self.tipoUsuario == 'MjI=') ? true : false
    } else if (['MjE=','MjA='].includes(self.tipoUsuario) && ((self.compradorComercial && self.compradorComercial.value != 'seleccione') || self.auth_tipoUsuario != '24')) { //centro de apuesta o taquilla               
        self.fetchListarCentroApuesta()        
        self.validarBtn =  (self.tipoUsuario == 'MjE=') ? true : false  
    }
    else if (self.tipoUsuario == 'MjM=' && ((self.compradorComercial && self.compradorComercial.value != 'seleccione') || self.auth_tipoUsuario != '24')) { // grupo
        self.fetchListarGrupo()  
        self.validarBtn = true    
    }

    self.compradorComercial = self.tipoUsuario == 'MjI=' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'seleccione' },   
    self.centroApuesta = self.tipoUsuario == 'MjE=' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'seleccione' }
    self.centroApuestaOption = []
    self.grupo = { label: 'TODOS', value: 'MDAwMDAw' }
    self.grupoOption = []
    self.tableData = []     
    self.taquilla = 'MDA='  
}

function changeCompradorComercial(){
    const self = this    
    if (self.tipoUsuario == 'MjE=' && ((self.compradorComercial && self.compradorComercial.value != 'seleccione') ||  self.auth_tipoUsuario != '24')){  
        self.fetchListarCentroApuesta()
    } else if (self.tipoUsuario == 'MjM='  && ((self.compradorComercial && self.compradorComercial.value != 'seleccione') || self.auth_tipoUsuario != '24')){      
        self.fetchListarGrupo()
    } else if (self.tipoUsuario == 'MjA=' && (self.compradorComercial && self.compradorComercial.value != 'seleccione')){
         self.fetchListarCentroApuesta()
         self.centroApuesta = { label: 'SELECCIONE', value: 'seleccione' }, 
         self.ftaquilla = 'MDA='
    }

    if ((self.compradorComercial && self.compradorComercial.value != 'seleccione') && ['MjE=','MjM=','MjI='].includes(self.tipoUsuario)) 
        self.validarBtn = true 
    else  self.validarBtn = false 

    self.tableData = []
}

function changeCentroApuesta(){
    const self = this   
    self.fetchListarTaquilla()
    self.taquilla = 'MDA='
    self.validarBtn = true
    self.tableData = []
}

function cleanTable(){
    const self = this
    self.tableData = []
}

function cancelar(){
    const self = this
    self.tipoUsuario = 'seleccione'
    self.tableData = []
}

export default {
    name: 'gestionUsuarioAdmin',
    components: { CCInput, CCTable, ModalActualizar},
    mixins: [globalMixin, tableGenerals, modalGenerals],
    setup,
    computed: {   
        isValid: function () {    
            return (this.tipoUsuario != 'seleccione' && this.validarBtn)      
        },      
    },
    data,
    methods: {
        fetchListarTipoUsuarios,
        fetchListarCompradorComercial,
        fetchListarCentroApuesta,
        fetchListarGrupo,
        fetchListarTaquilla,
        changeEntidad,
        changeCompradorComercial,
        changeCentroApuesta,   
        cleanTable,
        fetchListarUsuarios,    
        actUsuario, 
        viewActualizar,
        cancelar,
        newValBtn
    },
    mounted() {
        this.fetchListarTipoUsuarios()       
    },
    validations() {
      return gestionUsuarioVal()
    },
    watch: {
        grupo: function(){
            this.cleanTable()
        },
        compradorComercial: function(){
            this.changeCompradorComercial()
        },
        centroApuesta: function(val){
            if (this.tipoUsuario == 'MjA=' && 
                val.value != 'seleccione' &&
                val.value != undefined && 
                val.value != 'MDAwMDAw'
            ) this.changeCentroApuesta()
        }
    }   
}
</script>