<template>
<CModal :size="mode === 'edit' ? 'lg' : ''" alignment="center" backdrop="static" :visible="visible" @close="shouldClose" >
    <CModalHeader>
    <CModalTitle>{{ mode === 'edit' ? 'Actualizar taquillero' : mode === 'view' && !auxMensajeResset ? 'Código validación' : 
        mode === 'view' && auxMensajeResset ? '' : ''}}
    </CModalTitle>
    </CModalHeader>
    <CModalBody>
        <template v-if="mode === 'edit'"> 
            <CRow class="mb-4">
                <CCol xs="12" lg="6">
                    <CCol class="mb-1">Entidad</CCol>
                    <CCInput :allData="{
                        rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'text',
                        }" 
                        v-model="entidad" 
                        :v_="v$.entidad"
                        disabled activateTouched />
                </CCol>
                <CCol xs="12" lg="6">
                    <CCol class="mb-1">Login</CCol>
                    <CCInput :allData="{
                        rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'text',
                        }" 
                        v-model="login" 
                        :v_="v$.login"
                        disabled activateTouched />
                </CCol>
            </CRow>    
            <CRow class="mb-4">  
                <CCol xs="12" lg="6">
                    <CCol class="mb-1">Teléfono *</CCol>
                    <CCInput :allData="{
                        rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'text',
                        }" 
                        v-model="telefono"                        
                        :v_="v$.telefono"
                        activateTouched
                        :execute="
                            () => {
                                v$.telefono.$touch()
                            }
                        "
                    />
                </CCol>
                <CCol xs="12" lg="6">
                    <CCol class="mb-1">Correo *</CCol>
                    <CCInput :allData="{
                        rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'text',
                        }" 
                        v-model="correo" 
                        :v_="v$.correo"
                        activateTouched
                        :execute="
                            () => {
                                v$.correo.$touch()
                            }
                        "
                    />
                </CCol>
            </CRow>  
            <CRow class="mb-4">
                <CCol xs="12" lg="6">
                    <CCol class="mb-1">Estatus *</CCol>
                    <CCInput
                        :allData="{
                            errorMessageClasses: 'wrong-input',
                            type: 'select',
                        }"
                        v-model="estatus"
                        :v_="v$.estatus"
                        :execute="
                        () => {
                            v$.estatus.$touch()
                        }
                        "          
                        :options="estatusOption"     
                        hideSeleccione                  
                    />
                </CCol>
            </CRow>
            <CRow>
                <CModalFooter class="justify-content-center m-t-3">
                    <CButton class="btn-primario" 
                        :disabled="!isInvalid"
                        @click="sendDataEdit"
                    >Guardar</CButton>
                    <CButton class="btn-primario" 
                        @click="shouldClose"
                    >Cancelar</CButton>
                </CModalFooter>
            </CRow>
        </template>
        <template v-if="mode === 'view' && !auxMensajeResset">
            <CRow class="mb-4">
                <CCol xs="12" lg="12">
                <h5 class="color-text">Para continuar el proceso, ingrese el código de validación enviado por mensaje de texto.</h5>
                <div>
                    <CFormLabel for="serial">Código de validación</CFormLabel>
                    <CCInput :allData="{
                        rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg col-4',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'text',
                        }" 
                        v-model="codigo" 
                        :v_="v$.codigo" 
                    />
                </div>
                </CCol>
            </CRow>
            <CRow>
                <CModalFooter class="justify-content-center">
                    <CButton class="btn-primario" 
                        @click="resetearPassw" 
                        :disabled="!isInvalid"
                    >Guardar</CButton>
                    <CButton class="btn-primario" 
                        @click="shouldClose"
                    >Cancelar</CButton>
                </CModalFooter>
            </CRow>
        </template>
        <template v-if="mode === 'view' && auxMensajeResset">
            <CRow class="mb-4">
                <CCol xs="12" lg="12">
                    <h5 class="color-text">{{auxMensajeResset}}</h5>
                </CCol>
                </CRow>
                <CRow>
                <CModalFooter class="justify-content-center">
                    <CButton class="btn-primario" 
                        @click="shouldClose"
                    >Aceptar</CButton>
                </CModalFooter>
            </CRow>
        </template>
    </CModalBody>          
</CModal>    
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import modalActualizar from '@/_validations/gestionUsuario/modalActualizarAdminVal.js'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { LABELS as labels } from '@/_helpers/labels'

//--- LISTAR ESTATUS ---
async function fetchListarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarEstatusUsuario',
    self,
    success: (rjson) => {
      self.estatusOption = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        }
      })
    },
    error: (rjson) => {
      console.error('error status', rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los estatus'),
      })
    },
  })
}

//--- DATOS PARA EDITAR USUARIO ---
async function sendDataEdit() {
  const self = this;
  const data = {
    tokenUsuario: self.auth_tokenUsuario,
    codigoSoftware: 'MDE=',
    loginUsuario: self.login,
    estatusUsuario: self.estatus,
    emailUsuario: self.correo,
    telefonoUsuario: self.telefono,
  }
  this.edit(data);
}

//--- GENERAR CODIGO ---
async function generarCodigo() {
    const self = this
    self.auxMensajeResset = ''
    fetchRequest({
    api: this.$apiUsuario+'GenerarCodigoReseteo',
    method: 'POST',
    self,
    body: {
        tokenUsuario: self.auth_tokenUsuario,
        codigoSoftware: "MDE="
    },

    success: (rjson) => {
        const msg = rjson?.mensaje?.description || rjson?.message?.description || rjson?.mensaje?.descripcion;
        self.fireToastMsg(msg, { icon: 'success' });
    },
    error: (rjson) => {
        return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
        });
    },
    });
}

//--- RESETEAR CLAVE ---
async function resetearPassw() {
  const self = this
  fetchRequest({
    api: this.$apiUsuario+'ResetearContrasena',
    method: 'PUT', self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      codigoSoftware: 'MDE=',
      loginUsuario: window.btoa(self.login),
      codigoValidacion: window.btoa(self.codigo)
    },
    success: (rjson) => {
      const msg = rjson?.mensaje?.description || rjson?.message?.description || rjson?.mensaje?.descripcion;
      self.auxMensajeResset = msg
      self.actUsuario()
    },
    error: (rjson) => {
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self.actualizarModalVisible = false;
      self.modalDecorator(self, 'modalactualizarDecorator');
    }
  });
}

function shouldClose() {
  this.close()
  this.auxMensajeResset = ''
  this.codigo = ''
}

function visibleW(val) {
  if (!val) this.clearInputs();
  else if (this.data) this.fillInputs(this.data);
}

function clearInputs() {
  ['entidad','login','telefono','correo'].forEach(ths => this[ths] = '');
  this.v$.$reset();
}

async function fillInputs(data) {
    this.entidad = data.entidad;
    this.login = data.login;
    this.telefono = data.telefono;
    this.correo = data.correo;
    this.estatus =  data.estatus;
    this.v$.$reset();

    if (this.mode === 'view') {
        this.generarCodigo();
    }
}

function isInvalid() {
  return !this.v$.$invalid
}

function data() {
  return {    
    entidad: '',
    login: '',
    telefono: '',
    correo: '',
    estatus: '',
    estatusOption: [],
    auxMensajeResset: '',
    codigo: ''
  }
}

function setup(){
    const authStore = useAuth()
    const { auth_tokenUsuario, auth_login } = storeToRefs(authStore)
    return {
        v$: useVuelidate(),
        auth_tokenUsuario,
        auth_login
    }
}

export default {
    name: 'ModalActualizar',    
    components: { CCInput },
    mixins: [globalMixin],      
    setup,
    computed: {
        isInvalid
    }, 
    data,
    watch: {
        visible: visibleW,
    },
    props: {
        visible: Boolean,
        close: Function,
        mode: {
            type: String,
        },
        data: Object,
        edit: Function,
        actUsuario: Function,
    },
    methods: {      
        shouldClose,
        fillInputs,
        clearInputs,
        fetchListarEstatus,
        sendDataEdit,
        generarCodigo,
        resetearPassw
    },    
    mounted: function () {
        this.fetchListarEstatus();
    },
    validations() {
        return modalActualizar(this.visible, this.mode)
    },
}
</script>