<template>
  <CModal :size="mode === 'edit' ? 'lg' : ''" alignment="center" backdrop="static" :visible="visible"
    @close="shouldClose">
    <CModalHeader>
      <CModalTitle>{{ mode === 'edit' ? 'Actualizar taquillero' : mode === 'view' && !auxMensajeResset ? 'Código validación' : 
        mode === 'view' && auxMensajeResset ? '' : ''}}
      </CModalTitle>
    </CModalHeader>
    <CModalBody>
      <!-- class="custon-align-center"  -->
      <div v-if="mode === 'edit'">
        <CNav variant="tabs">
          <CNavItem>
            <CNavLink @click="handlerTabs(0)" :active="usuario">
              <CIcon icon="cil-user" class="me-2" />
              Datos usuario
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink @click="handlerTabs(1)" :active="menu">
              <CIcon icon="cil-menu" class="me-2" />
              Datos menú
            </CNavLink>
          </CNavItem>
        </CNav>
        <CTabContent class="rounded-bottom">
          <CTabPane class="p-3 preview" :visible="usuario">
            <CRow>
              <CCol xs="12" lg="4">
                <CFormLabel for="serial">Taquilla</CFormLabel>
                <CCInput :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }" v-model="taquilla" :v_="v$.taquilla" disabled activateTouched />
              </CCol>
              <CCol xs="12" lg="4">
                <CFormLabel for="serial">Login</CFormLabel>
                <CCInput :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }" v-model="login" :v_="v$.login" disabled activateTouched />
              </CCol>
              <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">Estatus</CCol>
                <CCInput :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }" v-model="estatusUsuario" :v_="v$.estatusUsuario" activateTouched :execute="() => {
      v$.estatusUsuario.$touch()
    }
      " :options="estatus_options" hideSeleccione />
              </CCol>
            </CRow>
            <!-- <CRow class="mt-3">

              <CCol xs="12" lg="6" @change="handlerEstatusAnular(estatusAnular)">
                <CFormCheck inline class="text-capitalize" name="estatusAnular" autocomplete="off"
                  label="Permite anular" v-model="estatusAnular" :value="estatusAnular"
                  :checked="tipoEstatus === estatusAnular" />
              </CCol>
            </CRow> -->
            <CRow class="mt-3 justify-content-center">
              <CCol xs="12" lg="12">
                <CCol class="mb-1 color-text">Configurar horario</CCol>
                <div class="border-blue row">
                  <div class="col-lg-6">
                    <CCol class="mb-1 color-text">Hora desde</CCol>
                    <CCInput :allData="{
                      inputWrapperClasses: 'flex-grow-1',
                      type: 'time',
                    }" v-model="horaDesde" :v_="v$.horaDesde" />
                  </div>
                  <div class="col-lg-6">
                    <CCol class="mb-1 color-text">Hora hasta</CCol>
                    <CCInput :allData="{
                      inputWrapperClasses: 'flex-grow-1',
                      type: 'time',
                    }" v-model="horaHasta" :v_="v$.horaHasta" />
                  </div>
                </div>
              </CCol>
            </CRow>
            <CRow>
              <CModalFooter class="justify-content-center m-t-3">
                <CButton class="btn-primario" @click="sendDataEdit" :disabled="!isInvalid">Guardar</CButton>
                <CButton class="btn-primario" @click="shouldClose">Cancelar</CButton>
              </CModalFooter>
            </CRow>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="menu">
            <div class="table-responsive">
              <div class="tableContainer">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="mb-1 color-text maximo">Asociar</th>
                      <th class="mb-1 color-text">Opciones del menú</th>
                    </tr>
                  </thead>
                  <tbody class="last-row-tr">
                    <template v-for="(data, index) in dataMenu" :key="index">
                      <tr>
                        <td class="mb-1 maximo cpl" v-bind:class="data.nivel ? ('cpl-'+data.nivel) : ''">
                          <CCol xs="12" lg="12" class="mt-1">

                            <input
                              class="check-figura d-block"
                              type="checkbox"
                              :id="'menu-' + index"
                              :value="menuArray[index]"
                              v-model="menuArray[index]"
                              @change="cambiarEstatus(data)"
                              :checked="data.estatusMenu === '1'"
                              :disabled="data.idMenuPadre === 'MA=='"
                            />
                          </CCol>
                        </td>
                        <td class="mb-1 cpl" v-bind:class="data.nivel ? ('cpl-'+data.nivel) : ''">
                          <CCol xs="12" lg="12">
                            {{ data.descripcionMenu }}
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-center">
              <CButton
                ref="acceptbtn"
                class="btn-primario"
                @click="sendDataEdit"
                :disabled="!isInvalid"
              >Modificar
              </CButton>
              <CButton
                ref="cancelbtn"
                class="btn-primario"
                @click="shouldClose"
              >Cancelar
              </CButton>
            </CModalFooter>
          </CTabPane>
        </CTabContent>
      </div>
      <div v-if="mode === 'view' && !auxMensajeResset">
        <CRow>
          <CCol xs="12" lg="12" class="mb-3">
            <h5 class="color-text">Para continuar el proceso, ingrese el código de validación enviado por mensaje de
              texto.</h5>
            <div>
              <CFormLabel for="serial">Código de validación</CFormLabel>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg col-4',
                labelClasses: 'pt-0 w-auto wide-mobile-md',
                inputWrapperClasses: 'flex-grow-1',
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }" v-model="codigo" :v_="v$.codigo" />
            </div>
          </CCol>
        </CRow>
        <CRow>
          <CModalFooter class="justify-content-center">
            <CButton class="btn-primario" @click="resetearPassw" :disabled="!isInvalid"> Guardar</CButton>
            <CButton class="btn-primario" @click="shouldClose"> Cancelar</CButton>
          </CModalFooter>
        </CRow>
      </div>
      <div v-if="mode === 'view' && auxMensajeResset">
        <CRow>
          <CCol xs="12" lg="12" class="mb-3">
            <h5 class="color-text">{{auxMensajeResset}}</h5>
          </CCol>
        </CRow>
        <CRow>
          <CModalFooter class="justify-content-center">
            <CButton class="btn-primario" @click="shouldClose"> Aceptar</CButton>
          </CModalFooter>
        </CRow>
      </div>
    </CModalBody>
  </CModal>
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import modalActualizar from '@/_validations/gestionUsuario/modalActualizar.js'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { LABELS as labels } from '@/_helpers/labels'
import { menuFinal } from '@/_nav'

function handlerEstatusAnular(val) {
  this.estatusAnular = val;

}

function isInvalid() {
  return !this.v$.$invalid
}

function format24hrs(horaDesde) {
  let [hora, minutos] = horaDesde.split(':');
  let esPM = horaDesde.includes('PM');

  if (esPM && hora !== '12') {
    hora = String(Number(hora) + 12);
  } else if (!esPM && hora === '12') {
    hora = '00';
  }

  let hora24 = `${hora}:${minutos}`;

  // Eliminar AM o PM de la salida
  hora24 = hora24.replace(/\s?[AP]M$/, '');

  return hora24;
}

async function fetchEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarEstatusUsuario',
    self,
    success: (rjson) => {
      self.estatus_options = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        }
      })
    },
    error: (rjson) => {
      console.error('error status', rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar las fechas de caducidad', true),
      })
    },
  })
}

async function resetearPassw() {
  const self = this
  fetchRequest({
    api: this.$apiUsuario+'ResetearContrasena',
    method: 'PUT', self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      codigoSoftware: 'MDE=',
      loginUsuario: window.btoa(self.login),
      codigoValidacion: window.btoa(self.codigo)
    },
    success: (rjson) => {
      const msg = rjson?.mensaje?.description || rjson?.message?.description || rjson?.mensaje?.descripcion;
      self.auxMensajeResset = msg
      self.actUsuario()
      // console.log("msg",msg)
      // self.fireToastMsg(msg, { icon: 'success' });
      // self.shouldClose();
    },
    error: (rjson) => {
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self.actualizarModalVisible = false;
      self.modalDecorator(self, 'modalactualizarDecorator');
    }
  });
}

function visibleW(val) {
  if (!val) this.clearInputs();
  else if (this.data) this.fillInputs(this.data);
}

async function fillInputs(data) {
  this.estatusHorario = data.estatusHorario;
  this.login = data.login;
  this.taquilla = data.taquilla;
  this.estatusAnular = data.estatusAnular === '0' ? false : true;
  this.estatusUsuario = data.estatusUsuario;
  this.horaHasta = data.horaHasta;
  this.horaDesde = data.horaDesde;
  if (this.mode === 'edit') this.dataMenu = menuFinal(data.listaMenu);
  this.v$.$reset();
  if (this.mode === 'view') {
    this.generarCodigo();
  }
}

function shouldClose() {
  this.usuario = true;
  this.menu = false;
  this.dataMenu = [];
  this.clearInputs();
  if (this.fetching) return;
  this.close();
}



async function generarCodigo() {
  const self = this
  self.auxMensajeResset = ''
  fetchRequest({
    api: this.$apiUsuario+'GenerarCodigoReseteo',
    method: 'POST',
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      codigoSoftware: "MDE="
    },

    success: (rjson) => {
      const msg = rjson?.mensaje?.description || rjson?.message?.description || rjson?.mensaje?.descripcion;
      self.fireToastMsg(msg, { icon: 'success' });
    },
    error: (rjson) => {
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
  });
}

async function sendDataEdit() {
  const self = this;
  const theDataMenu = this.dataMenu.map(dtaM => {
    if ('nivel' in dtaM) delete dtaM.nivel;
    return dtaM;
  });
  const data = {
    tokenUsuario: self.auth_tokenUsuario,
    codigoSoftware: 'MDE=',
    loginUsuario: window.btoa(self.login),
    estatusUsuario: window.btoa(self.estatusUsuario),
    estatusAnular: !self.estatusAnular ? window.btoa('0') : window.btoa('1'),
    horaDesde: self.horaDesde != ' ' ? format24hrs(self.horaDesde) : '',
    horaHasta: self.horaHasta != ' ' ? format24hrs(self.horaHasta) : '',
    estatusHorario: 1,
    listaMenu: theDataMenu,
  }
  this.fetching = true
  this.edit(data);
  this.dataMenu = [];
  this.usuario = true;
  this.menu = false;
}

function clearInputs() {
  this.fetching = false;
  ['tipoEstatus', 'estatusUsuario', 'estatusAnular', 'horaDesde', 'horaHasta', 'codigo', 'taquilla', 'login'].forEach(ths => this[ths] = '');
  this.v$.$reset();
}
function data() {
  return {
    tipoEstatus: null,
    estatusUsuario: '',
    estatus_options: [],
    estatusAnular: null,
    horaDesde: '',
    horaHasta: '',
    codigo: '',
    taquilla: '',
    login: '',
    auxMensajeResset: '',
    // 
    usuario: true,
    menu: false,
    dataMenu: [],
    menuArray: [],
    fetching: false,
  }
}

export default {
  data,
  name: 'ModalActualizar',
  watch: {
    visible: visibleW,
  },
  props: {
    visible: Boolean,
    close: Function,
    mode: {
      type: String,
    },
    data: Object,
    edit: Function,
    showFooter: {
      type: Boolean,
      default: true,
    },
    actUsuario: Function,
  },
  methods: {
    shouldClose,
    fetchEstatus,
    handlerEstatusAnular,
    format24hrs,
    generarCodigo,
    sendDataEdit,
    resetearPassw,
    fillInputs,
    clearInputs,
    handlerTabs: function (val) {
      this.usuario = !val;
      this.menu = !!val;
    },
    cambiarEstatus: function (data) {
      // Buscar otros elementos con el mismo codigoMenu
        const elementosMismoCodigo = this.dataMenu.filter((elemento) => elemento.codigoMenu === data.codigoMenu);

      if (data.estatusMenu === '1') {
          data.estatusMenu = '0';
      } else {
        // Actualizar el estatusMenu a 1 en los elementos encontrados
        elementosMismoCodigo.forEach((elemento) => {
          elemento.estatusMenu = '1';
        });
      }
    },
  },
  validations() {
    return modalActualizar(this.visible, this.mode)
  },
  computed: {
    isInvalid,
  },
  components: { CCInput },
  mixins: [globalMixin],
  setup() {
    const authStore = useAuth()
    const { auth_tokenUsuario, auth_login } = storeToRefs(authStore)
    return {
      v$: useVuelidate(),
      auth_tokenUsuario,
      auth_login
    }
  },
  mounted: function () {
    this.fetchEstatus();
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;

.custon-align-center {
  display: grid;
  place-content: center;
}

a {
  color: gray !important;
}
.nav-link {
  color: gray !important;
}
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
}
.color-text {
  color: #1c4c96;
}
</style>