<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Reporte de cuadre de caja</h5></CCardHeader>
        <CCardBody>
          <CForm
            class="d-flex flex-wrap align-items-start"
          >
          <div class="col-md-3 me-3">
            <CCol class="mb-1">Fecha desde</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'date',
              }"
              v-model="fechaDesde"
              :v_="v$.fechaDesde"
              :disabled="loading"
              :sinceDate="nowDate()"
              :untilDate="new Date()"
            />
            </div>
            <div class="col-md-3 me-3">
            <CCol class="mb-1">Fecha hasta</CCol>
            <CCInput
              :allData="{
                type: 'date',
                errorMessageClasses: 'wrong-input',
              }"
              v-model="fechaHasta"
              :v_="v$.fechaHasta"
              :disabled="loading"
              :sinceDate="nowDate()"
              :untilDate="new Date()"
            />
            </div>
            <div class="col-md-3 me-3">
            <CCol class="mb-1">Taquilla</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }"
              v-model="taquilla"
              :v_="v$.taquilla"
              :disabled="loading"
              activateTouched
              :execute="
                () => {
                  v$.taquilla.$touch()
                }
              "
              :options="taquillas"
              hideSeleccione
            />
            </div>
            <div class="col-12 mt-4">
              <CButton class="btn-primario wide-mobile-md" @click="buscar" color="dark" :disabled="taquilla === 'MDAwMDAw' ? true : false">
                <CCLoader v-if="loading" inline />&nbsp;
                  Buscar
              </CButton>
              <CButton
                v-if="showTable"
                class="btn-primario wide-mobile-md ms-md-2 mt-3 mt-md-0"
                :disabled="printing || loading"
                @click="sendToPrint"
              >
                <CCLoader v-if="printing" inline />&nbsp;
                  Imprimir
              </CButton>
            </div>
          </CForm>
          <br />
          <CRow v-if="showTable">
            <div class="border-table" v-for="item in this.tableData" :key="item">
              <div class="mt-2">
                <!-- <div><h6>{{item.nombreTitulo}}</h6></div> -->
                <div class="back-title row">
                  <div class="col-lg-6">
                    <span class="color-text">{{item.nombreTitulo}}</span> 
                  </div>
                  <div class="col-lg-6">
                    <span class="color-text">{{item.nombreValor}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <span>{{item.nombre}}</span> 
                  </div>
                  <div class="col-lg-6">
                    <span>{{item.monto}}</span>
                  </div>
                </div>
              </div>
            </div>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import reportCuadreCajaVals from '@/_validations/reportCuadreCajaVals'
import { loadToggler } from '@/composables/loadToggler'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
// import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import CCInput from '@/components/custom/CCInput.vue'
import CCLoader from '@/components/custom/CCLoader.vue'
import globals from '@/_mixins/globals'
import printGenerals from '@/_mixins/printGenerals'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { dateDepocher, depoched, parrafr , dateTimeOfTheDay, theBreak } from '@/_helpers/formatters'
import { msgError } from '@/_helpers/general'
import { LABELS as labels } from '@/_helpers/labels'

function limpiarCerrar() {
  this.showTable = false
  this.v$.$reset()
}

async function buscar(e) {
  e.preventDefault()
  // if (this.fechaDesde.getMonth() != this.fechaHasta.getMonth()) {
  //   this.fireToastMsg(
  //     'El rango de fechas debe encontrarse en el mismo mes.',
  //     {},
  //   )
  //   return
  // }

  const throwErr = (rjson) => {
    const msg = msgError(rjson)
    self.showTable = false
    self.tableData = []
    return caseWrong({
      self,
      error: msg || rjson,
      passMsg: Boolean(msg),
      loading: 'loading',
      boolError: true,
      resetVals: true,
      touchVal: 'fechaHasta',
      defaultMsg: labels.defaultErrorMsgPlus('cargar la información de la tabla'),
    })
  }

  this.loading = true
  const self = this

  fetchRequest({
    api: `${this.$apiReporte}ReporteCuadreCaja/${depoched(
      this.fechaDesde.getTime(),
    ).toString()}/${depoched(
      this.fechaHasta.getTime(),
    ).toString()}/${window.btoa(this.taquilla)}/${this.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.loading = false
      const rdatos = rjson.datos
      self.showTable = true

      self.consultedData.fechaDesde = self.fechaDesde
      self.consultedData.fechaHasta = self.fechaHasta
      //self.taquilla = 'MDAwMDAw'

      if (rdatos.length) {
        const tableData_ = []
        rdatos.forEach((obj) => {
          tableData_.push({ nombreTitulo: obj.nombreTitulo, nombreItem: 'Ítem', nombreValor: obj.listaItem?.length ? 'Monto' : '' })
          
          obj.listaItem.forEach((item) => {
            tableData_.push({
              nombre: item.item,
              monto: item.valor,
            })
          })
        })

        self.tableData = tableData_
      } else
        throwErr({
          message: { description: 'No hay información para mostrar' },
        })
        self.consultedData.fechaDesde = self.fechaDesde
        self.consultedData.fechaHasta = self.fechaHasta
        //self.taquilla = 'MDAwMDAw'
    },
    error: throwErr,
  })
}

async function loadTaquilla() {
  const self = this
  // const codPunto = 'MDAwMDAw'; // 000000 encriptado // si no se sabe cual es el codigo del punto
  fetchRequest({
    api: `${this.$apiGeneral}ListarTaquillas/${this.auth_tokenUsuario}/MDAwMDAw`,
    self,
    success: (rjson) => {
      const rdatos = rjson.datos
      self.taquillas = rdatos.map((dto) => ({
        label: window.atob(dto.descripcion),
        value: window.atob(dto.codigo),
      }))
      self.taquillas = self.auth_tipoUsuario == '20' ? self.taquillas : [{label:'SELECCIONE',value:'MDAwMDAw'}, ...self.taquillas] ;
      if (self.v$?.taquilla) self.v$.taquilla.$touch()
      if(self.auth_tipoUsuario == '20') this.taquilla = self.taquillas[0].value

    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar las taquillas', true),
      })
    },
  })
}

function sendToPrint() {
  const self = this;
  this.printing = true;
  const val = this.taquillas.find(formItem => formItem.value === this.taquilla);

  const data = {
    centerName: this.auth_nombrePuntoVenta,
    sinceDate: dateDepocher(this.consultedData.fechaDesde, false, true, true),
    untilDate: dateDepocher(this.consultedData.fechaHasta, false, true, true),
    ticketUnit: val.label,
  }

  const fechaActual = dateDepocher(new Date(), false, true, true);
  const timeActual = dateTimeOfTheDay(new Date().getTime(), false, false, '', ':');


  let auxData = []
  this.tableData.forEach(itm => {
    auxData.push(...parrafr(itm.nombreTitulo != undefined ? itm.nombreTitulo : '',false,self.auth_columnaTicket,''));
    // auxData.push(...parrafr(itm.nombreItem != undefined && itm.nombreValor != undefined ? itm.nombreItem +  '...' + itm.nombreValor : '',false,self.auth_columnaTicket, '0'));
    auxData.push(...parrafr(itm.nombre != undefined && itm.monto != undefined ? itm.nombre +  '...' + itm.monto : '',false,self.auth_columnaTicket,''));
  })

   const ticketDta = [
  ...parrafr(data.centerName,false,this.auth_columnaTicket,''),
  ...parrafr("Taquilla:" + data.ticketUnit,false,this.auth_columnaTicket,''),
  ...parrafr("Fecha Actual:" + fechaActual + ' ' +timeActual,false,this.auth_columnaTicket,''),
  ...parrafr("Fecha Desde:" + data.sinceDate,false,this.auth_columnaTicket,''),
  ...parrafr("Fecha Hasta:" + data.untilDate,false,this.auth_columnaTicket,''),

   theBreak + theBreak,
  ...parrafr("Reporte Cuadre de Caja",false,this.auth_columnaTicket,''),
   theBreak + theBreak,

    auxData.join('') 
  ];

  const ticketDoc = ticketDta;

  this.saveAndPrintFile({
    dataPrint: ticketDoc,
    onDone: () => { self.printing = false },
  });
}

function setup() {
  const authStore = useAuth()
  const {
    auth_tipoUsuario,
    auth_tokenUsuario,
    auth_nombrePuntoVenta,
    auth_taquilla,
  } = storeToRefs(authStore)

  loadToggler()

  const optionsColWidthRem = null
  const forTabla = [
    [{ name: 'Ítem', attr: 'nombre' }, 75],
    [{ name: 'Monto', attr: 'monto', dir: 'dot' }, 25],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(2),
    v$: useVuelidate(),
    inTableData,
    auth_tipoUsuario,
    auth_tokenUsuario,
    auth_nombrePuntoVenta,
    auth_taquilla,
  }
}

// COMPUTED
function isValid() {
  return (
    +this.taquilla && !this.loading && this.v$.$anyDirty && !this.v$.$invalid
  )
}

function sinceUpperDesde() {
  const untilMonth = this.fechaHasta.getMonth() + 1
  const res = untilMonth - 6
  const decr = res > -1
  const date = new Date(
    `${this.fechaHasta.getFullYear() - (decr ? 0 : 1)}/${(decr
      ? res + 1
      : 12 + res + 1
    )
      .toString()
      .padStart(2, '0')}/01`,
  )
  return new Date(date.getTime())
}

function untilLowerHasta() {
  return new Date(this.fechaHasta.getTime())
}

// WATCH
function fechaHastaW(val) {
  const desde = this.fechaDesde.getTime()
  const hasta = val.getTime()
  if (hasta < desde) this.fechaDesde = new Date(val.getTime())
  else {
    const yearD = this.fechaDesde.getFullYear(),
      yearH = val.getFullYear(),
      valMo = val.getMonth() + 1,
      desdeMo = this.fechaDesde.getMonth()
    const distance = yearD != yearH ? 12 - desdeMo + valMo : valMo - desdeMo
    if (distance > 6) {
      const changeTo = desdeMo + 1 + 1 > 12
      this.fechaDesde = new Date(
        new Date(
          `${changeTo ? yearH : yearD}/${(
            valMo + (changeTo || valMo > 5 ? -5 : 7)
          )
            .toString()
            .padStart(2, '0')}/01`,
        ).getTime(),
      )
    }
  }
  this.v$.fechaHasta.$touch()
}

function fechaDesdeW(val) {
  const desde = val.getTime()
  const hasta = this.fechaHasta.getTime()
  if (desde > hasta) this.fechaHasta = new Date(val.getTime())
  this.v$.fechaDesde.$touch()
}

//

function data() {
  return {
    loading: false,
    printing: false,
    showTable: false,
    fechaDesde: new Date(new Date().toDateString()),
    fechaHasta: new Date(new Date().toDateString()),
    taquilla: 'MDAwMDAw',
    taquillas: [],
    consultedData: {
      fechaDesde: new Date(),
      fechaHasta: new Date(),
      // taquilla: '',
    },
  }
}
export default {
  data,
  setup,
  computed: {
    isValid,
    sinceUpperDesde,
    untilLowerHasta,
  },
  components: { /* CCTable,  */CCInput, CCLoader },
  mixins: [tableGenerals, globals, printGenerals],
  methods: {
    limpiarCerrar,
    buscar,
    loadTaquilla,
    sendToPrint,
  },
  validations() {
    return reportCuadreCajaVals
  },
  watch: {
    fechaHasta: fechaHastaW,
    fechaDesde: fechaDesdeW,
  },
  mounted() {
    this.tRef = 'reporteCuadreCaja'
    this.loadTaquilla()
  },
}
</script>

<style lang="scss" scoped>
.aling-custom {
  @include mediaquery(lg, $other-size: 'xl') {
    text-align: end !important;

    button {
      width: auto !important;
    }
  }
}

.border-table{
  border: 1px solid #dae8fd;
}
.back-title{
  background: #dae8fd;;
}
.color-text {
    color: #000;
    font-weight: 600;
}
</style>