<template>
    <button 
        class="shortcut-info" 
        v-bind:class="extraClass || ''" 
        @click="shortcutCode ? doFunc(shortcutCode || null) : () => {}" 
        @focus="updateBtnFocused(true)"
        @blur="updateBtnFocused(false)"
        :disabled="printingPDF || disabled"
        :tooltip="tooltip || ''"
    >
        <div v-if="printingPDF" class="spinner-grow spinner-grow-sm text-secondary me-2" role="status"></div>
        <h6 v-if="h6" class="d-inline fw-bold" v-bind:class="printingPDF || disabled ? 'as-dis' : ''">{{label}}</h6>
        <span v-else class="asText">{{label}}</span>
        <span class="d-max-lg-none" v-bind:class="[
          spanExtraClass || '',
          disabled ? 'opaque' : '',
          blue ? 'blue' : '',
          gray ? 'gray' : ''
        ]">{{shortcutKey}}</span>
        <span v-if="shortcutKey2" class="asText ms-2">+</span>
        <span v-if="shortcutKey2" class="d-max-lg-none" v-bind:class="[
          span2ExtraClass || '',
          disabled ? 'opaque' : '',
          blue ? 'blue' : '',
          gray ? 'gray' : ''
        ]">{{shortcutKey2}}</span>
    </button>
    <hr v-if="hr" class="only-mobile my-1" />
</template>

<script>
import { inject } from 'vue';

// METHODS
function updateBtnFocused (bool) {
  this.emitter.emit("updateBtnFocused", bool);
}

// SETUP
function setup () {
  const emitter = inject("emitter")
  return {
    emitter,
  }
}

export default {
    name: 'lotBtn',
    props: {
        printingPDF: Boolean,
        hr: Boolean,
        h6: Boolean,
        blue: Boolean,
        gray: Boolean,
        doFunc: Function,
        label: String,
        shortcutKey: String,
        shortcutKey2: String,
        shortcutCode: Number,
        extraClass: String,
        spanExtraClass: String,
        span2ExtraClass: String,
        tooltip: String,
        disabled: {
          type: Boolean,
          default: false,
        },
    },
    setup,
    methods:{
        updateBtnFocused,
    },
}
</script>

<style lang="scss" scoped>
.as-dis {
  color: $disabled-gray !important;
}
.blue, .gray {
  color: #fff !important;
  background: $dark-gray !important;
  box-shadow: unset !important;
}
.gray {
  color: #000 !important;
  background: $disabled-gray !important;
}
</style>