<template>
  <CRow class="position-relative">
    <CCol class="as-wrapper-with-side-help" v-bind:class="sideFiguresVisible ? 'use-side-help' : ''">
      <CCard class="mb-4" v-bind:class="printingPDF ? 'has-before-unclicable' : ''">
        <CCardHeader 
          class="d-md-flex align-items-center animate-custom" 
          v-bind:class="[
            !sorteos_filtered_acc_arr_all.length && !tipoSeccionesCount ? 'py-4' : '',
            applyCarousselDown && sidebarVisible && !sideFiguresVisible && !soloway ? 'flex-md-wrap flex-lg-nowrap' : '',
            applyCarousselDown && sidebarVisible && sideFiguresVisible && !soloway ? 'flex-md-wrap flex-xl-nowrap' : '',
          ]"
        >
          <TipoSorteosBtns
            :soloway="soloway"
            :threeway="threeway"
            :tipoSecciones="tipoSecciones"
            :tipoSeccionSeleccionada="tipoSeccionSeleccionada"
            :cambiarTipoSeccion="cambiarTipoSeccion"
          />
          <!--  -->
          <CCCarousel
            ref="slidesCarousel"
            :carouselData="showOneProductOnly ? [sorteos_filtered_acc_arr_all[0]] : sorteos_filtered_acc_arr_all"
            :shouldUpdate="[sideFiguresVisible, sidebarVisible, pageWidthSize]"
            :slideActive="slideActive"
            :sidebarApplied="sidebarVisible"
            :sideHelpApplied="sideFiguresVisible"
            :threeway="threeway"
            :soloway="soloway"
            :isMobile="isMobile"
            class="adapt-all-md mb-3 mb-md-0 order-1"
            v-bind:class="[
              applyCarousselDown && sidebarVisible && !sideFiguresVisible && !soloway ? 'order-md-2 order-lg-1 mt-md-2 mt-lg-0' : '',
              applyCarousselDown && sidebarVisible && sideFiguresVisible && !soloway ? 'order-md-2 order-xl-1 mt-md-2 mt-xl-0' : ''
            ]"
            :setCarousselDown="($event) => { applyCarousselDown = $event }"
          >
            <template #slide="carouselItem">
              <CButton 
                class="text-capitalize px-1 py-0 pt-custom fw-normal text-nowrap" 
                v-bind:class="sorteoDataLoading || slideActive.includes(carouselItem.product) ? 'btn-terciario' : 'btn-secundario'" 
                @click="setActiveProduct(carouselItem.product)"
                :disabled="sorteoDataLoading || !sorteos_filtered_acc_arr.includes(carouselItem.product)"
              >
                  <span class="slide-desc">{{ getNombreProducto(carouselItem.data) }}</span>
              </CButton>
            </template>
          </CCCarousel>
          <!--  -->
          <div 
            v-if="sorteos_filtered_acc_arr_all.length" 
            class="d-flex ms-auto ps-md-2 border-dash w-auto adapt-all-md order-2"
            v-bind:class="[
              applyCarousselDown && sidebarVisible && !sideFiguresVisible && !soloway ? 'order-md-1 order-lg-2' : '',
              applyCarousselDown && sidebarVisible && sideFiguresVisible && !soloway ? 'order-md-1 order-xl-2' : ''
            ]"
          >
            <CButton class="px-1 py-0 btn-terciario none-rigth flex-grow-1 fs-small" @click="seleccionarTodosProductos()" :disabled="sorteoDataLoading">Todos</CButton>
            <CButton class="px-1 py-0 btn-secundario none-left flex-grow-1 fs-small" @click="seleccionarTodosProductos(false)" :disabled="sorteoDataLoading">Ninguno</CButton>
          </div>
        </CCardHeader>
        <CCardBody class="add-pt">
          <CRow class="first-row">
            <CCol 
              xs="12" 
              lg="4" 
              class="sorteos-disponibles order-1 mb-3 mb-md-5 mb-lg-0"
              v-bind:class="[
                sidebarBlock ? 'sidebar-on' : '',
                sideFiguresVisible ? 'sidehelp-on' : ''
              ]"
            >
              <HelperModalStructure list :desc="false" :checks="false"
                :loading="tableDataLoading" :sorteos_list_all="sorteosList" 
                :productActive="productActive" :setActiveProduct="setActiveProduct"
                :showProductFilter="false" :sorteosLoading="sorteoDataLoading"
                :sorteosFiltering="doingMultiSelection"
              >
                <template #loaderHolder>
                  <CCLoader inside rounded />
                </template>
                <template #listTitle>
                  <!-- <span v-if="+sorteoHorario" class="circle-time" v-bind:class="sorteoHorario == '01' ? 'dia' : sorteoHorario == '02' ? 'tarde' : sorteoHorario == '03' ? 'noche' : ''"></span>
                   -->Sorteos disponibles
                </template>
                <template #checks>
                  <p v-if="!sorteoDataNull">{{sorteosListMsg}}</p>
                  <p v-else-if="!slideActive.length">{{noProductsSelectedMsg}}</p>
                  <!-- /* ISFIX */ v-model="sorteo_.checked" -->
                  <CFormCheck 
                    v-for="sorteo_ in (!multSelOn[0] ? sorteos_por_productos : selectedOnesCopy[0])" 
                    :key="sorteo_.id" :id="sorteo_.id" 
                    class="sorteo-check"
                    v-model="sorteo_.checked"
                    :label="sorteo_.nombreSorteo()" 
                    :value="sorteo_.id" 
                    :checked="sorteo_.checked" 
                    @change="considerarApuesta($event, sorteo_)"
                  />
                </template>
              </HelperModalStructure>
            </CCol>
            <CCol xs="12" lg="8" class="tabla-de-apuestas order-2 order-lg-2">
              <div class="section-container border-rt0 table-container d-flex flex-column">
                <AppHeaderDropdownMultmon 
                  class="d-md-none ms-auto" 
                  :disabled="Boolean(tableData.length || monedas.length < 2)" 
                  :byMoneda="monedas.length < 2"
                  :byTabla="!!tableData.length"
                  :showAlert="($event) => {fireToastMsg($event, {icon: 'info'})}"
                />
                <CButtonGroup size="sm" class="reference-btns selectores-modo-jugada">
                  <AppHeaderDropdownMultmon 
                    class="d-none d-md-block ms-auto" 
                    v-bind:class="showFunctionsGroup ? 'me-2' : ''" 
                    :disabled="Boolean(tableData.length || monedas.length < 2)" 
                    :byMoneda="monedas.length < 2"
                    :byTabla="!!tableData.length"
                    :showAlert="($event) => {fireToastMsg($event, {icon: 'info'})}"
                  />
                  <template v-if="showFunctionsGroup">
                    <template v-for="(moder, moderk) in forms" :key="moderk">
                      <CButton 
                        v-if="moderk !== 'figures' && (+moder.jsonKey < 1 || apiLists.tipoFuncion[moder.jsonKey])"
                        :ref="'shortcut'+moder.code"
                        color="primary" variant="outline" 
                        :active="mode === moderk && Boolean(selectedOnesUse)" 
                        :disabled="mode === 'figures' || !selectedOnesUse"
                        class="shortcut-info small" 
                        @click="mode = moderk"
                        @focus="updateBtnFocused(true)"
                        @blur="updateBtnFocused(false)"
                      > 
                        {{ moder.label }}
                        <span class="d-max-lg-none text-capitalize">{{ moderk }}</span>
                      </CButton>
                    </template>
                  </template>
                </CButtonGroup>

                <div 
                  class="mb-2 invrs-mt-2 ms-for-siders fs-small check-inline-mr text-capitalize has-sc-info" 
                  v-bind:class="[
                    sidebarBlock ? 'sidebar-on' : '',
                    sideFiguresVisible ? 'sidehelp-on' : ''
                  ]"
                >
                  <template v-if="checkersIf">
                    <CFormCheck v-for="(siderV, siderK) in siders" :key="siderK" inline :id="siderK" :label="siderK" v-model="siders[siderK]" />
                  </template>
                  <lotBtn blue h6 
                    :doFunc="makeRandom" 
                    :shortcutCode="114" 
                    shortcutKey="F3" 
                    extraClass="small transparent hsmall mb-3 mb-md-2" 
                    :disabled="!selectedOnesUse" 
                    label="Generar jugadas al azar" 
                  />
                  <lotBtn blue h6 
                    :doFunc="makePrint" 
                    :shortcutCode="113" 
                    shortcutKey="F2" 
                    extraClass="small transparent hsmall mb-3 mb-md-2" 
                    :disabled="!tableData.length" 
                    label="Imprimir" 
                    :printingPDF="printingPDF" 
                  />
                </div>
                <CForm class="row g-3 mb-3">
                  <template v-for="(field, fi) in (!multSelOn[0] ? visibleFields : selectedOnesCopy[1])" :key="fi">
                    <template v-for="(formV, formK, formI) in forms" :key="formI">
                      <template v-if="mode == formK">
                        <template v-if="field.tipo == 'input'">
                          <InputLot 
                            v-if="formK != specialCase && (formK != 'figures' || multSelOn[0])"
                            :ref="refr(field, formV)"
                            v-model="form[refr(field, multSelOn[0] ? forms.n : formV)]"
                            :data="multSelOn[0] ? forms.n : formV" 
                            :fData="{ fCode: field.codigo }"
                            :tripleLabel="field.etiqueta"
                            :numOnlySpecial="numOnlySpecial" 
                            :colClasses="pointBreaker()"
                            :extraClass="fi ? 'ps-md-2' : ''"
                            :wrong="!selectedOnesUse ? false : formV['wrong'+field.codigo]"
                            :wrongInBetween="modeSize.l"
                            :theresB="!fi && visibleFields.length > 1"
                            :isB="fi"
                            :disabled="!selectedOnesUse"
                            :isMobile="isMobile"
                            :fireToastMsg="fireToastMsg"
                            :derandomize="true"
                            :permiteEscritura="field.permiteEscritura"
                            :execute3="() => { randomized = false }"
                          />
                          <template v-else-if="formK == specialCase">
                            <InputLot 
                              v-for="(rng, rngI) of formV.range" 
                              :key="rngI" 
                              :ref="refr(field, formV)+rng"
                              v-model="form[refr(field, formV)][rng]"
                              :data="{...formV, rng}" 
                              :fData="{ fCode: field.codigo }"
                              :tripleLabel="field.etiqueta"
                              :tripleLabelStart="visibleFields.length > 1 && !rngI"
                              :tripleLabelEnd="visibleFields.length > 1 && rngI"
                              :numOnlySpecial="numOnlySpecial" 
                              :colClasses="pointBreaker()"
                              :extraClass="fi || rngI ? 'ps-md-2' : ''"
                              labelExtraClass="text-capitalize"
                              :especial="true"
                              :identifier="formV.range[!rngI ? 1 : 0]"
                              :wrong="!selectedOnesUse ? false : formV['rangeWrong'+field.codigo][rngI]"
                              :wrongInBetween="modeSize.l"
                              :theresB="visibleFields.length > 1"
                              :pos="rngI"
                              :isB="fi"
                              :inputIdentifier="rngI+1"
                              :smaller="true"
                              :disabled="!selectedOnesUse"
                              :isMobile="isMobile"
                              :fireToastMsg="fireToastMsg"
                              :derandomize="true"
                              :permiteEscritura="field.permiteEscritura"
                              :execute3="() => { randomized = false }"
                            />
                          </template>
                        </template>
                        <template v-else>
                          <template v-if="form[refr(field, forms.figures)]">
                            <InputLot 
                              v-for="(rngf, rngfI) of figureRangeRes" 
                              :key="rngfI" 
                              :ref="refr(field, forms.figures)+rngf"
                              v-model="form[refr(field, forms.figures)][rngf]"
                              :data="{...forms.figures, rng: rngf, labl: forms.figures.labl, addDot: !rngfI ? forms.figures.addDot : false}" 
                              :fData="{ fCode: field.codigo, fMax: field.maxSimbolo }"
                              :tripleLabel="field.etiqueta"
                              :numOnlySpecial="numOnlySpecial" 
                              :extraClass="fi || rngfI ? 'ps-md-2' : ''"
                              :colClasses="pointBreaker()"
                              labelExtraClass="text-capitalize"
                              :figure="true"
                              :wrong="(!rngfI && figsCheck[refr(field, forms.figures)]) || (!selectedOnesUse ? false : forms.figures['rangeWrong'+field.codigo][rngfI])"
                              :wrongInBetween="modeSize.l"
                              :disabled="!selectedOnesUse || !+noStar(field.maxSimbolo)"
                              :isStrict="!rngfI && hasStar(field.maxSimbolo)"
                              :inputIdentifier="rngfI+1"
                              :button="rngfI"
                              :figurasObj="getTablaFigura(field.codigo)"
                              :openFiguresModal="openFiguresModal"
                              :execNoParams="() => { figsCheck[refr(field, forms.figures)] = false }"
                              :execute="setFiguras"
                              :execute2="setFocoDesdeDropdown"
                              :isMobile="isMobile"
                              :selection="+field.dropdown ? 'dropdown' : 'table'"
                              :completeField="+field.dropdown ? field : null"
                              :fireToastMsg="fireToastMsg"
                              :derandomize="true"
                              :permiteEscritura="field.permiteEscritura"
                              :execute3="() => { randomized = false }"
                            /><!--  || (!rngfI && hasStar(field.maxSimbolo)) -->
                            <!-- :smaller="true" -->
                            <!-- :colClasses="pointBreaker(true, false, false, true, rngfI)" -->
                          </template>
                        </template>
                      </template>
                    </template>
                  </template>
                  <InputLot 
                    ref="apuestamonto" 
                    v-model="form.apuestamonto" 
                    :data="{...formMonto, montoMinimo: getTruncated(formMonto.montoMinimo, formMonto.precision, true)}" 
                    :numOnlySpecial="numOnlySpecial" 
                    :colClasses="pointBreaker()"
                    labelExtraClass="text-capitalize" 
                    :notInput="true"
                    :wrong="formMonto.wrong"
                    :isMonto="true"
                    :disabled="!selectedOnesUse"
                    :isMobile="isMobile"
                    :maximoDeTicket="+maxTicket - +ticketTotal"
                    :maximoNetoTicket="+maxTicket"
                    :minimoDeTicket="minTicket"
                    :fireToastMsg="fireToastMsg"
                  />
                  <CCol :class="'d-lg-none ms-auto '+(sidebarVisible && !sidebarUnfoldable ? 'col-md-6' : 'col-md-3')">
                    <CButton class="btn-primario w-100" :disabled="aceptarDisabled()" @click="captureKeyDown($event,true)">
                      <CCLoader v-if="tableDataLoading" inline />
                      Agregar<span v-if="tableDataLoading">...</span>
                    </CButton>
                  </CCol>
                </CForm>
                
                <!-- selectedSorteos -->
                <CCTable 
                  :ref="tRef" 
                  v-model="currentPage" 
                  :tableData="tableData" 
                  :inTableData="inTableData"
                  :filters="filters"
                  :multidelete="tableMultidelete"
                  :setTableState="setTableState"
                  :sortingMethods="sortingMethods"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="eraseFromTable"
                  :alertMsgs="[
                    labels.sureDelete(), labels.sureDelete(false), 
                    labels.deleteAll(), labels.deleteOne(), labels.betsNotExist(null,'',true),
                    labels.sureDeleteSelected(), labels.deleteAllSeleted()
                  ]"
                  :loading="tableDataLoading"
                  :pressable="!addingToTableInProgress"
                  :hideClearAll="false"
                  :optionsAsGrid="false"
                  :getFromParent="passToChild"
                  :optionsColWidth="optionsColWidthRem"
                  :rowModifiable="!!tableData.length"
                  :modifyMontoSorteo="modifyMontoSorteo"
                  :precision="{maxLen: formMonto.maxLen, precision: formMonto.precision}"
                  :ticketTotal="ticketTotal"
                  :inputInTableHasFocus="($event) => {inputInTableHasFocus = $event}"
                />

                <!-- Secciones Combinables: {{seccionesCombinables}}
                <br>
                Modalidades Combinables: {{modalidadesCombinables}}
                <br>
                secciones de Campos: {{seccionesCamposMostrados}} -->

                <div class="in-section-footer mt-auto">
                  <CRow>
                    <CCol xs="12" md="6">Cantidad de Apuestas: {{tableData.length}}</CCol><!-- selectedSorteos -->
                    <!-- &nbsp; -->
                    <CCol xs="12" md="6" class="text-md-end"><component :is="lotoFee && ticketTotal ? 'small' : 'strong'">Monto total de jugadas: <span v-if="moneda">{{moneda.simboloMoneda}}</span><span v-numberComma:dot="{truncate: truncVal, val: ticketTotal}">{{ticketTotal}}</span></component></CCol>
                    <CCol xs="12" md="6" class="text-md-end ms-auto">
                      <template v-if="lotoFee && ticketTotal">
                        <small class="d-block">Impuesto: <span v-if="moneda">{{moneda.simboloMoneda}}</span><span v-numberComma:dot="{truncate: truncVal, val: getImpuesto}">{{getImpuesto}}</span></small>
                        <strong class="d-block sum-dash">Monto total de venta: <span v-if="moneda">{{moneda.simboloMoneda}}</span><span v-numberComma:dot="{truncate: truncVal, val: totalVenta}">{{totalVenta}}</span></strong>
                      </template>                      
                      <em class="fs-small text-muted d-block">Total permitido por ticket: <span v-if="moneda">{{moneda.simboloMoneda}}</span><span v-numberComma:dot="{truncate: truncVal, val: maxTicket}">{{maxTicket}}</span></em>
                    </CCol>
                  </CRow>
                </div>
              </div>
            </CCol>
          </CRow>
          <CRow id="tabla-figuras" class="mt-3">
            <CCol xs="12">
              <div class="section-container d-flex">
                <h6 class="reference">Tabla de figuras</h6>
                <!-- <CCFiguresGrid 
                  v-if="animalitosArr?.length"
                  :figurasArr="animalitosArr" 
                  v-model="selectedFigures"
                  :figuras="animalitos"
                  :filter="filterSelected"
                  :setFilter="setFilter"
                /> -->
              </div>
            </CCol>
          </CRow>
          <!-- <CRow id="helpers" class="mt-0 mt-lg-3 has-sc-info d-lg-none">
            <CCol 
              v-for="(helper, hInd) of helpers" 
              :key="hInd" :xs="12" 
              :lg="hInd*6 || 6" 
              :xl="hInd+3" class="mt-3"
              v-bind:class="[hInd === helpers.length - 1 ? 'mt-lg-3 mt-xl-0' : 'mt-lg-0']"
            >
              <div class="section-container d-flex align-items-center">
                <h6 class="reference">{{ helper.title }}</h6>
                <ul class="shortcuts p-0 mb-0 w-100">
                  <li v-for="(helperItem, hiInd) of helper.arr" :key="hiInd" class="d-flex flex-column justify-content-between">
                    <lotBtn hr 
                      :doFunc="shorcutCases" 
                      :shortcutCode="helperItem[2]" 
                      :shortcutKey="helperItem[1]" 
                      extraClass="small transparent d-flex w-100" 
                      spanExtraClass="ms-auto text-capitalize" 
                      :label="helperItem[0]" 
                      :disabled="helperItem[3] || false" 
                    />
                  </li>
                </ul>
              </div>
            </CCol>
          </CRow> -->
          <CRow class="mt-3 has-sc-info">
            <CCol xs="12"><!--  lg="8" -->
              <lotBtn blue h6 :hr="!!(theres_campo_figura && selectedOnesUse && !isMobile)" :doFunc="shorcutCases" :shortcutCode="112" shortcutKey="F1" label="Ver ayuda" />
              <template v-if="theres_campo_figura && selectedOnesUse && !isMobile">
                <lotBtn blue h6 :doFunc="shorcutCases" :shortcutCode="115" shortcutKey="F4" extraClass="ms-md-auto text-start" label="Ver o Esconder figuras" />
              </template>
            </CCol>
            <!-- <CCol xs="12" lg="4" class="text-lg-end">
              <lotBtn blue h6 :doFunc="makePrint" :shortcutCode="113" shortcutKey="F2" :disabled="!tableData.length" extraClass="text-start" :printingPDF="printingPDF" label="Imprimir" />
            </CCol> -->
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
    <!--  -->
    <sideFiguras 
      v-if="theres_campo_figura && selectedOnesUse" 
      class="d-none d-lg-block" 
      :sideFiguresToggler="() => {shorcutCases(115)}"
      :figurasActualesLabel="showFiguresLabel ? figurasActualesLabel : ''"
      :printing="printingPDF"
    >
      <template v-if="!isMobile">
        <ModalFiguras 
          ref="modalFiguresDecorator"
          :visible="figuresModalVisible"
          :fCode="fieldFiguraActual"
          :max="fieldFiguraMax"
          :codigosFigura="codigosFigurasSel" 
          :figuresObj="figurasAhora"
          :setFiguras="setFiguras"
          :asModal="false"
          :execLoteryKeyDown="captureKeyDown"
          :execLoteryKeyUp="captureKeyUp"
        />
      </template>
    </sideFiguras>
  </CRow>
  <div>
    <ModalHelp 
      ref="modalHelpDecorator"
      :pageWidthSize="pageWidthSize"
      :close="closeHelp" 
      :sideHelpToggler="() => {shorcutCases(112)}"
    >
      <div class="has-sc-info d-flex flex-wrap">
        <div class="col-12 col-md-6 mb-4 pe-md-2">
          <h6 class="reference">Filtrar sorteos por horario</h6>
          <ul class="shortcuts p-0 mb-0 w-100">
            <template v-for="helper of sorteosListHelpers" :key="helper.key">
              <li 
                v-if="!helper.isRefresh || showRefresh" 
                class="d-flex flex-column justify-content-between"
              >
                <button 
                  class="shortcut-info small transparent text-capitalize d-flex w-100 ps-0" 
                  @click="shorcutCases(helper.shortCut)"
                  v-bind:class="[!helper.isRefresh && ((helper.codigoTurno && sorteoHorario === helper.codigoTurno) || sorteoHorario === helper.key) ? 'fw-bold' : '']"
                  @focus="updateBtnFocused(true)"
                  @blur="updateBtnFocused(false)"
                  :disabled="helper.name.length == 2 && (!sorteosAll.triplesterminals || !sorteosAll.figures)"
                >
                  {{ helper.name.length == 2 ? helper.name[mode !== 'figures' ? 0 : 1] : helper.name }}
                  <span 
                    class="d-max-lg-none ms-auto text-capitalize" 
                    v-bind:class="helper.name.length == 2 && (!sorteosAll.triplesterminals || !sorteosAll.figures) ? 'opaque' : ''"
                  >{{ helper.key }}</span>
                </button>
                <hr class="only-mobile my-1" />
              </li>
            </template>
          </ul>
        </div>
        <!-- <div class="d-md-flex flex-wrap col-12 col-lg-10 mt-4 mt-lg-0 ps-lg-4"> -->
          <div 
            v-for="(helper, hInd) of helpers" 
            :key="hInd"
            class="col-12 col-md-6 mb-4"
            v-bind:class="!(hInd % 2) ? 'ps-md-2' : 'pe-md-2'"
          >
            <h6 class="reference">{{ helper.title }}</h6>
            <ul class="shortcuts p-0 mb-0 w-100">
              <li v-for="(helperItem, hiInd) of helper.arr" :key="hiInd" class="d-flex flex-column justify-content-between">
                <lotBtn hr 
                  :doFunc="shorcutCases" 
                  :shortcutCode="helperItem[2]" 
                  :shortcutKey="helperItem[1]" 
                  extraClass="small transparent d-flex w-100" 
                  spanExtraClass="ms-auto text-capitalize" 
                  :label="helperItem[0]" 
                  :disabled="helperItem[3] || false"
                />
              </li>
            </ul>
          </div>
        <!-- </div> -->
      </div>
      <div class="d-none d-lg-block section-container has-sc-info">
        <h6 class="reference">Glosario de atajos de teclado</h6>
        <div class="d-lg-grid glosario-grid">
          <div v-for="(teclaSet, ti) in glosarioTeclas" :key="ti">
            <lotBtn gray
              :shortcutKey="teclaSet[2] || teclaSet[1]" 
              :shortcutKey2="teclaSet[3]"
              extraClass="small transparent d-flex w-100" 
              spanExtraClass="ms-auto text-capitalize" 
              span2ExtraClass="text-capitalize" 
              :label="teclaSet[0]" 
              :tooltip="teclaSet[1].toUpperCase()" 
            />
          </div>
        </div>
      </div>
    </ModalHelp>
  </div>
  <div v-if="showModal" class="custom-modal">
    <ModalLot 
      ref="modalLotDecorator"
      :visibleModal="visibleModal" 
      :closeModal="closeModal" 
      :sorteosList="sorteosListForModal"
      :sorteos="sorteos"
      :selectedSorteos="tableData"
      :addToTable="addToTable"
      :removeFromTable="removeFromTable"
      :precision="{maxLen: formMonto.maxLen, precision: formMonto.precision}"
      :modalidades="apiLists.modalidad"
      :modalidadComponentes="modalidadComponentes"
      :sidersFather="siders"
      :rgxSiders="rgxSiders"
      :ticketTotal="ticketTotal"
    /><!-- selectedSorteos -->
    <ModalDuplicar 
      ref="modalDuplicarDecorator"
      :visibleModal="visibleModalDuplicar" 
      :closeModal="closeModalDuplicar" 
      :addToTable="addToTable"
    />
  </div>
  <template v-if="theres_campo_figura && isMobile">
    <ModalFiguras 
      ref="modalFiguresDecorator"
      :visible="figuresModalVisible"
      :fCode="fieldFiguraActual"
      :max="fieldFiguraMax"
      :codigosFigura="codigosFigurasSel" 
      :figuresObj="figurasAhora"
      :close="closeFiguresModal" 
      :setFiguras="setFiguras"
      :asModal="true"
    />
  </template>
  <!-- <pre>form: {{form}}</pre> -->
  <!-- <br> -->
  <!-- <pre>forms: {{forms}}</pre> -->
  <!-- <br> -->
  <!-- <pre>modeSize: {{modeSize}}</pre> -->
  <!-- <br> -->
  <!-- <pre>formMonto: {{formMonto}}</pre> -->
  <!-- <br> -->
  <!-- <pre>montoMinimo: {{formMonto.montoMinimo}}</pre> -->
  <!-- <br> -->
  <!-- <pre>montoMultiplo: {{formMonto.montoMultiplo}}</pre> -->
  <!-- <br> -->
  <!-- <pre>visibleFields: {{visibleFields}}</pre> -->
  <!-- <br> -->
  <!-- <pre>multSelOn[0]: {{multSelOn[0]}}</pre> -->
  <!-- <br> -->
  <!-- <pre>selectedOnesCopy[1]: {{selectedOnesCopy[1]}}</pre> -->
  <!-- <br> -->
  <!-- <pre>figurasAhora: {{figurasAhora}}</pre> -->
  <!-- <br> -->
  <!-- <pre>visibleFieldsObj: {{visibleFieldsObj}}</pre> -->
  <!-- <br> -->
  <!-- <pre>selectedOnesFromTable: {{selectedOnesFromTable}}</pre> -->
  <!-- <br> -->
  <!-- <pre>randomized: {{randomized}}</pre> -->
  <!-- <br> -->
  <!-- <pre>Hay tipeado?: {{isThereTyped}}</pre> -->
</template>

<script>
//#region IMPORTS
import { useSideHelp } from '@/store/sidehelp'
import { useJugadasLoteria } from '@/store/jugadasLoteria'
import { storeToRefs } from 'pinia'
import { ref, onMounted, inject } from 'vue';
import globalMixin from '@/_mixins/globals';
import identificadorControls from '@/_mixins/identificadorControls';
import tableGenerals from '@/_mixins/tableGenerals';
import printGenerals from '@/_mixins/printGenerals';
import lotteryShared from '@/_mixins/lotteryShared';
import InputLot from '@/components/shared/inputLot.vue';
import TipoSorteosBtns from '@/components/shared/tipoSorteosBtns.vue'
import lotBtn from './lotBtn.vue';
import ModalLot from './ModalLot.vue';
import ModalDuplicar from './ModalDuplicar.vue';
import ModalFiguras from './ModalFiguras.vue';
import ModalHelp from './modalHelp.vue';
// import CCFiguresGrid from '@/components/custom/CCFiguresGrid.vue';
import CCLoader from '@/components/custom/CCLoader.vue'
import CCTable from '@/components/custom/CCTable.vue'
import HelperModalStructure from '@/components/shared/HelperModalStructure.vue'
import thisFunctions from './lorteriaFunctions';
import { numberComma } from '@/directives/number';
import { LABELS as labels } from '@/_helpers/labels';
import { Sorteo } from '@/_helpers/classes';
import { loadToggler } from '@/composables/loadToggler';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import SideFiguras from './sideFiguras.vue';
import { codesToLetters, resCodes, shortcutsSet, timeOfSideHelp } from '@/_helpers/general'
import CCCarousel from '@/components/custom/CCCarousel.vue'
import { getTruncated, modForJS, objFind, objReduce, objSome, noStar, hasStar, rounderPlusOne, objOrNotAtobrToDash, numberAndComma, porcientoJS, sumaJS, roundr } from '@/_helpers/formatters'
import AppHeaderDropdownMultmon from '@/components/AppHeaderDropdownMultmon.vue'
import { loadMultiMon } from '@/composables/multimonCmpb'
import { loadMainLotDta } from '@/composables/mainLotteryDta'
//#endregion

//#region SCOPED METHS
async function fetchSorteos () {
  this.sorteoDataLoading = true;
  const self = this;
  // const monedaStatic = require('@/assets/jsons-prueba/moneda.json');
  fetchRequest({
      api: this.$apiLoteria+'IniciarLoteriaConfigurable/'+this.auth_tokenUsuario, 
      mock: 'lotoIniciarLoteria',
      applyMock: false,
      self,
      success: (rjson) => {
        const rdatos = rjson.datos || rjson.data;
        // console.log('datos', rdatos);

        self.dataRequest({
          self,
          rjson,
          rdatos,
          blockSiders: () => {
           self.siders = {
              ...(rdatos.estatusPunta && +rdatos.estatusPunta ? { punta: false } : {}),
              // punta: false,
              ...(rdatos.estatusTerminal && +rdatos.estatusTerminal ? { terminal: false } : {})
              // terminal: false,
            };
            self.sidersTotal = objReduce(self.siders, (tot) => tot + 1, 0);
            self.setGenerarTerminalesStatus(!self.sidersTotal, 1, [1,2]); 
          },
          blockGenerals: () => {
            // 01 Triple
            // 02 Cola
            // 03 Punta
            // 04 Triple A y B
            // 05 Triple y Signo
            // 06 Cola y Signo
            // 07 Figura
            self.sorteosAll = rdatos.sorteos.reduce((sorteosAllData, sorteo) => {
              // const isFigura = sorteo.modalidad.some(tipMod => window.atob(tipMod.codigoModalidad) === "07");
              if (!self.apiLists.secciones[sorteo.seccion]) return sorteosAllData;
              const nameSection = self.apiLists.secciones[sorteo.seccion].codigoTipoSeccion === "01" ? 'triplesterminals' : 'figures';
              const sec0 = sorteo.seccion instanceof Array ? sorteo.seccion[0] : sorteo.seccion;
              const returnData = {
                ...sorteosAllData,
                [nameSection]: [
                  ...(sorteosAllData[nameSection] || []),
                  new Sorteo({
                    id: objOrNotAtobrToDash(sorteo,'codigoProducto',[sec0 || 'MA=='],'numeroSorteo','codigoTurno'),
                    name: sorteo.nombreSorteo,
                    sorteoNumber: sorteo.numeroSorteo,
                    checked: false,
                    dateTime: sorteo.hora,
                    codigoTurno: window.atob(sorteo.codigoTurno),
                    product: sorteo.codigoProducto,
                    allTypes: sorteo.modalidad.reduce((tipsMod, tipMod) => ({...tipsMod, [window.atob(tipMod.codigoModalidad)]: {montoMinimo: tipMod.montoMinimo, montoMultiplo: tipMod.montoMultiplo}}), {}),
                    // type: !isFigura ? (sorteo.modalidad.some(tipMod => ["01","04","05"].includes(window.atob(tipMod.codigoModalidad))) ? 'triple' : 'cola') : 'figura',
                    // isTerminal: !isFigura && !sorteo.modalidad.some(tipMod => ["01","04","05"].includes(window.atob(tipMod.codigoModalidad))), // Boolean(+sorteo.terminal),
                    associated: sorteo.codigoLoteria,
                    /* ...(isFigura ? { isFigure: true } : { 
                      isAstral: sorteo.modalidad.some(tipMod => ["05","06"].includes(window.atob(tipMod.codigoModalidad))), 
                      isAB: sorteo.modalidad.some(tipMod => window.atob(tipMod.codigoModalidad) === "04"),
                    }), */
                    bet: '',
                    asked: '',
                    played: '',
                    section: sorteo.seccion[0],
                    functionType: '',
                    sign: '',
                    fechacierre: sorteo.fechaCierre,
                    currentModality: null,
                  })
                ]
              };
              return returnData;
            }, {});

            self.frequents = rdatos.sorteosFrecuentes.map(sortFreq => `${sortFreq.numeroSorteo}-${sortFreq.codigoProducto}`);
            self.setGenerarTerminalesStatus(!self.frequents.length, 2, [0]);

            self.maxInTable = +rdatos.limiteJugadas;

            const precision = rdatos.Precision || rdatos.Presicion ? (rdatos.Precision || rdatos.Presicion).split(',') : null;
            if (precision) self.changeValsMonto(['maxLen', +precision[0]], ['precision', +(precision[1] || 0)]);

            self.lotoFee = numberAndComma(rdatos.impuesto, true);

            // if (self.mode === 'n' && !self.sorteosAll.triplesterminals && self.sorteosAll.figures) {
            //   self.mode = 'figures';
            //   self.shortcuts.figuresTable = true;
            // }
            // if (self.mode === 'figures' && !self.sorteosAll.figures && self.sorteosAll.triplesterminals) self.mode = 'n';
            const allSorteosIds = [...[self.sorteosAll.triplesterminals || []], ...[self.sorteosAll.figures || []]].map(strs => strs.id);
            if (self.sorteosController.length) {
              const srts2Remove = self.sorteosController.filter(srt => !allSorteosIds.includes(srt));
              if (srts2Remove.length) {
                self.removeFromTable(false, srts2Remove);
                self.fireToastMsg('Algunos sorteos ya no estan disponibles, la tabla de apuestas ha sido actualizada.', { icon: 'info' });
              }
            }
            self.sorteosController = allSorteosIds;
          }
        });
      },
      error: (rjson) => {
        if (resCodes(rjson).includes("052")) self.sorteosListMsg = rjson.msg;
        const theresJugadas = self.tableData.length;
        self.sorteoDataNull = null;
        self.sorteosAll = {};
        self.frequents = [];
        self.sorteosController = [];
        self.sorteosListAll = {};
        self.apiLists = {
          productos: {},
          loterias: {},
          turno: {},
          tipoFuncion: {},
          modalidad: {},
          secciones: {},
          tipoSeccion: {},
        };
        self.removeFromTable(true);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg), loading: 'sorteoDataLoading',
            defaultMsg: labels.defaultErrorMsgPlus('cargar sorteos', false, `${theresJugadas ? ' Se limpiará la tabla de apuestas.' : ''}`),
        });
      },
  });
}

function openFiguresModal (e, figurasObj, data, label = '') {
  if (e?.target) e.target.blur();
  if ((this.isMobile && !this.figuresModalVisible) || !this.isMobile) {
    this.fieldFiguraActual = data.fCode;
    this.figurasActualesLabel = label;
    this.fieldFiguraMax = data.fMax;
    this.figurasAhoraMaxKey = objReduce(figurasObj, (max, fok) => fok.length > max ? fok.length : max, 1);
    this.figurasAhora = figurasObj;
    this.codigosFigurasSel = this.form['apuesta'+data.fCode+'figura'].figura;
    this.figuresModalVisible = true;
  }
}

function closeFiguresModal (fromX = true) {
  if (this.figuresModalVisible) this.checkFocusInput();
  const [max, isStrict] = [+noStar(this.fieldFiguraMax), hasStar(this.fieldFiguraMax)];
  const elemsArr = JSON.parse(this.codigosFigurasSel || '[]') || [];
  if (fromX && isStrict && elemsArr.length && elemsArr.length < max) {
    this.fireToastMsg(`Se deben seleccionar ${max} figuras`, { icon: 'info' });
    this.setFiguras('', {fCode: this.fieldFiguraActual, fMax: this.fieldFiguraMax}, true, null, this.isMobile);
  }
  else {
    this.figuresModalVisible = false;
    this.figurasAhora = {};
    this.figurasAhoraMaxKey = 1;
    this.codigosFigurasSel = '';
    this.fieldFiguraActual = '';
    this.figurasActualesLabel = '';
    this.fieldFiguraMax = '';
    this.modalDecorator(this,'modalFiguresDecorator');
  }
}

async function closeHelp () {
  if (this.applyingHelp) return;
  this.applyingHelp = true;
  this.updateSideHelpVisible(false);
  await this.awaiter(this.timeOfSideHelp);
  this.applyingHelp = false;
  this.modalDecorator(this,'modalHelpDecorator');
}

function updateBtnFocused (bool) {
  this.btnFocused = bool;
}

function openModalLot (data) {
  this.visibleModal = data
}

function closeModal (isLoading = false) {
  if (!isLoading) {
    this.visibleModal = null;
    this.modalDecorator(this,'modalLotDecorator');
    this.captureKeyDown();
  }
}

function openModalDuplicar () {
  this.visibleModalDuplicar = true
}

function closeModalDuplicar (isLoading = false) {
  if (!isLoading) {
    this.visibleModalDuplicar = null;
    this.modalDecorator(this,'modalDuplicarDecorator');
    this.captureKeyDown();
  }
}

function clearAllFigureData () {
  Object.keys(this.form).filter(fkey => fkey.includes('figura')).forEach(ffig => { this.form[ffig] = { nro: '', figura: '' } });
}

async function checkFocusInput (fromEnter = false) {
  if (this.checkingFocusInput) return;
  this.checkingFocusInput = true;
  const self = this;
  const actif = document.activeElement;
  const len = self.forms[self.mode].len;
  let keepOnActif;

  const requireFocusFunc = (formRefie, code, fkSp1, formFK, fk = null, part = '') => {
    const valFK = !fk || fk.includes(code);
    let figVal, maxS;

    if (fkSp1 == 'figura' && formFK.nro/* figura */?.length) {
      maxS = self.visibleFieldsObj[code].maxSimbolo;
      figVal = typeof formFK.nro == 'string' ? formFK.nro.split(',').filter(nr => nr.length >= self.figurasAhoraMaxKey && self.figurasAhora && self.figurasAhora[nr]) : formFK.nro;
    }

    const vals = valFK && 
        (
          fkSp1 == 'figura' ? !( // es figura
            (fromEnter && !hasStar(`${maxS}`)
              ? figVal?.length 
              : figVal?.length >= +noStar(`${maxS}`)
            ) || 
            formFK.nro?.codigo
          ) :
          self.forms[self.mode].code == fkSp1 && (
            self.mode != self.specialCase ? formFK.length < len : 
            (part ? (formFK[part].length < len) : objSome(formFK, (sfk) => formFK[sfk].length < len))) // es corrida
        ) && 
        (
          fkSp1 == 'figura' ? (formRefie + 'nro') :
          self.mode != self.specialCase ? formRefie :
          (formRefie + (part ? (formFK[part].length < len) : objFind(formFK, (sfk) => formFK[sfk].length < len && sfk, true)))
        );
    return vals
  }

  if (actif?.getAttribute && actif.getAttribute('id')) {
    const idSplitted = actif.getAttribute('id').split('-');
    if (idSplitted.length >= 4) {
      const actifRefie = idSplitted[0] + idSplitted[1] + idSplitted[3];
      keepOnActif = requireFocusFunc(actifRefie, idSplitted[1], idSplitted[3], self.form[actifRefie], null, idSplitted[4] || '');
    }
  }

  const arrFor = this.visibleFieldsCodes.length;
  for (let i = 0; i < arrFor; i++) {
    const code = this.visibleFieldsCodes[i];
    if (!code) break;
    const formRef = objFind(this.form, (fk) => {
      const fkSp1 = fk.split(code)[1], formFK = self.form[fk];
      const custom = requireFocusFunc('apuesta'+code+fkSp1, code, fkSp1, formFK, fk);
      return custom
    }, true);

    const isDisabled = formRef && this.getRef(this, formRef)?.disabled;
    if (formRef && !isDisabled) {
      this.focusInput = formRef;
      break;
    }
    else this.focusInput = '';
  }
  if (!this.focusInput && !this.form.apuestamonto) this.focusInput = 'apuestamonto';

  if (this.selectedOnesUse && this.focusInput) {
    const isArr = !this.focusInput.includes('monto');
    const montoRef = this.getRef(this, this.focusInput, isArr);
    const refByQuery = document.querySelector(`#${this.focusInput}wrapper input.vs__search`);
    if (!keepOnActif) {
      if (montoRef?.focus) montoRef.focus();
      else if (refByQuery?.focus) refByQuery.focus();
    }
  }
  await this.awaiter();
  this.checkingFocusInput = false;
}

function passToChild (val, attrs) {
  const nombreSeccion = attrs.reduce((result, attr) => result[attr == 'param' ? val[0] : attr], this);
  return nombreSeccion
}

function getNombreProducto (code) {
  return window.atob(this.apiLists.productos[code].nombreProducto);
}

function ticketTotalBy (exotic = false) {
  const self = this;
  const theSum = this.tableData.reduce((sum,srt) => { //selectedSorteos
    const isExotic = window.atob(srt.tipoSorteo) === self.exoticCode;
    if ((exotic && isExotic) || (!exotic && !isExotic)) sum += +srt.played;
    return sum
  }, 0);
  // const roundedSum = +(theSum.toFixed(this.formMonto.precision + 1)); // THIS WAS PREVIOUS ROUNDING IMPLEMENTATION
  // const roundedSum = (theSum * 1000).toFixed(this.formMonto.precision) / 1000; // OLD CODE
  return roundr(theSum, this.formMonto.precision)
}

function obtenerImpuesto (total) {
  const imp = porcientoJS(total, this.lotoFee);
  return rounderPlusOne(imp, this.formMonto.precision)
}

function obtenerTotal (total, fee = null) {
  const tot = sumaJS(total, typeof fee === 'number' ? fee : this.getImpuesto);
  return rounderPlusOne(tot, this.formMonto.precision)
}
//#endregion

//#region LIFE CYCLE HOOKS
// MOUNTED
function mounted () {
  const self = this;
  this.sorteoDataLoading = true;
  this.tRef = 'selectedSorteosTable';
  this.tableMultidelete = true;
  this.resetIndex();
  // FILTROS PARA LA TABLA DE APUESTA
  this.filters = {
    name: { value: '', keys: ['name', 'dateTime'] },
  };

  this.emitter.on('updateBtnFocused', this.updateBtnFocused);

  ['keyup', 'mousedown', 'keydown', 'mouseup', 'touchend'].forEach((ev, i) => 
    document.addEventListener(ev,
      self[i > 1 ? 'captureKeyDown' : 'captureKeyUp'],
      false
    )
  );

  setTimeout(() => {
    if ( self.getRef(self, 'apuestanumero') ) self.getRef(self, 'apuestanumero').focus();
    self.fetchSorteos();
  },600);
}

// UPDATED
function updated () {
  const self = this;
  this.emitter.off('updateBtnFocused', this.updateBtnFocused);
  this.emitter.on('updateBtnFocused', this.updateBtnFocused);

  Array(2).fill(['keyup', 'mousedown', 'keydown', 'mouseup', 'touchend']).forEach((theArr, j) => {
    theArr.forEach((ev, i) => 
      document[`${!j ? 'remove' : 'add'}EventListener`](ev,
        self[i > 1 ? 'captureKeyDown' : 'captureKeyUp'],
        false
      )
    );
  });
}

// UNMOUNTED
function unmounted () {
  const self = this;
  this.emitter.off('updateBtnFocused', this.updateBtnFocused);
  this.resetIndex();

  ['keyup', 'mousedown', 'keydown', 'mouseup', 'touchend'].forEach((ev, i) => 
    document.removeEventListener(ev,
      self[i > 1 ? 'captureKeyDown' : 'captureKeyUp'],
      false
    )
  );
}
//#endregion

function data () {
  return {
    exoticCode: '03',
    applyCarousselDown: false,
    isLoteryView: true,
    showOneProductOnly: false,
    enterPressed: false,
    truncVal: 2,
    sorteosAll: {}, // SORTEOS DISPONIBLES, PARA FIGURAS Y/O TRIPLES-TERMINALES
    frequents: [], // SORETOS FRECUENTES
    // astralShown: 'both', // both: se listan astrales mas otros  --  only: solo astrales  --  none: solo otros
    // selectedSorteos: [], // DATA DE TRIPLES-TERMINALES PARA LA TABLA DE APUESTAS
    filterSelected: '', // FILTRO ACTUAL APLICADO EN TABLA DE ANIMALITOS
    // form: { // PARA MANEJO DE VALUE DE INPUTS DE APUESTA
    //   ...['corrida','numero','monto','serie','permuta'].reduce((attrs, attr, i) => ({...attrs, ...['','b'].reduce((subAttrs, lttr) => ({...subAttrs, [lttr+'apuesta'+attr]: i ? '' : { desde: '', hasta: ''}}), {})}),{}),
    //   apuestafigura: {
    //     nro: '',
    //     figura: '',
    //   },
    // },
    shortcuts: {
      // help: true, // INDICA SI SE ESTA MOSTRANDO LA SECCION DE AYUDA
      figuresTable: false, // INDICA SI SE ESTA EN MODO TABLA DE FIGURAS
      figuresTableShowed: false, // INDICA SI SE ESTA MOSTRANDO LA SECCION DE TABLA DE FIGURAS
    },
    printingPDF: false,
    visibleModal: null, // SI TIENE VALOR DISTINTO DE NULL, SE MUESTRA MODAL DE APUESTAS
    visibleModalDuplicar: null,
    showModal: false, // INDICA SI SE VA A CARGAR MODAL AL DOM
    ctrlKeyDown: false, // INDICA SI SE A PULSADO LA TECLA DE CTRL DOWN
    maxInTable: 100, // NUMERO MAXIMO DE ELEMNTOS QUE SE PUEDEN ANNADIR EN LA TABLA DE APUESTAS
    addingToTableInProgress: false, // INDICA SI SE ESTA EN EL PROCESO DE ANNADIR APUESTAS EN LA TABLA
    figuresModalVisible: false,
    siders: {},
    sidersTotal: 0,
    btnFocused: false,
    sorteosController: [],
    precision: null,
    applyingHelp: false,
    figurasAhoraMaxKey: 1,
    fieldFiguraActual: '',
    figurasActualesLabel: '',
    fieldFiguraMax: '',
    focusInput: '', // '': no hace focus en inputs, 'input-identifier': hace focus en el especificado
    checkingFocusInput: false,
    prevKey: '',
    multSelOn: [false, false], // CONTROLA LA SELECION MULTIPLE (si se esta haciendo, si fallo al combinar)
    selectedOnesCopy: [[],[],[]], // para los sorteos todos, los campos visibles, y los sorteos seleccionados
    inputInTableHasFocus: false,
    mostrarTicketEnPantalla: false,
    lotoFee: 0,
  }
}

function setup() {
  const sideHelpStore = useSideHelp()
  const jugadasLoteriaStore = useJugadasLoteria()
  const authStore = useAuth()
  const { sideHelpVisible, sideFiguresVisible } = storeToRefs(sideHelpStore)
  const { betsIncrementIndex } = storeToRefs(jugadasLoteriaStore)
  const { auth_tokenUsuario, auth_columnaTicket, auth_taquilla } = storeToRefs(authStore)
  const { increaseIndex, resetIndex } = jugadasLoteriaStore
  const { toggleSideHelp, updateSideHelpVisible, toggleSideFigures, updateSideFiguresVisible } = sideHelpStore
  const emitter = inject("emitter")
  loadToggler()

  const optionsColWidthRem = 3.35
  const forTabla = [
      [{name: 'sorteo', attr: 'nombreSorteo', attrFunc: true, sort: true, dir: 'no'}], 
      [{name: 'modalidad', attr: 'typeBetName', attrFunc: true, dir: 'no'}], 
      // [{name: 'sección', attr: 'section', fromParent: ['apiLists','secciones','param','nombreSeccion'], dir: 'no'}], 
      [{name: 'apuesta', attr: 'betDetail', attrFunc: true, dir: 'no'}], 
      // [{name: 'pedido', attr: 'asked', dir: 'nodot'},
      [{name: 'jugado', attr: 'played', dir: 'dot', inputMonto: true}]
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  const signSprite = require('@/assets/images/spritesignos.webp')

  const ctl = codesToLetters;

  const helpers = ref([
    {
      title: 'Tickets',
      arr: [ /* ['Duplicar',ctl[74]],  */['Reporte cuadre de caja',ctl[65]], ['Validar premio',ctl[66]], /* ['Consultar',ctl[82]],  */['Anular ticket',ctl[85]]/* , ['Repetir',ctl[86]], ['Ver detalle',ctl[87]] */ ]
        .map((option, i) => ([...option, shortcutsSet.TicketsHelpers[i], false])),
    },
    {
      title: 'Apuestas',
      arr: [ ['Repetir apuesta',ctl[70]], ['Generar terminales',ctl[71]], /* ['Borrar terminales',ctl[76]],  */['Borrar última apuesta',ctl[79]], ['Borrar por sorteos',ctl[81]], ['Borrar todo',ctl[88]] ]
        .map((option, i) => ([...option, shortcutsSet.ApuestasHelpers[i], /* i == 2 ? true :  */false])),
    },
    {
      title: 'Sorteos',
      arr: [ ['Seleccionar frecuentes',ctl[72]]/* , ['Ver con/sin zodiacal',ctl[73]] */, ['Seleccionar todo',ctl[75]], ['Quitar selección',ctl[89]], ['Ver resultados',ctl[90]] ]
        .map((option, i/* , arr */) => ([...option, shortcutsSet.SorteosHelpers[i], /* i == 1 ||  *//* i === arr.length - 1 */false])),
    },
  ])

  const glosarioTeclas = [
    ['Muestra modal de ayuda',ctl[112]],
    ['Realiza proceso de cobro e impresión del ticket',ctl[113]],
    ['Genera jugadas al azar',ctl[114]],
    ['Muestra o esconde tabla de figuras',ctl[115]],
    ['Hace foco sobre el primer filtro de Tipos de sorteos',ctl[117]],
    ['Muestra campos de apuesta de tipo número',ctl[78]],
    ['Muestra campos de apuesta de tipo serie',ctl[83]],
    ['Muestra campos de apuesta de tipo permuta',ctl[80]],
    ['Muestra campos de apuesta de tipo corrida',ctl[67]],
    ['Hace foco sobre el primer sorteo de la lista de disponibles','Control + Mayus','ctrl','mayus'],
    ['Hace foco sobre campo de apuesta','Mayor / Menor','mayor / Menor'],
    ['Hace foco sobre la primera figura de la tabla de figuras','Control + Mayor / Menor','ctrl','mayor / Menor'],
    ['Agrega jugadas a la tabla','Enter / Intro','enter / Intro'],
    ['Cierra las ventanas abiertas','Escape','esc'],
    ['Seleccionar todas las horas de un producto tildado',ctl[119]],
    ['Seleccionar sorteos de doble terminal',ctl[73]],
    ['Seleccionar sorteos de triple',ctl[74]],
    // ['Seleccionar sorteos de doble figura',ctl[76]],
    ['Seleccionar sorteos de 38 figuras',ctl[82]],
    ['Seleccionar sorteos de 40 figuras',ctl[118]],
    ['Seleccionar sorteos de 75 figuras',ctl[86]],
    ['Seleccionar sorteos de 76 figuras',ctl[87]],
  ]

  const setGenerarTerminalesStatus = (status, wch, posArr) => {
    const helpersCopy = helpers.value.slice()
    posArr.forEach(n => helpersCopy[wch].arr[n][3] = status)
    helpers.value = helpersCopy.slice()
  } 

  const animalitos = ref({})
  const signos = ref({})
  const animalitosArr = ref([]) 
  const signosArr = ref([]) 

  const getFiguresData = () => {
    const { theAnimalitos, theSignos } = require('@/_sprites.js')
    animalitos.value = theAnimalitos
    signos.value = theSignos
    const allAnimalitos = Object.keys(animalitos.value)
    const allSignos = Object.keys(signos.value)
    return {
      allAnimalitos,
      allSignos
    }
  }

  onMounted(() => {
    $('document').ready(() => {
      const { allAnimalitos, allSignos } = getFiguresData()
      animalitosArr.value = allAnimalitos
      signosArr.value = allSignos
    })
  })

  return {
    ...setupData(1),
    ...loadMultiMon(),
    ...loadMainLotDta(),
    emitter,
    helpers,
    animalitosArr,
    animalitos,
    signos,
    signosArr,
    shortcutsSet,
    signSprite,
    sideHelpVisible,
    sideFiguresVisible,
    labels,
    inTableData,
    optionsColWidthRem,
    betsIncrementIndex,
    auth_tokenUsuario,
    auth_columnaTicket,
    timeOfSideHelp,
    increaseIndex, 
    resetIndex,
    toggleSideHelp,
    updateSideHelpVisible,
    toggleSideFigures,
    updateSideFiguresVisible,
    getTruncated,
    modForJS,
    noStar,
    hasStar,
    setGenerarTerminalesStatus,
    glosarioTeclas,
    auth_taquilla,
  }
}

//#region WATCHERS
function monedaW () {
  if (this.selectedOnesUse) {
    this.uncheckWhichShould(true);
    this.selectedSorteosF(this.selected_sorteos);
  }
}
//#endregion

//#region COMPUTED
function checkersIf () {
  return this.mode !== 'figures' || (this.multSelOn[0] && !this.selectedOnesCopy[2].length)
}

function sidebarBlock () {
  return this.sidebarVisible && !this.sidebarUnfoldable
}

// listado de sorteos que pasan los filtros aplicados para el mostrado de estas
function sorteos_filtered () {
  return this.sorteosFilteredShared()
}

function theres_campo_figura () { // antiguo theres_astral
  // return this.selected_sorteos.some(srt => srt.isAstral)
  const theres = this.visibleFields.find(f => f.tipo == 'img' && !+f.dropdown);
  if (!theres || !this.selectedOnesUse) {
    this.updateSideFiguresVisible(false);
    this.closeFiguresModal(false);
  }
  else if (theres && this.selectedOnesUse && !this.isMobile) {
    const fgrsObj = this.getTablaFigura(theres.codigo);
    const fDta = { fCode: theres.codigo, fMax: theres.maxSimbolo };
    this.openFiguresModal(null, fgrsObj, fDta, theres.etiqueta || '');
  }
  return !!theres
}

function theres_ab () {
  return this.selected_sorteos.some(srt => srt.isAB)
}

function theres_other_than_ab () {
  return this.selected_sorteos.some(srt => !srt.isAB)
}

/* function theres_triple () {
  return this.selected_sorteos.some(srt => !srt.isTerminal && !srt.isFigure)
} */

function selected_figures () {
  const self = this;
  return Object.keys(this.selectedFigures).reduce((all, fcode) => ({
    ...all,
    [fcode]: self.selectedFigures[fcode].map(fgr => {
      const fig = self.getTablaFigura(fcode, fgr);
      return {
        // ... this.animalitos[fgr],
        // id: !+fgr ? fgr : fgr.slice(1)
        ...fig,
        id: fig.codigo
      }
    })
  }), {})
}

function helpers_obj () {
  return this.helpers.reduce((helpsObj, helpSet) => ({
      ...helpsObj,
      ...helpSet.arr.reduce((subObjs, setItm) => ({
        ...subObjs, 
        [`${setItm[2]}`]: [setItm[0], setItm[1]]
      }), {})
    }), {})
}

function forms_key_obj () {
  return Object.keys(this.forms).reduce((keysObj, mode) => ({...keysObj, [`${this.forms[mode].key}`]: mode}), {})
}

function sorteosListHelpers () {
  const turnos = [
    ['Mañana','m',this.shortcutsSet.Horario[2],'01'], 
    ['Tarde','t',this.shortcutsSet.Horario[3],'02'], 
    ['Noche','e',this.shortcutsSet.Horario[1],'03'], 
    ['Todos','d',this.shortcutsSet.Horario[0],'0'], 
    ['Refrescar','f5',this.shortcutsSet.Refrescar[0]], 
  ]
  .reduce((all, source_) => [
    ...all,
    ...(source_[1] === 'f5' || source_[1] === 'd' || this.apiLists.turno[source_[3]] ? [{
      name: source_[0],
      key: source_[1],
      shortCut: source_[2],
      isRefresh: source_[1] === 'f5',
      ...(source_[3] ? {codigoTurno: source_[3]} : {}),
    }] : [])
  ], []);

  return turnos
}

function sorteos_list_helpers_obj () {
  return this.sorteosListHelpers.reduce((keysObj, horario) => ({...keysObj, [`${horario.shortCut}`]: (horario.codigoTurno/* key */ || horario.key)}), {})
}

// RETORNA EL TOTAL DE LA SUMATORIA DE JUGADO EN LAS APUESTAS DE LA TABLA
function ticketTotal () {
  const roundedSum = rounderPlusOne(this.tableData, 'played', this.formMonto.precision);
  return roundedSum
}

function sorteosListForModal () {
  return objReduce(this.sorteosListAll, (all_, sorteo_) => ([...all_, ...sorteo_]), [], true)
}

function showFunctionsGroup () {
  return Object.keys(this.apiLists.tipoFuncion).length
}

function selectedOnesUse () {
  return !this.multSelOn[0] ? this.selected_sorteos.length : this.selectedOnesCopy[2].length
}

function getImpuesto () {
  // return this.obtenerImpuesto(this.ticketTotal)
  const roundedSums = [this.obtenerImpuesto(this.ticketTotalBy()), this.obtenerImpuesto(this.ticketTotalBy(true))];
  return sumaJS(roundedSums[0], roundedSums[1])
}

function totalVenta () {
  return this.obtenerTotal(this.ticketTotal)
}
//#endregion

export default {
  name: 'Loteria',
  mixins: [
    globalMixin,
    thisFunctions,
    tableGenerals,
    printGenerals,
    lotteryShared,
    identificadorControls,
  ],
  components: {
    InputLot,
    TipoSorteosBtns,
    lotBtn,
    CCTable,
    // CCFiguresGrid,
    CCLoader,
    ModalLot,
    ModalDuplicar,
    ModalFiguras,
    ModalHelp,
    HelperModalStructure,
    SideFiguras,
    CCCarousel,
    AppHeaderDropdownMultmon,
  },
  data,
  setup,
  methods: {
    fetchSorteos,
    openModalLot,
    closeModal,
    openModalDuplicar,
    closeModalDuplicar,
    closeFiguresModal,
    closeHelp,
    clearAllFigureData,
    updateBtnFocused,
    openFiguresModal,
    checkFocusInput,
    passToChild,
    getNombreProducto,
    ticketTotalBy,
    obtenerImpuesto,
    obtenerTotal,
    modifyMontoSorteo: function (monto, idSorteo) {
      const inx = this.tableData.findIndex(srt => srt.idJugada === idSorteo);
      if (inx > -1) {
        const jugada = this.tableData[inx];
        const overpassedMax = (this.maxTicket - (this.ticketTotalBy(window.atob(jugada.tipoSorteo) === this.exoticCode) - jugada.played) - monto) < 0;
        if (!overpassedMax) this.tableData[inx] = new Sorteo({
          ...jugada,
          idJugada: idSorteo,
          asked: +monto,
          played: +monto,
        });
        this.fireToastMsg(!overpassedMax ? 'Monto actualizado con éxito' : this.labels.maximoDeTicket(null, true), { icon: !overpassedMax ? 'success' : 'warning' });
      }
    },
    updateSelectedProducts: function () {
      this.slideActive = this.slideActive.filter(sldAct => this.sorteos_filtered_acc_arr.includes(sldAct)).slice();
    },
  },
  watch: {
    moneda: monedaW,
    pageWidthSize: function () {
      if (this.isMobile) this.closeFiguresModal(false);
    },
  },
  computed: {
    sidebarBlock,
    selected_figures,
    ticketTotal,
    sorteos_filtered,
    helpers_obj,
    forms_key_obj,
    sorteosListHelpers,
    sorteos_list_helpers_obj,
    sorteosListForModal,
    theres_campo_figura,
    theres_ab,
    theres_other_than_ab,
    // theres_triple,
    showFunctionsGroup,
    selectedOnesUse,
    checkersIf,
    getImpuesto,
    totalVenta,
    soloway: function () {
      return this.tipoSeccionesCount <= 1
    },
    showFiguresLabel: function () {
      const figsNoDrop = this.visibleFields.filter(f => f.tipo == 'img' && !+f.dropdown && f.tabla.length);
      return figsNoDrop.length > 1
    },
  },
  directives: {
    numberComma,
  },
  mounted,
  updated,
  unmounted
}
</script>

<style lang="scss" scoped>
.add-pt {
    @include mediaquery(md) {
      padding-top: 1.25rem;
    }
    @include mediaquery(lg) {
      padding-top: 2.5rem;
    }
}

.first-row {
  @include mediaquery(lg) {
    min-height: 24rem;
    max-height: 42rem;

    .sorteos-disponibles.sidebar-on.sidehelp-on {
      @media screen and (max-width: 1120px) {
        margin-top: 2rem; 
      }
    }
  }
}

#tabla-figuras {
  display: none;
}

.only-mobile {
  @include mediaquery(lg) {
    display: none;
  }
}
:deep(.has-sc-info) {
  .only-mobile {
    @include mediaquery(lg) {
      display: none;
    }
  }
}

@include deepSectionContainer {
  &.table-container {
    padding-top: 2rem;
  }

  .reference-btns {
    // box-shadow: 0 0 0 4px #fff;
    box-shadow: unset;
    background: #fff;
    top: -21px;
    right: 0;
    
    @include mediaquery(md, 'max') {
      @include gridDist(null, repeat(2, 50%), true);
      
      .btn {
        border-radius: 0 !important;
        margin-left: 0 !important;
      }
    }
    @include mediaquery(md) {
      position: absolute;
      // top: -14px;
      // right: 11px;
      top: -2.1rem;
      right: -4px;

      .btn {
        &:first-of-type {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
    @include mediaquery(lg) {
      top: -2.2rem;
    }
  }

  ul {
    li {
      list-style-type: none;
    }

    &.shortcuts {
      @include gridDist(null,repeat(2, 1fr),true);

      li {
        .only-mobile {
          @include mediaquery(lg) {
            display: none;
          }
        }

        &:nth-child(odd) {
          padding-right: 0.5rem;
          @include borderGray($property: 'border-right');
        }
        &:nth-child(even) {
          padding-left: 0.5rem;
        }

        &:nth-last-child(1), &:nth-last-child(2) {
          .only-mobile {
            display: none;
          }
        }
      }
    }
  }
}

.as-wrapper-with-side-help {
  will-change: auto;
  transition: padding 0.15s;

  &.use-side-help {
    @include mediaquery(lg) {
      padding-right: calc($sidebar-width-fcui + 1rem);
    }
  }
}

.border-dash {
  @include mediaquery(md) {
    border-left: 1px solid $dash-color;
    padding-block: 2px;
  }

  .none-rigth {
    border-inline-end: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .none-left {
    border-inline-start: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.pt-custom {
  padding-top: 2px !important;
}

.sum-dash {
  border-top: 1px $cancel-gray solid;
  width: fit-content;
    margin-left: auto;
    padding-left: 0.5rem;
}

span.circle-time {
  width: 0.78rem;
  height: 0.78rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;

  &.dia {
    background: #f9f420;
  }
  &.tarde {
    background: #f5aa5a
  }
  &.noche {
    background: #7f4f4f;
  }
}
</style>