<template>
    <CModal 
        alignment="center" 
        backdrop="static" 
        :visible="sideHelpVisible" 
        :size="pageWidthSize >= 768 ? 'lg' : 'sm'"
        @close="close"
    >
        <CModalHeader class="d-flex flex">
            <div class="col-md-6">
                <img src="@/assets/images/Logo-MA-blue.png" width="180" height="60" alt="logo">
            </div>
            <div class="col-md-4">
                <CModalTitle>AYUDA</CModalTitle>
            </div>
        </CModalHeader>
        <CModalBody>
            <!-- <div class="help-body p-3 flex-grow-1 overflow-auto"> -->
                <slot />
            <!-- </div> -->
        </CModalBody>
    </CModal>
</template>

<script>
import { useSideHelp } from '@/store/sidehelp'
import { storeToRefs } from 'pinia'

export default {
    name: 'sideHelp',
    setup() {
        const sideHelpStore = useSideHelp()
        const { sideHelpVisible } = storeToRefs(sideHelpStore)

        return {
            sideHelpVisible,
        }
    },
    props: {
        sideHelpToggler: Function,
        close: Function,
        pageWidthSize: Number,
    }
}
</script>

<style lang="scss" scoped>
</style>>