<template>
    <component 
        :is="asModal ? 'CModal' : 'div'"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="close"
    >
        <CModalHeader v-if="asModal">
            <CModalTitle>Por favor seleccione</CModalTitle>
        </CModalHeader>
        <component :is="asModal ? 'CModalBody' : 'div'">
            <div v-if="!asModal" class="d-flex mb-3 justify-content-center">
                <CButton ref="cancelselectionbtnTop" class="btn-primario" :disabled="!codesFigsArr.length" @click="setFiguras('', {fCode, fMax: max}, true, null, !!asModal, true)">Quitar Selección</CButton>
            </div>
            <div 
                class="d-flex flex-wrap justify-content-start figure-grid mx-auto" 
                v-bind:class="asModal && count && count != 2 ? [
                    'asModal',
                    count == 1 ? 'one' : '',
                    !(count%2) && incl(4,8,16) || incl(11,13) ? 'four' : '',
                    !(count%3) && incl(3,9) ? 'three' : '',
                    !(count%5) && count<=25 || incl(17,19,22,23) ? 'four five' : '',
                    !(count%6) && count<=30 || incl(26,27,29) ? 'four six' : '',
                    !(count%7) && count<=35 || incl(31,33,34) ? 'four six seven' : '',
                    !(count%8) || count>=36 ? 'four six eight' : ''
                ] : [asModal ? 'asModal' : '']"
            >
                <template v-for="figuraId in figuresObjAsArr" :key="figuraId">
                    <div class="figure text-center border-bottom">
                        <input 
                            class="check-figure d-block"
                            type="checkbox" 
                            :id="'figura-' + figuraId" 
                            :value="figuraId" 
                            @change="setFiguras(figuraId, {fCode, fMax: max}, +noStar(max) && +noStar(max) == 1, null, !!asModal, true)"
                        >
                        <label 
                            :for="'figura-' + figuraId" 
                            class="d-flex flex-column h-100 align-items-center justify-content-center flex-wrap"
                            v-bind:class="isSelected(figuraId) ? 'selected' : ''"
                        >
                            <div class="figure-data image mx-auto">
                                <img 
                                    :src="figuresObj[figuraId].img" 
                                    :alt="figuresObj[figuraId].nombre"
                                    v-bind:style="{ 
                                        width: '80px',
                                        height: '65px',
                                        objectFit: 'contain'
                                    }"
                                >
                            </div>
                            <!-- <div class="figure-data data mx-auto"> -->
                                <!-- <span class="figure-name">{{ figuresObj[figuraId].nombre }}</span> -->
                                <!-- <span class="figure-id fw-bold ms-1">{{ figura }}</span> -->
                            <!-- </div> -->
                        </label>
                    </div>
                </template>
            </div>
        </component>
        <CModalFooter v-if="asModal" class="justify-content-center">
            <CButton ref="cancelselectionbtnBottom" class="btn-primario" :disabled="!codesFigsArr.length" @click="setFiguras('', {fCode, fMax: max}, true, null, !!asModal, true)">Quitar Selección</CButton>
        </CModalFooter>
    </component>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import { noStar } from '@/_helpers/formatters';

//#region METHODS
// function captureModalKeyDown (e = null) {
//     const theCode = e?.keyCode || e?.which || 1; // SI LA TECLA PRESIONADA NO BRINDA INFORMACION, POR DEFECTO SERA EL CODIGO 1
//     if ([13,27].includes(theCode)) { if (!this.modalTimingExecuting) this.close(); return } // ESCAPE
//     if ([37,38,39,40].includes(theCode)) { // ARROWS
//         const tC = theCode/* , aI = +this.astralId */;
//         const [bN, oN, oM] = tC === 37/*LEFT*/ ? [-1,12,0] : tC === 38/*TOP*/ ? [-3,12,1] : tC === 39/*RIGHT*/ ? [1,1,0] : /* 40-BOTTOM */[3,-12,1];
//         const opr = /* aI +  */bN;
//         const move = opr > 0 && opr <= 12;
//         this.setAstral(`${move ? opr : (oN + opr*oM)}`, false);
//         this.modalTimingExec();
//     }
// }
//#endregion

//#region LIFECYCLEHOOKS
// function unmounted () {
//     document.removeEventListener('keydown', this.captureModalKeyDown, false);
// }
//#endregion

//#region WATCHERS
// function visibleModal (val) {
//     document[`${val ? 'add' : 'remove'}EventListener`]('keydown', this.captureModalKeyDown, false);
// }
//#endregion

export default {
    name: 'ModalFiguras',
    mixins: [globalMixin],
    props: [
        'visible',
        'codigosFigura',
        'close',
        'figuresObj',
        'setFiguras',
        'fCode',
        'max',
        'asModal',
        'execLoteryKeyDown',
        'execLoteryKeyUp',
    ],
    setup () {
        return {
            noStar,
        }
    },
    computed: {
        count: function () {
            return Object.keys(this.figuresObj || {}).length
        },
        codesFigsArr: function () {
            return JSON.parse(this.codigosFigura || '[]')
        },
        figuresObjAsArr: function () {
            return Object.keys(this.figuresObj || {}).sort((a,b) => +a - +b)
        },
    },
    // watch: {
    //     visible: visibleModal,
    // },
    methods: {
        // captureModalKeyDown,
        isSelected: function (code) {
            return this.codesFigsArr.some(cfa => cfa.codigo === code)
        },
        incl: function (...args) {
            return args.includes(this.count)
        },
    },
    // unmounted,
}
</script>

<style lang="scss" scoped>
$colW: 6.5rem;
.figure-grid {
    width: 12.75rem;
    // @include gridDist(null, repeat(2, $colW), true);
    column-gap: 4px;
    row-gap: 3px;
    background: $gris-grid;
    padding: 4px 4px 3px;

    &.asModal {
        width: 13.75rem;

        .figure {
            width: 6.5rem;
        }
    }

    &.one {
        width: 7rem;
        @include gridDist(null, $colW, true);
    }

    @include mediaquery(md) {
        &.three {
            width: 20.5rem;
            @include gridDist(null, repeat(3, $colW), true);
        }
        &.four {
            width: 27.25rem;
            @include gridDist(null, repeat(4, $colW), true);
        }
    }
    @include mediaquery(lg) {
        &.five {
            width: 34rem;
            @include gridDist(null, repeat(5, $colW), true);
        }
        &.six {
            width: 40.75rem;
            @include gridDist(null, repeat(6, $colW), true);
        }
    }
    @include mediaquery(xl) {
        &.seven {
            width: 47.45rem;
            @include gridDist(null, repeat(7, $colW), true);
        }
        &.eight {
            width: 54.25rem;
            @include gridDist(null, repeat(8, $colW), true);
        }
    }

    .figure {
        background: #fff;
        height: 5rem;
        width: 6rem;

        .check-figure {
            @include sqrDist(0,'width','height');

            &:focus, &:focus-visible {
                + label {
                    outline: $dark-gray solid 2px;
                }
            }

            + label {
                font-size: small;
                font-weight: 600;
                width: 100%;
                cursor: pointer;
                padding-left: 0.25rem;

                &.selected {
                    // background: $softie-gray;
                    // option 1
                    background: $azul-clarito;
                    // option 2
                    // background: $yellow-box;

                    .image img { // if option 1
                        -webkit-filter: brightness(0) invert(1);
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}
</style>