<template>
    <CModal 
        alignment="center" 
        backdrop="static" 
        :keyboard="false"
        :visible="visible_modal_computed" 
        @close="closeTheModal(true)"
    >
        <CModalHeader>
            <CModalTitle>Duplicar Ticket</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <!-- <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :filters="filters"
                :multidelete="tableMultidelete"
                :setTableState="setTableState"
                :sortingMethods="sortingMethods"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :unselectFromTable="eraseFromTable"
                :alertMsgs="[
                labels.sureDelete(), labels.sureDelete(false), 
                labels.deleteAll(), labels.deleteOne(), labels.betsNotExist(null,'',true),
                labels.sureDeleteSelected(), labels.deleteAllSeleted()
                ]"
                :loading="tableDataLoading"
                :pressable="!addingToTableInProgress"
                :hideClearAll="false"
                :optionsAsGrid="false"
                :getFromParent="passToChild"
                :optionsColWidth="optionsColWidthRem"
                :rowModifiable="!!tableData.length"
                :modifyMontoSorteo="modifyMontoSorteo"
                :precision="{maxLen: formMonto.maxLen, precision: formMonto.precision}"
                :ticketTotal="ticketTotal"
                :inputInTableHasFocus="($event) => {inputInTableHasFocus = $event}"
            />

            <div class="in-section-footer mt-auto">
                <CRow>
                    <CCol xs="12" md="6">Cantidad de Apuestas: {{tableData.length}}</CCol>
                    <CCol xs="12" md="6" class="text-md-end"><strong>Monto Total Ticket: <span v-numberComma:dot="ticketTotal">{{ticketTotal}}</span><span v-if="moneda">&nbsp;{{moneda.simboloMoneda}}</span></strong></CCol>
                </CRow>
            </div> -->
        </CModalBody>
        <CModalFooter class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" :disabled="aceptarDisabledMD" 
                @click="aceptarMeth" @focus="() => { btnFocused = true }" @blur="() => { btnFocused = false }"
            >
                <CCLoader v-if="loading" inline />
                Aceptar<span v-if="loading">...</span>
            </CButton>
            <CButton ref="cancelbtn" class="btn-secundario" :disabled="loading" 
                @click="cancelarMeth" @focus="() => { btnFocused = true }" @blur="() => { btnFocused = false }"
            >Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import CCLoader from '@/components/custom/CCLoader.vue'
import { LABELS as labels } from '@/_helpers/labels';
import { useMultimoneda } from '@/store/multimoneda';
import { storeToRefs } from 'pinia';

//#region METHODS
async function cancelarMeth (ev) {
    const pointerType = ev?.pointerType;
    if (!pointerType) await this.awaiter(this.modalFadeTime);

    this.closeTheModal(true);
}

async function aceptarMeth (ev) {
    this.modalTimingExec();
    const pointerType = ev?.pointerType;
    if (!pointerType) await this.awaiter(this.modalFadeTime);

    // this.aceptarDuplicar(); 
    return;
}

async function awaitExecuter (...funcs) {
    for (let i = 0; i < funcs.length; i++) {
        await this.modalTimingExec();
        this[funcs[i][0]](...funcs[i][1]);
    }
}

function closeTheModal (with_ = false) {
    this.closeModal(with_ ? this.loading : false);
    this.modalTimingExec();
}

function captureModalKeyDown (e = null) {
    e.stopPropagation();
    const theCode = e?.keyCode || e?.which || 1; // SI LA TECLA PRESIONADA NO BRINDA INFORMACION, POR DEFECTO SERA EL CODIGO 1
    if ((this.btnFocused && theCode === 13) || this.modalTimingExecuting || this.loading) return;

    if (theCode === 13) { // ENTER
        if (!this.aceptarDisabledMD) this.getRef(this, 'acceptbtn', false)?.click();
        return;
    }
    if (theCode === 27) { // ESCAPE
        this.closeTheModal(true);
        return;
    }
}

function eventListenerRemover () {
    document.removeEventListener('keydown', this.captureModalKeyDown, false);
}
//#endregion

//#region COMPUTED
function visible_modal_computed () {
    return !!this.visibleModal
}

function aceptarDisabledMD () {
    return !this.tableData.length
}
//#endregion

//#region DATA
function data () {
    return {
        loading: false,
        btnFocused: false,
        tableData: [],
    }
}
//#endregion

//#region LIFECYCLEHOOKS
function setup () {
    const multimonedaStore = useMultimoneda()
    const { moneda, minTicket, maxTicket } = storeToRefs(multimonedaStore)

    return {
        labels,
        moneda, 
        minTicket, 
        maxTicket,
    }
}

function unmounted () {
    this.eventListenerRemover();
}
//#endregion

//#region WATCHERS
// aca tambien se reinicializan valores
function visibleModal (val) {
    this.loading = false;
    if (val) {
        this.modalTimingExec();
    }

    document[`${val ? 'add' : 'remove'}EventListener`]('keydown', this.captureModalKeyDown, false);
}
//#endregion

export default {
    name: 'ModalDuplicar',
    mixins: [ globalMixin ],
    components: {
        CCLoader,
    },
    data,
    props: {
        visibleModal: {
            type: Boolean,
            default: false,
        },
        closeModal: Function,
        addToTable: Function,
    },
    setup,
    watch: {
        visibleModal,
    },
    methods: {
        closeTheModal,
        captureModalKeyDown,
        eventListenerRemover,
        aceptarMeth,
        cancelarMeth,
        awaitExecuter,
        // aceptarDuplicar: function () {
        //     console.log('Hello Duplicar!');
        // },
    },
    computed: {
        visible_modal_computed,
        aceptarDisabledMD,
    },
    unmounted,
}
</script>

<style lang="scss" scoped>
</style>