<template>
    <CModal 
        alignment="center" 
        backdrop="static" 
        :keyboard="false"
        :visible="visible_modal_computed" 
        @close="closeTheModal(true)"
    >
        <CModalHeader>
            <CModalTitle>{{visibleModal.title}}</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <!-- REPETIR APUESTA --> <!-- Y --> <!-- BORRAR TERMINALES / POR SORTEO -- GENERAR TERMINALES -->
            <template v-if="selectedSorteos.length && sorteos_filtered.length">
                <HelperModalStructure list form :isGenerar="Boolean(curr_type?.g)"
                    :loading="loading" :sorteos_list_all="sorteos_list_all" 
                    :sorteos_por_productos="sorteos_filtered" :productActive="productActive" 
                    :setActiveProduct="setActiveProduct" :amountLabel="false"
                >
                    <template v-if="curr_type?.f">
                        <span>De:</span>
                        <CFormCheck 
                            v-for="(opcion, oi) of ['Sorteos Jugados', 'Última Apuesta']" 
                            :key="oi"
                            :button="{ variant: 'outline' }" 
                            type="radio" 
                            name="options-outlined" 
                            :id="'radioOption'+(oi+1)" 
                            autocomplete="off" 
                            :label="opcion" 
                            :value="'option'+(oi+1)" 
                            :checked="option === 'option'+(oi+1)" 
                            @change="() => {option = 'option'+(oi+1)}"
                        />
                    </template>
                    <template v-else>
                        <div v-if="sidersCount > 1  && (curr_type?.l || curr_type?.g)" class="mb-1 ms-for-siders fs-small text-capitalize check-inline-mr">
                            <CFormCheck v-for="(siderV, siderK) in siders" :key="'modal'+siderK" :ref="'modal'+siderK" inline :id="'modal-'+siderK" :label="siderK" :value="siderK" :checked="siders[siderK]" @change="checkSider" />
                        </div>
                        Selecciona los sorteos de los cuales deseas {{curr_type?.g ? 'generar' : 'borrar'}} {{curr_type?.q ? 'las apuestas' : (siders.punta && siders.terminal ? 'las puntas y los terminales' : siders.punta ? 'las puntas' : 'los terminales')}}.
                    </template>
                    
                    <template #listTitle>Sorteos{{curr_type?.f ? ' Disponibles' : ''}}</template>

                    <template v-if="curr_type?.f || curr_type?.g" #inputs>
                        <InputLot 
                            ref="apuestamonto" 
                            v-model="form.apuestamonto" 
                            :data="{...formMonto, montoMinimo: getTruncated(formMonto.montoMinimo, precision.precision, true), ...precision, label: (formMonto.label + ' ' + '(' + moneda.simboloMoneda + ')')}" 
                            :numOnlySpecial="numOnlySpecial" 
                            colClasses="col-md-6"
                            extraClass="ms-auto"
                            align="end"
                            labelExtraClass="text-capitalize" 
                            inputExtraClasses="flex-one"
                            :wrong="formMonto.wrong"
                            :isMonto="true" 
                            :applyLabel="true"
                            :notInput="true"
                            :inModal="true"
                            :toggleHideErrMsg="true"
                            :isMontoModal="true"
                            :disabled="loading || !selected_sorteos.length"
                            :callVals="callVals"
                            :isMobile="isMobile"
                            :maximoDeTicket="+maxTicket - +ticketTotal"
                            :maximoNetoTicket="+maxTicket"
                            :minimoDeTicket="minTicket"
                            :fireToastMsg="fireToastMsg"
                        />
                    </template>
                </HelperModalStructure>
            </template>
            <h6 v-else-if="curr_type?.f && !sorteos_filtered.length">No hay sorteos disponibles</h6>
            <h6 v-else>No se encontraron apuestas{{(curr_type?.g || curr_type?.l) && selectedSorteos.length && !sorteos_filtered.length ? ((curr_type?.l ? ' de' : ' que puedan ser generadas como')+' terminales') : ''}}</h6>
        </CModalBody>
        <CModalFooter class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" :disabled="aceptarDisabledML()" 
                @click="aceptarMeth" @focus="() => { btnFocused = true }" @blur="() => { btnFocused = false }"
            >
                <CCLoader v-if="loading" inline />
                {{acceptLabel}}<span v-if="loading">...</span>
            </CButton>
            <CButton ref="cancelbtn" class="btn-secundario" :disabled="loading" 
                @click="cancelarMeth" @focus="() => { btnFocused = true }" @blur="() => { btnFocused = false }"
            >Cancelar
            </CButton>
            <!-- <CButton class="btn-secundario" @click="consoleAll">Consola</CButton> -->
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import InputLot from '@/components/shared/inputLot.vue';
import CCLoader from '@/components/custom/CCLoader.vue'
import HelperModalStructure from '@/components/shared/HelperModalStructure.vue'
import { onUpdated, ref } from 'vue';
import { LABELS as labels } from '@/_helpers/labels';
import { Sorteo } from '@/_helpers/classes';
import { epoched, getTruncated, modForJS, nowEpoched, objForEach, objMap, objReduce, objSome } from '@/_helpers/formatters';
import { useMultimoneda } from '@/store/multimoneda';
import { storeToRefs } from 'pinia';

//#region METHODS
// SETEA VARIABLE QUE MANEJA EL TIPO DE SORTEO POR EL QUE SE ESTA FILTRANDO ACTUALMENTE
function setActiveProduct (productIdentifier) {
    const previous = `${this.productActive}`;
    this.productActive = productIdentifier;
    if (!this.sorteos_filtered.length) {
        this.fireToastMsg(this.labels.notAvailableSorteos, {});
        this.productActive = previous;
    }
    else this.uncheckWhichShould();
}

// DESELECCIONA SORTEO(S) SI SE SELECCIONO UNA OPCION DONDE ESTE(OS) YA NO ESTE(N)
function uncheckWhichShould () {
    const srts_flt_obj = this.sorteos_filtered.reduce((srtsId, srt) => ({...srtsId, [srt.id]: srt.checked}), {});
    this[this.curr_type?.f ? 'sorteosSet' : /* l */'selectedSorteosSet'].forEach(srt => srt.checked = srts_flt_obj[srt.id] || false);
}

// EJECUTA VALIDACIONES EN INPUT CORRESPONDIENTYE
function callVals (isInput = true) {
    const self = this;
    const modelValue = (this.form && this.form.apuestamonto) || null;   
    const setWrong = (bool) => {
        if (self.form && isInput && self.formMonto) self.formMonto.wrong = bool;
    };

    const montoSplit = modelValue ? modelValue.split('.') : null;
    if (montoSplit) {
        const montoJ = +montoSplit.join('.');
        const prec = this.precision.precision;
        const maxLenPrecision = montoSplit[0].length > this.precision.maxLen || (montoSplit[1] && montoSplit[1].length > prec),
            minMult = montoJ < this.formMonto.montoMinimo || !!this.modForJS(montoJ, this.formMonto.montoMultiplo)/* this.getTruncated(montoJ % this.formMonto.montoMultiplo, prec) */;

        this.formMonto.errLabel = maxLenPrecision ? 'precision' : 'minMult';

        // const maxTickt = this.maxTicket - this.ticketTotal;
        // const mxT = maxTickt > 0 ? maxTickt : 0;
        if (
            modelValue && +modelValue > 0 && 
            // +modelValue >= this.minTicket && +modelValue <= mxT &&
            montoSplit[0].length <= this.precision.maxLen && 
            ((montoSplit[1] ? montoSplit[1].length : 0) <= this.precision.precision) &&
            !maxLenPrecision && !minMult
        ) 
            setWrong(false);
        else setWrong(true);
    }
}

function aceptarDisabledML () {
    if (['f','l','q','g'].includes(Object.keys(this.curr_type || {})[0])) 
        return [
            this.loading, 
            !this.selected_sorteos.length, 
            ...(
                this.curr_type?.f || this.curr_type?.g 
                    ? [
                        this.form && (!this.form.apuestamonto || (this.form.apuestamonto && !+this.form.apuestamonto)),
                        this.form && this.formMonto && this.formMonto.wrong
                      ] 
                    : []
            )
        ].some(v => v);
    return false
}

async function cancelarMeth (ev) {
    const pointerType = ev?.pointerType;
    if (!pointerType) await this.awaiter(this.modalFadeTime);

    this.closeTheModal(true);
}

async function aceptarMeth (ev) {
    this.modalTimingExec();
    const pointerType = ev?.pointerType;
    if (!pointerType) await this.awaiter(this.modalFadeTime);

    if (this.curr_type?.f || this.curr_type?.g) { this.aceptarRAGT(this.curr_type?.f ? 'repetir-apuesta' : 'generar-terminales'); return; }
    if (this.curr_type?.l || this.curr_type?.q) { this.aceptarB(this.curr_type?.l ? 'borrar-terminales' : 'borrar-sorteos'); return; }
}

// BORRAR TERMINALES / POR SORTEO
async function aceptarB (funcName) {
    const isTerminales = funcName == 'borrar-terminales';
    const self = this;
    this.loading = true;
    const idApuestas = this.selected_sorteos.reduce((apus, sorteo) => {
        for (let i = 0; i < sorteo.idJugadas.length; i++) {
            const [idJugada, modalidad] = sorteo.idJugadas[i];
            let siderPassed;
            if (isTerminales) {
                const { ordenSeleccion: ordSel_ } = self.modalidades[modalidad];
                const ordSel = ordSel_.trim();
                siderPassed = (ordSel.includes('-') && self.siders.terminal) || (!ordSel.includes('-') && self.siders.punta);
            }
            if (!isTerminales || siderPassed) apus.push(idJugada);
        }
        return apus
    }, []);

    if (!idApuestas.length) {
        const just1 = this.selected_sorteos.length == 1;
        const s_ = just1 ? '' : 's';
        this.fireToastMsg(`${just1 ? 'el' : 'los'} sorteo${s_} seleccionado${s_} no tiene${just1 ? '' : 'n'} apuestas de ${this.siders.punta && !this.siders.terminal ? 'puntas' : 'terminales'}`, {icon: 'info'});
        this.loading = false;
        return;
    }

    const pl = idApuestas.length > 1;
    this.awaitExecuter(
        ['closeTheModal', []], 
        ['removeFromTable', [false, idApuestas, '', 'idJugada']],
        ['fireToastMsg', [`Fue${pl ? 'ron' : ''} borrada${pl ? 's' : ''} ${idApuestas.length} jugada${pl ? 's' : ''} satisfactoriamente`, { icon: 'success' }]], 
    );
}

// REPETIR APUESTA  (f) / GENERAR TERMINALES (g)
async function aceptarRAGT (funcName) {
    const isRepetir = funcName == 'repetir-apuesta';
    const self = this;
    this.loading = true;
    const dataParaPadre = { esModal: true, siders: this.siders, funcName, sorteos: {} };
    const specifySorteo = (sorteo, srt = {}, mod = '') => ({
        ...sorteo,
        ...srt,
        asked: +this.form.apuestamonto,
        played: +this.form.apuestamonto,
        currentModality: mod,
        typeBet: mod,
        functionType: '',
        betGroup: [],
        idJugadas: [],
    });
    
    const apuestas = this.selected_sorteos.reduce((apus, sorteo) => {
        const forGenerar = objSome(sorteo.allTypes, (modK) => self.modalidades[modK] && self.rgxSiders.test(self.modalidades[modK].ordenSeleccion.trim()));
        if (!isRepetir && forGenerar) 
            for (let i = 0; i < sorteo.betGroup.length; i++) {
                const idSorteo = sorteo.guid;
                const detalle = sorteo.betGroup[i].reduce((codes, [identf, campo]) => {
                    const codeCampo = (campo instanceof Array ? '**' : typeof campo != 'string' ? '*' : '') + identf[1];
                    codes[codeCampo] = [
                        ...(codes[codeCampo] || []),
                        ...(campo instanceof Array ? campo : [campo])
                    ];
                    return codes
                }, {});
                dataParaPadre.sorteos[idSorteo] = [
                    ...(dataParaPadre.sorteos[idSorteo] || []),
                    detalle
                ];
            }
        const bets = !isRepetir ? [] : objReduce(sorteo.allTypes, (bts, mod) => {
            if (self.modsAndBets[mod]) {
                const slice = self.modsAndBets[mod].slice(self.option == 'option1' ? 0 : -1).map(srt => specifySorteo(sorteo, srt, mod));
                bts.push(...slice);
            }
            return bts
        }, []);

        apus.push(...(isRepetir ? bets : [specifySorteo(sorteo)]));
        return apus
    }, []);

    if (!apuestas.length) {
        const just1 = this.selected_sorteos.length == 1;
        const s_ = just1 ? '' : 's';
        this.fireToastMsg(`No hay apuestas que correspondan con ${just1 ? 'el' : 'los'} sorteo${s_} seleccionado${s_}`, {icon: 'info'});
    }

    const {sorteosYaValidados, falloPorFecha} = apuestas.reduce((data, sorteo) => {
        if (nowEpoched() < epoched(sorteo.fechacierre)) data.sorteosYaValidados.push(sorteo);
        else data.falloPorFecha = true;
        return data
    }, {sorteosYaValidados: [], falloPorFecha: false});

    
    const toastMsg = falloPorFecha ? `${sorteosYaValidados.length ? 'Algunos' : 'Todos los'} sorteos fueron descartados por superar su fecha de cierre` : '';
    if (toastMsg) this.fireToastMsg(toastMsg, {icon: 'info'});

    if (!sorteosYaValidados.length) {
        this.loading = false;
        return;
    }

    this.awaitExecuter(
        ['closeTheModal', []], 
        ['addToTable', [dataParaPadre, sorteosYaValidados, toastMsg ? [toastMsg] : []]]
    );
}

async function awaitExecuter (...funcs) {
    for (let i = 0; i < funcs.length; i++) {
        await this.modalTimingExec();
        this[funcs[i][0]](...funcs[i][1]);
    }
}

function closeTheModal (with_ = false) {
    this.closeModal(with_ ? this.loading : false);
    this.modalTimingExec();
}

function checkSider (e) {
    const self = this;
    if (e?.target?.value) {
        const trgt = e.target;
        const onlyOne = Object.values(this.siders).some(val => !val);
        if (!trgt.checked && onlyOne) {
            const sss = self.getRef(self, 'modal'+trgt.value).getElementsByTagName("input")[0];
            if (sss) setTimeout(() => {
                sss.click();
            });
        }
        else this.siders[trgt.value] = trgt.checked;
    }
}

function captureModalKeyDown (e = null) {
    e.stopPropagation();
    const theCode = e?.keyCode || e?.which || 1; // SI LA TECLA PRESIONADA NO BRINDA INFORMACION, POR DEFECTO SERA EL CODIGO 1
    if ((this.btnFocused && theCode === 13) || this.modalTimingExecuting || this.loading) return;

    if (theCode === 13) { // ENTER
        if (!this.aceptarDisabledML()) this.getRef(this, 'acceptbtn', false)?.click();
        return;
    }
    if (theCode === 27) { // ESCAPE
        this.closeTheModal(true);
        return;
    }
}

function eventListenerRemover () {
    document.removeEventListener('keydown', this.captureModalKeyDown, false);
}
//#endregion

//#region COMPUTED
function curr_type () {
    return (this.visibleModal?.scLttr && { [this.visibleModal.scLttr]: true }) || null
}

function visible_modal_computed () {
    if (this.visibleModal) return true;
    return false
}

function sorteos_filtered () {
    const self = this;
    const thaSorteos = this[this.curr_type?.f ? 'sorteosSet' : 'selectedSorteosSet'].filter(sorteo => {
        const goodDate = self.rightDateSrtInModal(sorteo);
        return (self.productActive === 'todos' || sorteo.product == self.productActive) && goodDate
    });
    const sortedData = thaSorteos.sort((a, b) => a.fechacierre < b.fechacierre ? -1 : a.fechacierre > b.fechacierre ? 1 : a.name.localeCompare(b.name));
    return sortedData
}

function selected_sorteos () {
    return this.sorteos_filtered.filter(srt => srt.checked)
}

function sorteos_list_all () {
    const srtsHere = this[this.curr_type?.f ? 'sorteosSet' : 'selectedSorteosSet'].reduce((srts, srt) => ({...srts, [srt.product]: true}), {});
    return this.sorteosList.reduce((all_, sorteoK) => ([...all_, ...(!all_.some(srt => srt.code === sorteoK.code) && (srtsHere[sorteoK.code] || sorteoK.code == 'todos') ? [sorteoK] : [])]), [])
}
//#endregion

//#region DATA
function data () {
    return {
        loading: false,
        acceptLabel: 'Aceptar',
        productActive: 'todos',
        size: -1, // 7,
        option: 'option2',
        siders: {},
        sidersCount: 0,
        btnFocused: false,
    }
}
//#endregion

//#region LIFECYCLEHOOKS
function setup (props) {
    const multimonedaStore = useMultimoneda()
    const { moneda, minTicket, maxTicket } = storeToRefs(multimonedaStore)
    const sorteosSet = ref([])
    const selectedSorteosSet = ref([])
    const selectedSorteosSetAll = ref({})
    const form = ref({ apuestamonto: '' })
    const formMonto = ref({ len: -1, code: 'monto', label: 'monto', wrong: false, montoMinimo: Infinity, montoMultiplo: Infinity, errLabel: 'precision', required: false })
    const modsAndBets = ref({})

    onUpdated(() => {
        const crrLtr = props?.visibleModal?.scLttr ? { [`${props.visibleModal.scLttr}`]: true } : null;
        sorteosSet.value = crrLtr?.f ? props.sorteos.map(sorteo => new Sorteo({...sorteo, checked: false})) : []

        let modsAndBetsPre = props.selectedSorteos.reduceRight((modsBets, sorteo) => {
            let entroIf;
            if (!modsBets[sorteo.typeBet] || !modsBets[sorteo.typeBet][0].includes(sorteo.descApuesta)) {
                if (!modsBets[sorteo.typeBet]) modsBets[sorteo.typeBet] = [[sorteo.descApuesta]];
                else modsBets[sorteo.typeBet][0].push(sorteo.descApuesta);
                entroIf = true;
            }
            modsBets[sorteo.typeBet] = [
                ...modsBets[sorteo.typeBet], 
                ...(entroIf ? [{
                    bet: sorteo.bet, 
                    descApuesta: sorteo.descApuesta,
                    apuestas: [...sorteo.apuestas], 
                    simbolos: [...sorteo.simbolos],
                    multiplicador: [...sorteo.multiplicador]
                }] : [])
            ];
            return modsBets
        }, {})

        modsAndBetsPre = objMap(modsAndBetsPre, (val) => {
            val.reverse()
            val.pop()
            return val
        }, true)

        modsAndBets.value = modsAndBetsPre

        // GENERA OBJ DE TIPO: { 'desc_de_sorteo1': [ obj-sorteo-perteneciente1, ..., obj-sorteo-pertenecienteN], ..., 'desc_de_sorteoN': [...] }
        // l: por terminales, q: por sorteos, g: generar terminales
        const slsa = ['l','q','g'].includes(Object.keys(crrLtr || {})[0]) ? props.selectedSorteos.reduce((sorteos, sorteo) => ({
            ...sorteos, 
            ...(crrLtr?.q || (
                sorteo.apuestas.length && 
                props.modalidades[sorteo.typeBet] && 
                (props.rgxSiders.test(props.modalidades[sorteo.typeBet].ordenSeleccion.trim()) == !!crrLtr?.l) &&
                (!!crrLtr?.l || objSome(sorteo.allTypes, (mod) => props.rgxSiders.test(props.modalidades[mod].ordenSeleccion.trim()))) // se añadio validacion para saber si el sorteo a añadir admite terminal (esto para generar terminales - g)
               ) 
                ? { [sorteo.numeroSorteo() + sorteo.section[0]]: [
                        new Sorteo({
                            ...sorteo, 
                            checked: false, 
                            betGroup: [
                                ...(sorteos[sorteo.numeroSorteo() + sorteo.section[0]] || [{betGroup:[]}])[0].betGroup,
                                [...sorteo.multiplicador]
                            ],
                            idJugadas: [
                                ...(sorteos[sorteo.numeroSorteo() + sorteo.section[0]] || [{idJugadas:[]}])[0].idJugadas,
                                [sorteo.idJugada, sorteo.typeBet]
                            ],
                        }),
                        ...(sorteos[sorteo.numeroSorteo() + sorteo.section[0]] || [])
                    ] } 
                : {})
        }), {}) : {}
        selectedSorteosSetAll.value = slsa
        selectedSorteosSet.value = Object.values(slsa).map(arr => arr[0])
    })

    const changeValsMonto = (...vals) => {
        formMonto.value = { 
            ...formMonto.value, 
            ...vals.reduce((finalObj, currVal) => ({...finalObj, [currVal[0]]: currVal[1]}), {})
        }
    }

    return {
        sorteosSet,
        selectedSorteosSet,
        selectedSorteosSetAll,
        form,
        formMonto,
        labels,
        getTruncated,
        modForJS,
        changeValsMonto,
        modsAndBets,
        moneda, 
        minTicket, 
        maxTicket,
    }
}

function unmounted () {
    this.eventListenerRemover();
}
//#endregion

//#region WATCHERS
// aca tambien se reinicializan valores
function visibleModal (val) {
    this.loading = false;
    if (val) {
        const {siders, count} = objReduce(this.sidersFather, (sidersFinal, sider) => ({
            siders: {...(sidersFinal.siders || {}), [sider]: true}, 
            count: (sidersFinal.count || 0) + 1
        }), {});
        this.siders = siders;
        this.sidersCount = count;
        this.modalTimingExec();
    }
    if (this.form && !val) {
        this.acceptLabel = 'Aceptar';
        // this.internalCloser = false;
        this.option = 'option2';
        this.productActive = 'todos';
        this.siders = {};
        this.sidersCount = 0;
        this.form.apuestamonto = ''; // REINICIALIZA VALORES
        this.formMonto.wrong = false;
    }

    document[`${val ? 'add' : 'remove'}EventListener`]('keydown', this.captureModalKeyDown, false);
}
//#endregion

export default {
    name: 'ModalLot',
    mixins: [ globalMixin ],
    components: {
        InputLot,
        CCLoader,
        HelperModalStructure,
    },
    data,
    props: {
        visibleModal: {
            type: Object,
            default: null,
        },
        closeModal: Function,
        /* -- REPETIR APUESTA -- */
        sorteosList: Array, // LISTADO DE SORTEOS
        sorteos: Array, // LISTADO DE TIPOS DE SORTEO
        selectedSorteos: Array, // SORTEOS JUGADOS EN LA TABLA
        /* --------------------- */
        /* -- BORRAR TERMINALES -- */
        removeFromTable: Function,
        /* ----------------------- */
        precision: {
            type: Object,
            default: () => ({
                maxLen: 100,
                precision: 4,
            }),
        },
        modalidades: Object,
        modalidadComponentes: Object,
        sidersFather: Object,
        rgxSiders: RegExp,
        addToTable: Function,
        ticketTotal: Number,
    },
    setup,
    watch: {
        visibleModal,
        selected_sorteos: function (sorteos) {
            const self = this;
            this.changeValsMonto(['montoMinimo', this.maxTicket], ['montoMultiplo', Infinity]);
            if (sorteos.length)
                sorteos.forEach(sorteo => {
                    objForEach(sorteo.allTypes, ({montoMinimo, montoMultiplo}) => {
                        const min = montoMinimo[self.moneda.codigoMoneda], mult = montoMultiplo[self.moneda.codigoMoneda];

                        self.changeValsMonto(...([
                            ...(min  < self.formMonto.montoMinimo   ? [['montoMinimo', min]] : []), 
                            ...(mult < self.formMonto.montoMultiplo ? [['montoMultiplo', mult]] : [])
                        ]));
                        self.callVals();
                    }, 'v');
                });
            else {
                this.form.apuestamonto = ''; // REINICIALIZA VALORES
                this.formMonto.wrong = false;
            }
        },
    },
    methods: {
        closeTheModal,
        captureModalKeyDown,
        eventListenerRemover,
        aceptarMeth,
        cancelarMeth,
        /* -- REPETIR APUESTA -- */
        setActiveProduct,
        uncheckWhichShould,
        callVals,
        aceptarDisabledML,
        /* --------------------- */
        /* -- BORRAR TERMINALES / POR SORTEOS -- */
        aceptarB,
        checkSider,
        /* ----------------------- */
        // consoleAll() {
        //     console.log('this.form', this.form);
        //     console.log('this.selectedSorteosSetAll', this.selectedSorteosSetAll);
        // },
        aceptarRAGT,
        awaitExecuter,
        rightDateSrtInModal: function (sorteo) {
            return nowEpoched() < epoched(sorteo.fechacierre)
        },
    },
    computed: {
        curr_type,
        visible_modal_computed,
        /* -- REPETIR APUESTA -- */
        sorteos_filtered,
        selected_sorteos,
        sorteos_list_all,
        /* --------------------- */
    },
    unmounted,
}
</script>

<style lang="scss" scoped>
ul {
    li {
        i {
            font-weight: 500;
        }
    }
}
</style>