<template>
    <div 
        class="position-relative width-selectors" 
        v-bind:class="[
            isDestroyed && !soloway ? 'ps-2' : '',
            applyCarousselDown && doApplyCarousselDown && isDestroyed && sidebarApplied && !sideHelpApplied && !soloway ? 'ps-md-0 ps-lg-2' : '',
            applyCarousselDown && doApplyCarousselDown && isDestroyed && sidebarApplied && sideHelpApplied && !soloway ? 'ps-md-0 ps-xl-2' : '',
            applyCarousselDown && doApplyCarousselDown && sidebarApplied && !soloway ? 'bar-applied' : '',
            applyCarousselDown && doApplyCarousselDown && sideHelpApplied && !soloway ? 'help-applied' : '',
            threeway ? 'threeway' : '',
            soloway ? 'soloway' : ''
        ]">
        <div 
            ref="container" 
            class="keen-slider p-1" 
            v-bind:class="[
                !isDestroyed ? 'has-arrows' : '',
                isOverFlowed ? 'flex-wrap' : ''
            ]"
        >
            <div 
                v-for="(cdata, cI) in carouselData" 
                :key="cI" 
                class="keen-slider__slide" 
                v-bind:class="[
                    isDestroyed ? 'w-auto' : '',
                    isOverFlowed ? 'my-1 flex-grow-1' : ''
                ]"
                v-bind:style="{
                    marginLeft: isDestroyed && !isOverFlowed && cI ? (spacing+'px') : '0px',
                    marginRight: isOverFlowed && isDestroyed ? (spacing+'px') : '0px',
                    maxWidth: isOverFlowed ? ('calc('+getSlideWidth(cI)+')') : '100%'
                }"
            >
                <div class="in-slide" v-bind:class="isOverFlowed ? 'w-100' : ''">
                    <slot name="slide" v-bind="{product: cdata, data: cdata}" /><!-- se cambio cI por cdata, para filtrar productos por su codigo y no pisicion -->
                </div>
            </div>
        </div>
        <template v-if="!isDestroyed && carouselData.length">
            <a href="javascript:void(0);" class="d-flex text-decoration-none color-gray position-absolute top-50 start-custom translate-middle-y" @click="slidePrev">
                <CIcon icon="cic-caret-left" size="xxl" />
            </a>
            <a href="javascript:void(0);" class="d-flex text-decoration-none color-gray position-absolute top-50 end-custom translate-middle-y" @click="slideNext">
                <CIcon icon="cic-caret-right" size="xxl" />
            </a>
        </template>
    </div>
</template>

<script>
import { useKeenSlider } from 'keen-slider/vue.es'
import 'keen-slider/keen-slider.min.css'
import { ref } from 'vue'
import { timeOfSideHelp } from '@/_helpers/general'

export default {
    name: 'CCCarousel',
    props: {
        carouselData: {
            type: Array,
            default: () => [],
        },
        shouldUpdate: {
            type: Array,
            default: () => [],
        },
        slideActive: {
            type: Array,
            default: () => [0],
        },
        sidebarApplied: {
            type: Boolean,
            default: false,
        },
        sideHelpApplied: {
            type: Boolean,
            default: false,
        },
        setCarousselDown: {
            type: Function,
            default: () => {},
        },
        threeway: {
            type: Boolean,
            default: false,
        },
        soloway: {
            type: Boolean,
            default: false,
        },
        isMobile: Boolean,
    },
    data() {
        return {
            numMax: 2,
        }
    },
    setup(){
        const current = ref(0)
        const currentTO = ref(null)
        const isDestroyed = ref(false)
        const isOverFlowed = ref(false)
        const doApplyCarousselDown = ref(true)
        const spacing = ref(7)
        const [container, slider] = useKeenSlider({
            loop: true,
            mode: "snap",
            rtl: false,
            slides: { 
                spacing: spacing.value,
                perView: "auto" 
            },
        }, [
            slide => {
                slide.on('detailsChanged', (s) => {
                    if (s?.track?.details) current.value = s.track.details.rel
                })
            }
        ])
        return { container, slider, current, timeOfSideHelp, currentTO, isDestroyed, isOverFlowed, doApplyCarousselDown, spacing }
    },
    methods: {
        slidePrev: function () {
            this.slider.prev()
        },
        slideNext: function () {
            this.slider.next()
        },
        slideDestroy: function () {
            this.slider.destroy()
        },
        slideUpdate: function () {
            const self = this;
            if (this.currentTO) clearTimeout(this.currentTO);
            this.currentTO = setTimeout(() => {
                self.slider.update(self.slider.options, self.current);
                const pillsSize = self.slider.slides.reduce((result, slide) => result + slide.children[0].offsetWidth, (self.spacing * (self.slider.slides.length - 1)));
                const notOverFlowed = self.slider.slides.length < 2 || self.slider.size > pillsSize;
                if (!self.isMobile || notOverFlowed) {
                    self.slideDestroy();
                    self.isDestroyed = true;
                    self.isOverFlowed = !self.isMobile && !notOverFlowed;
                } 
                else {
                    if (self.isMobile) self.isOverFlowed = false;
                    if (self.slider.size > 1) self.isDestroyed = false;
                }
            }, self.timeOfSideHelp);
        },
        getSlideWidth: function (i) {
            const slide = this.slider.slides[i];
            const offSideWidth = slide?.querySelector('.slide-desc')?.offsetWidth || slide?.children[0]?.offsetWidth;
            const val = offSideWidth ? (offSideWidth + 'px + 3rem') : '100%';
            return val
        },
        setOverFlowFalse: function () {
            const self = this;
            this.isDestroyed = true;
            this.isOverFlowed = false;
            this.setCarousselDown(false);
            this.doApplyCarousselDown = false;
            setTimeout(() => {
             self.setCarousselDown(self.carouselData.length > self.numMax);
             self.doApplyCarousselDown = true; 
            });
        },
    },
    watch: {
        ...["shouldUpdate","carouselData"].reduce((wtchrs, currWatch) => ({
            ...wtchrs,
            [currWatch]: function () {
                this.slideUpdate()
            }
        }), {}),
        // slideActive: function (val) {
        //     this.slider.moveToIdx(val[val.length - 1]);
        // },
        carouselData: function (val) {
            this.setCarousselDown(val.length > this.numMax);
        }
    },
    computed: {
        applyCarousselDown: function () {
            return this.carouselData.length > this.numMax
        },
    },
    unmounted() {
        this.slideDestroy()
    }
}
</script>

<style lang="scss" scoped>
.keen-slider {
    &.has-arrows {
        margin-inline-start: 1.5rem;
        width: calc(100% - 3rem);
        z-index: 1;
    }

    .keen-slider__slide {
        overflow: visible !important;

        .in-slide {
            width: max-content;
            display: flex;
            flex-direction: column;
        }
    }
}

.width-selectors {
    .start-custom {
        left: -5px;
    }
    .end-custom {
        right: -5px;
    }

    @include mediaquery(md) {
        width: calc(100% - 17.2rem) !important; // 7.2rem + 10rem
        &.soloway {
            width: calc(100% - 7.2rem) !important;
        }
        &.threeway {
            width: calc(100% - 23.2rem) !important; // 7.2rem + 16rem
        }

        @include mediaquery(lg, 'max') {
            &.bar-applied:not(.help-applied) {
                width: 100% !important;
            }
        }
        @include mediaquery(xl, 'max') {
            &.bar-applied.help-applied {
                width: 100% !important;
            }
        }
    }
}
</style>