<template>
    <div :class="'custom-wrapper' + (extraClasses ? (' ' + extraClasses) : '') + (!bkey && !label ? ' d-none' : '')">
        <input 
            class="check-custom d-block" 
            type="checkbox" 
            :id="'btn-check-' + identifier" 
            :value="identifier" 
            :checked="inputVal === identifier" 
            @change="updateFilter"
        >
        <label 
            :for="'btn-check-' + identifier" 
            class="d-flex text-capitalize" 
            v-bind:class="[inputVal === identifier ? 'active' : '']"
        >
            <span v-if="label || label2">{{ label2 || label }}</span>
            <span v-if="bkey || (label2 && label)"><span v-if="label || label2">&nbsp;</span>{{ label2 && label ? label : bkey }}</span>
        </label>
    </div>
</template>

<script>
// METHODS
function updateFilter(e) {
    const val = e?.target;
    if (val?.value) {
        if (val.checked) this.$emit('update:modelValue', val.value);
        else this.$emit('update:modelValue', '');
    }
}

// COMPUTED
const inputVal = {
    get() {
        return this.modelValue;
    },
    set(val) {
        this.$emit('update:modelValue', val)
    }
};

export default {
    name: 'CCFilterButon',
    props: [
        'modelValue', 
        'identifier', 
        'label',
        'label2',
        'bkey',
        'extraClasses',
    ],
    emits: ['update:modelValue'],
    computed: {
        inputVal,
    },
    methods: {
        updateFilter,
    },
}
</script>

<style lang="scss" scoped>
.custom-wrapper {
    input {
        @include sqrDist(0,'width','height');
    }

    label {
        cursor: pointer;
        height: 100%;
        @include sqrDist(center,'align-items','justify-content');
        background: transparent;

        &.active {
            background: $soft-gray !important;
        }
    }

    @mixin triangle ($properties...) {
        @for $i from 0 to length($properties) {
            @if $i == 0 {
                #{nth($properties, $i + 1)}: 0 !important;
            } @else {
                #{nth($properties, $i + 1)}: transparent !important;
            }
        }
    }

    @mixin floater ($type: 'after') {
        &::#{$type} {
            content: "";
            position: absolute;
            @content;
        }
    }

    &:not(.liner) label {
        @include borderGray;
    }

    &.liner label {
        @include sqrDist(2rem,'width','height');
        margin-left:auto;
        @include borderGray;
        position: relative;

        @include floater {
            @include borderGray(8px);
        }
    }

    &.liner1 label {
        margin-block:auto;
        right: 0.5rem;

        @include floater {
            bottom: 0.3rem;
            right: -0.65rem;
            @include triangle('border-right','border-top-color','border-bottom-color');
        }
    }

    &.liner2 {
        width: 100%;

        label {
            margin-top: auto;
            margin-bottom: 0.5rem;
            right: -1rem;

            @include floater {
                bottom: -0.65rem;
                left: 0.35rem;
                @include triangle('border-bottom','border-left-color','border-right-color');
            }
        }
    }

    &.liner3 label {
        @include sqrDist(auto,'margin-right','margin-top');
        top: 1.05rem;

        @include floater {
            bottom: 0.3rem;
            left: -0.65rem;
            @include triangle('border-left','border-top-color','border-bottom-color');
        }
    }

    &.street {
        display: flex;
        justify-content: center;
        
        label {
            width: 4rem;
            height: 3.5rem;
            @include sqrDist(auto,'margin-block','margin-right');
            border-radius: 10px;
            margin-left: 0.5rem;
            position: relative;

            @include floater('before') {
                @include borderGray(6px);
                @include triangle('border-left','border-top-color','border-bottom-color');
                left: -1.5rem;
                top: 1.24rem;
            }
            @include floater {
                width: 1.25rem;
                height: 3px;
                background: $soft-gray;
                left: -1.3rem;
                top: 1.5rem;
            }
        }
    }

    @mixin sharedStretch {
        width: 100%;
        padding-inline: 6px;

        label {
            width: 100%;
            height: 2rem;
            @include sqrDist(auto,'margin-bottom','margin-inline');
            border-top: 0 !important;
        }
    }

    &.column {
        @include sharedStretch;
    }

    &.dozen:not(.firstchild) {
        @include sharedStretch;
    }

    &.half:not(.firstchild) {
        @include sharedStretch;
    }

    &.colors, &.evens {
        label {
            width: 4rem;
            padding-inline: 0.25rem;
        }

        &.firstchild {
            padding-right: 0.5rem;
        }

        $box-eachers: ('colors.firstchild','#5e5e5e'), ('colors.lastchild','#f18d8d'), ('evens','#88bfa5');
        @each $box-eacher in $box-eachers {
            &.#{nth($box-eacher, 1)} label {
                @include borderGray($color: #{nth($box-eacher, 2)});
            }
        }
    }
}
</style>