<template>
    <div 
        v-if="!inline"
        class="top-0 start-0 w-100 h-100 bg-dark whole-background-backdrop"
        v-bind:class="[
            inside ? 'position-absolute' : 'position-fixed',
            rounded ? 'w-radius' : ''
        ]"
    >
        <div class="spinner-grow text-light m-auto" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <template v-else>
        <span v-for="tm in times" :key="tm" class="spinner-grow spinner-grow-sm" v-bind:class="tm ? 'ms-1' : ''" role="status" aria-hidden="true"></span>
    </template>
</template>

<script>
export default {
    name: 'CCLoader',
    props: {
        inside: Boolean,
        inline: Boolean,
        rounded: Boolean,
        times: {
            type: Number,
            default: 1
        }
    },
}
</script>

<style lang="scss" scoped>
.whole-background-backdrop {
    --cui-bg-opacity: .35; 
    display: flex;
    z-index: 1;

    &.w-radius {
        border-radius: 6px;
    }

    &.position-fixed {
        z-index: 1040;

        .spinner-grow {
            @include sqrDist(4rem,'width','height');
        }
    }
}
</style>