<template>
    <div class="table-component-container">
        <div 
          id="theTableRefDiv"
          class="table-wrapper" 
          v-bind:class="[
            resumeRow?.label ? '' : 'mb-3',
            loading && !resumeRow?.label ? 'overflow-hidden' : '',
            resumeRow?.label && !loading && !isMobile ? 'overflow-auto overflow-not-horz' : '',
            resumeRow?.label && !loading && isMobile ? 'overflow-auto' : '',
            wide ? 'w-100' : ''
          ]" 
          v-bind:style="{ maxHeight: maxHeight }"
        >
            <VTable 
                ref="theTableRef"
                id="theTableRef"
                class="cmp-main-table w-100"
                :data="tableData"
                :filters="filters"
                selectionMode="multiple"
                selectedClass="selected-in-table"
                :selectOnClick="false"
                @stateChanged="setTableState($event, tableNum)"
                :pageSize="pageSize"
                v-model:currentPage="currentPage"
                @totalPagesChanged="totalPages = $event"
            >
                <template #head="{ allRowsSelected, toggleAllRows }">
                    <tr>
                        <th v-if="!hideActions" v-bind:style="{ minWidth: optionsColWidth+'rem', width: optionsColWidth+'rem' }">
                            <template v-if="!hideActionsHeader"> 
                              <span v-bind:class="multidelete ? 'me-1' : ''">
                                <CFormCheck
                                  id="select-all-in-table-check"
                                  v-if="checkCol || multidelete"
                                  :checked="allRowsSelected && tableData.length"
                                  @change="toggleAllRows"
                                  :disabled="!tableData.length || applyDisBy(disBy)"
                                />
                              </span>
                              <a 
                                  v-if="(!checkCol && !hideClearAll && !checkCol) || multidelete"
                                  href="javascript:void(0);" 
                                  class="text-decoration-none text-gray"
                                  v-bind:class="loading || !pressable || trashGlobalDis ? 'text-gris' : ''"
                                  @click="loading || !pressable || trashGlobalDis ? () => {} : unselectFromTable(allData, alertMsgs, true, true, tableNum)"
                                  @focus="loading || !pressable || trashGlobalDis ? () => {} : updateBtnFocused(true)"
                                  @blur="loading || !pressable || trashGlobalDis ? () => {} : updateBtnFocused(false)"
                              ><CIcon icon="cil-trash" /></a>
                            </template>
                        </th>
                        <template v-for="(fth, i) in inTableData" :key="i">
                            <!-- <VTh v-if="fth.sort" :sortKey="sortingMethods(fth.name)[fth.name]" class="text-capitalize" v-bind:style="{ width: getColW(i, fth) }">{{ fth.name }}</VTh> -->
                            <th :id="fth.attr+'-th'" class="text-gray" v-bind:class="resumeRow?.label && (i == inTableData.length - 1) ? 'pe-3' : ''" v-bind:style="{ width: getColW(i, fth) }">{{ getColName(fth) }}</th><!-- v-else -->
                        </template>
                    </tr>
                </template>
                <template #body="{rows}">
                    <CCLoader v-if="loading" inside />
                    <tr v-if="!tableData.length"><td v-for="num in (inTableData.length + (actions.length && !hideActions ? 1 : 0))" :key="num"></td></tr>
                    <VTr
                      v-for="(row, ri) in rows"
                      :key="row.guid"
                      :row="row"
                      :id="'bet-jug-'+(row.idJugada || row.guid)"
                      v-slot="{ isSelected, toggle}"
                    >
                        <td v-if="(actions.length && !hideActions) || checkCol">
                            <span v-bind:class="multidelete ? 'me-1' : ''">
                              <CFormCheck
                                :id="'select-single-in-table-check-'+row.idJugada"
                                v-if="checkCol || multidelete"
                                :checked="isSelected"
                                :disabled="disByTipoBloqueoOneRow(row)"
                                @change="toggle"
                              />
                            </span>
                            <CCWrapper 
                              v-if="!checkCol || multidelete" 
                              :component="optionsAsGrid ? 'div' : ''" 
                              :cclass="optionsAsGrid && !viewDataModal ? ('as-grid'+(actions.length || '')) : viewDataModal ? 'as-grid2' : ''"
                              :cclass2="hideActionsNone ? 'd-none' : ''"
                            >
                              <template v-for="(aTag, pos) in actions" :key="pos">
                                <a v-if="!aTag[0] || (aTag[0] && hideClearAll)"
                                  href="javascript:void(0);" 
                                  class="text-decoration-none color-gray text-center"
                                  v-bind:class="[
                                    aTag[4] ? 'icon-dis' : '',
                                    aTag[2] === 'unselect' && disByTipoBloqueoOneRow(row) ? 'text-gris' : ''
                                  ]"
                                  @click="((loading || !pressable || disByTipoBloqueoOneRow(row)) && aTag[2] === 'unselect') || aTag[4] ? () => {} : getMeth(aTag[2], row)"
                                  @focus="aTag[4] || doNotEmit || ((loading || !pressable || disByTipoBloqueoOneRow(row)) && aTag[2] === 'unselect') ? () => {} : getMeth('updateBtnFocused', true)"
                                  @blur="aTag[4] || doNotEmit || ((loading || !pressable || disByTipoBloqueoOneRow(row)) && aTag[2] === 'unselect') ? () => {} : getMeth('updateBtnFocused', false)"
                                  :title="aTag[3]"
                                ><CIcon :icon="aTag[1]" /></a>
                                <CFormCheck
                                    v-if="viewDataModal"
                                    :checked="isSelected"
                                    @change="toggle"
                                />
                              </template>
                            </CCWrapper>
                        </td>
                        <template v-for="(ftd, i) in inTableData" :key="i">
                          <td 
                            v-bind:class="resumeRow?.label && (i == inTableData.length - 1) ? 'pe-3' : ''"  
                            @dblclick="!ftd.inputMonto ? () => {} : shouldChangeToInput(row.idJugada)"
                          >
                            <template v-if="basicTable || ftd.strATOB">{{ getRowAttr(ftd, row, ftd.strATOB) }}</template>
                            <template v-else-if="ftd.str || ftd.slct">
                              <template v-if="ftd.str">{{ row[tdAttr(ftd)] || '0' }}{{ ftd.str }}</template>
                              <template v-else>{{ 
                                typeof ftd.slct == 'string' 
                                  ? (ftd.slct.includes('.') ? getByAttr(row, ftd) : getDymc(ftd, row))
                                  : optionsLabelsStatic[tdAttr(ftd)][row[tdAttr(ftd)]] 
                              }}</template>
                            </template>
                            <template v-else-if="tdAttr(ftd) === 'signo' || tdAttr(ftd) === 'estatusSorteo'">
                              <CFormSelect
                                  aria-label="select"
                                  class="custom-input-class"
                                  @change="actionChangeSimbol($event,row)"
                              >
                                  <option value="seleccione" disabled>Seleccione</option>
                                  <option 
                                        v-for="(option, sel_i) in (tableData[0].signo || tableData[0].estatusSorteo)" 
                                        :key="sel_i"
                                        :value="option.value"
                                    >
                                        {{option.label}}
                                  </option>
                              </CFormSelect>
                            </template>
                            <template v-else-if="ftd.fromParent">{{ getFromParent(getRowAttr(ftd, row), ftd.fromParent) }}</template>
                            <template v-else-if="!ftd.cmp">
                              <template v-if="ftd.inputable">                                                            
                                <CFormInput                                      
                                  v-if="ftd.inputable === 'text'"
                                  type="text"
                                  :id="'input-text-'+ri"
                                  v-model="v$.tableData.$model[ri][ftd.attr]"
                                  @update:modelValue="checkValidity"
                                /> 
                                <CFormTextarea 
                                  v-else 
                                  :id="'input-textarea-'+ri"
                                  v-model="v$.tableData.$model[ri][ftd.attr]"
                                  @update:modelValue="checkValidity"
                                  rows="1"
                                ></CFormTextarea>
                                <small v-if="v$.tableData.$each.$response.$data[ri][ftd.attr].$error" class="wrong-input">{{v$.tableData.$each.$response.$errors[ri][ftd.attr][0].$message}}</small>
                              </template>
                              <template v-else-if="!applyMontoEditable || !rowModifiable || !ftd.inputMonto || !modifying || selectedId != row.idJugada">
                                <!-- &nbsp; -->
                                <template v-if="typeof getRowAttr(ftd, row) == 'number' || getRowAttr(ftd, row)">
                                  <span v-if="(monedaStatic || moneda) && showCurrency && ftd.dir && ftd.dir == 'dot'">
                                    {{monedaStatic || moneda.simboloMoneda}}
                                  </span>
                                  <span v-numberComma:[ftd.dir]="truncateNum ? {truncate: truncateNum, val: getRowAttr(ftd, row)} : getRowAttr(ftd, row)">
                                    {{ getRowAttr(ftd, row) }}
                                  </span>
                                </template>
                                <span v-else></span>
                              </template>
                              <MontoEditable 
                                v-else
                                :sorteo="row"
                                :changeMonto="modifyMontoSrt"
                                :precision="precision"
                                :ticketTotal="ticketTotal"
                                :hideInput="hideMontoInput"
                                :inputClasses="'apuestamontoinput'+row.idJugada"
                              />
                            </template>
                            <template v-else><CFormSwitch :id="'switchCheck'+i" v-model="row[tdAttr(ftd)]" :checked="getRowAttr(ftd, row)" disabled /></template>
                          </td>
                        </template>
                    </VTr>
                </template>
            </VTable>
        </div>
        <div 
          v-if="resumeRow?.label"
          id="tableResumeDiv"
          class="table-wrapper mb-3" 
          v-bind:class="[
            loading || shouldHideOverflow ? 'overflow-hidden' : '',
            wide ? 'w-100' : ''
          ]" 
        >
          <VTable ref="tableResume" id="tableResume" class="cmp-main-table w-100" :data="[]" v-bind:style="thisRowW.theTableRef">
            <template #head>
              <tr>
                <th v-bind:style="{ minWidth: optionsColWidth+'rem', width: optionsColWidth+'rem' }">
                  {{ getColName({ name: resumeRow.label }) }}
                </th>
                <template v-for="(rth, j) in inTableData" :key="j">
                  <th class="text-gray" v-bind:style="thisRowW[rth.attr] || {}">
                    <span v-if="moneda && showCurrency">
                      {{moneda.simboloMoneda}}
                    </span>
                    <span v-numberComma:dot="truncateNum ? {truncate: truncateNum, val: getRowAttr(rth, resumeRow.data)} : getRowAttr(rth, resumeRow.data)">
                      {{ getRowAttr(rth, resumeRow.data) }}
                    </span>
                  </th>
                </template>
              </tr>
            </template>
          </VTable>
        </div>

        <VTPagination
            v-if="showPagination"
            v-model:currentPage="currentPage"
            :total-pages="totalPages"
            :boundary-links="true"
            :hideSinglePage="true"
            :maxPageLinks="3"
        />
    </div>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import { numberComma } from '@/directives/number';
import CCLoader from '@/components/custom/CCLoader.vue'
import { inject } from 'vue';
import CCWrapper from './CCWrapper.vue';
import { optionsLabels } from '@/_helpers/formData';
import { objMap } from '@/_helpers/formatters';
import { useMultimoneda } from '@/store/multimoneda';
import { storeToRefs } from 'pinia';
import MontoEditable from '@/components/shared/montoEditable.vue';
import { LABELS as labels } from '@/_helpers/labels';
import useVuelidate from '@vuelidate/core'
import dynamicValsForInputTable from '@/_validations/dynamicValsForInputTable'

// WATCHERS
function totalPages (val) {
  if (this.setShowPagination) this.setShowPagination(typeof val === 'number' && val > 1, this.tableNum);
}

// METHODS
function getTableRef () {
    return this.$refs.theTableRef;
}

function getMeth (methN, parm) { // methN --> method name
  // si parm es didtinto de booleano, aca se haria la peticion al back del detalle de loq se quiera mostrar
  const [parmBool, dp] = [typeof parm === "boolean", this.deliveredParam];
  const delOpts = [this.alertMsgs, true, true, this.tableNum];
  const parms = methN == 'custom' ? [parm] : [parm, ...(!parmBool ? (methN !== 'unselect' ? [methN, ...(dp ? [dp] : [])] : delOpts) : [])];
  return this[methN+(parmBool ? '' : 'FromTable')](...parms)
}

function getColW (i, fth) {
  return fth.width || (!i ? 'auto' : i == 1 ? '17%' : i == 2 ? '18%' : '13%')
}

function updateBtnFocused (bool) {
  this.emitter.emit("updateBtnFocused", bool);
}

function tdAttr (td) {
  return td.attr == '::dynamic::' ? this.dynAttr[0] : td.attr
}

function setATOB(...attrs){
  return attrs.reduce((cadena, attr) => cadena +(cadena ? "-" : '')+ window.atob(attr), '')
}

function getRowAttr (td, row, should_atob = undefined) {
  const theTd = this.tdAttr(td);
  const resStr = theTd instanceof Array 
    ? theTd.reduce((str,attr) => str+row[attr], '') 
    : (td.attrFunc ? row[theTd]() : (should_atob ? window.atob(row[theTd]) : row[theTd]));
  return resStr
}

function getColName (th) {
  const thName_ = th.name == '::dynamic::' ? this.dynAttr[1] || this.dynAttr[0] : th.name;
  const thName = thName_[0].toUpperCase() + thName_.slice(1).toLowerCase();
  return thName
}

function getByAttr (row, td) {
  const attr = td.slct.replace('.','');
  return row[this.tdAttr(td)][attr]
}

function getDymc (td, row) {
  const objVal = this.dynamics[td.slct][row[this.tdAttr(td)]];
  return objVal ? (objVal + (td.slctExtra && row[td.slctExtra] ? (' ('+row[td.slctExtra]+')') : '')) : '';
}

// DATA
function data () {
    return {
        totalPages: 1,
        modifying: false,
        selectedId: null,
        thisRowW: { theTableRef: {} },
        mainTable: null,
        tableResume: null,
        shouldHideOverflow: false,
    }
}

// SETUP
function setup () {
  const emitter = inject("emitter")
  const multimonedaStore = useMultimoneda()
  const { moneda, monedaBase } = storeToRefs(multimonedaStore)
  
  return {
    v$: useVuelidate(),
    emitter,
    labels,
    optionsLabelsStatic: optionsLabels,
    moneda,
    monedaBase,
  }
}

// COMPUTED
const currentPage = {
    get() {
        return this.modelValue;
    },
    set(val) {
        this.$emit('update:modelValue', val)
    }
}


// RETORNA LISTADO DE LOS ELEMENTOS EN LA TABLA
function allData () {
  const tR = this.getTableRef();
  const data = tR?.data || [];
  return data
}

function actions () {
  const optionsArr = [
    ...(this.showEdit ? [{...[true,'cil-pencil','edit','Editar',this.disabledEdit]}] : []),
    ...(this.showDelete ? [{...[false,'cil-trash','unselect','Eliminar',this.disabledDelete]}] : []),
    ...(this.iconDistinct && this.showView ?  [{...[true,'cic-key-down','view','Resetear',this.disabledView]}] : this.showView ? [{...[true,'cic-eye','view','Ver',this.disabledView]}] : []),
    ...(this.customAction ? [{...[true,this.customAction.split(',')[0],'custom',this.customAction.split(',')[1],this.disabledCustom]}] : []),
  ];
  return optionsArr
}

function actionChangeSimbol (e,r) {
    r.signoSelected = e.target.value;
}

export default {
    name: 'CCTable',
    mixins: [ globalMixin ],
    components: {
      CCLoader,
      CCWrapper,
      MontoEditable,
    },
    data,
    setup,
    props: {
        multidelete: {
          type: Boolean,
          default: false
        },
        resumeRow: {
          type: Object,
          default: () => ({})
        },
        disBy: {
          type: String,
          default: 'none'
        },
        truncateNum: { type: Number, default: 0 },
        alertMsgs: { type: Array, default: () => [] },
        selectedRows: { type: Array, default: () => [] },
        basicTable: Boolean,
        checkCol: { type: Boolean, default: false },
        deliveredParam: { type: String, default: '' }, // para saber que modal va a recibir la ejecucion de la funcion de ver o editar
        doNotEmit: Boolean, // EMITE AL COMPONENTE PADRE QUE HA RECIBIDO O PERDIDO EL FOCO EN LAS ACCIONES
        editFromTable: Function,
        filters: { type: Object, default: () => ({}) }, // FILTROS QUE USA EL COMPONENTE DE TABLA
        hideActions: Boolean,
        hideActionsNone: Boolean,
        hideClearAll: { type: Boolean, default: true },
        inTableData: Array, // ARREGLO CON ESPECIFICACIONES DE LAS CARACTERISTICAS DE CADA COLUMNA DE LA TABLA
        loading: { type: Boolean, default: false }, // INDICA SI A LA TABLA SE LE ESTAN CARGANDO ITEMS
        maxHeight: { type: String, default: '17rem' },
        modelValue: Number,
        optionsAsGrid: { type: Boolean, default: true },
        optionsColWidth: { type: Number, default: 1.5 },
        pageSize: { type: Number, default: 100 }, // LIMITE DE ITEMS POR PAGINA
        pressable: { type: Boolean, default: true },
        setShowPagination: Function, // AVISA A PADRE SI OCULTAR O NO LA PAGINACION
        setTableState: Function, // ENVIA A PADRE INFO DE EL ESTADO ACTUAL DE LA TABLA
        showDelete: { type: Boolean, default: true },
        showEdit: { type: Boolean, default: true },
        showPagination: { type: Boolean, default: false }, // SI SE MUESTRA O NO LA PAGINACION
        showView: { type: Boolean, default: true },
        sortingMethods: Function, // METODO DE ORDENAMIENTO EN COLUMNA DE SORTEO DE LA TABLA --> agregar si se hace ordenamiento en la tabla
        tableData: { type: Array, default: () => [] }, // LISTADO DE SORTEOS DISPONIBLES SELECCIONADOS CON SU RESPECTIVA INFORMACION DE APUESTA
        tableNum: { type: [Number, String], default: '' },
        unselectFromTable: Function, // METODO PARA ELIMINAR DE TABLA UNO O TODOS LOS ELEMENTOS
        viewFromTable: Function,
        viewDataModal: { type: Boolean, default: false },
        optionsLabelsDynamic: { type: Object, default: () => ({}) },
        customFromTable: Function,
        customAction: {
          type: String,
          default: '',
        },
        disabledView: { type: Boolean, default: false },
        disabledEdit: { type: Boolean, default: false },
        disabledDelete: { type: Boolean, default: false },
        disabledCustom: { type: Boolean, default: false },
        wide: { type: Boolean, default: false },
        getFromParent: Function, // funcion para obtener un valor del componente padre
        iconDistinct: { type: Boolean, default: false },
        rowModifiable: { type: Boolean, default: false },
        modifyMontoSorteo: {
          type: Function,
          default: () => {}
        },
        alertError: {
          type: Function,
          default: () => {}
        },
        precision: {
          type: Object,
          default: () => ({})
        },
        ticketTotal: Number,
        inputInTableHasFocus: {
          type: Function,
          default: () => {}
        },
        hideActionsHeader: { type: Boolean, default: false},
        dynAttr: { type: Array, default: () => [''] },
        applyMontoEditable: {
          type: Boolean,
          default: true
        },
        showCurrency: {
          type: Boolean,
          default: true
        },
        monedaStatic: {
          type: [String, Boolean],
          default: ''
        },
        valsAttrs: {
          type: Array,
          default: () => []
        }, // uso ---> :valsAttrs="['attr1',...,'attrN']", uno o mas attrs
        attrVals: {
          type: Object,
          default: () => ({})
        }, // uso ---> :attrVals="{ attr1: [1,2,...,N] }", se usa para aplicar tipos de validaciones a los campos especificados
        // o si se le quiere aplicar para todos los campos con validaciones es de la siguiente manera --> :attrVals="{ a_l_l: [1,2,...,N] }"
    },
    emits: ['update:modelValue'],
    computed: {
        currentPage,
        allData,
        actions,
        dynamics: function () {
          const dyms = objMap(this.optionsLabelsDynamic, (oldk) => this.optionsLabelsDynamic[oldk].reduce((finalObj, option) => ({ ...finalObj, [option.value]: option.label }), {}));
          return dyms
        },
        trashGlobalDis: function () {
          const shouldDis = this.disBy == 'tipoBloqueo' && this.applyDisBy(this.disBy) && (!this.selectedRows.length || this.applyDisBy('soloPorHoySelected'));
          return shouldDis
        },
    },
    watch: {
        totalPages,
    },
    methods:{
        getTableRef,
        updateBtnFocused,
        getRowAttr,
        getColName,
        getMeth,
        getColW,
        actionChangeSimbol,
        getDymc,
        tdAttr,
        getByAttr,
        setATOB,
        shouldChangeToInput: function (id) {
          this.modifying = true;
          this.selectedId = id;
          this.inputInTableHasFocus(true);
          setTimeout(() => {
            const input = document.querySelector('#apuesta-monto.apuestamontoinput'+id);
            if (input?.focus) input.focus();
          });
        },
        modifyMontoSrt: function (monto, id, isDifferent, val) {
          if (isDifferent && val > 0) this.modifyMontoSorteo(monto, id);
          this.hideMontoInput();
        },
        hideMontoInput: function () {
          this.modifying = false;
          this.selectedId = null;
          this.inputInTableHasFocus(false);
        },
        getThisRowW: function (attr, noExtra = false) {
          const th = document.getElementById(attr+(!noExtra ? '-th' : ''));
          const pixls = (th?.offsetWidth || 1) + 'px';
          const objR = { maxWidth: pixls, ...(!noExtra ? { minWidth: pixls, width: pixls } : {}) };
          return objR
        },
        setSizes: function () {
          const self = this;
          const div = document.getElementById('theTableRefDiv');
          const table = document.getElementById('theTableRef');
          this.shouldHideOverflow = (div?.offsetWidth || 1) == (table?.offsetWidth || 1);
          this.inTableData.forEach(col => this.thisRowW[col.attr] = this.getThisRowW(col.attr));
          setTimeout(() => {
            self.thisRowW.theTableRef = self.getThisRowW('theTableRef', true); 
          });
        },
        setTableScroll: function() {
          if (this.mainTable && this.tableResume) this.mainTable.scrollLeft = this.tableResume.scrollLeft;
        },
        setResumeTableScroll: function() {
          if (this.isMobile && this.mainTable && this.tableResume) this.tableResume.scrollLeft = this.mainTable.scrollLeft;
        },
        checkValidity: function () {
          if (this.alertError && this.valsAttrs.length) this.alertError(this.v$.tableData.$invalid);
        },
        applyDisBy: function (byDta) {
          const shouldBlock = byDta == 'none' ? false 
            : (byDta == 'tipoBloqueo' || byDta == 'soloPorHoySelected') 
              ? this[byDta == 'tipoBloqueo' ? 'tableData' : 'selectedRows'].some(dta => +dta.typeBlocking && +dta.blockedBy < 100) 
            : true;
          return shouldBlock
        },
        disByTipoBloqueoOneRow: function (row) {
          const shouldDis_ = this.disBy == 'tipoBloqueo' && +row.typeBlocking && +row.blockedBy < 100;
          return shouldDis_
        },
    },
    directives: {
      numberComma,
    },
    validations() {
      const vals = this.valsAttrs.length ? dynamicValsForInputTable(this.valsAttrs, this.attrVals) : {};
      return vals
    },
    mounted() {
      if (this.resumeRow?.label) {
        this.setSizes();
        this.mainTable = document.getElementById('theTableRefDiv');
        this.tableResume = document.getElementById('tableResumeDiv');

        this.tableResume.addEventListener('scroll', this.setTableScroll);
        this.mainTable.addEventListener('scroll', this.setResumeTableScroll);
        window.addEventListener('resize', this.setSizes);
      }
    },
    updated() {
      if (this.resumeRow?.label) this.setSizes();
    },
    unmounted() {
      if (this.resumeRow?.label) {
        this.tableResume.removeEventListener('scroll', this.setTableScroll);
        this.mainTable.removeEventListener('scroll', this.setResumeTableScroll);
        window.removeEventListener('resize', this.setSizes);
        this.thisRowW = { theTableRef: {} };
        this.mainTable = null;
        this.tableResume = null;
        this.shouldHideOverflow = false;
      }
    }
}
</script>

<style lang="scss" scoped>
.table-wrapper{
  position: relative;
  overflow: auto;
}

.selected-in-table {
  background: $softer-gray;
}

.cmp-main-table {
  border: 1px solid $soft-gray;

  :deep(thead) {
    position: sticky;
    top: -1px;

    tr {
      background: $soft-gray;

      th {
        padding: 0.25rem 0.5rem;
        
        &:not(:last-child) {
          border-right: 1px solid $gray-border-table;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: $softer-gray;
      }
      
      td {
        padding: 0.25rem 0.5rem;

        &:not(:last-child) {
          border-right: 1px solid $soft-gray;
        }

        @include switchNM {
          &:disabled {
            opacity: 1 !important;
          }
        }

        a.icon-dis {
          color: $cancel-gray !important;
        }
      }

      &.resume-row {
        background: $soft-gray;

        td:not(:last-child) {
          border-right: 1px solid $gray-border-table;
        }
      }
    }
  }
}
</style>