<template>
    <component v-if="component" :is="component" v-bind:class="[cclass || '', cclass2 || '']">
        <slot />
    </component>
    <template v-else>
        <slot />
    </template>
</template>

<script>
export default {
    name: 'CCWrapper',
    props: {
        component: String,
        cclass: String,
        cclass2: String,
    },
}
</script>

<style lang="scss" scoped>
.as-grid4 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.as-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
}
.as-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.as-grid1 {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}
</style>