<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar taquilla</h5></CCardHeader>
        <CCardBody>
          <CRow class="mb-3">
            <CCol class="col-12 col-lg-6" v-if="this.auth_tipoUsuario == '24'">
              <CFormLabel class="col-form-label col-12">Comprador comercial</CFormLabel>
                <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      errorMessageClasses: 'wrong-input',
                      type: 'vSelect',
                      multiple: false
                    }"
                    :v_="v$.compradorComercial"
                    v-model="compradorComercial"
                    :options="compradorComercialOption"
                    @change="changeCompradorComercial"          
                    hideSeleccione
                  />                 
            </CCol>
            <CCol class="col-12 col-lg-6">
                <CFormLabel class="col-form-label col-12">RIF/Centro de apuesta</CFormLabel>
                <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      errorMessageClasses: 'wrong-input',
                      type: 'vSelect',
                      multiple: false
                    }"
                    :v_="v$.betCenter"
                    v-model="betCenter"
                    :options="betCenterOptions"    
                    :disabled="compradorComercial.value === 'MDA=' && this.auth_tipoUsuario == '24' ? true : false"
                    hideSeleccione
                  />   
            </CCol>
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario" @click="actionFromTable(agency,'register')" 
              :disabled="this.betCenter.value === 'MDA=' ? true : false"
              >
                Agregar
              </CButton>
            </CCol>
          </CRow>
          <CRow v-if="tableData.length > 0">
            <CCLoader v-if="loading" inline />&nbsp;
            <!-- <CCol> -->
              <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :showDelete="false"
                :showView="false"
                :setShowPagination="setShowPagination"
                :editFromTable="viewTaquillaSistemaAdmin"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="30rem"
                doNotEmit
              />
            <!-- </CCol> -->
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalTaquillaSistAdministrativo 
    ref="modaltaquillasistDecorator"
    :visible="taquillasistModalVisible" 
    :data="taquillasistModalDta"
    :close="closeModal" 
    :save="editTaquillaSistemaAdmin" 
    :edit="editTaquillaSistemaAdmin"
    :mode="taquillasistMode"
    :formData="taquillasistRegister"
    :betCenter="betCenter"
  />
</template>

<script>
import useVuelidate from '@vuelidate/core';
import taquillaSistAdminVals from '@/_validations/taquillaSistAdmin/taquillaSistAdminVals'
import CCLoader from '@/components/custom/CCLoader.vue';
import CCTable from '@/components/custom/CCTable.vue';
import CCInput from '@/components/custom/CCInput.vue';
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalTaquillaSistAdministrativo from './modalTaquillaSistAdmin.vue';
import { taquillasistRegister } from '@/_helpers/formData';
import { loadToggler } from '@/composables/loadToggler';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import { useTaquillasistadministrativo } from '@/store/taquillasistadministrativo';
import { storeToRefs } from 'pinia';
import { ref } from 'vue';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import consumosVarios from '@/_mixins/consumosVarios';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
async function fetchTaquillas (e) {
  const val = e.value;
  let auxVal = ''
  if( val != undefined) auxVal = e.value

  if (val === 'MDA=' || val === undefined) this.tableData = [];
  else {
    const codigoTaquilla = window.btoa('00');
    const self = this;
    self.tableDataLoading = true;
    fetchRequest({ 
        api: `${this.$apiAdministrativo}ConsultarTaquilla/${this.auth_tokenUsuario}/${auxVal}/${codigoTaquilla}`,
        self,
        success: (rjson) => {

          self.tableData = rjson.datos.map(taquilla => ({
            taquilla: window.atob(taquilla.codigoTaquilla),
            login: taquilla.login,
            identificador: taquilla.identificador,
            software: taquilla.descripcionSoftware,
            estatus: taquilla.descripcionEstatus,
            cantidadColumna: taquilla.cantidadColumna,
            impresora: taquilla.desTipoImpresora,
            serial: val,
            codTipoImpresora: taquilla.codTipoImpresora,
            codigoEstatus: window.atob(taquilla.codigoEstatus),
            tipoUsuario: taquilla.tipoUsuario,
            horaDesde: taquilla.horaDesde != '' ? convertHora(taquilla.horaDesde) : taquilla.horaDesde,
            horaHasta: taquilla.horaHasta != '' ? convertHora(taquilla.horaHasta) : taquilla.horaHasta,
            reqIdentificador: taquilla.reqIdentificador,
            listaMenu: taquilla.listaMenu
          }));
        }, 
        error: (rjson) => {
          console.error(rjson);
          self.tableData = [];
          return caseWrong({
              self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsg,
          });
        },
        done: () => {
          self.tableDataLoading = false;
        }
    });
  }
}

async function fetchListarPuntoVenta(ccVal) {
    const self = this;
    let codAsociado = window.btoa('%%')

    if (self.auth_tipoUsuario == '24'){
      codAsociado = ccVal
    }    

    fetchRequest({
        api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${codAsociado}`,
        self,
        success: (rjson) => {
          self.betCenterOptions = rjson.datos.map((val) => {
                return {
                    value: val.codigo,
                    label: val.descripcion,
                };
            });
            self.betCenterOptions = [{ label: 'SELECCIONE', value: 'MDA=' },...self.betCenterOptions,]
        },
        error: (rjson) => {
        self.betCenterOptions = [],
        self.betCenter = { label: 'SELECCIONE', value: 'MDA=' },
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson || rjson.mensaje, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
  });
}

function editTaquillaSistemaAdmin (data) {
  this.tableDataLoading = true;
  const self = this;
  fetchRequest({ 
      api: this.$apiAdministrativo+'GestionarTaquilla',
      method: 'POST', self,
      body: data,
      
      success: (rjson) => {
        const msg = rjson?.mensaje?.descripcion || rjson?.message?.description;
        self.fireToastMsg(msg, { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson || rjson.mensaje, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.taquillasistModalVisible = false;
        self.betCenter = { label: 'SELECCIONE', value: 'MDA=' };
        self.compradorComercial = { label: 'SELECCIONE', value: 'MDA=' };
        self.modalDecorator(self,'modaltaquillasistDecorator');
        if(this.auth_tipoUsuario == '22')this.fetchListarPuntoVenta()
      }
  });
}

async function viewTaquillaSistemaAdmin (data, mode) {
  // console.log("identificador q envio",data)
  this.actionFromTable({
    login: data.login,
    clave: data.clave,
    identificador: data.identificador,
    cColumna: data.cantidadColumna,
    impresoraValue: data.codTipoImpresora,
    taquilla: data.taquilla,
    estatus: data.codigoEstatus,
    horaDesde: data.horaDesde,
    horaHasta: data.horaHasta,
    reqIdentificador: data.reqIdentificador,
    listaMenu: data.listaMenu
  }, mode);
}

function convertHora(val) {
  let auxHora = val.slice(0, 2)
  const auxHora2 = val.slice(3, 5)
  if (auxHora <= 12) {
    return auxHora + ':' + auxHora2 + ' ' + 'AM';
  } else {
    return auxHora - 12 + ':' + auxHora2 + ' ' + 'PM';
  }
}

//--- LISTAR COMPRADOR COMERCIAL ---
async function fetchListarCompradorComercial() {
    const self = this
    fetchRequest({
        api: self.$apiGeneral + 'ListarCompradorComercial/'+self.auth_tokenUsuario,
        self,
        success: (rjson) => {
        self.compradorComercialOption = rjson.datos.map((val) => {
            return {
              value: val.codigo,
              label: val.descripcion,
            }
        })  
        self.compradorComercialOption = [{ label: 'SELECCIONE', value: 'MDA=' }, ...self.compradorComercialOption];                
        },
        error: (rjson) => {            
            self.compradorComercial = { label: 'SELECCIONE', value: 'MDA=' };
            self.compradorComercialOption = [];
            self.tableData = [];            
            return caseWrong({
                self,
                error: rjson.msg || rjson,
                passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar los compradores comerciales', true),
            })
        },
    })
}

function changeCompradorComercial(e){
  const val = e.value;
  const self = this 
  if (val != 'MDA=')   {
    // self.compradorComercial = val    
    self.fetchListarPuntoVenta(val)  
    self.betCenterOptions = []
    self.betCenter = { label: 'SELECCIONE', value: 'MDA=' }
  } else {
    self.betCenterOptions = []
    self.betCenter = { label: 'SELECCIONE', value: 'MDA=' }
  }
  self.tableData = [];
}

// DATA
function data () {
  return {
    betCenter: { label: 'SELECCIONE', value: 'MDA=' },
    betCenterOptions: [],
    compradorComercial: { label: 'SELECCIONE', value: 'MDA=' },
    compradorComercialOption: [], 
  }
}

// SETUP
function setup () {
  const authStore = useAuth()
  const taquillasistadminStore = useTaquillasistadministrativo()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
  const { taquillas } = storeToRefs(taquillasistadminStore)
  const { addTaquillaSistAdmin, editTaquillaSistAdmin, deleteTaquillaSistAdmin } = taquillasistadminStore
  // 
  loadToggler()

  const optionsColWidthRem = 5
  const forTabla = [
      [{name: 'Taquilla', attr: 'taquilla'}], 
      [{name: 'Login', attr: 'login'}], 
      [{name: 'Identificador', attr: 'identificador'}],  
      [{name: 'Software', attr: 'software'}],
      [{name: 'Estatus', attr: 'estatus'}],
      [{name: 'Hora desde', attr: 'horaDesde'}],
      [{name: 'Hora hasta', attr: 'horaHasta'}],
      [{name: 'Cant Columna', attr: 'cantidadColumna'}],
      [{name: 'Impresora', attr: 'impresora'}],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
  
  const betCenter = ref('')

  return {
    ...setupData(1),
    ...modalSetupData('taquillasist'),
    taquillasistRegister,
    inTableData,
    v$: useVuelidate(),
    // MOMENTANEO
    taquillas, 
    addTaquillaSistAdmin,
    editTaquillaSistAdmin,
    deleteTaquillaSistAdmin,
    //
    betCenter,
    auth_tokenUsuario,
    optionsColWidthRem,
    auth_tipoUsuario,
  }
}

// MOUNTED
function mounted () {
  this.tRef = 'taquillaSistAdminTable';
  this.canDelete = 'taquillasistadmin';
  if (this.auth_tipoUsuario == '22') {
   this.compradorComercial = ''; 
    this.fetchListarPuntoVenta();
  //this.loadPuntosVenta();
  }
  else {   
    this.fetchListarCompradorComercial();
    this.betCenter = { label: 'SELECCIONE', value: 'MDA=' };
  }
}

export default {
  components: { CCTable, ModalTaquillaSistAdministrativo,CCLoader, CCInput },
  name: 'TaquillaSistemaAdministrativo',
  mixins: [
    globalMixin,
    tableGenerals,
    modalGenerals,
    consumosVarios
  ],
  data,
  setup,
  computed: {
    agencyName: function () {
      const agency_ = this.betCenterOptions.find(agency => agency.value === this.betCenter);
      const label = agency_ && agency_.label || '';
      return label
    },
    agency: function () {
      const agency_ = this.betCenter ? {
        serial: this.betCenter,
        identificador: '',
        login: '',
        anular: true, // here ticketStore is unknown
        estatus: '1'
      } : null;

      return agency_
    }, 
  },
  methods: {
    fetchTaquillas,
    editTaquillaSistemaAdmin,
    viewTaquillaSistemaAdmin,
    fetchListarPuntoVenta,
    convertHora,
    fetchListarCompradorComercial,
    changeCompradorComercial
  },
  validations() {
    return taquillaSistAdminVals(localStorage.getItem('tipoUsuario'))
  },
  watch: {
    compradorComercial: function(val){
      this.changeCompradorComercial(val);    
    },
    betCenter: function(val){
      if(val && val != null) this.fetchTaquillas(val)
    }
  },
  mounted,
}
</script>

<style lang="scss" scoped>
</style>