<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar grupo - listero</h5></CCardHeader>
        <CCardBody>
          <CCFormStructureWrapper 
            :formData="listeroGroupRegister" 
            :btnAction="[addEsquemaNegociacion]"
            :customVals="customValidations"
          >
            <template #formIn="inCol">
              <CCInput  
                :allData="inCol"
                v-model="v$[inCol.model].$model" 
                :v_="v$[inCol.model]" 
                :col="inCol.col"
                :options="getOptions(inCol.options)"
                :hasUnless="inCol.unless"
                :disabled="disableField === inCol.model || inCol.disabled"
                :keyPress="inCol.kpress"
                :execute="callFiller"
              />
              <CCol v-if="!disableField && inCol.model === 'dfRif'" xs="12" class="d-lg-none mb-3">
                <CButton class="btn-primario w-100" :disabled="v$.dfRif.$invalid" @click="fillListerData">
                  Buscar
                </CButton>
              </CCol>
            </template>
            <template #freeCode>
              <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :unselectFromTable="eraseFromTable"
                :alertMsgs="[labels.sureDelete(true, 'esquema', false, ' de negociacion'), labels.sureDelete(false, 'esquema de negociacion', false), 
                  labels.deleteAll('esquemas de negociacion', false), labels.deleteOne('esquema de negociacion', false)]"
                :viewFromTable="actionFromTable"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="10rem"
                doNotEmit
                :showEdit="false"
              />
            </template>
          </CCFormStructureWrapper>
        </CCardBody>
        <CCardFooter class="d-flex justify-content-center buttons-custom flex-wrap">
            <CButton ref="acceptbtn" class="btn-primario m-1" @click="actionGroupListero" :disabled="!isValid">
              {{ disableField ? 'Guardar' : 'Registrar' }}
            </CButton>
            <!--  -->
            <!-- <CButton v-if="disableField" ref="delbtn" class="btn-grave m-1" @click="deleteGroupListero">
              Eliminar
            </CButton> -->
            <!--  -->
            <CButton ref="cancelbtn" class="btn-primario m-1" @click="clearInputs">
              Cancelar
            </CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
  <ModalEsquemaNegociacion 
    ref="modalesquemaDecorator"
    :visible="esquemaModalVisible" 
    :data="esquemaModalDta"
    :close="closeModal" 
    mode="view"
    :esquemaData="esquemaRegister"
    :showFooter="false"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { listeroGroupRegister, esquemaRegister } from '@/_helpers/formData';
import useVuelidate from '@vuelidate/core';
import listeroGroupRegisterVals from '@/_validations/listeroGroupRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import { LABELS as labels } from '@/_helpers/labels';
import globals from '@/_mixins/globals';
import esquemaGenerals from '@/_mixins/esquemaGenerals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalEsquemaNegociacion from '@/components/shared/modalEsquemaN.vue';
// MOMENTANEO
import { useEsquemanegociacion } from '@/store/esquemanegociacion';
import { useGrupolistero } from '@/store/grupolistero';
import { storeToRefs } from 'pinia';
import { modalSetupData } from '@/composables/modalDataStruct';
// 

// METHODS
function actionGroupListero () {
  const listero = this.getListerData(); // MOMENTANEO
  if (this.disableField) {
    this.editListero(listero) // MOMENTANEO
    this.fireToastMsg('El Grupo fue actualizado con éxito.', { icon: 'success' });
    this.justReset();
  }
  else { // REGISTRA
    this.addListero(listero) // MOMENTANEO
    this.fireToastMsg('El Grupo fue registrado con éxito.', { icon: 'success' });
    this.clearInputs();
  }
}

async function deleteGroupListero () {
  const result = await this.fireAlertMsg(this.labels.sureDelete(false, 'grupo', false), {});
  if (result.isConfirmed) {
    this.deleteListero(this.dfRif) // MOMENTANEO
    this.fireToastMsg('El Grupo fue eliminado con éxito.', { icon: 'success' });
    this.clearInputs();
  }
}

 //MOMENTANEO
function getListerData () {
  const lister = {};
  ['dfRif','dfName','dfAddress','dfPhone1','dfPhone2',
    // 
    'cName','cLastName','cIdetificationCard','cPhone1','cPhone2',
    // 
    'dgState','dgCity','dgMunicipality','dgEmail','dgAssociatedType','dgAssociated','dgListerType','dgStatus',
    'dgPaymentFrequency','dgRiskFactor','dgTicketCaducity','dgValidationCaducity','dgApprovalRequired']
    .forEach(ths => lister[ths] = this[ths]);
  lister['enEsquemaNegociacionData'] = this.tableData.map(tdta => tdta.id);
  return lister
}
// 

function justReset () {
  this.v$.$reset();
}

function clearInputs () {
    ['dfRif','dfName','dfAddress','dfPhone1','dfPhone2',
    // 
    'cName','cLastName','cIdetificationCard','cPhone1','cPhone2',
    // 
    'dgState','dgCity','dgMunicipality','dgEmail','dgAssociatedType','dgAssociated','dgListerType','dgStatus',
    'dgPaymentFrequency','dgRiskFactor','dgTicketCaducity','dgValidationCaducity',
    // 
    /* 'enGamblingType', */'enEsquemaNegociacion',
    // 
    'disableField']
    .forEach(ths => this[ths] = '');

    this.dgApprovalRequired = false;
    // this.enEsquemaNegociacionOptions = [];
    this.removeFromTable(true);
    this.justReset();
}

function fillInputs (data) {
    ['dfRif','dfName','dfAddress','dfPhone1','dfPhone2',
    // 
    'cName','cLastName','cIdetificationCard','cPhone1','cPhone2',
    // 
    'dgState','dgCity','dgMunicipality','dgEmail','dgAssociatedType','dgAssociated','dgListerType','dgStatus',
    'dgPaymentFrequency','dgRiskFactor','dgTicketCaducity','dgValidationCaducity','dgApprovalRequired']
    .forEach(ths => this[ths] = data[ths]);

    if (data.enEsquemaNegociacionData.length) {
      const esquemasId = this.esquemas.reduce((ids, esq) => ({...ids, [esq.id]: esq}), {}); // MOMENTANEO
      this.tableData = data.enEsquemaNegociacionData.reduce((esqs, esqId) => [...esqs, ...(esquemasId[esqId] ? [esquemasId[esqId]] : [])], []);
    } else this.tableData = [];
}

function fillListerData (e = null, type = 'keypress') {
  const self = this;
  if (e) e.preventDefault();
  if (!this.disableField && (!e || (e.pointerId > -1 && e.pointerType))) {
    const rif = this.dfRif.toUpperCase();
    const lister = this.listeros.find(listr => listr.dfRif === rif); // MOMENTANEO
    if (lister) {
      this.disableField = 'dfRif';
      this.v$.dfRif.$reset();
      this.fillInputs(lister);
      setTimeout(() => {
        self.justReset();
      });
    } else {
      this.disableField = '';
      if (type === 'keypress') this.fireToastMsg('No se encontro ningun grupo para este RIF.', { icon: 'warning' });
    }
  }
}

function callFiller (evnt) {
  if (!this.isMobile) this.fillListerData(null, evnt);
}

// COMPUTED
function isValid () {
  return this.v$.$anyDirty && !this.v$.$invalid
}

// WATCH
// function gamblingW (val) {
//   this.enEsquemaNegociacion = 'seleccione';
//   if (val && val !== 'seleccione') {
//     const esquemaDta = this.esquemas; // MOMENTANEO
//     const slectedOnes = esquemaDta.filter(esq => esq.category === val);
//     this.enEsquemaNegociacionOptions = slectedOnes.map(esq => ({label: esq.description, value: esq.id}));
//   } 
//   else this.enEsquemaNegociacionOptions = [];
// }

// SETUP
function setup () {
  // MOMENTANEO
  const esquemanegociacionStore = useEsquemanegociacion()
  const grupolisteroStore = useGrupolistero()
  const { esquemas } = storeToRefs(esquemanegociacionStore)
  const { listeros } = storeToRefs(grupolisteroStore)
  const { addListero, editListero, deleteListero } = grupolisteroStore
  //
  loadToggler()

  const optionsColWidthRem = 4
  const forTabla = [
      // {name: 'tipo jugada', attr: 'category', width: '25%', slct: true},
      [{name: 'descripcion', attr: 'description'/* , width: 'auto' */}],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('esquema'),
    listeroGroupRegister,
    v$: useVuelidate(),
    inTableData,
    labels,
    esquemaRegister: esquemaRegister(),
    // MOMENTANEO
    esquemas, 
    listeros,
    addListero, 
    editListero, 
    deleteListero,
    // 
    optionsColWidthRem,
  }
}

// MOUNTED
function mounted () {
  this.tRef = 'grupoListeroEsquemaNegociacionTable';
  this.setOnModify = true;
  this.cleanEsqPre = 'en';
}

export default {
    name: 'GrupoListero',
    components: { CCInput, CCTable, ModalEsquemaNegociacion, CCFormStructureWrapper },
    mixins: [ globals, tableGenerals, modalGenerals, esquemaGenerals ],
    data() {
      return {
        disableField: '',
        // //
        dfRif: '',
        dfName: '',
        dfAddress: '',
        dfPhone1: '',
        dfPhone2: '',
        // 
        cName: '',
        cLastName: '',
        cIdetificationCard: '',
        cPhone1: '',
        cPhone2: '',
        // 
        dgState: '',
        dgCity: '',
        dgMunicipality: '',
        dgEmail: '',
        dgAssociatedType: '',
        dgAssociated: '',
        dgListerType: '',
        dgStatus: '',
        dgPaymentFrequency: '',
        dgRiskFactor: '',
        dgTicketCaducity: '',
        dgValidationCaducity: '',
        dgApprovalRequired: false,
        // 
        // enGamblingType: '',
        enEsquemaNegociacion: '',
        enEsquemaNegociacionOptions: [],
      }
    },
    setup,
    computed: {
      isValid,
    },
    methods: {
      justReset,
      actionGroupListero,
      deleteGroupListero,
      clearInputs,
      fillInputs,
      fillListerData,
      callFiller,
      getListerData, //MOMENTANEO
    },
    watch: {
      // enGamblingType: gamblingW,
    },
    validations () {
      return listeroGroupRegisterVals;
    },
    mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>