<template>
    <p v-if="desc" class="label-mx-2 label-btn-primario"><slot /></p>
    <div v-if="list" class="section-container d-flex flex-column">
        <h6 class="reference pe-0">
            <slot name="listTitle" />
            <CDropdown v-if="showProductFilter">
                <CDropdownToggle component="a" size="sm" :caret="false" :disabled="loading" class="p-0 invrs-mt-1"><CIcon icon="cil-options" /></CDropdownToggle>
                <CDropdownMenu>
                    <CDropdownItem 
                        v-for="sorteo of sorteos_list_all" 
                        :key="sorteo.code" 
                        href="javascript:void(0);"
                        class="text-capitalize"
                        v-bind:class="[productActive === sorteo.code ? 'active' : '']"
                        @click="setActiveProduct(sorteo.code)"
                    >{{sorteo.name}}</CDropdownItem>
                </CDropdownMenu>
            </CDropdown>
            <span v-else class="ms-2"></span>
        </h6>
        <slot name="initialContent" />
        <div class="list-of-checks">
            <template v-if="sorteosLoading || sorteosFiltering"><slot name="loaderHolder" /></template>
            <template v-if="!sorteosLoading && checks">
                <CFormCheck 
                    v-for="sorteo in sorteos_por_productos" 
                    :key="'modal-'+sorteo[isGenerar ? 'guid' : 'id']" 
                    :id="'modal-'+sorteo[isGenerar ? 'guid' : 'id']" 
                    :label="sorteo.nombreSorteo()" 
                    v-model="sorteo.checked"
                    :disabled="loading"
                />
            </template>
            <template v-else-if="!sorteosLoading"><slot name="checks" /></template>
        </div>
        <slot name="extra" />
    </div>
    <template v-if="form">
        <h6 v-if="amountLabel" class="mt-3 mb-0">Montos:</h6>
        <CForm v-if="form" class="row mt-2">
            <slot name="inputs" />
        </CForm>
    </template>
</template>

<script>
export default {
    name: 'HelpreModalStructure',
    props: {
        list: Boolean,
        form: Boolean,
        loading: Boolean,
        sorteosLoading: Boolean,
        sorteosFiltering: Boolean,
        sorteos_list_all: Array,
        sorteos_por_productos: Array,
        productActive: String,
        setActiveProduct: Function,
        amountLabel: {
            type: Boolean,
            default: true,
        },
        desc: {
            type: Boolean,
            default: true,
        },
        checks: {
            type: Boolean,
            default: true,
        },
        showProductFilter: {
            type: Boolean,
            default: true,
        },
        isGenerar: {
            type: Boolean,
            default: false,
        },
    },
}
</script>

<style lang="scss" scoped>
.section-container {
    min-height: 3.5rem;
}
.list-of-checks {
    max-height: 26rem;
    overflow-y: auto;

    &:focus-visible {
        outline: none;
    }
}
</style>