<template>
    <div 
        class="d-flex flex-column position-relative"
        v-bind:class="[
            !smaller ? 'col-12' : 'col-6',
            colClasses || 'col-md-6',
            extraClass || '',
            !!align ? ('align-items-'+align) : 'align-items-center',
            isDropdown ? 'zIndx1' : 'zIndx0',
            isDropdown && dataValue && (dataValue.length || dataValue.codigo) ? 'wauto' : ''
        ]"
    >
        <span v-if="tripleLabel && especial" v-bind:class="[
            'pair-field',
            data && data.rng ? data.rng : '',
            fieldDisabld && 'disabled' || ''
        ]"></span><!--  || figure -->
        <span v-if="(!especial && (figure || tripleLabel)) || (tripleLabel && data && (data.rng == 'desde' || data.rng == 'nro'))" 
            class="align-self-start fs-x-small position-absolute top-invrt-3"
            v-bind:class="[
                tripleLabelStart || tripleLabelEnd ? 'special-label rounded-top' : '',
                tripleLabelStart ? 'ps-1 rounded-top-end-0' : '',
                tripleLabelEnd ? 'd-none d-md-block start-0 hide rounded-top-start-0' : '',
                especial ? 'dark' : '',
                fieldDisabld && 'disabled' || ''
            ]"
        >{{tripleLabel}}</span><!-- !especial && !figure && tripleLabel -->
            <!--  || figure -->
        <div 
            :id="'apuesta'+(!isMonto ? fData.fCode : '')+data.code+(especial || figure ? data.rng : '')+'wrapper'" 
            class="d-flex w-100 z-index-1" 
            v-bind:class="[
                inputWrapperClasses || '', tripleLabel 
                    ? 'align-items-end' 
                    : ('align-items-'+(isDropdown && !tripleLabel && fieldDisabld ? 'center' : 'baseline')),
            ]"
        >
            <label 
                v-if="(!figure || data.rng != 'figura') && !isInputInTable && (isDropdown || (!figure || (figure && !isMobile)) || (figure && isMobile))"
                :for="isDropdown ? ('apuesta-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+'-'+data.rng)
                    : !figure || (figure && !isMobile) ? ('apuesta-'+(!isMonto ? (fData.fCode+'-'+(inputIdentifier || 1)+'-') : '')+data.code+(especial || figure ? ('-'+data.rng) : ''))
                    : ('apuesta-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+'-'+data.rng)" 
                :class="'form-label mb-0 me-1'+(labelExtraClass ? (' '+labelExtraClass) : '')"
            ><!-- last of if in for --- figure && isMobile -->
                {{especial || figure ? (especial ? data.rng : (figure && data.rng == 'figura' ? (tripleLabel || data.rng) : data.labl)) : labelExtraClass ? (applyLabel ? data.label : data.code) : data.label}}{{data.addDot ? '.' : ''}}:
            </label>
            <!-- figure va de primero en class para poder aplicar validaciones de figura en los respectivos campos -->
            <!-- <pre>{{dataValue}}</pre> -->
            <vSelect v-if="isDropdown"
                class="select-multiple in-loto flex-grow-1"
                v-bind:class="dataValue && (dataValue.length || dataValue.codigo) ? 'no-search' : ''"
                :multiple="multiple"
                v-model="dataValue"
                :id="'apuesta-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+'-'+data.rng" 
                placeholder="SELECCIONE"
                :options="figuresDropdown"
                label="nombre"
                :disabled="disabled"
                :deselectFromDropdown="true"
                :searchable="false"
                :closeOnSelect="!(multiple && keepOpen)"
                @option:selected="shouldExecCalls(false, $event)"
                @option:deselected="shouldExecCalls(false, $event)"
                @update:modelValue="execute3()"
            ><!-- :selectable="() => dataValue.length < maxOfDropdown" -->
                <template #no-options="{ search, searching }">
                    <template v-if="searching">
                        No se encontraron resultados para <em>{{ search }}</em>.
                    </template>
                    <template v-else>
                      No hay resultados para mostrar.
                    </template>
                </template>
                <template #selected-option="{ nombreResumido }">
                    <div style="display: flex; align-items: baseline">
                        <span>{{ nombreResumido }}</span>
                    </div>
                </template>
                <template #option="{ nombre }">
                    <span>{{ nombre }}</span>
                </template>
            </vSelect>
            <template v-else>
                <template v-if="!figure || (figure && !isMobile)">
                    <input
                        ref="theInputRef"
                        type="text" 
                        v-bind:class="[
                            figure ? 'figure-input' : '',
                            figure && data.code ? (fData.fCode+'-figura') : '',
                            !figure && data.code ? ('mode-'+data.code) : '',
                            'form-control inputlot-control',
                            wrong ? 'wrong-input' : '',
                            isMonto ? 'monto-control' : '',
                            inputExtraClasses,
                            permiteEscritura ? 'd-none' : ''
                        ]"
                        :id="'apuesta-'+(!isMonto ? (fData.fCode+'-'+(inputIdentifier || 1)+'-') : '')+data.code+(especial || figure ? ('-'+data.rng) : '')" 
                        v-model="dataValue"
                        autocomplete="off"
                        :maxlength="data.len"
                        :disabled="disabled"
                        @keypress="numOnlySpecial($event, dataValue, isMonto || isMontoModal, figure, isInputInTable, shouldShowMensajeError)"
                        @input="shouldExecCalls(false, $event)"
                        @focus="focusForInput()"
                        @blur="shouldExecCalls(true)"
                        :onpaste="(e) => { numOnlySpecial(e, dataValue, isMonto || isMontoModal, figure) }"
                    />
                    <input
                        v-if="permiteEscritura"
                        ref="theInputRefOnTop"
                        type="text" 
                        v-bind:class="[
                            'form-control inputlot-control',
                            inputExtraClasses
                        ]"
                        :id="'apuestaOnTop-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+(especial || figure ? ('-'+data.rng) : '')" 
                        v-model="figuresNames"
                        autocomplete="off"
                        disabled
                    />
                </template><!-- v-if="!button" -->
                <CInputGroup v-else-if="figure && isMobile" >
                    <CFormInput 
                        ref="theInputRef"
                        type="text" 
                        :id="'apuesta-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+'-'+data.rng" 
                        v-model="dataValue"
                        v-bind:class="[
                            figure && data.code ? (fData.fCode+'-figura') : '',
                            'form-control inputlot-control',
                            wrong ? 'wrong-input' : '',
                            inputExtraClasses,
                            permiteEscritura ? 'd-none' : ''
                        ]"
                        autocomplete="off"
                        :disabled="disabled"
                        :maxlength="data.len"
                        @keypress="numOnlySpecial($event, dataValue, isMonto || isMontoModal, figure)"
                        @input="shouldExecCalls(false, $event)"
                        @focus="focusForInput()"
                        @blur="shouldExecCalls(true)"
                        :onpaste="(e) => { numOnlySpecial(e, dataValue, isMonto || isMontoModal, figure) }"
                    />
                    <CFormInput
                        v-if="permiteEscritura"
                        ref="theInputRefOnTop"
                        type="text" 
                        v-bind:class="[
                            'form-control inputlot-control rounded-start',
                            inputExtraClasses
                        ]"
                        :id="'apuestaOnTop-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+'-'+data.rng" 
                        v-model="figuresNames"
                        autocomplete="off"
                        disabled
                    />
                    <CInputGroupText  
                        :id="'apuesta-'+fData.fCode+'-'+(inputIdentifier || 1)+'-'+data.code+'-'+data.rng+'-icon'" 
                        v-bind:class="disabled ? '' : 'text-gray bg-white'"
                        @focus="!disabled ? updateBtnFocused(true) : () => {}"
                        @blur="!disabled ? updateBtnFocused(false) : () => {}"
                        @click="!disabled ? openFiguresModal($event, figurasObj, fData, tripleLabel || '') : () => {}"
                    >
                        <CIcon icon="cil-border-all" size="lg" />
                    </CInputGroupText>
                </CInputGroup>
                <a 
                    v-if="button"
                    :id="'apuesta-'+(!isMonto ? (fData.fCode+'-'+(inputIdentifier || 1)+'-') : '')+data.code" 
                    class="flex-grow-1 text-decoration-none text-gray box-figure d-flex justify-content-center align-items-center flex-column"
                    v-bind:class="[
                        dataValueArr.length == 1 && figurasObj[dataValueArr[0].codigo] ? 'one-figure' : '',
                        disabled && 'disabled' || ''
                    ]"
                    href="javascript:void(0);"
                    @focus="!disabled ? updateBtnFocused(true) : () => {}"
                    @blur="!disabled ? updateBtnFocused(false) : () => {}"
                    @click="!disabled ? openFiguresModal($event, figurasObj, fData, tripleLabel || '') : () => {}"
                ><!-- v-else -->
                    <img
                        v-if="dataValueArr.length == 1 && figurasObj[dataValueArr[0].codigo]" 
                        :src="figurasObj[dataValueArr[0].codigo].img" 
                        :alt="dataValueArr[0].nombre"
                        v-bind:style="{ 
                            opacity: dataValueArr[0] ? '1' : '0.25',
                            width: '56px',
                            height: '50px',
                            objectFit: 'contain',
                            marginTop: '-5px'
                        }"
                    >
                    <template v-else>
                        <CIcon v-if="dataValueArr.length" icon="cil-library" size="xxl" />
                        <CIcon v-else icon="cil-library-add" size="xxl" />
                    </template>
                    <!-- dataValueArr.length == 1 && figurasObj[dataValueArr[0].codigo] ? dataValueArr[0].nombre :  -->
                    <span v-if="!(dataValueArr.length == 1 && figurasObj[dataValueArr[0].codigo])" class="text-center">{{                    
                        dataValueArr.length ? getNamesSplitted(dataValueArr) : 'Seleccione'
                    }}</span>
                </a>
            </template>
        </div>
        <small 
            v-if="!disabled && !isInputInTable && wrong && ((!!toggleHideErrMsg && isFocusOn) || !toggleHideErrMsg)" 
            class="wrong-input"
            v-bind:class="[inModal ? 'align-self-start-custom' : 'align-self-end-custom']"
        >{{mensajeError}}</small>
    </div>
    <hr class="d-md-none mb-0" v-if="tripleLabelEnd">
</template>

<script>
import { LABELS as labels } from '@/_helpers/labels';
import { inject, ref } from 'vue';
import { noStar, objReduce, toMoney } from '@/_helpers/formatters';
import { storeToRefs } from 'pinia'
import { useMultimoneda } from '@/store/multimoneda'

// METHODS
function getInputRef() {
    return this.$refs.theInputRef;
}

function updateBtnFocused (bool) {
  this.emitter.emit("updateBtnFocused", bool);
}

function shouldExecCalls (isBlur = false, e = null) {
    if (!isBlur && this.execute && e?.target) {
        if (this.execNoParams) this.execNoParams();
        if (this.execute) {
            const val_ = this.selection && this.isDropdown 
                ? (this.dataValue.length 
                    ? this.dataValue.reduce((codes, fig) => !codes ? window.atob(fig.codigo) : (codes+','+window.atob(fig.codigo)), '') 
                    : window.atob(this.dataValue.codigo)) 
                : e.target.value;
            this.execute(val_, this.fData, true, this.figurasObj, this.isMobile, !!this.derandomize);
        }
    }
    if (!isBlur && this.execute2 && e?.codigo) this.execute2();
    if (!isBlur && this.execute3 && !this.isDropdown && e?.target) this.execute3();
    if (isBlur) {
        this.isFocusOn = false;
        if (this.isInputInTable) this.hideInputInTable();
    }
    if (this.figure && isBlur) return;
    if (this.callVals) this.callVals(
        this.data.code, 
        !isBlur
    );
}

export default {
    name: 'Input-Lot',
    props: [
        'modelValue',
        'data', // PROPIEDADES QUE MANEJA EL INPUT
        'numOnlySpecial', // VALIDACION DE SOLO NUMEROS
        'callVals', // EJECUTA VALIDACIONES (EN MODAL)
        'extraClass', // CLASES EXTRAS APLICADAS A CONTENEDOR PRINCIPAL DE ESTE COMPONENTE DE INPUT
        'colClasses', // CLASES DE COLUMNA APLICADAS A CONTENEDOR PRINCIPAL DE ESTE COMPONENTE
        'labelExtraClass', // CLASES EXTRAS PARA EL LABEL
        'inputWrapperClasses', // CLASES EXTRAS APLICADAS AL CONTENEDOR DEL INPUT (NO AL CONTENEDOR PRINCIPAL)
        'inputExtraClasses',
        'especial', // USO ESPECIFICO PARA INPUTS DE APUESTA TIPO CORRIDA (DESDE-HASTA)
        'figure', // USO ESPECIFICO PARA INPUTS DE APUESTA TIPO FIGURA (NRO-FIGURA), SE APLICAN ALGUNAS VALIDACIONES COMO CON 'especial'
        'notInput', // SI ES TRUE, NO EJECUTA OTRAS ACCIONES COMO VALIDACIONES EN ESPECIAL O FOCUS EN OTROS INPUTS
        'identifier', // USO ESPECIFICO PARA INPUTS DE APUESTA TIPO CORRIDA (DESDE-HASTA), PARA IDENTIFICAR SI ES 'DESDE' O 'HASTA'
        'align', // ESPECIFICA LA ALINEACION DE LOS ELEMENTOS EN ESTE COMPONENTE
        'wrong', // SI ES TRUE, MUESTRA ERROR AL USUARIO
        'isMonto', // USO ESPECIFICO PARA INPUTS DE APUESTA DE MONTO
        'isMontoModal',
        'inModal', // USO ESPECIFICO PARA DECIR SI ESTA DENTRO DE MODAL
        'wrongInBetween', // SI ES TRUE, INDICA QUE EL MSG DE ERROR DEBE ESPECIFICAR UN RANGO
        'disabled', // SI ES TRUE, EL COMPONENTE SE MUESTRA DESABILITADO AL USUARIO
        'button', // SETEA SI RETEORNA BOTON, ACT. UTILIZADO PARA FIGURA
        'isStrict', // para saber si es maximo estricto, aplicable a campos de figuras
        'figurasObj',
        'openFiguresModal', // FUNCION QUE ABRE EL MODAL DE FIGURAS
        'applyLabel', // IF TRUE OBLIGA A APLICAR LABEL ESPECIFICADO
        'toggleHideErrMsg', // controla si mantiene mostrado el error de input
        'tripleLabel', // label para el campo con modalidad triple A y B
        'tripleLabelStart', // aplica estilos de background a label Triple A y B
        'tripleLabelEnd', // aplica estilos de background a label Triple A y B pero oculta label
        'theresB', // INDICA SI HAY TRIPLE B
        'isB', // INDICA SI ES TRIPLE B
        'pos', // posicion de iteracion corresponduiente a este campo si fue generado por alguna iteracion
        'fData', // puede contener fCode y/o fMax, codigo del campo y maximo del campo (para figuras)
        'inputIdentifier', // se usa un identificador para caso de dos inputs por campo, como para figura y corrida
        'smaller', // para saber si es un campo con menor tamaño
        'execNoParams',
        'execute', // manda a ejecutar alguna funcion en el padre, le pasa información
        'execute2',
        'execute3',
        'isMobile',
        'selection', // modo de seleccion de las figuras, si es tabla o dropdown tipo select
        'completeField',
        'maximoDeTicket',
        'maximoNetoTicket',
        'minimoDeTicket',
        'isInputInTable',
        'execInputInTable',
        'hideInputInTable',
        'fireToastMsg',
        'derandomize',
        'permiteEscritura',
        'keepOpen',
    ],
    emits: ['update:modelValue'],
    setup() {
        const multimonedaStore = useMultimoneda()
        const { moneda } = storeToRefs(multimonedaStore)
        const emitter = inject("emitter")
        const isFocusOn = ref(false)

        return {
            emitter,
            labels,
            isFocusOn,
            toMoney,
            moneda,
        }
    },
    computed: {
        dataValue: {
            get() {
                return this.modelValue;
            },
            set(val) {
                this.$emit('update:modelValue', val)
            }
        },
        dataValueArr: function () {
            return JSON.parse(this.button && this.dataValue || '[]')
        },
        figuresNames: function () {
            const arrOfFigsCodes = this.permiteEscritura && typeof this.dataValue == 'string' ? this.dataValue.split(',') : [];
            const figs = objReduce(this.figurasObj || {}, (figus, fk) => [...figus, ...(arrOfFigsCodes.includes(fk) ? [this.permiteEscritura == 2 && this.figurasObj[fk]?.nombreResumido || fk] : [])], []);
            return figs.join()
        },
        isDropdown: function () {
            return this.selection == 'dropdown'
        },
        figuresDropdown: function () {
            const figs = this.isDropdown ? objReduce(this.figurasObj || {}, (all, fig) => [...all, {...fig}], [], true) : [];
            return figs
        },
        maxOfDropdown: function () {
            if (this.completeField) {
                const max = +noStar(this.completeField.maxSimbolo);
                return max;
            }
            return 0;
        },
        multiple: function () {
            if (this.completeField) {
                const max = +noStar(this.completeField.maxSimbolo);
                return max > 1
            }
            return false;
        },
        maximoDeTicket_: function () {
            const val = this.maximoDeTicket && +this.maximoDeTicket > 0 ? this.maximoDeTicket : 0;
            return val
        },
        mensajeError: function () {
            const msg = this.wrong ? (
                this.figure && this.inputIdentifier == 1 && this.dataValue?.length ? (this.dataValue.includes(',') ? this.labels.themNotInList : this.labels.notInList) :
                this.isMonto && this.data.required || (!this.isMonto && (this.especial || this.figure ? this.data['rangeRequired'+this.fData.fCode][this.pos || this.button ? 1 : 0] : this.data['required'+this.fData.fCode])) ? this.labels.required :
                // (this.isMonto && this.maximoDeTicket_ >= 0 && +this.dataValue > this.maximoDeTicket_) ? this.labels.maximoDeTicket(this.toMoney(this.maximoDeTicket_)+' '+this.moneda.simboloMoneda, !this.maximoDeTicket_ || this.maximoDeTicket_ < this.minimoDeTicket) :
                // (this.isMonto && +this.dataValue && +this.dataValue < this.minimoDeTicket) ? this.labels.minimoDeTicket(this.toMoney(this.minimoDeTicket)+' '+this.moneda.simboloMoneda) :
                (this.isMonto || this.isMontoModal) && +this.dataValue ? this.labels[this.data.errLabel](...(this.data.errLabel == 'precision' ? [this.data.maxLen, this.data.precision] : [this.data.montoMinimo, this.data.montoMultiplo])) : 
                this.labels.size(this.isMonto || this.isMontoModal ? this.data.montoMinimo : this.data.len, this.isMonto || this.inModal, this.wrongInBetween)
            ) : '';
            return msg
        },
        fieldDisabld: function () {
            return this.disabled && (this.button || !this.isStrict)
        },
    },
    methods:{
        getInputRef,
        updateBtnFocused,
        shouldExecCalls,
        getNamesSplitted: function (dataValueArr) {
            return dataValueArr.map(dv => dv.nombre).join().slice(0,10)+'...'
        },
        focusForInput: function () { 
            this.isFocusOn = true;
            if (this.isInputInTable) this.execInputInTable(false);
            else if (this.figure && !this.isMobile) this.openFiguresModal(null, this.figurasObj, this.fData, this.tripleLabel || '');
        },
        shouldShowMensajeError: function () {
            if (this.wrong && this.dataValue && this.mensajeError) this.fireToastMsg(this.mensajeError, {});
            else this.execInputInTable(true);
        }
    },
}
</script>

<style lang="scss" scoped>
.align-self-start-custom {
    align-self: flex-start;
}
.align-self-end-custom {
    align-self: flex-start;
    @include mediaquery(md) {
        align-self: flex-end;
    }
}
.box-figure {
    line-height: 1;

    &.one-figure {
        line-height: 0.75;
    }

    &.disabled {
        color: $cancel-gray !important;
    }

    @include mediaquery(md) {
        span {
            font-size: small;
        }
    }    
}
.special-label {
    background: $softie-gray;
    z-index: 0;

    &.hide {
        color: $softie-gray;
    }
}
.z-index-1 {
    z-index: 1;
}
.rounded-top-start-0 {
    border-top-left-radius: 0 !important;
}
.rounded-top-end-0 {
    @include mediaquery(md, 'max') {
        border-top-left-radius: 0 !important;
    }
    border-top-right-radius: 0 !important;
}
.top-invrt-3 {
    z-index: 2;
    line-height: 1;
    padding-bottom: 1px;
    padding-right: 7px;
    top: 0 !important;
    width: max-content;
    background: #fff;
    background: linear-gradient(to right, #fff 90%, transparent);

    &.dark {
        background: $soft-gray;
        background: linear-gradient(to right, $soft-gray 90%, transparent);

        &.disabled {
            background: $softie-gray;
            background: linear-gradient(to right, $softie-gray 90%, transparent);
        }
    }
}

.pair-field {
    position: absolute;
    padding-bottom: 1px;
    top: -0.15rem;
    left: 0.35rem;
    background: $soft-gray;
    width: calc(100% - 0.35rem);
    height: 1rem;

    &.nro {
        width: calc(100% - 0.85rem);
        border-top-right-radius: 6px;
    }
    &.hasta, &.figura {
        left: -2px;
        border-top-right-radius: 6px;
    }
    &.disabled {
        background: $softie-gray;
    }
    &.figura {
        background: linear-gradient(to right, $soft-gray, transparent 40%);

        &.disabled {
            background: linear-gradient(to right, $softie-gray, transparent 40%);
        }
    }
}

.flex-one {
    flex: 1;
}

.zIndx0 {
    z-index: 0;
}
.zIndx1 {
    z-index: 1;
}
.wauto {
    width: auto !important;
    min-width: 100%;
    &.col-6 { min-width: 50%; }
    @include mediaquery(md) {
        &.col-md-3 { min-width: 25%; }
        &.col-md-6 { min-width: 50%; }
    }
    @include mediaquery(lg) {
        &.col-lg-6 { min-width: 50%; }
    }
    @include mediaquery(xl) {
        &.col-xl-2 { min-width: 16.66666667%; }
        &.col-xl-3 { min-width: 25%; }
    }
    @include mediaquery(xxl) {
        &.col-xxl-3 { min-width: 25%; }
    }
    @include mediaquery(xxxl) {
        &.custom-3xl {
            min-width: 16.66666667%;
            // &.n2, &.n3 { min-width: 12.5%; }
            // &.n4 { min-width: 10%; }
            &.n2-2, &.n3-2, &.n4-2 { min-width: 25%; }
        }
    }
}

.custom-lg-12 {
    @include mediaquery(lg, $other-custom: 1060) {
        width: 100%;
    }
}
@include mediaquery(xl, $custom: 1300, $other-size: 'xxl') {
    .custom-xl-4 {
        width: 33.33333333%;
    }
    .custom-xl-6 {
        width: 50%;
    }
}
@include mediaquery(xxl, $other-custom: 1500) {
    .custom-xxl-4 {
        width: 33.33333333%;
    }
    .custom-xxl-6 {
        width: 50%;
    }
}
</style>