<template>
    <CModal 
        size="xl"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="close"
    >
        <CModalHeader>
            <CModalTitle>Detalle SubGrupo</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper 
                :formData="subgrupoData"
                :customVals="customValidations"
                :hideTable="tableData.length > 0 ? [] : ['esquema']"
            >
                <template #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled || shouldDisabled()"
                        :options="getOptions(formObj.options)"
                        :hasUnless="formObj.unless"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                        :loaders="{loadingGeo}"
                    />
                </template>
                <template #formIn="inCol">
                    <CCInput  
                        :allData="inCol"
                        v-model="v$[inCol.model].$model" 
                        :v_="v$[inCol.model]" 
                        :col="inCol.col"
                        :disabled="inCol.disabled || shouldDisabled()"
                        :options="getOptions(inCol.options)"
                        :hasUnless="inCol.unless"
                        :disabledLighted="!showFooter"
                        :keyPress="inCol.kpress"
                        :loaders="{loadingGeo}"
                    />
                </template>
                <template #freeCode>
                    <CCTable
                        :tableData="tableData"
                        :inTableData="inTableData"
                        :ref="tRef"
                        v-model="currentPage"
                        :setTableState="setTableState"
                        maxHeight="10rem"
                        doNotEmit
                        hideActions
                    />
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" @click="actionSubG" :disabled="!isMValid">
                {{ mode === 'edit' ? 'Modificar' : mode === 'view' ? (modifying ? 'Guardar Cambios' : 'Modificar') : 'Guardar' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-secundario" @click="close">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import geoSet from '@/_mixins/geoSet';
import useVuelidate from '@vuelidate/core';
import subGroupRegisterVals from '@/_validations/subGroupRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCTable from '@/components/custom/CCTable.vue';
import { storeToRefs } from 'pinia';
import tableGenerals from '@/_mixins/tableGenerals';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { useEsquemanegociacion } from '@/store/esquemanegociacion';
import { useUtils } from '@/store/utils';

// METHODS
function clearInputs () {
    ['modifying','name','phone1','phone2','rName','rLastName','email','state','city','municipality','status','lister']
        .forEach((ths, i) => this[ths] = !i ? false : '');
    this.tableData = [];
    this.v$.$reset();
    this.cleanGeoAll(this.geoHas2);
}

function fillInputs (data) {
    this.rif = data.rif;
    this.name = data.name;
    this.phone1 = data.phone1;
    this.phone2 = data.phone2;
    this.rName = data.rName;
    this.rLastName = data.rLastName;
    this.email = data.email;
    this.state = data.state;
    this.city = data.city;
    this.municipality = data.municipality;
    this.status = data.status;
    this.lister = data.lister;

    if (data.esquemaNegociacionData.length && this.esquemaOptions?.length) {
      const esquemasId = this.esquemaOptions.reduce((ids, esq) => ({ ...ids, [esq.value]: { description: esq.label, id: esq.value, guid: esq.value } }), {});
      this.tableData = data.esquemaNegociacionData.reduce((esqs, esqId) => [...esqs, ...(esquemasId[esqId] ? [esquemasId[esqId]] : [])], []);
    } else this.tableData = [];

    this.callFiller(['fillSelect', '', ['cities', 'municipalities'], this.state]);
}

function shouldDisabled () {
    return this.mode === 'view' && !this.modifying
}

// COMPUTED
function isMValid () {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.$anyDirty : true;
    return extraVals && !this.v$.$invalid
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.mode !== 'register') this.fillInputs(this.data);
}

export default {
    components: { CCInput, CCFormStructureWrapper, CCTable },
    name: 'ModalSubGrupo',
    mixins: [globalMixin, tableGenerals, geoSet],
    data() {
        return {
            rif: '',
            name: '',
            phone1: '',
            phone2: '',
            rName: '',
            rLastName: '',
            email: '',
            state: '',
            city: '',
            municipality: '',
            status: '',
            lister: '',
            // 
            modifying: false,
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        subgrupoData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'view',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
        listerOptions: {
            type: Array,
            default: () => [],
        },
        esquemaOptions: {
            type: Array,
            default: () => [],
        },
    },
    setup() {
        const esquemanegociacionStore = useEsquemanegociacion()
        const utilsStore = useUtils()
        const { esquemas } = storeToRefs(esquemanegociacionStore)
        const { loadingGeo, stateOptions, cityOptions, municipalityOptions } = storeToRefs(utilsStore)
        const { setGeo, cleanGeo, cleanGeoAll } = utilsStore

        const optionsColWidthRem = 5
        const forTabla = [
                // {name: 'tipo jugada', attr: 'category', width: '25%', slct: true},
                {name: 'descripcion', attr: 'description'/* , width: 'auto' */},
            ]
        const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

        return {
            ...setupData(1),
            inTableData,
            esquemas,
            v$: useVuelidate(),
            loadingGeo, 
            stateOptions, 
            cityOptions, 
            municipalityOptions,
            setGeo, 
            cleanGeo, 
            cleanGeoAll,
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        shouldDisabled,
    },
    computed: {
        isMValid,
    },
    validations () {
        return subGroupRegisterVals(this.visible);
    },
    watch: {
        visible: visibleW,
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>