<template>
    <InputLot 
        ref="apuestamontorow" 
        v-model="form.apuestamonto" 
        :data="{...formMonto, montoMinimo: getTruncated(formMonto.montoMinimo, precision.precision, true), ...precision, label: (formMonto.label + ' ' + '(' + moneda.simboloMoneda + ')')}" 
        :numOnlySpecial="numOnlySpecial" 
        colClasses="col-12"
        labelExtraClass="text-capitalize" 
        :inputExtraClasses="'flex-one '+inputClasses"
        :wrong="formMonto.wrong"
        :isMonto="true" 
        :notInput="true"
        :toggleHideErrMsg="true"
        :callVals="callVals"
        :isMobile="isMobile"
        :maximoDeTicket="+maxTicket - (+ticketTotal - montoNeto)"
        :maximoNetoTicket="+maxTicket"
        :minimoDeTicket="minTicket"
        :isInputInTable="true"
        :execInputInTable="($event) => {$event ? setSorteoMonto() : setMonto()}"
        :hideInputInTable="hideInput"
        :fireToastMsg="fireToastMsg"
    />
</template>

<script>
import globalMixin from '@/_mixins/globals';
import InputLot from '@/components/shared/inputLot.vue';
import { ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useMultimoneda } from '@/store/multimoneda';
import { getTruncated, modForJS } from '@/_helpers/formatters';

export default {
    name: 'MontoEditable',
    mixins: [ globalMixin ],
    components: { InputLot },
    props: {
        sorteo: Object,
        changeMonto: {
            type: Function,
            default: () => {}
        },
        precision: {
            type: Object,
            default: () => ({
                maxLen: 100,
                precision: 4,
            }),
        },
        ticketTotal: Number,
        hideInput: {
            type: Function,
            default: () => {}
        },
        inputClasses: String,
    },
    data() {
        return {
            montoNeto: 0,
        }
    },
    setup() {
        const multimonedaStore = useMultimoneda()
        const { maxTicket, minTicket, moneda } = storeToRefs(multimonedaStore)

        const form = ref({ apuestamonto: '' })
        const formMonto = ref({ len: -1, code: 'monto', label: 'monto', wrong: false, montoMinimo: Infinity, montoMultiplo: Infinity, errLabel: 'precision', required: false })

        const changeValsMonto = (...vals) => {
            formMonto.value = { 
                ...formMonto.value, 
                ...vals.reduce((finalObj, currVal) => ({...finalObj, [currVal[0]]: currVal[1]}), {})
            }
        }

        return {
            form,
            moneda,
            formMonto,
            maxTicket,
            minTicket,
            getTruncated,
            modForJS,
            changeValsMonto,
        }
    },
    methods: {
        setMonto: function () {
            this.changeValsMonto(['montoMinimo', this.maxTicket], ['montoMultiplo', Infinity]);
            const {montoMinimo, montoMultiplo} = this.sorteo.allTypes[this.sorteo.typeBet];
            const min = montoMinimo[this.moneda.codigoMoneda], mult = montoMultiplo[this.moneda.codigoMoneda];

            this.form.apuestamonto = this.sorteo.played;
            this.montoNeto = Number(this.sorteo.played);

            this.changeValsMonto(...([
                ...(min  < this.formMonto.montoMinimo   ? [['montoMinimo', min]] : []), 
                ...(mult < this.formMonto.montoMultiplo ? [['montoMultiplo', mult]] : [])
            ]));
        },
        setSorteoMonto: function () {
            if ((this.formMonto.wrong && +this.form.apuestamonto <= 0) || (!this.formMonto.wrong && +this.form.apuestamonto >= 0)) 
                this.changeMonto(this.form.apuestamonto, this.sorteo.idJugada, +this.form.apuestamonto != this.montoNeto, +this.form.apuestamonto);
        },
        callVals: function () {
            const self = this;
            const modelValue = (this.form && this.form.apuestamonto) || null;   
            const setWrong = (bool) => {
                if (self.form && self.formMonto) self.formMonto.wrong = bool;
            };

            const montoSplit = ['string','number'].includes(typeof modelValue) ? `${modelValue}`.split('.') : null;
            if (montoSplit) {
                const montoJ = +montoSplit.join('.');
                const prec = this.precision.precision;
                const maxLenPrecision = montoSplit[0].length > this.precision.maxLen || (montoSplit[1] && montoSplit[1].length > prec),
                    minMult = montoJ < this.formMonto.montoMinimo || !!this.modForJS(montoJ, this.formMonto.montoMultiplo)/* this.getTruncated(montoJ % this.formMonto.montoMultiplo, prec) */;

                this.formMonto.errLabel = maxLenPrecision ? 'precision' : 'minMult';

                // const maxTickt = this.maxTicket - this.ticketTotal;
                // const mxT = maxTickt > 0 ? maxTickt : 0;
                if (
                    modelValue && +modelValue > 0 && 
                    // +modelValue >= this.minTicket && +modelValue <= mxT &&
                    montoSplit[0].length <= this.precision.maxLen && 
                    ((montoSplit[1] ? montoSplit[1].length : 0) <= this.precision.precision) &&
                    !maxLenPrecision && !minMult
                ) 
                    setWrong(false);
                else setWrong(true);
            }
        }
    }
}
</script>

<style>
</style>