<template>
    <div 
        v-if="!soloway"
        class="wrapper-tip-secs mb-3 mb-md-0 pe-md-2 adapt-all-md order-0"
        v-bind:class="[
            threeway ? 'threeway' : 'twoway',
            noBorderR ? 'without-border-r' : ''
        ]"
    >
        <div 
            class="d-grid tipo-secciones" 
            v-bind:style="{
            'grid-template-columns': 'repeat('+(threeway ? '3' : '2')+', auto)'
            }"
        >
            <button 
                v-for="(tipoSeccion, tpCode) in tipoSecciones" 
                :key="tpCode"
                class="w-100 text-capitalize small tipo-secc-outline btn-tipo-seccion"
                @click="cambiarTipoSeccion(tpCode)"
                v-bind:class="tipoSeccionSeleccionada == tpCode ? 'selected' : ''"
            >{{ tipoSeccion }}
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Tipo-Sorteos-Btns',
    props: {
        soloway: {
            type: Boolean,
            default: false
        },
        noBorderR: {
            type: Boolean,
            default: false
        },
        threeway: Boolean,
        tipoSecciones: Object,
        tipoSeccionSeleccionada: String,
        cambiarTipoSeccion: {
            type: Function,
            default: () => {}
        },
    }
}
</script>

<style lang="scss" scoped>
.wrapper-tip-secs {
    &.twoway {
      width: 10rem;
    }
    &.threeway {
      width: 16rem;
    }
    
    @include mediaquery(md) {
        &:not(.without-border-r) {
            border-right: 1px solid $dash-color;
        }
    }
  
    .tipo-secciones {
      grid-gap: 8px;
  
      button {
        border: 2px solid $dark-gray;
        background: #fff;
        color: $dark-gray;
  
        &.selected, &:hover {
          background: $dark-gray;
          color: #fff;
          font-weight: bold;
        }
      }
    }
}
.tipo-secc-outline {
    &:focus {
      outline: none;
      @include sqrDist(0 0 0 0.18rem $soft-middle-gray-t !important, -o-box-shadow, -moz-box-shadow, -webkit-box-shadow, box-shadow);
    }
}
</style>