<template>
    <CModal 
        size="xl"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="close"
        class="ancho-custom"
    >
        <CModalHeader>
            <CModalTitle>Listado de números bloqueados</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CRow class="mb-4">
                <CCol xs="12" lg="6" class="mb-4 mb-lg-0">
                    <CRow>
                        <CCol xs="12" md="4" class="estilo-fecha mb-3 mb-md-0">
                            <CFormLabel for="fecha-sorteos">Fecha</CFormLabel>
                            <div>
                                <Datepicker 
                                    id="fecha-sorteos" 
                                    class="w-100 form-control custom-input-class custom-input-class-date"
                                    v-model="fechaSorteo"
                                    inputFormat="dd-MM-yyyy"
                                />
                            </div>
                        </CCol>
                        <CCol xs="12" md="8">
                            <CFormLabel for="sorteos-data">Sorteo</CFormLabel>
                            <div>
                                <!-- if multiple true, works as objects array, else as object -->
                                <vSelect 
                                    id="sorteos-data"
                                    class="select-multiple in-loto"
                                    v-bind:class="sorteoData && sorteoData.id ? 'no-search' : ''"
                                    :multiple="false"
                                    :value="sorteoData"
                                    @update:modelValue="considerarApuestaTheta"
                                    placeholder="SELECCIONE"
                                    label="nameSorteo"
                                    :options="sorteos"
                                    :searchable="!sorteoData || !sorteoData?.id"
                                >
                                    <template #no-options="{ search, searching }">
                                        <template v-if="searching">
                                            No se encontraron resultados para <em>{{ search }}</em>.
                                        </template>
                                        <template v-else>
                                            No hay resultados para mostrar.
                                        </template>
                                    </template>
                                    <template #selected-option="{ nameSorteo }">
                                        <div style="display: flex; align-items: baseline">
                                            <span>{{ nameSorteo }}</span>
                                        </div>
                                    </template>
                                    <template #option="{ nameSorteo }">
                                        <span>{{ nameSorteo }}</span>
                                    </template>
                                </vSelect>
                            </div>
                        </CCol>
                    </CRow>
                </CCol>
                <CCol xs="12" lg="6" class="set-border-left">
                    <hr class="d-lg-none mt-0 mb-4" />
                    <BetFiltersCmp biggerFields alwaysWide
                        v-model="form"
                        :forms="forms"
                        :apiLists="apiLists"
                        :mode="mode"
                        :selectedOnesUse="selectedOnesUse"
                        :selectedOnes="selected_sorteos"
                        :maxDigits="maxDigitsForFieldSelected"
                        :visibleFields="visibleFields"
                        :specialCase="specialCase"
                        :refr="refr"
                        :pointBreaker="pointBreaker"
                        :modeSize="modeSize"
                        :randomized="randomized"
                        :figsCheck="figsCheck"
                        :figureRangeRes="figureRangeRes"
                        :getTablaFigura="getTablaFigura"
                        :setFiguras="setFiguras"
                        :setFocoDesdeDropdown="setFocoDesdeDropdown"
                        :fetchCombinaciones="fetchCombinaciones"
                        :btnLoading="btnLoading"
                        :setFromChildTheMode="($event) => { mode = $event }"
                        :setFromChildTheRandomized="execRand"
                        :setFromChildTheFigsCheck="($event) => { figsCheck[$event] = false }"
                        :acceptDis="aceptarDisabled"
                        :valForInfoText="valForInfoText"
                        :maximoPermuta="maximoPermuta"
                        :maximoCorrida="maximoCorrida"
                    />
                </CCol>
            </CRow>
            <CRow class="mb-4">
                <CCol xs="12">
                    <CCTable 
                        :ref="tRef" 
                        v-model="currentPage" 
                        :tableData="tableData" 
                        :inTableData="inTableData"
                        :multidelete="tableMultidelete"
                        :setTableState="setTableState"
                        :showPagination="showPagination"
                        :setShowPagination="setShowPagination"
                        :unselectFromTable="unlockCombinations"
                        :alertMsgs="[
                            labels.sureDelete(true,'combinación',true,'','es','desbloquear','combinacion'), 
                            labels.sureDelete(false,'combinación',true,'','es','desbloquear'),
                            labels.deleteAll('combinaciones',true,'desbloquear'), 
                            labels.deleteOne('combinación',true,'desbloque'), 
                            labels.betsNotExist(null,'',true,'combinaciones','desbloquear'),
                            labels.sureDeleteSelected('',true,'es','desbloquear','combinacion'), 
                            labels.deleteAllSeleted('combinaciones',true,'desbloquear')
                        ]"
                        :loading="tableDataLoading"
                        :pressable="!sorteoDataLoading || !tableDataLoading"
                        :hideClearAll="false"
                        :optionsAsGrid="false"
                        :optionsColWidth="optionsColWidthRem"
                        maxHeight="30rem"
                        doNotEmit
                        :checkCol="true"
                        :applyMontoEditable="false"
                        disBy="tipoBloqueo"
                        :selectedRows="selectedOnesFromTable"
                    />
                </CCol>
            </CRow>
            <CRow class="mb-2">
                <CCol xs="12" lg="4">
                    <CFormCheck inline id="sort-sorteo-number" label="Ordenar Sorteo, Número" v-model="sortByed" />
                </CCol>
                <CCol xs="12" lg="8" class="text-end">Cantidad de combinaciones bloqueadas: <strong>{{tableData.length}}</strong></CCol>
            </CRow>
            <!-- <pre>form: {{form}}</pre> -->
        </CModalBody>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import lotteryShared from '@/_mixins/lotteryShared';
import useVuelidate from '@vuelidate/core';
import BetFiltersCmp from '../betFiltersCmp.vue';
import { loadMainLotDta } from '@/composables/mainLotteryDta';
import { objMap, objReduce } from '@/_helpers/formatters';
import { loadMultiMon } from '@/composables/multimonCmpb';
import { Sorteo } from '@/_helpers/classes';
import CCTable from '@/components/custom/CCTable.vue';
import tableGenerals from '@/_mixins/tableGenerals';
import { LABELS as labels } from '@/_helpers/labels';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import bloqueoNumerosGrals from '../bloqueoNumerosGrals';

//#region METHODS
function shouldDisabled () {
    return this.modeModal === 'view' && !this.modifying
}

function clearInputs () {
    this.sorteoDataNull = 'data';
    this.fechaSorteo = new Date();
    this.sorteoData = null;
    this.tipoSeccionSeleccionada = '';
    this.apiLists = objMap(this.apiLists, () => ({}));
    ['tipoSecciones','modalidadComponentes','componentesDta','seccionCodigosElementos','seccionCampos','camposTodos','tipoSeccionSorteos','sorteosListAll']
        .forEach(attr => this[attr] = {});
    this.confForms(true, null, true);
    this.confForms(false, null, true);
    this.seleccionarTodosProductos(false);
    this.mode = 'n';
    this.tableData = [];
}

function fillData () {
    const self = this;
    this.sorteoDataNull = 'data';
    this.fechaSorteo = new Date();
    this.sorteoData = null;
    /**
     * ND --> No Deep - tal cual la del componente padre
     * DP --> Deep - independiente para este componente
     */
    this.apiLists = this.data.apiLists; //ND
    this.tipoSecciones = objReduce(this.data.tipoSecciones, (tipoSecs, tipoSecK, i) => {
        if (!self.tipoSeccionSeleccionada && !i) self.tipoSeccionSeleccionada = tipoSecK;
        tipoSecs[tipoSecK] = self.data.tipoSecciones;
        return tipoSecs
    }, {}); //DP
    this.modalidadComponentes = this.data.modalidadComponentes; //ND
    this.componentesDta = this.data.componentesDta; //ND
    this.seccionCodigosElementos = this.data.seccionCodigosElementos; //ND
    this.seccionCampos = this.data.seccionCampos; //ND
    this.camposTodos = this.data.camposTodos; //ND
    this.tipoSeccionSorteos = objReduce(this.data.tipoSeccionSorteos, (all, tsk) => {
        all[tsk] = [...self.data.tipoSeccionSorteos[tsk].map(srt => {
            const sorteo__ = new Sorteo({...srt, checked: false});
            self.sorteosAllByID = {...self.sorteosAllByID, [sorteo__.id]: sorteo__};
            return sorteo__
        })];
        return all
    }, {}); //DP
    this.confForms(true, this.camposTodos, true);
    this.sorteosListAll = this.data.sorteosListAll; //ND
    this.seleccionarTodosProductos();
    this.maximoCorrida = this.data.maximoCorrida;
    this.maximoPermuta = this.data.maximoPermuta;
}

async function considerarApuestaTheta (sorteo) {
  const wasCkecked = Boolean(sorteo?.checked);
  const badOrGood = !sorteo || !wasCkecked;
  if (badOrGood) {
    this.sorteos.forEach(srt => srt.checked = false);
    await this.awaiter();
  }
  if (sorteo && !wasCkecked) {
    sorteo.checked = true;
    this.maxDigitsForFieldSelected = this.maxrGetter(sorteo.section[0]);
  }
  if (badOrGood) this.sorteoData = sorteo;
}
//#endregion

//#region COMPUTED
function isMValid () {
    const extraVals = this.modeModal === 'view' && this.modifying ? this.v$.$anyDirty : true;
    return extraVals && !this.v$.$invalid
}

function selectedOnesUse () {
  return this.selected_sorteos.length
}
//#endregion

//#region WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else {
        this.tableDataLoading = true;
        setTimeout(() => {
            this.fillData();
            this.fetchCombinaciones(true);
        },125);
    }
}
//#endregion

export default {
    name: 'ModalListadoBloqueados',
    mixins: [
        globalMixin,
        tableGenerals, 
        lotteryShared,
        bloqueoNumerosGrals
    ],
    components: {
        BetFiltersCmp,
        CCTable
    },
    data() {
        return {
            fechaSorteo: new Date(),
            fechaCargaModal: null,
            sorteoData: null,
            sortByed: false,
            //
            modifying: false,
            maximoCorrida: Infinity,
            maximoPermuta: Infinity,
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        modeModal: {
            type: String,
            default: 'view',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
        tokUsr: String,
        updateLockCombinationsTable: {
            type: Function,
            default: () => {},
        },
    },
    setup() {
        const optionsColWidthRem = 3.35
        const forTabla = [
            [{name: 'sorteo con bloqueo', attr: 'nombreSorteo', attrFunc: true, dir: 'no'}], 
            [{name: 'apuesta', attr: 'betDetail', attrFunc: true, dir: 'no'}], 
            [{name: 'tipo bloqueo', attr: 'typeBlocking', slct: true}],
            [{name: 'bloqueado por', attr: 'bloqueadoPor', attrFunc: true, dir: 'no'}],
        ]
        const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

        return {
            v$: useVuelidate(),
            ...loadMultiMon(),
            ...loadMainLotDta(true),
            ...setupData(),
            optionsColWidthRem,
            inTableData,
            labels,
        }
    },
    methods: {
        clearInputs,
        fillData,
        shouldDisabled,
        sortByNameOrBetDetail: function (arr, val = true) {
            const dta = [...arr];
            dta.sort((a, b) => {
                const aname = a.nombreSorteo(), bname = b.nombreSorteo();
                return val ? (aname === bname ? a.betDetail().localeCompare(b.betDetail()) : aname.localeCompare(bname)) : (a.idJugada - b.idJugada)
            });
            return dta;
        },
        considerarApuestaTheta,
        execRand: function () { 
            this.randomized = false;
            Object.keys(this.forms).forEach(frmK => this.falser(this.forms[frmK], 'required', 'wrong'));
        },
        unlockCombinations: async function (data = [], msgs) {
            const theData = data instanceof Array ? (this.selectedOnesFromTable?.length ? this.selectedOnesFromTable : data) : [data];
            await this.eraseFromTable(data, msgs, true, true, '', 'addBlockedOnes', theData, false);
            this.tableDataLoading = false;
        },
    },
    computed: {
        isMValid,
        selectedOnesUse,
        esHoy: function () {
            const fch = this.fechaCargaModal;
            if (fch) {
                const now = new Date();
                const strFecha = `${fch.getDate()}-${fch.getMonth()}-${fch.getFullYear()}`;
                const strNow = `${now.getDate()}-${now.getMonth()}-${now.getFullYear()}`;
                return strFecha === strNow
            }
            return false
        },
    },
    watch: {
        visible: visibleW,
        sortByed: function (val) {
            this.tableData = [...this.sortByNameOrBetDetail(this.tableData, val)];
        },
    },
    mounted () {
        this.tRef = 'selectedBlockedOnesTable';
        this.tableMultidelete = true;
        this.allOfLot = false;
        this.isBlockedOnesPage = true;
        this.showAllOfSorteos = true;
        this.inBloqueoModal = true;
        this.idForMultiElim = 'guid';
    },
}
</script>

<style lang="scss" scoped>
:deep(.select-multiple) {
    .vs__selected-options{
        max-height: 10rem !important;
    }
}

.set-border-left {
    @include mediaquery ('lg') {
        border-inline-start: 1px solid $disabled-gray;
    }
}
</style>