<template>
    <CModal 
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="close"
    >
        <CModalHeader>
            <CModalTitle>Opciones de bloqueo</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper 
                :formData="opcionesData"
                :customVals="customValidations"
            >
                <template #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled || shouldDisabled(formObj.model)"
                        :options="getOptions(formObj.options)"
                        :hasUnless="formObj.unless"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                    />
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" @click="actionOpcionesB" :disabled="!isMValid">
                <span v-if="saving"><CCLoader inline />&nbsp;</span>
                Bloquear
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import opcionesBloqueoRegisterVals from '@/_validations/opcionesBloqueoRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import { Sorteo } from '@/_helpers/classes';
import { optionsLabels } from '@/_helpers/formData';
import { objReduce } from '@/_helpers/formatters';

// METHODS
function clearInputs () {
    this.typeBlocking = '0';
    this.blockedBy = '100';
    this.v$.$reset();
}

function shouldDisabled (model) {
    return (this.mode === 'view' && !this.modifying) || (model == 'blockedBy' && !+this.typeBlocking)
}

function actionOpcionesB() {
    this.saving = true;
    const data = this.sorteos.map(sorteo => new Sorteo({
        ...sorteo,
        typeBlocking: this.typeBlocking,
        blockedBy: this.blockedBy,
    }));
    this.save(data, true, '2', this.typeBlocking, this.blockedBy);
}

// COMPUTED
function isMValid () {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.$anyDirty : true;
    return !this.saving && extraVals && !this.v$.$invalid
}

// WATCH
function visibleW (val) {
    if (!val) {
        this.clearInputs();
        this.saving = false;
    }
}

export default {
    components: { CCInput, CCLoader, CCFormStructureWrapper },
    name: 'ModalOpcionesBloqueo',
    mixins: [globalMixin],
    data() {
        return {
            typeBlocking: '0',
            blockedBy: '100',
            //
            modifying: false,
            saving: false,
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        opcionesData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
        sorteos: Array,
    },
    setup() {
        return {
            v$: useVuelidate(),
            optionsLabels,
        }
    },
    methods: {
        clearInputs,
        shouldDisabled,
        actionOpcionesB,
    },
    computed: {
        isMValid,
        typeBlockingOptions: function () {
            const options_ = objReduce(this.optionsLabels.typeBlocking, (options, fk) => [...options, { label: this.optionsLabels.typeBlocking[fk], value: fk}], []);
            return options_
        },
    },
    validations () {
        return opcionesBloqueoRegisterVals(this.visible);
    },
    watch: {
        visible: visibleW,
        typeBlocking: function (val) {
            if (!+val) this.blockedBy = '100';
        },
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>