<template>
  <div>
    <CRow>
      <CCol>
        <CCard class="mb-4">
          <CCardHeader><h5>Generar</h5></CCardHeader>
          <CCardBody>
            <CRow
              class="d-flex flex-wrap justify-content-between align-items-start"
            >
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Meses</CFormLabel>
                <CCol>
                  <CFormSelect
                    id="meses"
                    v-model="meses"
                    aria-label="Default select example"
                    :options="meseSelect"
                    @change="generarSorteo($event)"
                    :disabled="disabledBuscar"
                  >
                  </CFormSelect>
                </CCol>
              </CCol>
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Año</CFormLabel>
                <CCol>
                  <CFormSelect
                    id="anios"
                    v-model="anios"
                    aria-label="select"
                    class="custom-input-class"
                    :options="anioSelect"
                    @change="generarSorteo($event)"
                    :disabled="disabledBuscar"
                  >
                  </CFormSelect>
                </CCol>
              </CCol>

              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Productos</CFormLabel>
                <CCol>
                  <CFormSelect
                    id="producto"
                    :v-model="producto"
                    aria-label="Default select example"
                    :options="optionsProduct"
                    :selected="optionsProduct[0]"
                    @change="generarSorteo($event)"
                    :disabled="disabledBuscar"
                  >
                  </CFormSelect>
                </CCol>
              </CCol>
               <CCol xs="12" lg="12" class="text-center mt-5 mb-3">
                <CButton  :disabled="disabledBuscar" @click="generarSorteo" class="btn-primario me-2" color="dark" lg="4">
                  <CCLoader v-if="loading" inline />
                  Buscar
                </CButton>
                <CButton
                  class="btn-primario me-2"
                  color="dark"
                  lg="4"
                  :disabled="this.selectedOnesFromTable.length <= 0"
                >
                  Generar
                </CButton>
              </CCol>
              <CCol class="mt-3" xs="12" lg="12" v-if="showTable">
                <CCTable
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :ref="tRef"
                  v-model="currentPage"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :loading="tableDataLoading"
                  maxHeight="30rem"
                  doNotEmit
                  :showEdit="false"
                  :showView="false"
                  :checkCol="true"
                  :setTableState="setTableStateOther"
                  :pageSize="8"
                />
              </CCol>
            </CRow>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import globals from '@/_mixins/globals'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import CCTable from '@/components/custom/CCTable.vue'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import tableGenerals from '@/_mixins/tableGenerals'
import CCLoader from '@/components/custom/CCLoader.vue'
import { loadToggler } from '@/composables/loadToggler'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { LABELS as labels } from '@/_helpers/labels';

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  loadToggler()

  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Dia Sorteo', attr: 'diaSorteo' }],
      [{ name: 'Código Turno', attr: 'codigoTurno' }],
      [{ name: 'Fecha Sorteo', attr: 'fechaSorteo' }],
      [{ name: 'Hora Cierre', attr: 'horaCierre' }],
      [{ name: 'Hora Sorteo', attr: 'horaSorteo' }],
      [{ name: 'Hora Venta', attr: 'horaVenta' }],
      [{ name: 'Nombre Turno', attr: 'nombreTurno' }],
      [{ name: 'Numero Sorteo', attr: 'numeroSorteo' }],
      [{ name: 'Estatus Sorteo', attr: 'estatusSorteo' }],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    auth_tokenUsuario,
    ...setupData(),
    inTableData,
  }
}

function setTableStateOther(e, tableN) {
  this.setTableState(e, tableN);
  // console.log('this.selectedOnesFromTable',this.selectedOnesFromTable);
}

function listarProducto() {
  const self = this
  self.disabledBuscar= true;
  const tokenUsuario = self.auth_tokenUsuario
  const fechaSorteo = '-2208946913';//Math.round((new Date(`${this.anios}/${this.meses}/01`).getTime()) / 1000);
  fetchRequest({ 
    api: `${this.$apiEscrutinio}ListarProductoSorteo/${tokenUsuario}/${fechaSorteo}`, 
    self,
    success: (response) => {
        self.optionsProduct = response.datos.map((i) => ({
          label: window.atob(i.nombreProducto),
          value: i.codigoProducto,
        }))
        self.producto = self.optionsProduct[0].value;
        self.disabledBuscar = false;
    }, 
    error: (rjson) => {
        self.disabledBuscar = false;
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
    },
  });
}

async function generarSorteo(event) {
  const self = this;
  if (event.srcElement.id === 'meses') self.meses = event.target.value
  else if (event.srcElement.id === 'producto')
    self.producto = event.target.value
  else if (event.srcElement.id === 'anios') self.anios = event.target.value
  else {
    self.loading = true;
    self.disabledBuscar = true;
    const tokenUsuario = self.auth_tokenUsuario
    await fetchRequest({ 
      api: `${this.$apiEscrutinio}GenerarSorteo/${tokenUsuario}/${window.btoa(self.meses)}/${window.btoa(self.anios)}/${self.producto}`, 
      self,
      success: (response) => {
          self.arraySorteo = response.datos.listaSorteo
          self.tableData = self.arraySorteo.map((i) => {
            const decodeStatusSorteo= window.atob(i.estatusSorteo)
            const estatusSorteo = [
              {label: decodeStatusSorteo === 0 ? 'Activo' : 'Inactivo' , value :('MA==')},
              {label: decodeStatusSorteo === 1 ? 'Inactivo' : 'Activo' , value :('MQ==')}
            ]
            return {
              diaSorteo: window.atob(i.diaSorteo),
              codigoTurno: window.atob(i.codigoTurno),
              fechaSorteo: window.atob(i.fechaSorteo),
              horaCierre: window.atob(i.horaCierre),
              horaSorteo: window.atob(i.horaSorteo),
              horaVenta: window.atob(i.horaVenta),
              nombreTurno: window.atob(i.nombreTurno),
              numeroSorteo: window.atob(i.numeroSorteo),
              estatusSorteo: estatusSorteo,
              signoSelected: '',
            }
          })
          self.showTable = true;
      }, 
      error: (rjson) => {
          return caseWrong({
              self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsg,
          });
      },
    });
    self.loading = false
    self.disabledBuscar = false;
  }
}

function data() {
  const today = new Date()
  const year = today.getFullYear()
  return {
    meseSelect: [
      { label: 'Enero', value: '01' },
      { label: 'Febrero', value: '02' },
      { label: 'Marzo', value: '03' },
      { label: 'Abril', value: '04' },
      { label: 'Mayo', value: '05' },
      { label: 'Junio', value: '06' },
      { label: 'Julio', value: '07' },
      { label: 'Agosto', value: '08' },
      { label: 'Septiembre', value: '09' },
      { label: 'Octubre', value: '10' },
      { label: 'Noviembre', value: '11' },
      { label: 'Diciembre', value: '12' },
    ],
    anioSelect: [
      { label: year, value: year },
      { label: year + 1, value: year + 1 },
      // { label: year - 2, value: year - 2 },
      // { label: year - 3, value: year - 3 },
      // { label: year - 4, value: year - 4 },
    ],
    optionsProduct: [],
    producto: '',
    anios: year.toString(),
    meses: '01',
    arraySorteo: [],
    inTableData: [],
    showTable: false,
    loading: false,
    disabledBuscar: false
  }
}
export default {
  data,
  setup,
  mixins: [globals , tableGenerals],
  mounted() {
    this.listarProducto();
    this.tRef = 'generar-sorteo';
  },
  methods: {
    listarProducto,
    generarSorteo,
    setTableStateOther
  },
    components: { CCTable,CCLoader },
}
</script>
