<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Listado de ventas por fecha</h5></CCardHeader>
        <CCardBody>
          <DateFilter
            :siFechaDesde="true"
            :siFechaHasta="true"
            :siSorteo="true"
            :siTaquilla="true"
            :siSwitch="true"
            :siConsultar="true"
            :siImprimir="true"
          />
          <CCTable
            :tableData="tableData"
            :inTableData="inTableData"
            :ref="tRef"
            v-model="currentPage"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :unselectFromTable="eraseFromTable"
            :loading="tableDataLoading"
            maxHeight="10rem"
            doNotEmit
            :showEdit="false"
            :showView="false"
            :checkCol="false"
            :setTableState="setTableState"
            :hideActions="true"
          />
          <CCol
            class="text-lg-center mx-auto mb-3 d-flex justify-content-center"
            xs="12"
            lg="6"
          >
            Total:
            <CCol lg="3">
              <h6 class="ml-3">
                {{
                  tableData.reduce(
                    (sum, value) =>
                      typeof value.totalv == 'number'
                        ? sum + value.totalv
                        : sum,
                    0,
                  )
                }}
              </h6>
            </CCol>
            <CCol lg="3">
              <h6>
                {{
                  tableData.reduce(
                    (sum, value) =>
                      typeof value.totala == 'number'
                        ? sum + value.totala
                        : sum,
                    0,
                  )
                }}
              </h6>
            </CCol>
          </CCol>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import DateFilter from '@/components/date-filter.vue'
import { loadToggler } from '@/composables/loadToggler'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'

// SETUP
function setup() {
  loadToggler()
  
  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Fecha', attr: 'fecha' }, 33],
      [{ name: 'Total de venta', attr: 'totalv' }, 33],
      [{ name: 'Total de anulado', attr: 'totala' }, 33],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    inTableData,
  }
}
export default {
  setup,
  components: {
    DateFilter,CCTable
  },
   mixins: [tableGenerals],
  mounted() {
    this.tRef = 'ventasporfecha'
    this.tableData = [
      { fecha: '01/10/2022', totalv: 100.50, totala:20 },
      { fecha: '02/11/2022', totalv: 300.00, totala:0.00 },
      { fecha: '03/12/2022', totalv: 150.50, totala:10.00 },
      
    ]
  },
}
</script>

<style></style>
