<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Resultados por sorteo</h5></CCardHeader>
        <CCardBody>
          <CForm
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <CCol xs="12" lg="6" class="me-1">
              <CCol class="mb-1 color-text">Tipo de sorteo</CCol>
              <div class="border-blue">
                <CFormCheck
                  inline
                  class="text-capitalize"
                  v-for="aim of tipoSorteos"
                  :key="aim"
                  type="radio"
                  name="tipoSorteo"
									:id="'tipoSorteo' + aim"
									autocomplete="off"
                  :label="aim.descripcion"
                  :value="aim.codigo"
									:checked="tipoSorteo === aim.codigo"
									@change="handlerTurnoSorteo(aim.codigo , 1)"
                />
              </div>
            </CCol>
            <CCol xs="12" lg="5">
              <CCol class="mb-1 color-text">Turno</CCol>
              <div class="border-blue">
                <CFormCheck
                  inline
                  class="text-capitalize"
                  v-for="aim of turnos"
                  :key="aim"
                  type="radio"
                  name="turno"
									:id="'turno' + aim"
                  :label="aim.descripcion"
                  :value="aim.codigo"
									:checked="turno === aim.codigo" @change="handlerTurnoSorteo(aim.codigo , 2)"
                />
              </div>
            </CCol>
            <CRow xs="12" lg="12" class="mt-3 col-lg-7">
              <CCol xs="12" lg="6">
                <CCol class="mb-1 color-text">Fecha</CCol>
                <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'date',
                  inputWrapperClasses: 'flex-grow-1 col-sm-6',
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg estilo-fecha',
                }"
                v-model="fecha"
                :v_="v$.fecha"
                :disabled="loading"
                :sinceDate="new Date().setMonth(new Date().getMonth() - 6)"
                :untilDate="new Date()"
                />
              </CCol>
              <CCol xs="12" lg="6">
                <CCol class="mb-1 color-text">Producto</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="producto"
                  :v_="v$.producto"
                  activateTouched
                  :execute="() => {v$.producto.$touch()}"
                  :options="productos"
                  hideSeleccione
                />
              </CCol>
            </CRow>
            <CCol xs="12" class="mt-4">
              <CButton class="btn-primario" color="dark" @click="buscar" :disabled="loading">
                <CCLoader v-if="loading" inline />&nbsp;
                  Buscar
              </CButton>
              <CButton v-if="!hasNotTaquilla && tableData.length" class="btn-primario ms-2" color="dark" @click="printPDF" :disabled="loading || printing">
                <CCLoader v-if="printing" inline />&nbsp;
                Imprimir
              </CButton>
            </CCol>
          </CForm>
          <br />
          <CRow>
            <CCol class="mt-3" xs="12" lg="12">
              <CCTable
                :ref="tRef"
                v-model="currentPage"
                :tableData="tableData"
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :viewFromTable="viewAnulado"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                doNotEmit
                hideActions
              />
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import CCTable from '@/components/custom/CCTable.vue'
import CCLoader from '@/components/custom/CCLoader.vue';
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals'
import printGenerals from '@/_mixins/printGenerals';
import useVuelidate from '@vuelidate/core'
import reportResultadosVals from '@/_validations/reportResultadosVals'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import { storeToRefs } from 'pinia';
import { loadToggler } from '@/composables/loadToggler';
import { parrafr, depoched , dateTimeOfTheDay , dateDepocher, theBreak } from '@/_helpers/formatters'
import { LABELS as labels } from '@/_helpers/labels';

function printPDF () {
  const self = this;
  this.printing = true;
  const jugadas = this.tableData.reduce((bets, itm) => {
    bets.push(
      ...parrafr(`${itm.producto}`.trim(), false, self.auth_columnaTicket,''),
      ...parrafr(`${itm.descripcion}`.trim(), false, self.auth_columnaTicket,''),
      ...parrafr(`${itm.resultado}`.trim(), false, self.auth_columnaTicket,''), 
      theBreak
    );
    return bets
  }, []);
  
  const cApuesta = this.auth_nombrePuntoVenta;
  const taquilla = this.auth_taquilla;
  const auxFechaReporte = dateDepocher(this.fecha,false, true, true)
  const fechaActual = dateDepocher(new Date(), false, true, true);
  const timeActual = dateTimeOfTheDay(new Date().getTime(), false, false, '', ':');


 const ticketDta = [
  ...parrafr(cApuesta,false,this.auth_columnaTicket,''),
  ...parrafr("Taquilla:" + taquilla,false,this.auth_columnaTicket,''),
  ...parrafr("Fecha Actual:" + fechaActual + ' ' +timeActual,false,this.auth_columnaTicket,''),
  ...parrafr("Fecha Reporte:" + auxFechaReporte,false,this.auth_columnaTicket,''),
  theBreak + theBreak,
  ...parrafr("Reporte de Resultados por Sorteo",false,this.auth_columnaTicket,''),
  theBreak + theBreak,
  jugadas.join('') 
 ];

  const ticketDoc = ticketDta;
  this.saveAndPrintFile({
    dataPrint: ticketDoc,
    onDone: () => { self.printing = false }
  });
  
}

async function fetchTipoSorteo() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarTipoSorteo',
    self,
		appCode: true,
    success: (rjson) => {
      this.tipoSorteos = rjson.datos
      this.tipoSorteos = [
        { codigo: '00', descripcion: 'TODOS' },
        ...this.tipoSorteos,
      ]
    },
    error: (rjson) => {
      console.error(rjson);
        return caseWrong({
          self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsgPlus('cargar los sorteos', true),
      });
    },
  })
}

async function fetchTurnos() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarTurnos',
    self,
    success: (rjson) => {
      this.turnos = rjson.datos
      this.turnos = [
        { codigo: '00', descripcion: 'TODOS' },
        ...this.turnos,
      ]
    },
    error: (rjson) => {
      console.error(rjson);
        return caseWrong({
          self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsgPlus('cargar los turnos', true),
      });
    },
  })
}

async function fetchProductos() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarProductos/MDAwMA==',
    self,
    success: (rjson) => {
      self.productos = rjson.datos.map((val) => {
				return{
					label: val.descripcion,
					value: val.codigo
				}
			})
			self.productos = [{label:'TODOS',value:'MDAwMA=='}, ...self.productos];
    },
    error: (rjson) => {
        console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar los productos', true),
            });
		},
  })
}

async function buscar() {
  const self = this
	self.loading = true;
	const auxSorteo = self.tipoSorteo === '00' ? window.btoa(self.tipoSorteo) : self.tipoSorteo;
	const auxTurno = self.turno === '00' ? window.btoa(self.turno) : self.turno;
	const auxFecha = depoched(self.fecha.getTime())

  fetchRequest({
    api: `${this.$apiReporte}ConsultarResultadoSorteo/${self.auth_tokenUsuario}/${this.producto}/${auxSorteo}/${auxTurno}/${auxFecha}`,
    self,
    success: (rjson) => {
			self.loading = false; 
        self.tableData = rjson.datos.map((val) => {
          return {
            producto: window.atob(val.producto),
            descripcion: val.descripcion,
            resultado: window.atob(val.resultado),
          };
        });   
    },
    error: (rjson) => {
      self.loading = false; 
      self.tableData = []
      console.error(rjson);
       return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('', true),
      });
		},
  })
}

function handlerTurnoSorteo(val,num){
    if(num === 1) {
			this.tipoSorteo = val;
    }
    else if(num === 2 ){
      this.turno = val
    }
    
}

function mounted() {
  this.tRef = 'reporteResultados'
  this.fetchTipoSorteo()
	this.fetchTurnos()
	this.fetchProductos();
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario, auth_nombrePuntoVenta, auth_taquilla, auth_columnaTicket } = storeToRefs(authStore)
  loadToggler()

  const optionsColWidthRem = 3
  const forTabla = [
    [{ name: 'Producto', attr: 'producto' },33],
    [{ name: 'Descripción de la sección', attr: 'descripcion' },33],
    [{ name: 'Resultado', attr: 'resultado' },33],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    v$: useVuelidate(),
    inTableData,
    optionsColWidthRem,
		auth_tokenUsuario,
    auth_nombrePuntoVenta,
    auth_taquilla,
    auth_columnaTicket,
    auth_tipoUsuario,
  }
}

function data() {
  return {
		loading: false,
    printing: false,
    fecha: new Date(new Date().toDateString()),
    tipoSorteo: '00',
    tipoSorteos: [],
		turno: '00',
		turnos: [],
		producto: 'MDAwMA==',
		productos: []
  }
}

export default {
  data,
  setup,
  components: { CCInput, CCTable, CCLoader },
  mixins: [tableGenerals, globals,printGenerals],
  computed: {
    hasNotTaquilla: function () {
      return this.auth_tipoUsuario && (this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 23 || this.auth_tipoUsuario === 24)
    },
  },
  methods: {
    fetchTipoSorteo,
		fetchTurnos,
		fetchProductos,
		buscar,
		handlerTurnoSorteo,
		printPDF,
  },
  validations() {
    return reportResultadosVals
  },
  mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
  text-align: center;
}
.color-text {
  color: #1c4c96;
}
</style>