<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar componente</h5></CCardHeader>
        <CCardBody>
          <CRow class="mb-3">
            <CCol class="col-12 col-lg-4">
                <CFormLabel 
                    for="tipo-componente-select" 
                    class="col-form-label col-12"
                >Tipo de componente</CFormLabel>
                <div class="col-12">
                    <CFormSelect
                        id="tipo-componente-select"
                        v-model="tipoComponente"
                        aria-label="select"
                        class="custom-input-class"
                        :disabled="tableDataLoading"
                        @change="filtrarComponentes"
                    >
                        <option value="seleccione">Seleccione</option>
                        <option 
                            v-for="(option, sel_i) in tipoComponenteOptions" 
                            :key="sel_i"
                            :value="option.value"
                            :selected="option.value === tipoComponente"
                        >
                            {{option.label}}
                        </option>
                    </CFormSelect>
                </div>
            </CCol>
          </CRow>
          <CRow>
            <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableDataFiltered" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :viewFromTable="viewComponente"
                :editFromTable="viewComponente"
                :unselectFromTable="deleteComponente"
                :alertMsgs="[labels.sureDelete(true, 'componente', false), labels.sureDelete(false, 'componente', false), 
                  labels.deleteAll('componentes', false), labels.deleteOne('componente', false)]"
                :optionsLabelsDynamic="{ tipoComponenteOptions }"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="30rem"
                doNotEmit
            />
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario" @click="actionFromTable(componenteData(),'register')" :disabled="tableDataLoading">
                Agregar
              </CButton>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalComponente 
    ref="modalcomponenteDecorator"
    :visible="componenteModalVisible" 
    :data="componenteModalDta"
    :close="closeModal" 
    :save="saveComponente" 
    :edit="editComponente"
    :mode="componenteMode"
    :formData="componenteRegister"
    :maxCantSimbs="maxCantSimbs"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import CCTable from '@/components/custom/CCTable.vue';
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalComponente from './modales/modalComponente.vue';
import { componenteRegister } from '@/_helpers/formData';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import { storeToRefs } from 'pinia';
import { ref } from 'vue';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
async function fetchComponentes () {
    this.tableDataLoading = true;
    const self = this;
    fetchRequest({ 
        api: this.$apiPrueba,
        self,
        success: (/* rjson */) => {
            // console.log('response', rjson);
            self.tableData = [
                {codigo: '01', guid: '01', nombre: 'NUMEROA', tipo: '01', cantidadElementos: 0, rutaHost: '', rutaLista: '', elementos: []}, 
                {codigo: '02', guid: '02', nombre: 'NUMEROB', tipo: '01', cantidadElementos: 0, rutaHost: '', rutaLista: '', elementos: []}, 
                {codigo: '03', guid: '03', nombre: 'ANIMALITO', tipo: '02', cantidadElementos: 3, rutaHost: 'https://rickandmortyapi.com/api/', rutaLista: 'character/avatar/{codigo}.jpeg', elementos: [['01','vaca'],['02','toro'],['03','buey']]},
                {codigo: '04', guid: '04', nombre: 'CACHO', tipo: '02', cantidadElementos: 3, rutaHost: 'https://rickandmortyapi.com/api/', rutaLista: 'character/avatar/{codigo}.jpeg', elementos: [['01','medio cacho'],['02','cacho'],['03','doble cacho']]},
                {codigo: '05', guid: '05', nombre: 'ASTRAL  ', tipo: '02', cantidadElementos: 3, rutaHost: 'https://rickandmortyapi.com/api/', rutaLista: 'character/avatar/{codigo}.jpeg', elementos: [['01','aries'],['02','tauro'],['03','geminis']]},
            ];
            self.maxCantSimbs = 100;
        }, 
        error: (rjson) => {
            console.error(rjson);
            self.tableData = [];
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
        done: () => {
            self.tableDataLoading = false;
        }
    });
}

function saveComponente (data) {
  this.tableDataLoading = true;
  const self = this;

  fetchRequest({ 
      api: this.$apiPrueba,
      /* method: 'POST',  */self,
      // body: {},
      success: (/* rjson */) => {
        // console.log('response', rjson);
        const isImg = data.tipo == '02';
        self.tableData = [
          ...self.tableData, 
          /* PARA CONSUMO POST {
            nombre: data.nombre,
            // codigo: data.codigo,
            // guid: data.codigo,
            tipo: data.tipo,
            cantidadElementos: isImg ? `${data.cantidadElementos}` : '',
            rutaHost: isImg ? data.rutaHost : '',
            rutaLista: isImg ? data.rutaLista : '',
            elementos: isImg ? data.elementos : [],
          } */
          {
            nombre: data.nombre,
            codigo: data.codigo,
            guid: data.codigo,
            tipo: data.tipo,
            cantidadElementos: isImg ? +data.cantidadElementos : 0,
            rutaHost: isImg ? data.rutaHost : '',
            rutaLista: isImg ? data.rutaLista : '',
            elementos: isImg ? data.elementos : [],
          }
        ];
        self.fireToastMsg('Componente añadido de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tipoComponente = 'seleccione';
        self.tableDataLoading = false;
        self.componenteModalVisible = false;
        self.modalDecorator(self,'modalcomponenteDecorator');
      }
  });
}

function editComponente (data/* , isDetail = false */) {
  this.tableDataLoading = true;
  const self = this;

  fetchRequest({ 
      api: this.$apiPrueba,
      /* method: 'PUT',  */self,
      // body: {},
      success: (/* rjson */) => {
        // console.log('response', rjson);
        const inx = self.tableData.findIndex(c => c.codigo == data.codigo);
        if (inx > -1) self.tableData[inx] = {...data};
        self.fireToastMsg('Componente modificado de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.componenteModalVisible = false;
        self.modalDecorator(self,'modalcomponenteDecorator');
      }
  });
}

async function viewComponente (data, mode) {
  this.tableDataLoading = true;
  const self = this;

  const resp = await fetchRequest({ 
      api: this.$apiPrueba,
      self, promiseReturn: true,
      success: (rjson) => {
        // console.log('respuestaaa', rjson);
        // return rjson.datos[0]
        return rjson
      }, 
      error: (rjson) => {
        console.error(rjson);
        return { isError: true, msg: rjson.msg, rjson }
      },
      done: () => {
        self.tableDataLoading = false;
      }
  });

  if (resp && !resp.isError) 
    this.actionFromTable({ // para abrir modal
      nombre: data.nombre,
      codigo: data.codigo,
      guid: data.codigo,
      tipo: data.tipo,
      cantidadElementos: +data.cantidadElementos,
      rutaHost: data.rutaHost,
      rutaLista: data.rutaLista,
      elementos: data.elementos.map(el => [...el]),
    }, mode);
  else 
    caseWrong({
      self, error: resp.msg || resp.rjson, passMsg: Boolean(resp.msg),
      defaultMsg: labels.defaultErrorMsg,
    });
}

async function deleteComponente (...args) {
  if (args.length < 2) return;
  const msg = args[1][1];
  const result = await this.fireAlertMsg(msg, {});
  if (result.isConfirmed) {
    this.tableDataLoading = true;
    const self = this;

    fetchRequest({ 
        api: this.$apiPrueba,
        /* method: 'DELETE',  */self,
        success: (/* rjson */) => {
          // console.log('response', rjson);
          self.removeFromTable(false, args[0], args[4]);
          self.fireToastMsg(args[1][3], { icon: 'success' });
        }, 
        error: (rjson) => {
          console.error(rjson);
          return caseWrong({
              self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsg,
          });
        },
        done: () => {
          self.tableDataLoading = false;
        }
    });
  }
}

// DATA
function data () {
  return {
    tipoComponenteOptions: [
        { label: 'Numerico', value: '01' },
        { label: 'Imagen', value: '02' },
    ],
    maxCantSimbs: 100, // por defecto
    // maximoImagenesOptions: [
    //     {label: 'Multiselección', value: '-1'},
    //     {label: 'Sin selección', value: '0'},
    //     {label: 'Una selección', value: '1'},
    //     {label: 'Personalizado', value: '2'},
    // ],
  }
}

// SETUP
function setup () {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  // 
  loadToggler()
  const tipoComponente = ref('')
  
  const optionsColWidthRem = 5
  const forTabla = [
        [{name: 'nombre', attr: 'nombre'}], 
        [{name: 'tipo', attr: 'tipo', slct: 'tipoComponenteOptions'}, 10], 
        [{name: 'cantidad de elementos', attr: 'cantidadElementos'}, 10],
        [{name: 'ruta lista', attr: ['rutaHost','rutaLista']}, 30],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('componente'),
    componenteRegister,
    inTableData,
    tipoComponente,
    auth_tokenUsuario,
    labels,
    optionsColWidthRem,
  }
}

// MOUNTED
function mounted () {
  this.tRef = 'componenteTable';
  this.canDelete = 'componente';
  this.fetchComponentes();
}

export default {
    name: 'Componente',
    components: { CCTable, ModalComponente },
    mixins: [
        globalMixin,
        tableGenerals,
        modalGenerals,
    ],
    data,
    setup,
    computed: {
      tableDataFiltered: function () {
        return this.tableData.filter(c => !this.tipoComponente || this.tipoComponente === 'seleccione' || c.tipo == this.tipoComponente)
      },
    },
    methods: {
        fetchComponentes,
        saveComponente,
        editComponente,
        viewComponente,
        deleteComponente,
        filtrarComponentes: function (e) {
            if (e?.target?.value) this.tipoComponente = e.target.value;
        }, 
        componenteData: function () {
          const id = (new Date().getTime()) + Math.random().toFixed(16);
          const componente = {
            codigo: id,
            guid: id,
            nombre: '',
            tipo: 'seleccione',
            cantidadElementos: 0,
            rutaHost: '',
            rutaLista: '',
            elementos: [],
          };

          return componente
        },       
    },
    mounted,
}
</script>

<style lang="scss" scoped>
</style>