<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar modalidad</h5></CCardHeader>
        <CCardBody>
          <CRow class="mb-3">
            <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :viewFromTable="viewModalidad"
                :editFromTable="viewModalidad"
                :unselectFromTable="deleteModalidad"
                :alertMsgs="[labels.sureDelete(true, 'modalidad'), labels.sureDelete(false, 'modalidad'), 
                  labels.deleteAll('modalidades'), labels.deleteOne('modalidad')]"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="30rem"
                doNotEmit
            />
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario" @click="actionFromTable(modalidadData(),'register')" :disabled="tableDataLoading">
                Agregar
              </CButton>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalModalidad 
    ref="modalmodalidadDecorator"
    :visible="modalidadModalVisible" 
    :data="modalidadModalDta"
    :close="closeModal" 
    :save="saveModalidad" 
    :edit="editModalidad"
    :mode="modalidadMode"
    :formData="modalidadRegister"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import CCTable from '@/components/custom/CCTable.vue';
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalModalidad from './modales/modalModalidad.vue';
import { modalidadRegister } from '@/_helpers/formData';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import { storeToRefs } from 'pinia';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
async function fetchModalidades () {
    this.tableDataLoading = true;
    const self = this;
    fetchRequest({ 
        api: this.$apiPrueba,
        self,
        success: () => {
            self.tableData = [
                {codigo: '01', guid: '01', nombre: 'TRIPLE FIJO', maximoPermuta: 5, componentes: [{codigo: '01', ordenSeleccion: '0,3', obligatorio: false}, {codigo: '02', ordenSeleccion: '0,3'}]}, 
                {codigo: '02', guid: '02', nombre: 'COLA', maximoPermuta: 5, componentes: [{codigo: '01', ordenSeleccion: '-0,2', obligatorio: false}]}, 
                {codigo: '03', guid: '03', nombre: 'PUNTA', maximoPermuta: 5, componentes: [{codigo: '01', ordenSeleccion: '0,2', obligatorio: false}]},
                {codigo: '04', guid: '04', nombre: 'ANIMALITO', maximoPermuta: 0, componentes: [{codigo: '03', ordenSeleccion: '0,2', obligatorio: false}]},
            ];
        }, 
        error: (rjson) => {
            console.error(rjson);
            self.tableData = [];
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
        done: () => {
            self.tableDataLoading = false;
        }
    });
}

function saveModalidad (data) {
  this.tableDataLoading = true;
  const self = this;

  fetchRequest({ 
      api: this.$apiPrueba,
      /* method: 'POST',  */self,
      // body: {},
      success: () => {
        self.tableData = [
          ...self.tableData, 
          /* PARA CONSUMO POST {
            nombre: data.nombre,
            // codigo: data.codigo,
            // guid: data.codigo,
            maximoPermuta: data.maximoPermuta,
            componentes: data.componentes,
          } */
          {
            nombre: data.nombre,
            codigo: data.codigo,
            guid: data.codigo,
            maximoPermuta: data.maximoPermuta,
            componentes: data.componentes,
          }
        ];
        self.fireToastMsg('Modalidad añadida de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.modalidadModalVisible = false;
        self.modalDecorator(self,'modalmodalidadDecorator');
      }
  });
}

function editModalidad (data/* , isDetail = false */) {
  this.tableDataLoading = true;
  const self = this;

  fetchRequest({ 
      api: this.$apiPrueba,
      /* method: 'PUT',  */self,
      // body: {},
      success: () => {
        const inx = self.tableData.findIndex(c => c.codigo == data.codigo);
        if (inx > -1) self.tableData[inx] = {...data};
        self.fireToastMsg('Modalidad modificada de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.modalidadModalVisible = false;
        self.modalDecorator(self,'modalmodalidadDecorator');
      }
  });
}

async function viewModalidad (data, mode) {
  this.tableDataLoading = true;
  const self = this;

  const resp = await fetchRequest({ 
      api: this.$apiPrueba,
      self, promiseReturn: true,
      success: (rjson) => {
        // return rjson.datos[0]
        return rjson
      }, 
      error: (rjson) => {
        console.error(rjson);
        return { isError: true, msg: rjson.msg, rjson }
      },
      done: () => {
        self.tableDataLoading = false;
      }
  });

  if (resp && !resp.isError) 
    this.actionFromTable({ // para abrir modal
      nombre: data.nombre,
      codigo: data.codigo,
      guid: data.codigo,
      maximoPermuta: data.maximoPermuta,
      componentes: data.componentes,
    }, mode);
  else 
    caseWrong({
      self, error: resp.msg || resp.rjson, passMsg: Boolean(resp.msg),
      defaultMsg: labels.defaultErrorMsg,
    });
}

async function deleteModalidad (...args) {
  if (args.length < 2) return;
  const msg = args[1][1];
  const result = await this.fireAlertMsg(msg, {});
  if (result.isConfirmed) {
    this.tableDataLoading = true;
    const self = this;

    fetchRequest({ 
        api: this.$apiPrueba,
        /* method: 'DELETE',  */self,
        success: () => {
          self.removeFromTable(false, args[0], args[4]);
          self.fireToastMsg(args[1][3], { icon: 'success' });
        }, 
        error: (rjson) => {
          console.error(rjson);
          return caseWrong({
              self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsg,
          });
        },
        done: () => {
          self.tableDataLoading = false;
        }
    });
  }
}

// SETUP
function setup () {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  // 
  loadToggler()
  
  const optionsColWidthRem = 5
  const forTabla = [
        [{name: 'nombre', attr: 'nombre'}, 70], 
        [{name: 'Cant. Componentes', attr: 'componentes', slct: '.length'}, 15],
        [{name: 'Máximo de permutas', attr: 'maximoPermuta'}, 15],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('modalidad'),
    modalidadRegister,
    inTableData,
    auth_tokenUsuario,
    labels,
    optionsColWidthRem,
  }
}

// MOUNTED
function mounted () {
  this.tRef = 'modalidadTable';
  this.canDelete = 'modalidad';
  this.fetchModalidades();
}

export default {
    name: 'Modalidad',
    components: { CCTable, ModalModalidad },
    mixins: [
        globalMixin,
        tableGenerals,
        modalGenerals,
    ],
    setup,
    methods: {
        fetchModalidades,
        saveModalidad,
        editModalidad,
        viewModalidad,
        deleteModalidad,     
        modalidadData: function () {
          const id = (new Date().getTime()) + Math.random().toFixed(16);
          const modalidad = {
            codigo: id,
            guid: id,
            nombre: '',
            maximoPermuta: 5,
            componentes: [],
          };

          return modalidad
        },
    },
    mounted,
}
</script>

<style lang="scss" scoped>
</style>