<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar producto</h5></CCardHeader>
        <CCardBody>
          <CRow class="mb-5">
            <CCFormStructureWrapper :formData="productFilters">
                <template #formIn="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :disabled="shouldDisabled()"
                        :options="getOptions(formObj.options)"
                    />
                </template>
            </CCFormStructureWrapper>
          </CRow>
          <CRow class="mb-4">
            <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :viewFromTable="viewProducto"
                :editFromTable="viewProducto"
                :unselectFromTable="deleteProducto"
                :alertMsgs="[labels.sureDelete(true, 'producto', false), labels.sureDelete(false, 'producto', false), 
                  labels.deleteAll('productos', false), labels.deleteOne('producto', false)]"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="30rem"
                doNotEmit
            />
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario adapt-all-md" @click="actionFromTable(productoData(),'register','producto')" :disabled="disabledAdd" >
                Agregar
              </CButton>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalProducto 
    ref="modalproductoDecorator"
    :visible="productoModalVisible" 
    :data="productoModalDta"
    :close="($event) => {closeModalCustom($event,'producto','componentemodalidad')}" 
    :save="saveProducto" 
    :edit="editProducto"
    :mode="productoMode"
    :formData="productoRegister"
  />
  <ModalModalidadComponente 
    ref="modalcomponentemodalidadDecorator"
    :visible="componentemodalidadModalVisible" 
    :data="componentemodalidadModalDta"
    :close="($event) => {closeModalCustom($event,'componentemodalidad','producto')}" 
    :mode="componentemodalidadMode"
    :formData="componenteModalidadRegister"
  />
</template>

<script>
//#region IMPORTS
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import useVuelidate from '@vuelidate/core';
import { loadToggler } from '@/composables/loadToggler'
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCTable from '@/components/custom/CCTable.vue';
import { productFilters, productoRegister, componenteModalidadRegister } from '@/_helpers/formData'
import productoFilterVals from '@/_validations/gestionProductos/productoFilterVals';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import ModalProducto from './modales/modalProducto.vue';
import ModalModalidadComponente from './modales/modalModalidadComponente.vue';
import { LABELS as labels } from '@/_helpers/labels';
import productoEjemplo from './productoEjemplo';
//#endregion

//#region SETUP and DATA and HOOKS
function setup() {
    loadToggler()

    const optionsColWidthRem = 5
    const forTabla = [
            [{name: 'nombre', attr: 'nombre'}, 50], 
            [{name: 'codigo', attr: 'codigo'}, 50],
        ]
    const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

    return {
        v$: useVuelidate(),
        ...setupData(1),
        ...modalSetupData('producto','componentemodalidad'),
        productFilters,
        productoRegister,
        componenteModalidadRegister,
        inTableData,
        optionsColWidthRem,
        labels,
        productoEjemplo,
    }
}

function data() {
    return {
        loteria: 'seleccione',
        operadora: 'seleccione',
        loadingFilters: false,
        operadoraOptions: [],
        loteriaOptions: [],
    }
}

function mounted () {
    this.tRef = 'productoTable';
    this.canDelete = 'producto';
    this.fetchWhich('loterias');
}
//#endregion

//#region METHODS
function shouldDisabled () {
    return this.loadingFilters
}

function productoData () {
  const id = 'P'+String(this.tableData.length+1).padStart(3,'0');
  const producto = {
    codigo: id,
    guid: id,
    nombre: '',
    nombreResumido: '',
    caducidadTicket: 1,
    caducidadReintegro: 1,
    combinaSeccion: 'seleccione',
    status: 'seleccione',
    // SECCION
    secciones: [],
    // COMPONENTE-SECCION
    seccionComponentes: [],
    // MODALIDAD-SECCION
    seccionModalidades: [],
    // 
    loteria: this.loteria,
    operadora: this.operadora,
    loteriaOptions: this.loteriaOptions,
    operadoraOptions: this.operadoraOptions,
  };

  return producto
}

async function saveProducto (data) {
  this.tableDataLoading = true;
  const self = this;

  fetchRequest({ 
      api: this.$apiPrueba,
      /* method: 'POST',  */self,
      // body: {},
      success: () => {
        self.tableData = [
          ...self.tableData,
          {
              codigo: data.codigo,
              guid: data.guid,
              nombre: data.nombre,
              nombreResumido: data.nombreResumido,
              caducidadTicket: data.caducidadTicket,
              caducidadReintegro: data.caducidadReintegro,
              combinaSeccion: data.combinaSeccion,
              status: data.status,
              secciones: data.secciones,
              seccionComponentes: data.seccionComponentes,
              seccionModalidades: data.seccionModalidades,
          }
        ];
        self.fireToastMsg('Producto añadido de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.productoModalVisible = false;
        self.modalDecorator(self,'modalproductoDecorator');
      }
  });
}

async function viewProducto (data, mode) {
    this.tableDataLoading = true;
    const self = this;

    const resp = await fetchRequest({ 
        api: this.$apiPrueba,
        self, promiseReturn: true,
        success: (rjson) => {
            // return rjson.datos[0]
            return rjson
        }, 
        error: (rjson) => {
            console.error(rjson);
            return { isError: true, msg: rjson.msg, rjson }
        },
        done: () => {
            self.tableDataLoading = false;
        }
    });

    if (resp && !resp.isError) 
        this.actionFromTable({ // para abrir modal
            nombre: data.nombre,
            nombreResumido: data.nombreResumido,
            caducidadTicket: +data.caducidadTicket,
            caducidadReintegro: +data.caducidadReintegro,
            combinaSeccion: data.combinaSeccion,
            status: data.status,
            codigo: data.codigo,
            guid: data.codigo,
            // SECCION
            secciones: data.secciones.map(s => ({...s})),
            // COMPONENTE-SECCION
            seccionComponentes: data.seccionComponentes.map(c => ({...c})),
            // MODALIDAD-SECCION
            seccionModalidades: data.seccionModalidades.map(m => ({...m})),
            // 
            loteria: this.loteria,
            operadora: this.operadora,
            loteriaOptions: this.loteriaOptions,
            operadoraOptions: this.operadoraOptions,
        }, mode, 'producto');
    else 
        caseWrong({
        self, error: resp.msg || resp.rjson, passMsg: Boolean(resp.msg),
        defaultMsg: labels.defaultErrorMsg,
        });
}

function editProducto (data/* , isDetail = false */) {
  this.tableDataLoading = true;
  const self = this;
  fetchRequest({ 
      api: this.$apiPrueba,
      /* method: 'PUT',  */self,
      // body: {},
      success: () => {
        const inx = self.tableData.findIndex(c => c.codigo == data.codigo);
        if (inx > -1) self.tableData[inx] = {...data};
        self.fireToastMsg('Producto modificado de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.productoModalVisible = false;
        self.modalDecorator(self,'modalproductoDecorator');
      }
  });
}

async function deleteProducto (...args) {
  if (args.length < 2) return;
  const msg = args[1][1];
  const result = await this.fireAlertMsg(msg, {});
  if (result.isConfirmed) {
    this.tableDataLoading = true;
    const self = this;

    fetchRequest({ 
        api: this.$apiPrueba,
        /* method: 'DELETE',  */self,
        success: () => {
          self.removeFromTable(false, args[0], args[4]);
          self.fireToastMsg(args[1][3], { icon: 'success' });
        }, 
        error: (rjson) => {
          console.error(rjson);
          return caseWrong({
              self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsg,
          });
        },
        done: () => {
          self.tableDataLoading = false;
        }
    });
  }
}

async function fetchWhich (wch) {
    const [prods, lots, opers] = ['productos','loterias','operadoras'].map(w => wch == w);
    this[prods ? 'tableDataLoading' : 'loadingFilters'] = true;
    const self = this;
    fetchRequest({ 
        api: this.$apiPrueba,
        self,
        success: () => {
            self[prods ? 'tableData' : `${lots ? 'loteria' : 'operadora'}Options`] = 
              prods ? [
                {...self.productoEjemplo('P001','CHANCE','CHANC'), caducidadTicket: 30, caducidadReintegro: 5, combinaSeccion: '1', status: '0'}, 
                {...self.productoEjemplo('P002','CHANCE ANIMALITO','CHANSANI'), caducidadTicket: 30, caducidadReintegro: 5, combinaSeccion: '1', status: '0'}, 
              ] : [
                { label: 'Uno', value: '1' },
                { label: 'Dos', value: '2' },
                { label: 'Tres', value: '3' },
              ];
        }, 
        error: (rjson) => {
            console.error(rjson);
            self[prods ? 'tableData' : `${lots ? 'loteria' : 'operadora'}Options`] = [];
            // const msg = rjson?.mensaje?.description || rjson?.message?.description;
            const msg = prods ? 'No hay productos registrados para la lotería y la operadora indicadas' :
                        opers ? 'No hay operadoras registradas para la lotería indicada' :
                        'No hay loterías registradas';
            return caseWrong({
                self, error: msg || rjson, passMsg: Boolean(msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
        done: () => {
            self[prods ? 'tableDataLoading' : 'loadingFilters'] = false;
        }
    });
}
//#endregion

export default {
    name: 'Producto',
    components: { CCInput, CCFormStructureWrapper, ModalProducto, CCTable, ModalModalidadComponente },
    mixins: [ globalMixin, tableGenerals, modalGenerals ],
    setup,
    data,
    validations () {
        return productoFilterVals
    },
    methods: {
        shouldDisabled,
        productoData,
        viewProducto,
        saveProducto,
        editProducto,
        deleteProducto,
        fetchWhich,
        closeModalCustom: async function (e = null, param = '', param2 = '') {
          this.closeModal(param);
          if (e && typeof e === 'object' && e.obj) {
            await this.awaiter(400);
            this.actionFromTable(e,e.mode,param2);
          }
        },
    },
    computed: {
      disabledAdd: function () {
        return this.tableDataLoading || this.loadingFilters || !this.loteria || this.loteria == 'seleccione' || !this.operadora || this.operadora == 'seleccione'
      },
    },
    watch: {
      loteria: function (val) {
        this.operadora = 'seleccione';  
        if (val && val != 'seleccione') this.fetchWhich('operadoras');
        else this.operadoraOptions = [];
      },
      operadora: function (val) {
        if (val && val != 'seleccione') this.fetchWhich('productos');
        else this.tableData = [];
      },
    },
    mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>