<template>
  <CModal
    size="xl"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle>{{
        this.mode === 'edit'
          ? 'Modificar centro de apuesta'
          : 'Agregar centro de apuesta'
      }}</CModalTitle>
    </CModalHeader>
    <CModalBody class="modal-content">
      <!----------------------------DATOS BÁSICOS ---------------------------->
      <CForm class="d-flex flex-wrap justify-content-between align-items-start">
        <CCol xs="12" lg="5" v-if="this.auth_tipoUsuario === 24">
          <CCol class="mb-1 color-text">Comprador comercial *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'select',
            }"
            v-model="comprador"
            :v_="v$.comprador"
            activateTouched
            :execute="
              () => {
                v$.comprador.$touch()
              }
            "
            :options="compradorOptions"
            hideSeleccione
            :disabled="mode === 'edit'"
            @change="actualizarPremiacion(comprador)"
          />
        </CCol>
        <CCol xs="12" lg="5" :class="this.auth_tipoUsuario != 24 ? 'mt-3' : ''">
          <CCol class="mb-1 color-text">Nombre centro de apuesta *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="nombreCentro"
            :v_="v$.nombreCentro"
            activateTouched
            :execute="
              () => {
                v$.nombreCentro.$touch()
              }
            "
            :disabled="this.mode === 'edit' ? true : false"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">RIF *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="rif"
            :v_="v$.rif"
            activateTouched
            @input="rif = $event.target.value.toUpperCase()"
            :execute="
              () => {
                v$.rif.$touch()
              }
            "
            :disabled="this.mode === 'edit' ? true : false"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Grupo</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'select',
            }"
            v-model="grupo"
            :v_="v$.grupo"
            activateTouched
            :execute="
              () => {
                v$.grupo.$touch()
              }
            "
            :options="grupoOptions"
            hideSeleccione
            @change="pruebaGrupo($event)"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Forma de premiación *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'select',
            }"
            v-model="premiacion"
            :v_="v$.premiacion"
            activateTouched
            :execute="
              () => {
                v$.premiacion.$touch()
              }
            "
            :options="premiacionOptions"
            hideSeleccione
            :disabled="
              this.estSolGrupo === 'MQ=='
                ? true
                : this.estSolGrupo === 'MA==' && this.grupo != 'MDAwMDAw'
                ? true
                : false
            "
            @change="pruebaPremiacion($event)"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text"
            >Nombre del centro de apuesta para impresión del ticket</CCol
          >
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="nomCentroImpresion"
            :v_="v$.nomCentroImpresion"
            activateTouched
            :execute="
              () => {
                v$.nomCentroImpresion.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Número teléfono móvil *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="numeroTele"
            :v_="v$.numeroTele"
            activateTouched
            :execute="
              () => {
                v$.numeroTele.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Correo electrónico *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="correo"
            :v_="v$.correo"
            activateTouched
            :execute="
              () => {
                v$.correo.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3" v-if="this.mode === 'edit'">
          <CCol class="mb-1 color-text">Estatus</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'select',
            }"
            v-model="estatus"
            :v_="v$.estatus"
            activateTouched
            :execute="
              () => {
                v$.estatus.$touch()
              }
            "
            :options="estatusOptions"
            hideSeleccione
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Dirección</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="direccion"
            :v_="v$.direccion"
            activateTouched
            :execute="
              () => {
                v$.direccion.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Responsable legal *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="responsable"
            :v_="v$.responsable"
            activateTouched
            :execute="
              () => {
                v$.responsable.$touch()
              }
            "
            :disabled="this.mode === 'edit' ? true : false"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Latitud</CCol>
          <div class="border-blue">
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
                rowClasses: 'col-lg-3 inline-block me-2',
              }"
              v-model="gradosLatitud"
              :v_="v$.gradosLatitud"
              activateTouched
            />
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
                rowClasses: 'col-lg-3 inline-block me-2',
              }"
              v-model="minutosLatitud"
              :v_="v$.minutosLatitud"
              activateTouched
            />
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
                rowClasses: 'col-lg-3 inline-block me-2',
              }"
              v-model="segundosLatitud"
              :v_="v$.segundosLatitud"
              activateTouched
            />
            <div
              class="row"
              v-if="
                gradosLatitud.length > 0 &&
                this.v$.gradosLatitud.numeric.$invalid
              "
            >
              <span style="color: red">{{
                this.v$.gradosLatitud.numeric.$message
              }}</span>
            </div>
            <div
              class="row"
              v-if="
                minutosLatitud &&
                minutosLatitud.length > 0 &&
                this.v$.minutosLatitud.numberAndDecimals.$invalid
              "
            >
              <span style="color: red">{{
                this.v$.minutosLatitud.numberAndDecimals.$message
              }}</span>
            </div>
            <div
              class="row"
              v-if="
                segundosLatitud &&
                segundosLatitud.length > 0 &&
                this.v$.segundosLatitud.numberAndDecimals.$invalid
              "
            >
              <span style="color: red">{{
                this.v$.segundosLatitud.numberAndDecimals.$message
              }}</span>
            </div>
          </div>
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Longitud</CCol>
          <div class="border-blue">
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
                rowClasses: 'col-lg-3 inline-block me-2',
              }"
              v-model="gradosLongitud"
              :v_="v$.gradosLongitud"
              activateTouched
            />
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
                rowClasses: 'col-lg-3 inline-block me-2',
              }"
              v-model="minutosLongitud"
              :v_="v$.minutosLongitud"
              activateTouched
            />
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'text',
                rowClasses: 'col-lg-3 inline-block me-2',
              }"
              v-model="segundosLongitud"
              :v_="v$.segundosLongitud"
              activateTouched
            />
            <div
              class="row"
              v-if="
                gradosLongitud.length > 0 &&
                this.v$.gradosLongitud.numeric.$invalid
              "
            >
              <span style="color: red">{{
                this.v$.gradosLongitud.numeric.$message
              }}</span>
            </div>
            <div
              class="row"
              v-if="
                minutosLongitud &&
                minutosLongitud.length > 0 &&
                this.v$.minutosLongitud.numberAndDecimals.$invalid
              "
            >
              <span style="color: red">{{
                this.v$.minutosLongitud.numberAndDecimals.$message
              }}</span>
            </div>
            <div
              class="row"
              v-if="
                segundosLongitud &&
                segundosLongitud.length > 0 &&
                this.v$.segundosLongitud.numberAndDecimals.$invalid
              "
            >
              <span style="color: red">{{
                this.v$.segundosLongitud.numberAndDecimals.$message
              }}</span>
            </div>
          </div>
        </CCol>
      </CForm>
      <!----------------------------DATOS EN LOS TABS ---------------------------->
      <div class="mt-4" v-if="validarSeccionTabs || this.verSeccion === '1'">
        <CNav variant="tabs">
          <CNavItem>
            <CNavLink
              @click="handlerTabs(0)"
              :active="configuraciones"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Configuraciones
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(1)"
              :active="negociacion"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Condiciones de negociación
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(2)"
              :active="limite"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Límites por sorteos
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(3)"
              :active="limiteApuestas"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Límites de apuestas
            </CNavLink>
          </CNavItem>
        </CNav>
        <CTabContent class="rounded-bottom">
          <CTabPane class="p-3 preview" :visible="configuraciones">
            <div class="col-md-12">
              <CRow>
                <CCol xs="12" lg="5" class="me-1">
                  <CCol class="mb-1 color-text">Funciones</CCol>
                  <div class="border-blue">
                    <CFormCheck
                      inline
                      class="text-capitalize"
                      v-for="aim of funcionesOptions"
                      :key="aim"
                      name="funciones"
                      :id="'funciones' + aim"
                      :label="aim.label"
                      :value="aim.value"
                      @change="handlerFunciones(aim.value, 1)"
                      :checked="'MQ==' === aim.estatus"
                    />
                  </div>
                </CCol>
                <CCol xs="12" lg="5" class="me-1">
                  <CCol class="mb-1 color-text">Monedas *</CCol>
                  <div class="border-blue">
                    <CFormCheck
                      inline
                      class="text-capitalize"
                      v-for="aim of monedasOptions"
                      :key="aim"
                      name="monedas"
                      :id="'monedas' + aim"
                      :label="aim.label"
                      :value="aim.value"
                      @change="handlerFunciones(aim.value, 2)"
                      :checked="'MQ==' === aim.estatus"
                    />
                  </div>
                </CCol>
                <CCol xs="12" lg="12" class="mt-3 mb-1 row">
                  <CCol lg="4" class="mb-1 color-text"
                    >Límite de venta general del centro de apuesta</CCol
                  >
                  <CCol
                    lg="1"
                    class="mb-1 color-text"
                    style="text-align: center"
                    >{{ this.simboloMoneda }}</CCol
                  >
                  <CCInput
                    :allData="{
                      rowClasses: 'col-lg-4',
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    v-model="limiteVal"
                    :v_="v$.limiteVal"
                    activateTouched
                    :execute="
                      () => {
                        v$.limiteVal.$touch()
                      }
                    "
                  />
                </CCol>
                <CCol
                  xs="12"
                  lg="12"
                  class="mt-3 row"
                  v-if="estSolImpuestoMunicipal === 'MQ=='"
                >
                  <CCol lg="4" class="mb-1 color-text">Impuesto municipal</CCol>
                  <CCInput
                    :allData="{
                      rowClasses: 'col-lg-4',
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    v-model="impuesto"
                    :v_="v$.impuesto"
                    activateTouched
                    :execute="
                      () => {
                        v$.impuesto.$touch()
                      }
                    "
                  />
                </CCol>
              </CRow>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton
                class="btn-primario"
                @click="handlerTabs(1)"
                :disabled="
                  mode === 'register' || mode === 'edit'
                    ? btnTabsDisabled(1)
                    : false
                "
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="negociacion">
            <div class="table-responsive">
              <CCol xs="12" lg="3" class="me-1">
                <CCol class="mb-1 color-text">Productos</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="productoNegociacion"
                  :v_="v$.productoNegociacion"
                  activateTouched
                  :execute="
                    () => {
                      v$.productoNegociacion.$touch()
                    }
                  "
                  :options="productosNegociacionOptions"
                  hideSeleccione
                />
              </CCol>
              <table class="table">
                <thead>
                  <tr>
                    <th class="mb-1 color-text">Tipo de jugada</th>
                    <th class="mb-1 color-text">Condición de negociación</th>
                  </tr>
                </thead>
                <tbody>
                  <template
                    v-for="(prod, i) of elementosFiltradosNegociacion"
                    :key="prod.value"
                  >
                    <tr>
                      <td class="mb-1" style="vertical-align: middle">
                        {{ prod.NomJugada }}
                      </td>
                      <td class="mb-1">
                        <CCol
                          xs="12"
                          lg="5"
                          class="mt-3"
                          v-for="aux of auxCondicionOptions"
                          :key="aux.value"
                        >
                          <CCInput
                            :allData="{
                              errorMessageClasses: 'wrong-input',
                              type: 'select',
                            }"
                            v-model="condicion[i]"
                            :v_="v$.condicion"
                            v-if="
                              prod.CodJugada === aux.CodJugada &&
                              prod.codigoCondNeg === aux.codigoCondNeg
                            "
                            :options="aux.ListCondicionesProTipJug"
                            @change="
                              obtenerValorNegociacion(
                                condicion[i],
                                prod.CodigoProducto,
                                aux.CodJugada,
                              )
                            "
                          />
                        </CCol>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton class="btn-primario" @click="handlerTabsAtras(2)">
                Atrás
              </CButton>
              <CButton
                class="btn-primario"
                @click="handlerTabs(2)"
                :disabled="mode === 'register' ? btnTabsDisabled(2) : false"
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="limite">
            <CRow>
              <div class="row mt-3 mb-3">
                <CCol xs="12" lg="3" class="me-1">
                  <CCol class="mb-1 color-text">Productos</CCol>
                  <CCInput
                    :allData="{
                      errorMessageClasses: 'wrong-input',
                      type: 'select',
                    }"
                    v-model="productoLimite"
                    :v_="v$.productoLimite"
                    activateTouched
                    :execute="
                      () => {
                        v$.productoLimite.$touch()
                      }
                    "
                    :options="productosLimiteOptions"
                    hideSeleccione
                    @change="limpiarTodos()"
                  />
                </CCol>
                <CCol xs="12" lg="3" class="me-1">
                  <CCol class="mb-1 color-text">Monto del cupo</CCol>
                  <CCInput
                    :allData="{
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    v-model="montoDelCupo"
                    :v_="v$.montoDelCupo"
                    activateTouched
                    :execute="
                      () => {
                        v$.montoDelCupo.$touch()
                      }
                    "
                    :disabled="productoLimite != 'MDA='"
                  />
                </CCol>
                <CCol xs="12" lg="3" class="me-1">
                  <CCol class="mb-1 color-text"
                    >Aplicar a todos los productos</CCol
                  >
                  <CFormCheck
                    inline
                    class="text-capitalize"
                    :value="aplicarTodos"
                    v-model="aplicarTodos"
                    @change="handlerFunciones(aplicarTodos, 3)"
                    :disabled="montoDelCupo == '' && productoLimite != 'MDA='"
                  />
                </CCol>
                <CCol xs="12" lg="2" class="me-1">
                  <CCol class="mb-1 color-text">Cupo diario</CCol>
                  <CFormCheck
                    inline
                    class="text-capitalize"
                    :value="cupoDiario"
                    v-model="cupoDiario"
                    @change="handlerFunciones(cupoDiario, 4)"
                    :disabled="mode === 'register'"
                  />
                </CCol>
              </div>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="mb-1 color-text">Producto</th>
                      <th class="mb-1 color-text">Sección</th>
                      <th class="mb-1 color-text">Modalidad</th>
                      <th class="mb-1 color-text">Cupo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template
                      v-for="prod of elementosFiltradosLimiteSorteo"
                      :key="prod.value"
                    >
                      <tr>
                        <td class="mb-1">{{ prod.nombreProducto }}</td>
                        <td class="mb-1">{{ prod.nombreSeccion }}</td>
                        <td class="mb-1">{{ prod.nombreModalidad }}</td>
                        <td class="mb-1">
                          <CCol xs="12" lg="5" class="mt-3">
                            <CCInput
                              :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'text',
                              }"
                              v-model="prod.montoCupo"
                              :v_="v$.cupo"
                              :execute="
                                () => {
                                  v$.cupo.$touch()
                                }
                              "
                              @input="checkNegativeValue($event,1)"
                              @change="cambioAplicaTodos()"
                              :disabled="aplicarTodos === true"
                            />
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <CModalFooter v-if="showFooter" class="justify-content-right">
                <CButton class="btn-primario" @click="handlerTabsAtras(3)">
                  Atrás
                </CButton>
                <CButton
                  class="btn-primario"
                  @click="handlerTabs(3)"
                  :disabled="btnTabsDisabled(3)"
                >
                  Continuar
                </CButton>
              </CModalFooter>
            </CRow>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="limiteApuestas">
            <CRow>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="mb-1 color-text">Moneda</th>
                      <th class="mb-1 color-text">Monto mínimo del ticket</th>
                      <th class="mb-1 color-text">Monto máximo del ticket</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-for="mon of newArrMoneda" :key="mon.value">
                      <tr>
                        <td class="mb-1">{{ mon.label }}</td>
                        <td class="mb-1">
                          <CCol xs="12" lg="5" class="mt-3">
                            <CCInput
                              :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'text',
                              }"
                              v-model="mon.minimo"
                              :v_="v$.minimo"
                              @input="checkNegativeValue($event,2)"
                            />
                          </CCol>
                        </td>
                        <td class="mb-1">
                          <CCol xs="12" lg="5" class="mt-3">
                            <CCInput
                              :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'text',
                              }"
                              v-model="mon.maximo"
                              :v_="v$.maximo"
                              @input="checkNegativeValue($event,2)"
                            />
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <CModalFooter v-if="showFooter" class="justify-content-right">
                <CCLoader v-if="loading" inline />&nbsp;
                <CButton class="btn-primario" @click="handlerTabsAtras(4)">
                  Atrás
                </CButton>
                <CButton
                  class="btn-primario"
                  @click="handlerTabs(4)"
                  :disabled="
                    mode === 'register' ? (btnTabsDisabled(4) || valBtn) : (btnDisableEdit() || valBtn)
                  "
                >
                  {{ this.mode === 'edit' ? 'Modificar' : 'Guardar' }}
                </CButton>
              </CModalFooter>
            </CRow>
          </CTabPane>
        </CTabContent>
      </div>
    </CModalBody>
  </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import modalCentroApuesta from '@/_validations/centroApuesta/modalCentroApuesta'
import CCInput from '@/components/custom/CCInput.vue'
import CCLoader from '@/components/custom/CCLoader.vue'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { LABELS as labels } from '@/_helpers/labels'

function limpiarTodos() {
  this.montoDelCupo = ''
  if (this.aplicarTodos === true) {
    this.aplicarTodos = false
    this.valorApliTodos = 'MA=='
  }
}

function cambioAplicaTodos() {
  if (this.aplicarTodos === true) {
    this.aplicarTodos = false
    this.valorApliTodos = 'MA=='
  }
}

function cleanAll() {
  this.comprador = ''
  this.nombreCentro = ''
  this.rif = ''
  this.grupo = ''
  this.premiacion = 'MDA='
  this.nomCentroImpresion = ''
  this.numeroTele = ''
  this.correo = ''
  this.estatus = ''
  this.direccion = ''
  this.responsable = ''

  this.gradosLatitud = '0' // 10
  this.minutosLatitud = '0'
  this.segundosLatitud = '0'

  this.gradosLongitud = '0'
  this.minutosLongitud = '0'
  this.segundosLongitud = '0'

  this.limiteVal = '0'
  this.condicion = []

  this.productoNegociacion = 'MDA='
  this.productoLimite = 'MDA='
  this.montoDelCupo = ''
  this.cupo = ''
  this.minimo = ''
  this.maximo = ''
  this.aplicarTodos = false
  this.cupoDiario = false
  this.handlerTabs(0)

  this.pruebaComprador = []
  this.pruebaEstatus = []
  this.compradorOptions = []
  this.grupoOptions = []
  this.premiacionOptions = []
  this.turnos = []
  this.funcionesArray = []
  this.funcionesOptions = []
  this.estatusOptions = []
  this.monedasArray = []
  this.monedasOptions = []
  this.productosOptions = []
  this.productosNegociacionOptions = []
  this.productosLimiteOptions = []
  this.condicionOptions = []
  this.condiciones = {}
  this.elementosFiltradosNegociacion = []
  this.auxCondicionOptions = []
  this.limitesSorteoOptions = []
  this.elementosFiltradosLimiteSorteo = []
  this.auxLimiteSorteo = []
  this.arrayCondicionesNeg = []
  this.arraySinDuplicados = []
  this.newArrMoneda = []
  this.auxMoneda = []
  this.v$.$reset()
  this.verSeccion = '0'
  this.impuesto = '0'
  this.arrayLimiteSorteo = []
  this.valorApliTodos = ''
  this.valorcupoDiario = ''
}

function btnTabsDisabled(val) {
  // const todasSonSeleccione = this.condicion.every(item => item === 'seleccione');
  if (
    val === 1 &&
    this.monedasArray.length > 0 &&
    this.limiteVal >= '0' &&
    !this.v$.limiteVal.$invalid && 
    this.impuesto >= '0' && 
    !this.v$.impuesto.$invalid
  )
    return false
  else if (
    val === 2 /*&& this.productoNegociacion != 'MDA=' && !todasSonSeleccione*/
  )
    return false
  else if (val === 3 && !this.valDelMonto) {
    return false
  }
  else if (
    val === 4 &&
    this.validarSeccionTabs &&
    !this.v$.nomCentroImpresion.$invalid &&
    !this.v$.direccion.$invalid &&
    ((this.gradosLatitud &&
      this.gradosLatitud.length > 0 &&
      this.minutosLatitud &&
      this.minutosLatitud.length > 0 &&
      this.segundosLatitud &&
      this.segundosLatitud.length > 0) ||
      (this.gradosLatitud == '' &&
        this.gradosLatitud.length == 0 &&
        this.minutosLatitud == '' &&
        this.minutosLatitud.length == 0 &&
        this.segundosLatitud == '' &&
        this.segundosLatitud.length == 0)) &&
    ((this.gradosLongitud &&
      this.gradosLongitud.length > 0 &&
      this.minutosLongitud &&
      this.minutosLongitud.length > 0 &&
      this.segundosLongitud &&
      this.segundosLongitud.length > 0) ||
      (this.gradosLongitud == '' &&
        this.gradosLongitud.length == 0 &&
        this.minutosLongitud == '' &&
        this.minutosLongitud.length == 0 &&
        this.segundosLongitud == '' &&
        this.segundosLongitud.length == 0))
  )
    return false
  else return true
}

function btnDisableEdit() {
  if (
    !this.v$.nomCentroImpresion.$invalid &&
    !this.v$.direccion.$invalid &&
    this.estatus != 'Seleccione' &&
    ((this.gradosLatitud.length > 0 &&
      this.minutosLatitud.length > 0 &&
      this.segundosLatitud.length > 0) ||
      (this.gradosLatitud.length == 0 &&
        this.minutosLatitud.length == 0 &&
        this.segundosLatitud.length == 0)) &&
    ((this.gradosLongitud.length > 0 &&
      this.minutosLongitud.length > 0 &&
      this.segundosLongitud.length > 0) ||
      (this.gradosLongitud.length == 0 &&
        this.minutosLongitud.length == 0 &&
        this.segundosLongitud.length == 0))
  )
    return false
  else return true
}

function btnDisabledEdit_() {
  if (this.productoLimite != 'MDA=') return false
  else if(this.productoLimite === 'MDA=' && this.aplicarTodos === true) return false
  else return true
}

//*******************************************************FUNCION PARA CAMBIAR ENTRE PESTAÑAS****************************************************
function handlerTabs(val) {
  if (val == 0) {
    this.configuraciones = true
    this.negociacion = false
    this.limite = false
    this.limiteApuestas = false
  } else if (val == 1) {
    this.negociacion = true
    this.configuraciones = false
    this.limite = false
    this.limiteApuestas = false
    if (this.mode === 'edit') this.fetchCondicionNegociacion()
  } else if (val == 2) {
    this.limite = true
    this.configuraciones = false
    this.negociacion = false
    this.limiteApuestas = false
    this.productoLimite = 'MDA='
  } else if (val == 3) {
    this.limiteApuestas = true
    this.configuraciones = false
    this.negociacion = false
    this.limite = false
    
    this.newArrMoneda = this.monedasOptions.filter(
      (moneda) => this.monedasArray.includes(moneda.value)
    );
    
  }else{
    this.fetchGestionarCentroApuesta()
  }
}

function handlerTabsAtras(val) {
  if (val == 2) {
    this.configuraciones = true
    this.negociacion = false
    this.limite = false
    this.limiteApuestas = false
  } else if (val == 3) {
    this.negociacion = true
    this.configuraciones = false
    this.limite = false
    this.limiteApuestas = false
    if (this.mode === 'edit') this.fetchCondicionNegociacion()
  } else if (val == 4) {
    this.limite = true
    this.configuraciones = false
    this.negociacion = false
    this.limiteApuestas = false
  }
}

//ESTO ES DE LA PESTAÑA DE FUNCIONES
function handlerFunciones(val, num) {
  if (num === 1) {
    // Verificar si el valor ya existe en el array
    if (this.funcionesArray.includes(val)) {
      // Si el valor ya existe, eliminarlo utilizando splice
      const index = this.funcionesArray.indexOf(val)
      this.funcionesArray.splice(index, 1)
    } else {
      // Si el valor no existe, agregarlo al array utilizando push
      this.funcionesArray.push(val)
    }
  } else if (num === 2) {
    // Verificar si el valor ya existe en el array
    if (this.monedasArray.includes(val)) {
      // Si el valor ya existe, eliminarlo utilizando splice
      const index = this.monedasArray.indexOf(val)
      this.monedasArray.splice(index, 1)
    } else {
      // Si el valor no existe, agregarlo al array utilizando push
      this.monedasArray.push(val)
    }
  } else if (num === 3) {
    if (val === false) this.valorApliTodos = 'MQ=='
    else this.valorApliTodos = 'MA=='
  } else if (num === 4) {
    if (val === false) this.valorcupoDiario = 'MQ=='
    else this.valorcupoDiario = 'MA=='
  }
}

//ESTO ES DE LA PESTAÑA DE NEGOCIACION
function obtenerValorNegociacion(cond_, valor, jugada) {
  const objeto = {
    codigoProducto: valor,
    codigoCondicion: cond_,
    codigoJugada: jugada,
  }
  const index = this.arrayCondicionesNeg.findIndex(
    (item) => item.codigoJugada === jugada && item.codigoProducto === valor,
  )

  if (index !== -1) {
    // Reemplazar el objeto existente con la nueva data
    this.arrayCondicionesNeg[index] = objeto
  } else {
    // Agregar el nuevo objeto si no existe
    this.arrayCondicionesNeg.push(objeto)
  }

  this.arrayCondicionesNeg = this.arrayCondicionesNeg.map((val) => {
    return {
      codigoProducto: val.codigoProducto,
      codigoCondicion: val.codigoCondicion,
      estatus: val.estatus,
    }
  })

  this.arraySinDuplicados = this.arrayCondicionesNeg.filter((value, index) => {
    const _value = JSON.stringify(value)
    return (
      index ===
      this.arrayCondicionesNeg.findIndex((obj) => {
        return JSON.stringify(obj) === _value
      })
    )
  })

  this.arraySinDuplicados.forEach((item, indice, arr) => {
    if (item.codigoCondicion === 'seleccione') {
      arr.splice(indice, 1)
    }
  })
}

//*******************************************************LISTAR CONDICIONES DE NEGOCIACION POR ENTIDAD Y CCL****************************************************
async function fetchCondicionNegociacion() {
  const self = this
  const valComp = self.auth_tipoUsuario === 24 ? self.comprador : 'MDAwMDAw'
  const codAsociado = self.mode === 'register' ? 'MDAwMDAw' : self.codigoCA
  const auxPremiacion = self.premiacion
  const auxGrupo = self.grupo != 'MDA=' ? self.grupo : 'MDAwMDAw'

  fetchRequest({
    api: `${this.$apiAdministrativo}ListarCondicionEntidad/${self.auth_tokenUsuario}/${valComp}/MjE=/${auxPremiacion}/${codAsociado}/MDA=/${auxGrupo}`,
    self,
    success: (rjson) => {
      self.condicionOptions = rjson.datos
      if (self.mode === 'edit' && self.arraySinDuplicados.length === 0) {
        self.condicionOptions.forEach((e) => {
          e.ListCondicionesProTipJug.forEach((condicion) => {
            if (condicion.estatus !== 'MA==') {
              self.obtenerValorNegociacion(
                condicion.codigo,
                e.CodigoProducto,
                e.CodJugada,
              )
            }
          })
        })
      }
      self.productoNegociacion = 'MDA='
    },
    error: (rjson) => {
      self.productoNegociacion = 'MDA='
      self.condicionOptions = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        { label: 'SELECCIONE', value: 'Seleccione' },
        ...self.compradorOptions,
      ]

      for (const item of self.compradorOptions) {
        if (
          item.value === self.comprador ||
          item.value === self.valorComprador
        ) {
          self.pruebaComprador = item
          break
        }
      }
      self.comprador = self.pruebaComprador.value
      self.v$.comprador.$model = self.pruebaComprador.value
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

async function pruebaGrupo(val) {
  if(val.target.value != 'MDAwMDAw'){
    const selectedOption = this.grupoOptions.find(
        (option) => option.value === this.grupo,
      )
      if (selectedOption) {
        this.formaPremiacionGrupoSeleccionado = selectedOption.formaPremiacionGrupo
      }

      const opcionPorDefectoPremio = this.premiacionOptions.find(
        (opcion) => opcion.value === this.formaPremiacionGrupoSeleccionado,
      )

      self.premiacionOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...this.premiacionOptions,
      ]

      this.premiacion = opcionPorDefectoPremio.value
      this.v$.premiacion.$model = opcionPorDefectoPremio.value
  }
  else{
    this.premiacion = 'MDA='
  }

  

  if(this.premiacion != 'MDA=' && this.premiacion != '') {
    this.fetchCondicionNegociacion()
  }
}
//***************************CARGAR DATOS PARA TODO EL MODAL *****************************************************
async function fetchCargarDatos(auxComprador, auxPunto) {
  const self = this
  const estatusOpcion = self.mode === 'register' ? 'MA==' : 'MQ=='
  const valComprador = self.auth_tipoUsuario === 22 ? 'MDAwMDAw' : auxComprador
  const valPunto = self.mode === 'register' ? 'MDAwMDAw' : auxPunto

  fetchRequest({
    // api: `${this.$apiAdministrativo}CargarDatosCA/6D5A3FA3172C41C2AC3295929B6B4ACF/Q0MwMTc5/MA==/MDAwMDAw`,
    api: `${this.$apiAdministrativo}CargarDatosCA/${self.auth_tokenUsuario}/${valComprador}/${estatusOpcion}/${valPunto}`,
    self,
    success: (rjson) => {
      self.estSolGrupo = rjson.datos.estSolGrupo
      self.estSolImpuestoMunicipal = rjson.datos.estSolImpuestoMunicipal

      //----------------------LISTAR GRUPO---------------------
      if (rjson.datos.grupo != null) {
        self.grupoOptions = rjson.datos.grupo.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
            estatus: val.estatus,
            formaPremiacionGrupo: val.formaPremiacion,
          }
        })
      } else {
        self.grupo = 'MDAwMDAw'
        self.grupoOptions = []
      }
      const opcionPorDefecto = self.grupoOptions.find(
        (opcion) => opcion.estatus === 'MQ==',
      )

      self.grupoOptions = [
        { label: 'SELECCIONE', value: 'MDAwMDAw' },
        ...self.grupoOptions,
      ]
      if (opcionPorDefecto?.value && self.v$?.grupo) {
        self.grupo = opcionPorDefecto.value
        self.v$.grupo.$model = opcionPorDefecto.value
      } else {
        self.grupo = 'MDAwMDAw'
        self.v$.grupo.$model = 'MDAwMDAw'
      }

      //--------------------LISTAR PREMIOS-----------------------------
      self.premiacionOptions = rjson.datos.formaPremiacion.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
          estatus: val.estatus,
        }
      })

      if (this.estSolGrupo === 'MA==') {
        const opcionPorDefectoPremio = self.premiacionOptions.find(
          (opcion) => opcion.estatus === 'MQ==',
        )

        self.premiacionOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.premiacionOptions,
        ]
        if (opcionPorDefectoPremio?.value && self.v$?.premiacion) {
          self.premiacion = opcionPorDefectoPremio.value
          self.v$.premiacion.$model = opcionPorDefectoPremio.value
        }
      } else if (this.mode === 'edit') {
        const selectedOption = this.grupoOptions.find(
          (option) => option.value === this.grupo,
        )
        if (selectedOption) {
          this.formaPremiacionGrupoSeleccionado =
            selectedOption.formaPremiacionGrupo
        }

        const opcionPorDefectoPremio = this.premiacionOptions.find(
          (opcion) => opcion.value === this.formaPremiacionGrupoSeleccionado,
        )

        self.premiacionOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...this.premiacionOptions,
        ]

        this.premiacion = opcionPorDefectoPremio.value
        this.v$.premiacion.$model = opcionPorDefectoPremio.value
      }

      //LISTAR FUNCIONES
      self.funcionesOptions = rjson.datos.funciones.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
          estatus: val.estatus,
        }
      })

      for (const item of self.funcionesOptions) {
        if (item.estatus === 'MQ==') {
          self.funcionesArray.push(item.value)
        }
      }

      //LISTAR MONEDAS
      self.monedasOptions = rjson.datos.monedas.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
          estatus: val.estatus,
          minimo: val.montoMinimo,
          maximo: val.montoMaximo,
        }
      })
      for (const item of self.monedasOptions) {
        if (item.estatus === 'MQ==') {
          self.monedasArray.push(item.value)
        }
      }
      //LIMITE VENTAS
      // self.limiteVal = rjson.datos.limiteVenta ? rjson.datos.limiteVenta : '0'

      //SIMBOLO MONEDA
      self.simboloMoneda = rjson.datos.simboloMoneda
        ? rjson.datos.simboloMoneda
        : ''

      //PRODUCTOS
      self.productosNegociacionOptions = rjson.datos.productos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
          estatus: val.estatus,
        }
      })
      self.productosNegociacionOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.productosNegociacionOptions,
      ]

      //PRODUCTO CONDICION FOR EACH
      //PRODUCTOS
      // self.productosCondicionForeach = rjson.datos.productoCondicion.map((val) => {
      //   return {
      //     value: val.codigoCondicion,
      //     label: val.descProducto,
      //   }
      // })

      //PRODUCTO CONDICION
      // const prodCondition = rjson.datos.productoCondicion.map((val)=>{
      //   return{
      //     codigoCondicion: val.codigoCondicion
      //   }
      // })
      // const object = {};

      // for (let i = 0; i < prodCondition.length; i++) {
      //   object[i] = prodCondition[i].codigoCondicion;
      // }
      // self.condicion = object;
      //PRODUCTOS LIMITE
      self.productosLimiteOptions = rjson.datos.productos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
          estatus: val.estatus,
        }
      })
      self.productosLimiteOptions = [
        { label: 'TODOS', value: 'MDA=' },
        ...self.productosLimiteOptions,
      ]

      //LIMITE SORTEO
      self.limitesSorteoOptions = rjson.datos.limitesSorteo.map((val) => {
        return {
          codigoModalidad: val.codigoModalidad,
          codigoProducto: val.codigoProducto,
          codigoSeccion: val.codigoSeccion,
          estatus: val.estatus,
          montoCupo: val.montoCupo != '-1' ? val.montoCupo.toString().replace('.',',') : '',
          nombreModalidad: val.nombreModalidad,
          nombreProducto: val.nombreProducto,
          nombreSeccion: val.nombreSeccion,
        }
      })

      // Recorre el arreglo limitesSorteoOptions
      self.limitesSorteoOptions.forEach((item) => {
        // Verifica si el estatus es MQ==
        if (item.estatus === 'MQ==') {
          self.productoLimite = self.mode === 'edit' ? item.codigoProducto : ''
        }
      })
      this.fetchListarEstatus()
    },
    error: (rjson) => {
      self.cleanAll()
      self.fetchComprador()
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los turnos', true),
      })
    },
  })
}

//**********************************GESTIONAR CENTRO DE APUESTA ************************************** */
async function fetchGestionarCentroApuesta() {
  const self = this
  self.loading = true
  self.valBtn = true
  const estOpcion = self.mode === 'register' ? 'MA==' : 'MQ=='
  const valComp = self.auth_tipoUsuario === 24 ? self.comprador : 'MDAwMDAw'
  const valCodigoCA = self.codigoCA === '' ? 'MDAwMDAw' : self.codigoCA

  const coordenadasLatitud = `${self.gradosLatitud},${self.minutosLatitud},${self.segundosLatitud}`
  const coordenadasLongitud = `${self.gradosLongitud},${self.minutosLongitud},${self.segundosLongitud}`
  const valEstatus = self.estatus != undefined ? self.estatus : 'MA=='

  self.auxLimiteSorteo = self.arrayLimiteSorteo.map((val) => {
    return {
      codigoProducto: val.codigoProducto,
      codigoSeccion: val.codigoSeccion,
      codigoModalidad: val.codigoModalidad,
      montoCupo:
        val.montoCupo != '' || val.montoCupo === 0 ? val.montoCupo.toString().replace(',', '.') : '-1',
    }
  })

  self.auxMoneda = self.newArrMoneda.map((val) => {
    return {
      codigoMoneda: val.value,
      montoMinimo: val.minimo,
      montoMaximo: val.maximo,
    }
  })

  const auxTodos = self.valorApliTodos != '' ? self.valorApliTodos : 'MA=='

  const partsRif = self.rif.split('-')
  let partsNum = partsRif[1]
  let auxRif = ''

  if (partsNum.length === 7) {
    partsNum = '0' + partsNum
    auxRif = partsRif[0] + '-' + partsNum + '-' + partsRif[2]
  } else {
    auxRif = self.rif
  }
  const auxCupoDiario =
    this.valorcupoDiario != '' ? this.valorcupoDiario : 'MA=='

  fetchRequest({
    api: this.$apiAdministrativo + 'GestionarCentroApuesta',
    method: 'POST',
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      estOpcion: estOpcion,
      compradorC: valComp,
      codigoCA: valCodigoCA,
      nombreCA: self.nombreCentro,
      rifCA: window.btoa(auxRif),
      codigoGrupo: self.grupo != '' ? self.grupo : 'MDAwMDAw',
      formaPremiacion: self.premiacion,
      nombreImpresion: self.nomCentroImpresion,
      telefonoCA: window.btoa(self.numeroTele),
      correoCA: window.btoa(self.correo),
      direccionCA: self.direccion,
      nombreResponsable: self.responsable,
      longitud:
        coordenadasLongitud != ',undefined,undefined' && coordenadasLongitud != ',,'
          ? window.btoa(coordenadasLongitud)
          : '',
      latitud:
        coordenadasLatitud != ',undefined,undefined' && coordenadasLatitud != ',,'
          ? window.btoa(coordenadasLatitud)
          : '',
      estatusCA: valEstatus,
      montoLimiteCA: self.limiteVal,
      estatusCupDiario: auxCupoDiario,
      montoImpMunicipal: self.impuesto,
      funciones: self.funcionesArray,
      monedas: self.monedasArray,
      condicionesNeg: self.arraySinDuplicados,
      productoCupo: {
        estatusAplica: auxTodos,
        montoCupo: self.montoDelCupo != '' ? self.montoDelCupo : '-1',
        listaCupos: self.auxLimiteSorteo,
      },
      limiteApuesta: self.auxMoneda,
    },

    success: (rjson) => {
      self.loading = false
      self.close()
      self.fireToastMsg(
        rjson.mensaje.descripcion,
        // self.mode === 'register' ? 'Centro de apuesta creado de manera exitosa.' : 'Centro de apuesta editado de manera exitosa.',
        { icon: 'success' },
      )
      self.cleanAll()
      self.actualizarCentro()
      self.actualizarPtoVenta('MDAwMDAw')
      self.actualizarComprador()
      self.valBtn = false
    },
    error: (rjson) => {
      self.loading = false
      // self.close()
      // self.cleanAll()
      self.valBtn = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
    done: () => {},
  })
}

function actualizarPremiacion(comprador) {
  if (comprador != 'Seleccione')
    this.fetchCargarDatos(this.comprador, 'MDAwMDAw')
  this.grupo = ''
}

function visibleW() {
  this.fillInputs(this.data)
}

async function fetchListarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral + 'ListarEstatusGral/MA==',
    self,
    success: (rjson) => {
      self.estatusOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.estatusOptions = [
        { label: 'SELECCIONE', value: 'Seleccione' },
        ...self.estatusOptions,
      ]

      for (const item of self.estatusOptions) {
        if (item.value === self.estatus) {
          self.pruebaEstatus = item
          break
        }
      }
      self.estatus = self.pruebaEstatus.value
      self.v$.estatus.$model = self.pruebaEstatus.value
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

function pruebaPremiacion(val){
  if (this.mode === 'register' && val.target.value != 'MDA=') this.fetchCondicionNegociacion()
  else if (this.mode === 'edit') this.fetchCondicionNegociacion()
  this.productoNegociacion = 'MDA='
}

async function fillInputs(data) {
  if (this.visible === true) {
    if (this.auth_tipoUsuario === 24) this.fetchComprador()
    if (this.mode === 'edit' || this.auth_tipoUsuario === 22)
      this.fetchCargarDatos(data.auxComprador, data.auxPunto)
    this.valorComprador = data.auxComprador
    this.nombreCentro = data.allData ? data.allData.centro : ''
    this.rif = data.allData ? data.allData.rif : ''
    this.nomCentroImpresion = data.allData ? data.allData.nombreImpresion : ''
    this.numeroTele = data.allData ? data.allData.telefonoCA : ''
    this.correo = data.allData ? data.allData.correoCA : ''
    this.direccion = data.allData ? data.allData.direccionCA : ''
    this.responsable = data.allData ? data.allData.nombreResponsable : ''
    this.comprador = data.allData ? data.allData.codComprador : ''

    this.codigoCA = data.allData ? data.allData.codigoCA : ''
    this.estatus = data.allData ? data.allData.codEstatusCA : ''

    //LATITUD
    const cadenaLatitud = data.allData ? data.allData.latitudCA : ''
    if (cadenaLatitud) {
      const valoresSeparados = cadenaLatitud.split(',')
      this.gradosLatitud = valoresSeparados[0] // 10
      this.minutosLatitud = valoresSeparados[1] // 01
      this.segundosLatitud = valoresSeparados[2] // 5
    } else {
      this.gradosLatitud = '' // 10
      this.minutosLatitud = '' // 01
      this.segundosLatitud = '' // 5
    }

    //LATITUD
    const cadenaLongitud = data.allData ? data.allData.longitudCA : ''
    if (cadenaLongitud) {
      const valoresSeparados_ = cadenaLongitud.split(',')
      this.gradosLongitud = valoresSeparados_[0] // 10
      this.minutosLongitud = valoresSeparados_[1] // 01
      this.segundosLongitud = valoresSeparados_[2] // 5
    } else {
      this.gradosLongitud = '' // 10
      this.minutosLongitud = '' // 01
      this.segundosLongitud = '' // 5
    }

    this.impuesto = data.allData ? data.allData.montoImpMunicipal : '0'

    this.limiteVal = data.allData ? data.allData.montoLimite : '0'
    this.productoLimite = 'prueba'
  }
}

function shouldClose() {
  this.close()
  this.cleanAll()
}

function data() {
  return {
    // productosCondicionForeach:[],
    loading: false,
    pruebaComprador: [],
    pruebaEstatus: [],
    valorComprador: '',
    comprador: '',
    compradorOptions: [],
    nombreCentro: '',
    codigoCA: '',
    rif: '',
    grupo: '',
    grupoOptions: [],
    premiacion: 'MDA=',
    premiacionOptions: [],
    configuraciones: true,
    negociacion: false,
    limite: false,
    turnos: [],
    funcionesArray: [],
    funcionesOptions: [],
    nomCentroImpresion: '',
    numeroTele: '',
    correo: '',
    estatusOptions: [],
    estatus: '',
    direccion: '',
    monedasArray: [],
    monedasOptions: [],
    limiteVal: '0',
    simboloMoneda: '',
    responsable: '',

    productosOptions: [],

    productoNegociacion: 'MDA=',
    productosNegociacionOptions: [],
    productoLimite: 'MDA=',
    productosLimiteOptions: [],

    condicion: [],
    condicionOptions: [],
    condiciones: {},

    elementosFiltradosNegociacion: [],
    auxCondicionOptions: [],

    limitesSorteoOptions: [],
    elementosFiltradosLimiteSorteo: [],
    auxLimiteSorteo: [],

    cupo: '',
    minimo: '',
    maximo: '',
    montoCupo: '',
    montoDelCupo: '',
    gradosLatitud: '0',
    minutosLatitud: '0',
    segundosLatitud: '0',

    gradosLongitud: '0',
    minutosLongitud: '0',
    segundosLongitud: '0',

    arrayCondicionesNeg: [],
    arraySinDuplicados: [],
    aplicarTodos: false,
    cupoDiario: false,
    valorApliTodos: '',
    valorcupoDiario: '',
    newArrMoneda: [],
    auxMoneda: [],
    btnEnabled: true,
    verSeccion: '0',
    estSolGrupo: '',
    formaPremiacionGrupoSeleccionado: '',
    estSolImpuestoMunicipal: '',
    impuesto: '0',
    arrayLimiteSorteo: [],
    valDelMonto: false,
    valBtn: false,
  }
}

function setup() {
  const authStore = useAuth()
  const { auth_tipoUsuario, auth_tokenUsuario } = storeToRefs(authStore)

  return {
    v$: useVuelidate(),
    auth_tipoUsuario,
    auth_tokenUsuario,
  }
}

export default {
  name: 'ModalCentroApuesta',
  data,
  setup,
  methods: {
    fillInputs,
    shouldClose,
    fetchComprador,
    handlerTabs,
    handlerTabsAtras,
    fetchCargarDatos,
    handlerFunciones,
    fetchCondicionNegociacion,
    obtenerValorNegociacion,
    fetchListarEstatus,
    fetchGestionarCentroApuesta,
    btnTabsDisabled,
    cleanAll,
    actualizarPremiacion,
    pruebaGrupo,
    checkNegativeValue(e, numb) {
      const hasInvalidChars = /[^0-9.,]/;
      if(numb == '1'){
        if (e.target.value < 0 || e.target.value === '') {
          e.target.value = '';
        } else if (e.target.value > 9999999999999999999999 || hasInvalidChars.test(e.target.value)) {
          e.target.value = 0;
        } else {
          // Reemplazar coma por punto
          e.target.value = e.target.value.replace('.', ',');

          // Validar que no haya más de dos decimales
          const decimalParts = e.target.value.split(',');
          if (decimalParts.length > 2) {
            e.target.value = decimalParts[0] + ',' + decimalParts[1]; // Mantener solo la primera parte decimal
          }

          if (decimalParts[1] && decimalParts[1].length > 2) {
            // Si hay más de dos decimales, truncar a dos
            let truncatedValue = Math.trunc(e.target.value * 100) / 100;
            e.target.value = truncatedValue ? truncatedValue.toFixed(2) : 0;
          }
        }
      }else{
        if (e.target.value < 0 || e.target.value === '') {
        e.target.value = '';
        } else if (e.target.value > 9999999999999999999999 || hasInvalidChars.test(e.target.value)) {
            e.target.value = 0;
        } else {
            // Eliminar punto o coma solo si están seguidos de un número
            e.target.value = e.target.value.replace(/(\.|,)\d*/, '');
        }
      }
    },
    cambioAplicaTodos,
    limpiarTodos,
    btnDisableEdit,
    btnDisabledEdit_,
    pruebaPremiacion
  },
  components: { CCInput, CCLoader },
  mixins: [globalMixin],
  props: {
    visible: Boolean,
    close: Function,
    data: Object,
    showFooter: {
      type: Boolean,
      default: true,
    },
    mode: {
      type: String,
      default: 'register',
    },
    actualizarCentro: Function,
    actualizarPtoVenta: Function,
    actualizarComprador: Function,
  },
  watch: {
    visible: visibleW,
    productoLimite: function (val) {
      const allSelected = this.productosLimiteOptions.filter(
        (option) => option.value != 'MDA=',
      )

      function filtrarElementos(valor, objeto) {
        return objeto.filter((elemento) => elemento.codigoProducto === valor)
      }

      // Ejemplo de uso
      const valorBuscado = val
      const objeto = this.limitesSorteoOptions

      if (val != 'MDA=') {
        this.elementosFiltradosLimiteSorteo = filtrarElementos(
          valorBuscado,
          objeto,
        )
      } else {
        let resultados = []
        allSelected.forEach((item) => {
          let matches = filtrarElementos(item.value, objeto)
          resultados.push(...matches)
        })
        this.elementosFiltradosLimiteSorteo = resultados
      }

      this.elementosFiltradosLimiteSorteo.forEach((elemento) => {
        this.arrayLimiteSorteo.push(elemento)
      })
    },
    productoNegociacion: function (val) {
      function filtrarElementosNegociacion(valor, objeto) {
        return objeto.filter((elemento) => elemento.CodigoProducto === valor)
      }
      const valorBuscado = val
      const objeto = this.condicionOptions
      //const objeto = this.productoCondicionTipJug
      this.elementosFiltradosNegociacion = filtrarElementosNegociacion(
        valorBuscado,
        objeto,
      )

      if (this.elementosFiltradosNegociacion.length > 0) {
        this.auxCondicionOptions = []
        this.elementosFiltradosNegociacion.forEach((prod) => {
          this.auxCondicionOptions.push({
            CodJugada: prod.CodJugada,
            ListCondicionesProTipJug: [],
            codigoCondNeg: prod.codigoCondNeg,
          })
          prod.ListCondicionesProTipJug.forEach((condicion) => {
            this.auxCondicionOptions[
              this.auxCondicionOptions.length - 1
            ].ListCondicionesProTipJug.push({
              value: condicion.codigo,
              label: condicion.descripcion,
              estatus: condicion.estatus,
            })
          })
        })
      }
      this.condicion = []

      this.elementosFiltradosNegociacion.forEach((e) => {
        let valor = ''
        e.ListCondicionesProTipJug.forEach((l) => {
          this.arraySinDuplicados.forEach((d) => {
            if (
              d.codigoProducto === e.CodigoProducto &&
              d.codigoCondicion === l.codigo &&
              d.estatus !== 'MA=='
            ) {
              valor = l.codigo
            }
          })
        })
        if (valor) {
          this.condicion.push(valor)
        } else {
          this.condicion.push('seleccione')
        }
      })
    },
    comprador: function (val) {
      self.comprador = val
    },
    validarSeccionTabs: function (val) {
      if (val === true) this.verSeccion = '1'
      else this.verSeccion = '0'
    },
    montoDelCupo: function (val) {
      if(this.montoDelCupo != ''){
        this.montoDelCupo = val
        this.valDelMonto = this.v$.montoDelCupo.$invalid === true ? true : false;
      } 
      else {
        this.montoDelCupo = ''
        this.v$.montoDelCupo.$reset()
        this.valDelMonto = false;
      } 
    },
  },
  computed: {
    validarSeccionTabs: function () {
      if (
        (this.mode === 'register' || this.mode === 'edit') &&
        this.comprador != 'Seleccione' &&
        this.nombreCentro &&
        this.v$.nombreCentro.$invalid === false &&
        (this.rif.length === 11 || this.rif.length === 12) &&
        this.estSolGrupo === 'MQ==' &&
        this.grupo != 'MDAwMDAw' &&
        this.premiacion != 'MDA=' &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false
      )
        return true
      else if (
        (this.mode === 'register' || this.mode === 'edit') &&
        this.comprador != 'Seleccione' &&
        this.nombreCentro &&
        this.v$.nombreCentro.$invalid === false &&
        (this.rif.length === 11 || this.rif.length === 12) &&
        this.premiacion != 'MDA=' &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false &&
        this.estatus != 'Seleccione'
      )
        return true
      else return false
      // return true
    },
  },
  validations() {
    return modalCentroApuesta(
      this.auth_tipoUsuario,
      this.direccion,
      this.nomCentroImpresion,
    )
  },
  mounted() {},
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
  text-align: center;
}
.color-text {
  color: #0a2654;
}
.inline-block {
  display: inline-block;
}
a {
  color: gray !important;
  cursor: pointer;
}
.nav-link {
  color: gray !important;
}
.modal-content {
  overflow-y: scroll; /* Habilitar el scroll vertical */
}
</style>