<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar punto de venta</h5></CCardHeader>
        <CCardBody>
          <CCFormStructureWrapper 
            :formData="pointOfSaleRegister" 
            :btnAction="[addEsquemaNegociacion, addSubGrupo]"
            :customVals="customValidations"
          >
            <template #formOut="formObj">
              <CCInput  
                :allData="formObj"
                v-model="v$[formObj.model].$model" 
                :v_="v$[formObj.model]" 
                :col="formObj.col"
                :options="getOptions(formObj.options)"
                :hasUnless="formObj.unless"
                :disabled="disableField.includes(formObj.model) || formObj.disabled"
                :keyPress="formObj.kpress"
                :loaders="{loadingGeo, loadingGroups: isConsultingSubGroups, loadingPuntoVenta}"
                :execute="callFiller"
              />
            </template>
            <template #formIn="inCol">
              <CCInput  
                :allData="inCol"
                v-model="v$[inCol.model].$model" 
                :v_="v$[inCol.model]" 
                :col="inCol.col"
                :options="getOptions(inCol.options)"
                :hasUnless="inCol.unless"
                :disabled="disableField.includes(inCol.model) || inCol.disabled"
                :keyPress="inCol.kpress"
                :loaders="{loadingGeo, loadingGroups: isConsultingSubGroups, loadingPuntoVenta}"
                :execute="callFiller"
              />
              <!-- <CCol v-if="!disableField && inCol.model === 'dfRif'" xs="12" class="d-lg-none mb-3">
                <CButton class="btn-primario w-100" :disabled="v$.dfRif.$invalid" @click="fillPOSData">
                  Buscar
                </CButton>
              </CCol> -->
            </template>
            <template #freeCode>
              <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :unselectFromTable="eraseFromTable"
                :alertMsgs="[labels.sureDelete(true, 'esquema', false, ' de negociacion'), labels.sureDelete(false, 'esquema de negociacion', false), 
                  labels.deleteAll('esquemas de negociacion', false), labels.deleteOne('esquema de negociacion', false)]"
                :viewFromTable="getDetail4Modal"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="10rem"
                doNotEmit
                :showEdit="false"
                deliveredParam="esquema"
              />
            </template>
            <template #freeCode2>
              <CCTable 
                :ref="tRef2" 
                v-model="currentPage2" 
                :tableNum="2"
                :tableData="tableData2" 
                :inTableData="inTableData2"
                :setTableState="setTableState"
                :showPagination="showPagination2"
                :setShowPagination="setShowPagination"
                :unselectFromTable="eraseFromTable"
                :alertMsgs="[labels.sureDelete(true, 'subgrupo', false), labels.sureDelete(false, 'subgrupo', false), 
                  labels.deleteAll('subgrupos', false), labels.deleteOne('subgrupo', false)]"
                :viewFromTable="getDetail4Modal"
                :loading="tableDataLoading2"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="10rem"
                doNotEmit
                :showEdit="false"
                deliveredParam="subgrupo"
              />
            </template>
          </CCFormStructureWrapper>
        </CCardBody>
        <CCardFooter class="d-flex justify-content-center buttons-custom flex-wrap">
            <CButton ref="acceptbtn" class="btn-primario m-1" @click="actionPOS" :disabled="!isValid">
              <template v-if="patching"><CCLoader inline />&nbsp;</template>
              {{ disableField ? 'Guardar' : 'Registrar' }}
            </CButton>
            <!--  -->
            <CButton ref="cancelbtn" class="btn-primario m-1" @click="clearInputs" :disabled="patching">
              Cancelar
            </CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
  <ModalEsquemaNegociacion 
    ref="modalesquemaDecorator"
    :visible="esquemaModalVisible" 
    :data="esquemaModalDta"
    :close="() => {closeModal('esquema')}" 
    mode="view"
    :esquemaData="esquemaRegister"
    :showFooter="false"
  />
  <ModalSubGrupo 
    ref="modalSubGDecorator"
    :visible="subgrupoModalVisible" 
    :data="subgrupoModalDta"
    :close="() => {closeModal('subgrupo')}" 
    :subgrupoData="subGroupInModal"
    :showFooter="false"
    :listerOptions="listerOptions"
    :esquemaOptions="sgEsquemaNegociacionOptions"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { pointOfSaleRegister, esquemaRegister, subGroupInModal } from '@/_helpers/formData';
import useVuelidate from '@vuelidate/core';
import pointOfSaleRegisterVals from '@/_validations/centroApuesta/pointOfSaleRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import { LABELS as labels } from '@/_helpers/labels';
import globals from '@/_mixins/globals';
import esquemaGenerals from '@/_mixins/esquemaGenerals';
import subgrupoGenerals from '@/_mixins/subgrupoGenerals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import geoSet from '@/_mixins/geoSet';
import consumosVarios from '@/_mixins/consumosVarios';
import ModalEsquemaNegociacion from '@/components/shared/modalEsquemaN.vue';
import ModalSubGrupo from '@/components/shared/modalSubGrupo.vue';
// MOMENTANEO
import { usePuntoventa } from '@/store/puntoventa';
import { useUtils } from '@/store/utils';
import { storeToRefs } from 'pinia';
import { modalSetupData } from '@/composables/modalDataStruct';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import { darkGray, resCodes } from '@/_helpers/general';
import { resp2pv, pv2json } from '@/_helpers/formatters';
// 

// METHODS
function actionPOS () {
  const pos = this.getPOSData();
  const pvJson = pv2json({ tokenUsuario: this.auth_tokenUsuario, ...pos });
  if (this.disableField) this.patchPV(pvJson, true);
  // this.editPuntoVenta(pos) // MOMENTANEO
  else this.patchPV(pvJson); // REGISTRA
  // this.addPuntoVenta(pos) // MOMENTANEO
}

 //MOMENTANEO
function getPOSData () {
  const pos = {};
  ['dfRif','dfBusinessName','dfPointOfSaleName','dfState','dfCity','dfMunicipality','dfAddress','dfAvStreet','dfUrbanization','dfLocalOffice','dfReferencePoint','dfPointType',
   // 
   'dgUbanization','dgAvStreet','dgReferencePoint','dgState','dgCity','dgMunicipality','dgLocalOffice','dgPhone1','dgPhone2','dgLimitOfSell','dgLister','dgEstatus','dgTipoFondo','dgEmail',
   // 
   'cName','cLastName','cIdetificationCard','cPhone1','cPhone2','cEmail']
    .forEach(ths => pos[ths] = this[ths]);
  pos['betCenter'] = (this.betCenter && this.betCenter.value) || null;
  pos['enEsquemaNegociacionData'] = this.tableData.map(tdta => tdta.id);
  pos['sgSubGrupoData'] = this.tableData2.map(tdta => tdta.rif);
  return pos
}
// 

function justReset () {
  this.v$.$reset();
}

function clearInputs () {
    ['dfRif','dfBusinessName','dfPointOfSaleName','dfState','dfCity','dfMunicipality','dfAddress','dfAvStreet','dfUrbanization','dfLocalOffice','dfReferencePoint','dfPointType',
     // 
     'dgUbanization','dgAvStreet','dgReferencePoint','dgState','dgCity','dgMunicipality','dgLocalOffice','dgPhone1','dgPhone2','dgLimitOfSell','dgLister','dgEstatus','dgTipoFondo','dgEmail',
     // 
     'cName','cLastName','cIdetificationCard','cPhone1','cPhone2','cEmail',
     //
     /* 'enGamblingType', */'enEsquemaNegociacion',
     //
     'sgSubGrupo', 
     // 
     'disableField']
    .forEach(ths => this[ths] = '');

    this.betCenter = null;
    // this.enEsquemaNegociacionOptions = [];
    this.sgSubGrupoOptions = [];
    this.removeFromTable(true);
    this.removeFromTable(true, null, 2);
    this.justReset();
    this.cleanGeoAll(this.geoHas2);
}

async function fillInputs (data) {
    this.isConsultingSubGroups = true; // para que no se ejecute el watcher de Listero
    ['dfRif','dfBusinessName','dfPointOfSaleName','dfState','dfCity','dfMunicipality','dfAddress','dfAvStreet','dfUrbanization','dfLocalOffice','dfReferencePoint','dfPointType',
     // 
     'dgUbanization','dgAvStreet','dgReferencePoint','dgState','dgCity','dgMunicipality','dgLocalOffice','dgPhone1','dgPhone2','dgLimitOfSell','dgLister','dgEstatus','dgTipoFondo','dgEmail',
     // 
     'cName','cLastName','cIdetificationCard','cPhone1','cPhone2','cEmail']
    .forEach(ths => this[ths] = data[ths]);

    if (data.enEsquemaNegociacionData.length && this.enEsquemaNegociacionOptions.length) {
      const esquemasId = this.enEsquemaNegociacionOptions.reduce((ids, esq) => ({ ...ids, [esq.value]: { description: esq.label, id: esq.value, guid: esq.value } }), {});
      this.tableData = data.enEsquemaNegociacionData.reduce((esqs, esqId) => [...esqs, ...(esquemasId[esqId] ? [esquemasId[esqId]] : [])], []);
    } else this.tableData = [];

    await this.loadSubgroups();

    await this.callFiller(['fillSelect', '', ['dfCities', 'dfMunicipalities'], this.dfState]);
    this.callFiller(['fillSelect', '', ['dgCities', 'dgMunicipalities'], this.dgState]);
}

async function fillPOSData (codePV/* e = null, type = 'keypress' */) {
  const self = this;
  this.loadingPuntoVenta = true;
  // if (e) e.preventDefault();
  if (/* !this.v$.dfRif.$invalid &&  */!this.disableField/*  && (!e || (e.pointerId > -1 && e.pointerType)) */) {
    // const rif = this.dfRif.toUpperCase();
    const pv_s = await this.loadPV(codePV);
    if (!pv_s.isError) {
      const thePos = resp2pv(pv_s);
      this.disableField = 'dfRif,betCenter';
      this.v$.betCenter.$reset();
      this.v$.dfRif.$reset();
      await this.fillInputs(thePos);
      // setTimeout(() => {
        self.justReset();
        if (thePos.sgSubGrupoData.length && self.sgSubGrupoOptions.length) {
          const subGroups = self.sgSubGrupoOptions.reduce((subGobj, sg) => ({ ...subGobj, [sg.value]: { name: sg.label, rif: sg.value, guid: sg.value } }), {});
          self.tableData2 = thePos.sgSubGrupoData.reduce((subGs, subGId) => [ ...subGs, ...(subGroups[subGId] ? [subGroups[subGId]] : []) ], []);
        } else self.tableData2 = [];
      // });
    } else {
      this.disableField = '';
      /* if (type === 'keypress')  */this.fireToastMsg(pv_s.msg || 'No se encontro ningun punto de venta para esta selección.', { icon: 'warning' });
    }
  }
  this.loadingPuntoVenta = false;
}

function loadPV (codPunto) {
  const self = this;
  return fetchRequest({ 
      api: this.$apiAdministrativo+'ConsultarPuntoVenta/'+this.auth_tokenUsuario+'/'+codPunto, 
      self,
      promiseReturn: true,
      success: (rjson) => {
          return rjson
      }, 
      error: async (rjson) => {
          console.error('error: ', rjson);
          return { isError: true, msg: rjson.msg }
      },
  });
}

function patchPV (data, isPut = false) {
  this.patching = true;
  const self = this;
  fetchRequest({
      api: this.$apiAdministrativo + (isPut ? 'EditarPuntoVenta' : 'RegistrarPunto'), 
      method: isPut ? 'PUT' : 'POST',
      self,
      body: data,
      // promiseReturn: true,
      success: (rjson) => {
          const msg = rjson?.mensaje?.description || rjson?.message?.description;
          self.fireToastMsg(msg, { icon: 'success' });
          self[isPut ? 'justReset' : 'clearInputs']();
          //
          self.loadPuntosVenta();
      }, 
      error: async (rjson) => {
          return caseWrong({
              self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsg,
          });
      },
      done: () => {
          this.patching = false;
      },
  });
}

// cargar tipo de punto
async function loadPointTypes () {
  const self = this;
  const res = await fetchRequest({ 
      api: this.$apiAdministrativo+'ListarTipoPunto/'+this.auth_tokenUsuario, 
      promiseReturn: true, self,
      success: (rjson) => {
          self.pointTypeOptions = rjson.datos.map(poT => ({ label: window.atob(poT.nombrePunto), value: poT.codigoPunto }));
      }, 
      error: async (rjson) => {
          console.error('error: ', rjson);
          self.pointTypeOptions = [];
          return await self.fireAlertMsg('Hubo problemas al cargar los tipos de puntos, ¿desea intentarlo de nuevo?', {});
      },
  });
  if (res && res.isConfirmed) await this.loadPointTypes();
  else return null;
}

// cargar subgrupos
async function loadSubgroups () {
  const self = this;
  this.isConsultingSubGroups = true;
  const res = await fetchRequest({ 
      api: this.$apiAdministrativo+'ListarSubGrupo/'+this.auth_tokenUsuario+'/'+this.dgLister, 
      promiseReturn: true, self,
      success: (rjson) => {
          self.sgSubGrupoOptions = rjson.datos.map(subG => ({ label: window.atob(subG.nombreSubgrupo), value: subG.codigoSubGrupo }));
      }, 
      error: async (rjson) => {
          console.error('error: ', rjson);
          self.sgSubGrupoOptions = [];
          const msg = resCodes(rjson).includes('082') && rjson.msg;
          return await self.fireAlertMsg(
              msg || 'Hubo problemas al cargar los Subgrupos, ¿desea intentarlo de nuevo?', 
              { ...(msg ? { cancelButtonText: 'OK', showConfirmButton: false, cancelButtonColor: darkGray } : { confirmButtonText: 'Reintentar', cancelButtonText: 'Cancelar' }) }
            );
      },
  });
  const boolers = res && res.isConfirmed;
  if (!boolers) this.isConsultingSubGroups = false;
  if (boolers) await this.loadSubgroups();
  else return null;
}

async function getDetail4Modal (data, mode = null, param = 'esquema') {
  const isEsq = param === 'esquema';
  this['tableDataLoading'+(!isEsq ? '2' : '')] = true;
  const { 0: resp } = await this.loadDetail(data[isEsq ? 'id' : 'rif'], param);
  if (!resp) return;

  const data_ = param === 'esquema' ? {
      ...data,
      applicate: resp.aplica,
      // operation: '01',
      utilityFreq: resp.FrecGanancia,
      participationFreq: resp.FrecParticipacion,
      status: Boolean(+resp.estatus),
      sales: `${resp.PorcVenta}`,
      utility: `${resp.PorcGanancia}`,
      participation: `${resp.PorcParticipacion}`,
    } : {
      ...data,
      rif: window.atob(data.rif),
      status: resp.estatus,
      phone1: window.atob(resp.telefono1),
      phone2: window.atob(resp.telefono2),
      rName: window.atob(resp.nombreContacto),
      rLastName: window.atob(resp.apellidoContacto),
      email: window.atob(resp.email),
      state: resp.estado,
      city: resp.ciudad,
      municipality: resp.municipio,
      lister: resp.codigolistero,
      esquemaNegociacionData: typeof resp.codigoEsquema === 'string' ? [resp.codigoEsquema] : resp.codigoEsquema,
    };

  if (!isEsq) await this.loadEsquemas('Mw==', 'sg');
  this.actionFromTable(data_, mode, param);
  this['tableDataLoading'+(!isEsq ? '2' : '')] = false;
}

// COMPUTED
function isValid () {
  return !this.patching && this.v$.$anyDirty && !this.v$.$invalid
}

// WATCH
function listerW (val) {
  if (!this.isConsultingSubGroups) {
    this.sgSubGrupo = 'seleccione';
    if (val && val !== 'seleccione') this.loadSubgroups();
    else this.sgSubGrupoOptions = [];

    if (this.v$.$anyDirty) this.tableData2 = [];
  }
}

function betCenterW (val) {
  if (!this.loadingPuntoVenta && val?.value) this.fillPOSData(val.value);
}

// SETUP
function setup () {
  // MOMENTANEO
  const puntoventaStore = usePuntoventa()
  const utilsStore = useUtils()
  const authStore = useAuth()
  const { puntosVenta } = storeToRefs(puntoventaStore)
  const { loadingGeo, stateOptions, dfCityOptions, dfMunicipalityOptions, dgCityOptions, dgMunicipalityOptions } = storeToRefs(utilsStore)
  const { auth_tokenUsuario } = storeToRefs(authStore)
  const { addPuntoVenta, editPuntoVenta } = puntoventaStore
  const { setGeo, cleanGeo, cleanGeoAll } = utilsStore
  //
  loadToggler()

  const optionsColWidthRem = 4
  const forTabla = [
      // [{name: 'tipo jugada', attr: 'category', slct: true}, 25],
      [{name: 'descripcion', attr: 'description'/* , width: 'auto' */}],
    ]
  const forTabla2 = [
      [{name: 'nombre', attr: 'name'}],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
  const inTableData2 = tableDataStruc(forTabla2.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla2.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    ...modalSetupData('esquema','subgrupo'),
    pointOfSaleRegister,
    v$: useVuelidate(),
    inTableData,
    inTableData2,
    labels,
    esquemaRegister: esquemaRegister(true),
    subGroupInModal: subGroupInModal(true),
    // MOMENTANEO
    puntosVenta,
    addPuntoVenta, 
    editPuntoVenta, 
    //
    loadingGeo,
    stateOptions,
    dfCityOptions, 
    dfMunicipalityOptions, 
    dgCityOptions, 
    dgMunicipalityOptions,
    setGeo,
    cleanGeo,
    cleanGeoAll,
    auth_tokenUsuario,
    optionsColWidthRem,
  }
}

// MOUNTED
async function mounted () {
  this.tRef = 'posEsquemaTable';
  this.tRef2 = 'posSubGrupoTable';
  Array(2).fill().forEach((_,i) => this['setOnModify'+(!i ? '' : (i+1))] = true);
  this.cleanEsqPre = 'en';

  this.geoHas2 = true; // para que borre todos los geo

  await this.awaitFetchDone();
  // CADA METODO ESPERA A QUE EL ANTERIOR TERMINE DE EJECUTARSE
  await this.loadPuntosVenta();
  await this.loadPointTypes();
  await this.loadListeros();
  await this.loadEsquemas('Mg==', 'en');
  // ----------------------------------------------------------
}

export default {
    name: 'PuntoDeVenta',
    components: { CCInput, CCTable, ModalEsquemaNegociacion, ModalSubGrupo, CCFormStructureWrapper, CCLoader },
    mixins: [ globals, tableGenerals, modalGenerals, esquemaGenerals, subgrupoGenerals, geoSet, consumosVarios ],
    data() {
      return {
        patching: false,
        disableField: '',
        // // Datos Fiscales
        betCenter: null,
        dfRif: '',
        dfBusinessName: '', // razon social
        dfPointOfSaleName: '',
        dfState: '',
        dfCity: '',
        dfMunicipality: '',
        dfAddress: '',
        dfAvStreet: '', // avenida/calle
        dfUrbanization: '',
        dfLocalOffice: '', // local u oficina
        dfReferencePoint: '',
        dfPointType: '',
        // Datos Generales
        dgUbanization: '',
        dgAvStreet: '',
        dgReferencePoint: '',
        dgState: '',
        dgCity: '',
        dgMunicipality: '',
        dgLocalOffice: '',
        dgPhone1: '',
        dgPhone2: '',
        dgLimitOfSell: '', // limite de venta
        dgLister: '',
        dgEstatus: '',
        dgTipoFondo: '',
        dgEmail: '',
        // Contacto
        cName: '',
        cLastName: '',
        cIdetificationCard: '',
        cPhone1: '',
        cPhone2: '',
        cEmail: '',
        // 
        sgSubGrupo: '',
        sgSubGrupoOptions: [],
        // 
        // enGamblingType: '',
        enEsquemaNegociacion: '',
        enEsquemaNegociacionOptions: [],
        // 
        // 
        pointTypeOptions: [],
        listerOptions: [],
        betCenterOptions: [],
        loadingPuntoVenta: false,
        isConsultingSubGroups: false,
        sgEsquemaNegociacionOptions: [],
      }
    },
    setup,
    computed: {
      isValid,
    },
    methods: {
      justReset,
      actionPOS,
      clearInputs,
      fillInputs,
      fillPOSData,
      //MOMENTANEO----------------------------------------------------------
      getPOSData,
      loadPointTypes,
      loadSubgroups,
      loadPV,
      patchPV,
      getDetail4Modal,
      //--------------------------------------------------------------------
    },
    watch: {
      // enGamblingType: gamblingW,
      dgLister: listerW,
      betCenter: betCenterW,
    },
    validations () {
      return pointOfSaleRegisterVals;
    },
    mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>