// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
    font-family: /* "Open Sans",  */sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: $black-blue;
}

.sidebar-nav .nav-link {
    white-space: initial !important;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: calc(100% - 1rem);
}

input.form-control {
    min-height: $input-height;
}
.form-control, .form-select, .form-switch .form-check-input {
    &:focus {
        border-color: $dark-gray;
        box-shadow: 0 0 0 0.18rem $dark-gray-t;
    }

    &.form-select option,
    &.form-select:focus > option {
        &:hover, &:checked, &:active, &:focus {
            background: $dark-gray !important;
            color: #fff !important;
        }
    }
}

.form-check {
    padding-left: 1.7rem !important;
}
.form-check-input {
    &:indeterminate,
    &:checked {
        @include sqrDist($dark-gray !important,'background-color','border-color');
    }

    &:focus {
        box-shadow: 0 0 0 0.18rem $dark-gray-t;
    }
}

.custom-input-class.lighted[disabled],
.custom-input-class.lighted .form-check-input[disabled] {
    background-color: #fff;
}

.vt-pagination {
    .pagination {
        justify-content: flex-end;
        
        .page-item {
            .page-link {
                color: $dark-gray;

                &:focus {
                    box-shadow: 0 0 0 0.18rem $dark-gray-t;
                }
            }

            &.active {
                .page-link {
                    @include sqrDist($dark-gray,'background-color','border-color');
                    color: #fff
                }
            }
            &.disabled {
                .page-link {
                    color: $soft-gray;
                }
            }
        }
    }
}

.dropdown-item {
    &.active, &:active {
        background-color: $dark-gray !important;
    }
}

.invrs-mt-1 {
    margin-top: -0.15rem !important;
}
.invrs-mt-2 {
    margin-top: -0.5rem !important;

    @include mediaquery(md) {
        margin-top: -1.5rem !important;
    }
    @include mediaquery(lg, $other-size: 'xl') {
        &.sidebar-on.sidehelp-on, 
        &.sidebar-on:not(.sidehelp-on), 
        &.sidehelp-on:not(.sidebar-on) {
            margin-top: -0.5rem !important;
        }
    }
    @include mediaquery(xl, $other-size: 'xxl') {
        &.sidebar-on.sidehelp-on {
            margin-top: -1rem !important;
        }
    }
}
.ms-for-siders {
    margin-left: -0.5rem !important;
}

.text-gray {
    color: $dark-gray !important;
}
.color-gray {
    color: $deep-gray !important;
}
.text-gris {
    color: $cancel-gray !important;
}
.text-red {
    color: #ff0000 !important;
}

.label-btn-primario,
.btn-primario {
    @include customBtnConstr($dark-gray-t, $dark-gray, #fff);
}
.btn-primario-outline {
    @include customBtnConstrTr($dark-gray-t, $dark-gray);
}
.btn-secundario {
    @include customBtnConstr($cancel-gray-t, $cancel-gray, #fff);
}
.btn-grave {
    @include customBtnConstr($grave-red-t, $grave-red, #fff);
}
.btn-terciario {
    @include customBtnConstr($soft-middle-gray-t, $soft-middle-gray, #fff);
}

.label-mx-2 label {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.d-max-lg-none {
    @include mediaquery(lg, 'max') {
        display: none !important;
    }
}

.fs-small {
    font-size: small !important;
}
.fs-x-small {
    font-size: x-small !important;
}
.check-inline-mr {
    .form-check-inline {
        margin-right: 0.5rem !important;

        label {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}

.not-outline {
    &, * {
        &:hover {
            color: $dark-gray !important;
        }

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

.wrong-input {
    color: #ff0000 !important;
}

.fit-to-content {
    height: fit-content !important;
}

.nav-icon {
    overflow: visible !important;
}

.adapt-all-md {
    @include mediaquery(md, 'max') {
        width: 100% !important;
    }
}
.adapt-all {
    @include mediaquery(lg, 'max') {
        width: 100% !important;
    }
}
.animate-custom {
    animation: all 0.5s ease-in-out;
}
.maxContent {
    width: max-content !important;
}

.buttons-custom {
    button {
      @include mediaquery(md, 'max') {
        width: 100%;
      }
    }
}

.modal.decorator-modal.v-leave-active.v-leave-to:not(.show) {
    &, & + .modal-backdrop {
        display: none !important;
    }
}

.light-padding {
    padding: 0.15rem 0.5rem !important;
}

.ul-hor-scroll {
    @include mediaquery(lg, 'max') {
        overflow-x: auto !important;
        flex-wrap: nowrap !important;
        padding: 5px !important;
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
    @include mediaquery(lg) {
        li {
            margin-bottom: 0.5rem;
        }
    }
}
.sidebar{
    background: $middle-gray !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    color: $dark-gray;
}
.opaque {
    opacity: 0.5 !important;
}

.bg-primario {
    background-color: $dark-gray !important;
}

.wf-44 {
    width: 44% !important;
}

.cardNo{
    padding: 0 !important;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 30% !important;
}

.wide-mobile-lg {
  @include mediaquery(lg, 'max') {
    width: 100% !important;
  }
}
.wide-mobile-md {
  @include mediaquery(md, 'max') {
    width: 100% !important;
  }
}

.estilo-fecha input{
  border: 1px solid #b1b7c1;
  border-radius: 5px;
  height: 2.3rem;
}


.custom-input-class-date {
    &[readonly] {
        background-color: #fff !important;
    }
}

.v3dp__datepicker .v3dp__popout .v3dp__body .v3dp__elements {
    button.selected span {
        background-color: $dark-gray !important;
    }

    button:not(:disabled):hover span {
        background-color: $middle-gray !important;
    }
}

.in-loto {
    // &.no-search .vs__dropdown-toggle {
    //     height: 100%;
    // }

    &.vs--unsearchable:not(.vs--open) .vs__selected-options {
        // flex-wrap: nowrap !important;
        .vs__search {
            // display: none;
            // width: 0 !important;
            // padding: 0 !important;
            width: auto !important;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.vs__dropdown-toggle {
    padding: 0.2rem 0.4rem 0.25rem 0.2rem !important;
    border: 1px solid var(--cui-input-border-color, #b1b7c1) !important;

    .vs__selected-options {
        // max-height: 1.8rem;
        min-height: calc($input-height - 9px);
        word-break: break-all;
        overflow-y: hidden;
        overflow-y: clip;
    }

    .vs__actions {
        .vs__clear {
            img, svg {
                vertical-align: baseline;
            }
        }
    }
}
.vs__dropdown-menu {
    .vs__dropdown-option--selected {
        background: $soft-middle-gray !important;
        color: #fff;
    }
    .vs__dropdown-option--highlight {
        background: $azul-clarito !important;
        color: #fff;
    }
}

.swal2-container {
    .swal2-actions {
        .swal2-confirm:focus {
            box-shadow: 0 0 0 3px $dark-gray-t;
        }

        .swal2-cancel:focus {
            box-shadow: 0 0 0 3px $cancel-gray-t;
        }
    }
}

.custom-nro {
    @include mediaquery(md) {
        width: 26%;
        &.n3, &.n4 { width: 15%; }
    }
    @include mediaquery(lg) {
        width: 50%;
        &.n2, &.n3 { width: 26%; }
        &.n4 { width: 25%; }
    }
    @include mediaquery(xl) {
        width: 26%;
        &.n2, &.n3 { width: 25%; }
        &.n4 { width: 16.666667%; }
    }
    @include mediaquery(xxl) {
        width: 25%;
        &.n2, &.n3 { width: 15%; }
    }
}
.custom-figura {
    @include mediaquery(md) {
        width: 24%;
        &.n3, &.n4 { width: 10%; }
    }
    @include mediaquery(lg) {
        width: 50%;
        &.n2, &.n3 { width: 24%; }
        &.n4 { width: 25%; }
    }
    @include mediaquery(xl) {
        width: 24%;
        &.n2, &.n3 { width: 25%; }
        &.n4 { width: 16.666667%; }
    }
    @include mediaquery(xxl) {
        width: 25%;
        &.n2, &.n3 { width: 10%; }
    }
}
.custom-3xl, .custom-nro, .custom-figura {
    @include mediaquery(xxxl) {
        width: 16.66666667%;
        &.n2, &.n3 { width: 12.5%; }
        &.n4 { width: 10%; }
        &.n2-2, &.n3-2, &.n4-2 { width: 25%; }
    }
}

.fit-the-content {
    width: fit-content !important;
}

.has-before-unclicable {
    &::before {
        content: '';
        width: 100%;
        background: transparent;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.shortcut-info {
    &.hsmall h6 {
      margin-left: 2px;
    }
  
    &:not(.small), &.transparent {
      border: none;
      background: transparent;
    }
  
    &.small {
      font-size: small;
  
      &:not(.transparent) {
        @include sqrDist($dark-gray !important,'border-color','color');
      }
  
      &:active, &:focus {
        background: transparent !important;
      }
  
      &:not(.transparent):focus {
        box-shadow: 0 0 0 0.18rem $dark-gray-t !important;
      }
  
      &:not(.transparent):hover {
        background: $soft-gray !important;
      }
  
      &.active:not(:hover) {
        background: $dark-gray !important;
        color: #fff !important;
      }
  
      &.hsmall {
        h6 {
          font-size: inherit !important;
        }
      }
    }
  
    span.asText {
      text-align: left;
    }
    span:not(.asText) {
      margin-left: 0.65rem;
      border-color: #ffffff;
      padding: 0.4rem 0.8rem;
      font-weight: bold;
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      background: -webkit-linear-gradient(top, #fff 0%, #f1f1f1 80%, #efefef 100%);
      display: inline-block;
      box-shadow: 0 0 1px rgba(136, 136, 136, 0.15), 
                  0 1px 0 rgba(243, 243, 243, 0.35), 
                  0 2px 0 rgba(192, 192, 192, 0.2), 
                  0 3px 4px rgba(68, 68, 68, 0.05), 
                  1px 1px 3px rgba(68, 68, 68, 0.05), 
                  -1px 1px 3px rgba(68, 68, 68, 0.05), 
                  0 5px 5px rgba(68, 68, 68, 0.05);
    }
  
    &.small span:not(.asText) {
      color: $dark-gray;
      padding: 0 0.35rem;
      height: fit-content;
    }
  
    &.smaller {
      font-size: 0.75rem;
  
      &.hsmall {
        h6 {
          font-size: inherit !important;
        }
      }
  
      span:not(.asText) {
        margin-left: 0.35rem;
        margin-right: 0.25rem;
        padding: 0 0.25rem;
      }
    }
}

.overflow-not-horz {
    overflow-x: hidden !important;
}

tbody.last-row-tr {
    tr:last-child {
        border-bottom: transparent;
    }
}

.cpl {
    @for $i from 1 through 5 {
        &.cpl-#{$i} {
            padding-left: calc((#{$i} + 0.5) * 1rem);
        }
    }
}

.ancho-custom {
    .modal-dialog {
        @include mediaquery (md) {
            max-width: calc(100% - (1.5rem * 6)) !important;
        }
        @include mediaquery (lg) {
            max-width: calc(100% - (1.5rem * 3)) !important;
        }
        @include mediaquery (xl) {
            max-width: calc(100% - (1.5rem * 5.5)) !important;
        }
        @include mediaquery(xxl, $custom: 1800) {
            max-width: calc(100% - (1.5rem * 15)) !important;
        }
    }
}