<template>
  <div>
    <CRow>
      <CCol>
        <CCard class="mb-4">
          <CCardHeader><h5>Gestión de abono prepago</h5></CCardHeader>
          <CCardBody>
            <CRow
              class="d-flex flex"
            >
              <CCol class="estilo-fecha row mb-3">
                <CFormLabel for="centro-apuesta" class="col-sm-4"
                  >Centro de Apuesta</CFormLabel
                >
                <CCol>
                  <CFormSelect
                    aria-label="select"
                    class="custom-input-class"
                  >
                    <option value="seleccione" disabled>Seleccione</option>
                  </CFormSelect>
                </CCol>
              </CCol>

              <CCol xs="12" lg="4" class="d-flex flex justify-content-lg-center justify-content-md-center mb-3 cursor-pointer">
                <CFormCheck
                  type="radio"
                  name="estatus"
                  label="Todos"
                  value="duplicar"
                  v-model="radioStatus"
                />
                <CFormCheck
                  type="radio"
                  name="estatus"
                  value="horario"
                  label="Aprobados"
                  v-model="radioStatus"
                />
                <CFormCheck
                  type="radio"
                  name="estatus"
                  value="sorteo"
                  label="Rechazados"
                  v-model="radioStatus"
                />
              </CCol>
              <CCol class="text-lg-center">
                <CButton class="btn-primario me-2" color="dark">
                  Buscar
                </CButton>
              </CCol>
              <CCol xs="12" lg="12" class="text-center mt-5">
                <CButton :disabled="this.selectedOnesFromTable.length <= 0" class="btn-primario me-2" color="dark" lg="4">
                  Guardar
                </CButton>
                <CButton :disabled="this.selectedOnesFromTable.length <= 0" class="btn-primario me-2" color="dark" lg="4">
                  Rechazar
                </CButton>
              </CCol>
            </CRow>
            <CRow v-if="showItems">
              <CCol class="mt-3" xs="12" lg="12">
                <CCTable
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :ref="tRef"
                  v-model="currentPage"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  maxHeight="10rem"
                  :viewFromTable="actionFromTable"
                  :setTableState="setTableStateOther"
                  :showDelete="false"
                  :showEdit="false"
                  :viewDataModal="true"
                  :optionsColWidth="optionsColWidthRem"
                  doNotEmit
                />
              </CCol>
            </CRow>
            <!-- {{setTableState}} -->
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <modalGestion
    ref="modalGestion"
    :visible="showModal"
    :close="close"
    :formData="DataModal"
  />
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import modalGestion from './modalGestion.vue'
import escrutarResultadosVal from '@/_validations/escrutarResultadosVal'
// import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'

function setTableStateOther(e, tableN) {
  this.setTableState(e, tableN)
}

function close() {
  this.showModal = false
  this.modalDecorator(this, 'modalGestion')
}

function actionFromTable(data){
    this.DataModal = data;
    this.showModal = true;
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore);

  const optionsColWidthRem = 4
  const forTabla = [
      [{ name: 'Nombre', attr: 'name'}, 30],
      [{ name: 'Fecha Registro', attr: 'fechaRegistro'}, 10],
      [{ name: 'Fecha Deposito', attr: 'fechaDeposito'}, 10],
      [{ name: 'Tipo Abono', attr: 'tipoAbono'}, 10],
      [{ name: 'Número Referencia', attr: 'nroReferencia'}, 10],
      [{ name: 'Cta Destino', attr: 'ctaDestino'}, 10],
      [{ name: 'Monto', attr: 'monto'}],
      [{ name: 'Obervación', attr: 'obervacion'}, 10],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    v$: useVuelidate(),
    ...setupData(),
    auth_tokenUsuario,
    inTableData,
    optionsColWidthRem
  }
}

function data() {
  return {
    showItems: true,
    showModal: false,
    DataModal: [],
    radioStatus:''
  }
}
export default {
  data,
  setup,
  components: { /*CCInput,*/ CCTable, modalGestion },
  mixins: [tableGenerals, globals],
  validations() {
    return escrutarResultadosVal
  },
  mounted() {
    this.tRef = 'gestionarAbono';
    this.tableData = [
      { name: 'Inversiones Corona', fechaRegistro: '08/01/2023', fechaDeposito: '08/01/2023',tipoAbono:'Transferencia', nroReferencia: '001', ctaDestino: '001005002', monto: '300', obervacion:'Pendiente' },
      { name: 'Inversiones Gianf', fechaRegistro: '08/01/2023', fechaDeposito: '08/01/2023', tipoAbono:'Deposito', nroReferencia: '002', ctaDestino: '0000000', monto: '200', obervacion:'Pendiente' },
    ];
  },
  methods: {
    setTableStateOther,
    actionFromTable,
    close
  },
}
</script>
<style lang="scss" scoped>
@include deepSectionContainer;
.customs-title-table {
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 10px;
  margin: 0;
}
</style>
