<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Anular ticket</h5></CCardHeader>
        <CCardBody>
          <CForm class="d-flex flex-wrap justify-content-between align-items-start">
              <CCInput  
                :allData="{ label: 'Serial', rowClasses: 'col-lg-5 g-0 mb-3 mb-lg-0 wide-mobile-lg', labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3', errorMessageClasses: 'wrong-input', type: 'text' }"
                v-model="serial" 
                :v_="v$.serial" 
                :disabled="loading"
                activateTouched
                :execute="() => {v$.serial.$touch()}"
              />
              <CCInput  
                :allData="{ label: 'Serial alterno', rowClasses: 'col-lg-5 g-0 mb-3 mb-lg-0 wide-mobile-lg', labelClasses: 'pt-0 w-auto wide-mobile-md', 
                  inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3', errorMessageClasses: 'wrong-input', type: 'text' }"
                v-model="serialAlterno" 
                :v_="v$.serialAlterno" 
                :disabled="loading"
                activateTouched
                :execute="() => {v$.serialAlterno.$touch()}"
              />
              <CCol xs="12" lg="2" class="flex-grow-1 mt-2 mt-lg-0">
                <CButton
                  class="btn-primario w-100"
                  @click="buscar"
                  color="dark"
                  :disabled="!isValid"
                >
                  <CCLoader v-if="loading" inline />&nbsp;
                  Buscar
                </CButton>
              </CCol>
              <CCol v-if="showItems" xs="12" lg="6" class="mt-4">
                <CRow>
                  <CCol xs="12" lg="6">
                    <h6>Fecha: {{ dateActual }}</h6>
                  </CCol>
                  <CCol xs="12" lg="6">
                    <h6>Hora: {{ horaActual }}</h6>
                  </CCol>
                </CRow>
              </CCol>
          </CForm>
          <br v-if="!showItems">
            <CRow v-if="showItems">
              <CCol class="mt-3" xs="12" lg="12">
                <CCTable
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :ref="tRef"
                  v-model="currentPage"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="eraseFromTable"
                  :loading="tableDataLoading"
                  maxHeight="10rem"
                  doNotEmit
                  :showEdit="false"
                  :showView="false"
                  :checkCol="false"
                  :setTableState="setTableState"
                  :hideActions="true"
                />
                <CRow class="mt-3">
                  <CCol xs="12" lg="6">
                    <h6>Cantidad de apuestas: {{ tableData.length }}</h6>
                  </CCol>
                  <CCol class="text-lg-end" xs="12" lg="6">
                    <h6>
                      Monto total:
                      {{ tableData[0].simboloMoneda + ' ' + totalMonto.toString() }}
                    </h6>
                  </CCol>
                </CRow>
              </CCol>

              <CCol class="d-flex justify-content-center flex-wrap mt-3" xs="12" lg="12">
                <CButton class="mx-md-4 btn-primario wide-mobile-md" :disabled="isCanceled" @click="anular">
                  <CCLoader v-if="canceling" inline />&nbsp;
                  Anular
                </CButton>
                <CButton
                  xs="12"
                  @click="limpiarCerrar"
                  class="mx-md-4 btn-primario wide-mobile-md mt-3 mt-md-0"
                >
                  Cancelar
                </CButton>
              </CCol>
            </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import cancelTicketVals from '@/_validations/cancelTicketVals';
import { loadToggler } from '@/composables/loadToggler'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import CCInput from '@/components/custom/CCInput.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import { theAnimalitos, theSignos } from '@/_sprites.js';
import globals from '@/_mixins/globals';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { epoched } from '@/_helpers/formatters';
import { useAuth } from '@/store/auth';
import { storeToRefs } from 'pinia';

function limpiarCerrar(all = true) {
  this.showItems = false;
  if (all) {
    this.radioType = 'sorteo';
    this.terminal = '';
  }
  this.serial = ''
  this.serialAlterno = ''
  this.v$.$reset()
}

async function buscar (e) {
  e.preventDefault();
  const self = this;
  this.loading = true;
  const parms_ = {
    serialTicket: window.btoa(this.serial), // 19012453061710220155
    serialAlterno: window.btoa(this.serialAlterno), // 35803
    tokenUsuario: this.auth_tokenUsuario
  };

  fetchRequest({ 
      api: `${this.$apiLoteria}DetalleTicket/${parms_.tokenUsuario}/${parms_.serialTicket}/${parms_.serialAlterno}`, 
      self,
      success: (rjson) => {
        self.loading = false;
        const rdatos = rjson.datos;
        const date = new Date(epoched(rdatos.fechaTicket));
        self.showItems = true;
        const hours = date.getHours();

        self.horaActual = 
          String(hours > 12 ? (hours - 12) : hours).padStart(2, '0') +
          ':' +
          String(date.getMinutes()).padStart(2, '0') +
          ':' +
          String(date.getSeconds()).padStart(2, '0') + 
          (hours >= 12 ? ' PM' : ' AM'); // date.toLocaleTimeString();

        self.dateActual =
          String(date.getDate()).padStart(2, '0') +
          '/' +
          String(date.getMonth() + 1).padStart(2, '0') +
          '/' +
          date.getFullYear();

        self.tableData = rdatos.listaJugada.map(itm => ({
          apuesta: window.atob(itm.apuesta || ''),
          monto: itm.simboloMoneda + ' ' + itm.monto,
          motouniq:itm.monto,
          simboloMoneda:itm.simboloMoneda,
          nombre: window.atob(itm.nombreSorteo),
          }));

        self.consultedData.serialTicket = window.btoa(this.serial);
        self.consultedData.serialAlterno = window.btoa(this.serialAlterno);


        self.totalMonto = self.tableData.reduce((sum, item) => sum + item.motouniq, 0);

        self.isCanceled = Boolean(+rdatos.estatusTicket);
        if (self.isCanceled) self.fireToastMsg('El ticket se encuentra anulado.', { icon: 'info' });
        self.v$.$reset();
      }, 
      error: (rjson) => {
        self.limpiarCerrar(false);
        const msg = rjson?.mensaje?.descripcion || rjson?.message?.descripcion;
        return caseWrong({ self, error: msg || rjson, passMsg: Boolean(msg), loading: 'loading', boolError: true, resetVals: true });
      },
  });
}

async function anular () {
  const res = await this.fireAlertMsg('¿Está seguro que quiere anular este ticket?', {});
  
  if (res.isConfirmed) {
    const self = this;
    this.canceling = true;
    fetchRequest({ 
        api: this.$apiLoteria+'AnularTicket', 
        method: 'PUT',
        self,
        body: {
          serialTicket: this.consultedData.serialTicket,
          serialAlterno: this.consultedData.serialAlterno,
          tokenUsuario: this.auth_tokenUsuario
        },
        success: () => {
          self.canceling = false;
          self.fireToastMsg('Ticket anulado satisfactoriamente.', { icon: 'success' });
          self.isCanceled = true;
        }, 
        error: (rjson) => {
          const msg = rjson?.mensaje?.descripcion || rjson?.message?.descripcion;
          return caseWrong({ self, error: msg || rjson, passMsg: Boolean(msg), loading: 'canceling', boolError: true });
        },
    });
  }
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)

  loadToggler()

  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Nombre del sorteo', attr: 'nombre'}, 25],
      [{ name: 'Apuesta', attr: 'apuesta'}, 25],
      [{ name: 'Monto', attr: 'monto'}, 25],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    v$: useVuelidate(),
    inTableData,
    theAnimalitos, 
    theSignos,
    auth_tokenUsuario,
  }
}

// COMPUTED
function isValid () {
  return !this.loading && this.v$.$anyDirty && !this.v$.$invalid
}

function data() {
  return {
    loading: false,
    canceling: false,
    triplebs: '',
    terminales: '',
    select_taquilla: '',
    showItems: false,
    radioType: 'sorteo',
    terminal: '',
    serialAlterno: '',
    serial: '',
    horaActual: '',
    dateActual: '',
    isCanceled: false,
    consultedData: {
      serialTicket: '',
      serialAlterno: '',
    },
    totalMonto:''
  }
}
export default {
  data,
  setup,
  computed: {
    isValid,
  },
  components: { CCTable, CCInput, CCLoader },
  mixins: [tableGenerals, globals],
  methods: {
    limpiarCerrar,
    buscar,
    anular,
  },
  validations () {
    return cancelTicketVals;
  },
  mounted() {
    this.tRef = 'anular';
  },
}
</script>