<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Reporte de liquidación</h5></CCardHeader>
        <CCardBody>
          <CForm class="d-flex flex-wrap align-items-start">
              <CCol xs="12" lg="2" class="me-3">
                <CCol class="mb-1">Fecha desde</CCol>
                <CCInput 
                  :allData="{ 
                    type: 'date', 
                    errorMessageClasses: 'wrong-input', 
                  }"
                  v-model="fechaDesde" 
                  :v_="v$.fechaDesde" 
                  :disabled="loading"
                  :sinceDate="nowDate()"
                  :untilDate="new Date()"
                />
              </CCol>
              <CCol xs="12" lg="2" class="me-3">
                  <CCol class="mb-1">Fecha hasta</CCol>
                  <CCInput 
                  :allData="{ 
                    errorMessageClasses: 'wrong-input',
                    type: 'date'
                  }"
                  v-model="fechaHasta" 
                  :v_="v$.fechaHasta" 
                  :disabled="loading"
                  :sinceDate="nowDate()"
                  :untilDate="new Date()"
                />
              </CCol>
              <CCol xs="12" lg="2" class="me-3">
                <CCol class="mb-1">Moneda</CCol>
                <CCInput 
                  :allData="{ 
                    errorMessageClasses: 'wrong-input', 
                    type: 'select',
                  }"
                  v-model="moneda"
                  :v_="v$.moneda"
                  :disabled="loading"
                  activateTouched
                  :execute="
                    () => {
                      v$.moneda.$touch()
                    }
                  "
                  :options="monedas"
                  hideSeleccione
               />
            </CCol>
              <CCol class="" lg="5">
                <CCol class="mb-1">Filtrado por</CCol>
                <div id="aim-radios">
                  <CFormCheck v-for="aim of estatusOptions" :key="aim" inline class="text-capitalize" type="radio"
                    name="estatusR" :id="'estatusR' + aim" autocomplete="off" :label="aim.descripcion" :value="aim.codigo"
                    :checked="estatusR === aim.codigo" @change="handlerEstatus(aim.codigo)"/>
                </div>
              </CCol>
              <CCol xs="12" class="mt-3">
                <CButton
                  class="btn-primario wide-mobile-md"
                  @click="buscar"
                  color="dark"
                  :disabled="!isValid || moneda === 'MDAwMA=='"
                >
                  <CCLoader v-if="loading" inline />&nbsp;
                    Buscar
                </CButton>
                <CButton
                  v-if="showTable"
                  class="btn-primario wide-mobile-md ms-md-2 mt-2 mt-md-0"
                  :disabled="printing || loading"
                  @click="sendToPrint"
                >
                  <CCLoader v-if="printing" inline />&nbsp;
                    Imprimir
                </CButton>
              </CCol>
          </CForm>
          <br>
          <CRow v-if="showTable">
            <div class="border-table" v-for="item in this.tableData" :key="item">
              <div class="mt-2">
                <!-- <div><h6>{{item.nombreTitulo}}</h6></div> -->
                <div class="back-title row">
                  <div class="col-lg-6">
                    <span class="color-text">{{item.nombreTitulo}}</span> 
                  </div>
                  <div class="col-lg-6">
                    <span class="color-text">{{item.nombreValor}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <span>{{item.nombre}}</span> 
                  </div>
                  <div class="col-lg-6">
                    <span>{{item.monto}}</span>
                  </div>
                </div>
              </div>
            </div>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import reportLiquidacionVals from '@/_validations/reportLiquidacionVals';
import { loadToggler } from '@/composables/loadToggler'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
//import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import CCInput from '@/components/custom/CCInput.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import globals from '@/_mixins/globals';
import printGenerals from '@/_mixins/printGenerals';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { dateDepocher, depoched ,parrafr, theBreak  } from '@/_helpers/formatters';
import { useAuth } from '@/store/auth';
import { storeToRefs } from 'pinia';
import { msgError } from '@/_helpers/general';
import { LABELS as labels } from '@/_helpers/labels';

function limpiarCerrar() {
  this.showTable = false
  this.v$.$reset()
}

function handlerEstatus (val) {
    this.estatusR = val
}

async function buscar (e) {
  e.preventDefault();
  // if (this.fechaDesde.getMonth() != this.fechaHasta.getMonth()) {
  //   this.fireToastMsg('El rango de fechas debe encontrarse en el mismo mes.', {});
  //   return;
  // }

  const throwErr = (rjson) => {
      const msg = msgError(rjson);
      self.showTable = false;
      self.tableData = [];
      return caseWrong({
        self, error: msg || rjson, passMsg: Boolean(msg), loading: 'loading', boolError: true, resetVals: true,
        defaultMsg: labels.defaultErrorMsgPlus('cargar la información de la tabla'),
      });
    };

  let estProducto = this.estatusR === '1' ? window.btoa('1') : window.btoa('0');
  let estSorteo =   this.estatusR === '0' ? window.btoa('1') : window.btoa('0');

  this.loading = true;
  const self = this;
  fetchRequest({ 
    api: `${this.$apiReporte}ReporteLiquidacion/${depoched(this.fechaDesde.getTime()).toString()}/${depoched(this.fechaHasta.getTime()).toString()}/${this.auth_tokenUsuario}/${this.moneda}/${estProducto}/${estSorteo}`, 
    self,
    success: (rjson) => {
      self.loading = false;
      const rdatos = rjson.datos;
      self.showTable = true;

      self.consultedData.fechaDesde = self.fechaDesde;
      self.consultedData.fechaHasta = self.fechaHasta;
      if (rdatos.length) {
        const tableData_ = []
        rdatos.forEach((obj) => {
          tableData_.push({ nombreTitulo: obj.nombreTitulo, nombreItem: 'Ítem', nombreValor: 'Monto' })
          obj.listaItem.forEach((item) => {
            tableData_.push({
              nombre: item.item,
              monto: item.valor,
            })
          })
        })

        self.tableData = tableData_
      }
      else throwErr({ message: { description: 'No hay información para mostrar' } });
    }, 
    error: throwErr,
  });
}

function sendToPrint () {
  const self = this;
  this.printing = true;
  let array_data = [];
  self.tableData.forEach(itm => {
    array_data.push(...parrafr(itm.nombreTitulo != undefined ? itm.nombreTitulo : '',false,self.auth_columnaTicket, ''));
    array_data.push(...parrafr(itm.nombre != undefined && itm.monto != undefined ? itm.nombre +  '...' + itm.monto : '',false,self.auth_columnaTicket, ''));
});
    
  const cApuesta = self.auth_nombrePuntoVenta;
  //const taquilla = self.auth_taquilla;
  const fechaDesde = dateDepocher(self.consultedData.fechaDesde, false, true, true);
  const fechaHasta = dateDepocher(self.consultedData.fechaHasta, false, true, true);
  const fechaReporte =  new Date().toLocaleString();


   const ticketDta = [
  ...parrafr(cApuesta,false,self.auth_columnaTicket,''),
  ...parrafr("Fecha Actual:" + fechaReporte,false,self.auth_columnaTicket,''),
  ...parrafr("Fecha Desde:"  +  fechaDesde,false,self.auth_columnaTicket,''),
  ...parrafr("Fecha Hasta:"  +  fechaHasta,false,self.auth_columnaTicket,''),
  //...parrafr("Taquilla:" + taquilla,false,self.auth_columnaTicket,''),

   theBreak + theBreak,
   ...parrafr("Reporte de Liquidación",false,self.auth_columnaTicket, ''),
   theBreak + theBreak,
    array_data.join('') 
 ];

  const ticketDoc = ticketDta;

  self.saveAndPrintFile({
    dataPrint: ticketDoc,
    onDone: () => { self.printing = false }
  });
}

async function loadMoneda() {
  const self = this
  // const codPunto = 'MDAwMDAw'; // 000000 encriptado // si no se sabe cual es el codigo del punto
  fetchRequest({
    api: `${this.$apiGeneral}ListarMoneda/${this.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.monedas = rjson.datos.map((dto) => ({
        label: dto.descripcion,
        value: dto.codigo,
      }))
      self.monedas = [{label:'SELECCIONE',value:'MDAwMA=='}, ...self.monedas];
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar las monedas', true),
      })
    },
  })
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_nombrePuntoVenta, auth_taquilla } = storeToRefs(authStore)

  loadToggler()
  
  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Ítem', attr: 'nombre'}, 75],
      [{ name: 'Monto', attr: 'monto', dir: 'dot'}, 25],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    v$: useVuelidate(),
    inTableData,
    auth_tokenUsuario,
    auth_nombrePuntoVenta, 
    auth_taquilla,
  }
}

// COMPUTED
function isValid () {
  return !this.loading && !this.v$.$invalid
}

function sinceUpperDesde () {
  const untilMonth = this.fechaHasta.getMonth() + 1;
  const res = untilMonth - 6;
  const decr = res > -1;
  const date = new Date(`${this.fechaHasta.getFullYear() - (decr ? 0 : 1)}/${(decr ? (res + 1) : ((12 + res) + 1)).toString().padStart(2,'0')}/01`);
  return new Date(date.getTime())
}

function untilLowerHasta () {
  return new Date(this.fechaHasta.getTime())
}

// WATCH
function fechaHastaW(val) {
  const desde = this.fechaDesde.getTime()
  const hasta = val.getTime()
  if (hasta < desde) this.fechaDesde = new Date(val.getTime())
  else {
    const yearD = this.fechaDesde.getFullYear(),
      yearH = val.getFullYear(),
      valMo = val.getMonth() + 1,
      desdeMo = this.fechaDesde.getMonth()
    const distance = yearD != yearH ? 12 - desdeMo + valMo : valMo - desdeMo
    if (distance > 6) {
      const changeTo = desdeMo + 1 + 1 > 12
      this.fechaDesde = new Date(
        new Date(
          `${changeTo ? yearH : yearD}/${(
            valMo + (changeTo || valMo > 5 ? -5 : 7)
          )
            .toString()
            .padStart(2, '0')}/01`,
        ).getTime(),
      )
    }
  }
  this.v$.fechaHasta.$touch()
}

function fechaDesdeW(val) {
  const desde = val.getTime()
  const hasta = this.fechaHasta.getTime()
  if (desde > hasta) this.fechaHasta = new Date(val.getTime())
  this.v$.fechaDesde.$touch()
}

//

function data() {
  return {
    loading: false,
    printing: false,
    showTable: false,
    fechaDesde: new Date(new Date().toDateString()),
    fechaHasta: new Date(new Date().toDateString()),
    consultedData: {
      fechaDesde: new Date(),
      fechaHasta: new Date(),
    },
    estatusR: '1',
    moneda: 'MDAwMA==',
    monedas: [],
    estatusOptions:[{codigo: '1', descripcion: 'PRODUCTO'}, { codigo: '0', descripcion: 'TIPO DE SORTEO' }]
  }
}
export default {
  data,
  setup,
  computed: {
    isValid,
    sinceUpperDesde,
    untilLowerHasta,
  },
  components: { CCInput, CCLoader },
  mixins: [tableGenerals, globals, printGenerals],
  methods: {
    limpiarCerrar,
    buscar,
    sendToPrint,
    loadMoneda,
    handlerEstatus
  },
  validations () {
    return reportLiquidacionVals;
  },
  watch: {
    fechaHasta: fechaHastaW,
    fechaDesde: fechaDesdeW,
  },
  mounted() {
    this.tRef = 'reporteLiquidacion';
    this.loadMoneda()
  },
}
</script>

<style lang="scss" scoped>
.aling-custom {
  @include mediaquery(lg, $other-size: 'xl') {
    text-align: end !important;
    
    button {
      width: auto !important;
    }
  }
}
.aling-custom {
  @include mediaquery(lg, $other-size: 'xl') {
    text-align: end !important;

    button {
      width: auto !important;
    }
  }
}

.border-table{
  border: 1px solid #dae8fd;
}
.back-title{
  background: #dae8fd;;
}
.color-text {
    color: #000;
    font-weight: 600;
}
</style>