<template>
   <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Listado de tickets premiados</h5></CCardHeader>
        <CCardBody>
          <div class="row mb-3">
            <CCol xs="12" lg="3" class="me-1 mb-3">
                <CCol class="mb-1">Fecha desde</CCol>
                <CCInput  
                    :allData="{ 
                      errorMessageClasses: 'wrong-input', 
                      type: 'date', 
                     }"
                    v-model="fechaDesde" 
                    :v_="v$.fechaDesde" 
                    :disabled="loading || fetching"
                    :sinceDate="nowDate()"
                    :untilDate="new Date()"
                />
            </CCol>
            <CCol xs="12" lg="3" class="me-1 mb-3">
              <CCol class="mb-1">Fecha hasta</CCol>
              <CCInput  
                  :allData="{ 
                    type: 'date',
                    errorMessageClasses: 'wrong-input',
                  }"
                  v-model="fechaHasta" 
                  :v_="v$.fechaHasta" 
                  :disabled="loading || fetching"
                  :sinceDate="nowDate()"
                  :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="3" v-if="auth_tipoUsuario === 24">
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="comprador"
                :v_="v$.comprador"
                :options="compradorOptions"
                :execute="
                  () => {
                    v$.comprador.$touch()
                  }
                "
                :disabled="loading || fetching"
              />
            </CCol>
            <CCol xs="12" lg="3" v-if="auth_tipoUsuario === 22 || auth_tipoUsuario === 23 || auth_tipoUsuario === 24">
              <CCol class="mb-1">Centro de Apuesta</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="puntoVenta"
                :v_="v$.puntoVenta"
                :options="puntoVentaOptions"
                :execute="
                  () => {
                    v$.puntoVenta.$touch()
                  }
                "
                :disabled="loading || fetching || (auth_tipoUsuario !== 22 && auth_tipoUsuario !== 23 && comprador == 'seleccione') || !puntoVentaOptions.length"
              />
            </CCol>
            <CCol xs="12" lg="3" class="me-1">
              <CCol class="mb-1">Taquilla</CCol>
              <CCInput  
                  :allData="{
                    errorMessageClasses: 'wrong-input', 
                    type: 'select' 
                  }"
                  v-model="taquilla" 
                  :v_="v$.taquilla" 
                  :disabled="loading || fetching || (auth_tipoUsuario !== 0 && puntoVenta == 'seleccione') || !taquillas.length"
                  activateTouched
                  :execute="() => {v$.taquilla.$touch()}"
                  :options="taquillas"
                  :hideSeleccione="!!taquillas.length"
              />
            </CCol>
            <CCol xs="12" lg="3" class="me-1">
              <CCol class="mb-1">Tipo moneda</CCol>
              <CCInput  
                  :allData="{
                    errorMessageClasses: 'wrong-input', 
                    type: 'select' 
                  }"
                  v-model="tipoMoneda" 
                  :v_="v$.tipoMoneda" 
                  :disabled="loading || fetching || !tipoMoneda.length"
                  activateTouched
                  :options="tipoMonedas"
                  hideSeleccione
              />
            </CCol>
            </div>
            <CCol :class="'mt-3'">
              <CButton 
                class="btn-primario" 
                @click="buscar" 
                color="dark"
                :disabled="taquilla === 'seleccione' || taquilla === '0' || tipoMoneda === '0' || loading"
                >
                <CCLoader v-if="loading" inline />&nbsp;
                  Buscar
              </CButton>
            </CCol>
          <br>
          <CRow v-if="showTable">
              <CCol class="mt-3" xs="12" lg="12">
                 <div class="mr-3 row">
                  <CCard class="mb-4 wf-44 cardNo">
                    <CCardBody>
                      <span class="color-text">Monto total ticket: {{auxSimboloMoneda}}<span v-numberComma:dot="{truncate: 2, val: acumMontoTicket}">{{acumMontoTicket}}</span></span> 
                    </CCardBody>
                  </CCard>
                  <CCard class="mb-4 wf-44 cardNo">
                    <CCardBody>
                      <span class="color-text">Monto total premio: {{auxSimboloMoneda}}<span v-numberComma:dot="{truncate: 2, val: acumMontoPremio}">{{acumMontoPremio}}</span></span> 
                    </CCardBody>
                  </CCard>
                </div>
                <CCTable
                  :ref="tRef"
                  v-model="currentPage"
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :setTableState="setTableState"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :viewFromTable="viewPremiado"
                  :loading="tableDataLoading"
                  maxHeight="15rem"
                  doNotEmit
                  :showEdit="false"
                  :showDelete="false"
                  :pageSize="8"
                  :monedaStatic="auxSimboloMoneda"
                  :truncateNum="2"
                />
              </CCol>
          <br>
              <CCol class="mt-3" xs="12" lg="12">
                <CCTable
                  :ref="tRef2"
                  v-model="currentPage2"
                  :tableData="tableData2"
                  :inTableData="inTableData2"
                  :setTableState="setTableState"
                  :loading="tableDataLoading"
                  maxHeight="15rem"
                  :optionsColWidth="optionsColWidthRem"
                  doNotEmit
                  hideActions
                  :monedaStatic="auxSimboloMoneda"
                  :truncateNum="2"
                />
              </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalDetallePremiado
    ref="modalpremiadoDecorator"
    :visible="premiadoModalVisible" 
    :data="premiadoModalDta"
    :close="closeModal" 
    :mode="premiadoMode"
    :formData="listadoPremiado"
  />
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import tableGenerals from '@/_mixins/tableGenerals';
import globals from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import listadoTicketPremiadoVals from '@/_validations/listadoTicketPremiadoVals';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { useAuth } from '@/store/auth';
import { storeToRefs } from 'pinia';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalDetallePremiado from './modales/modalTicketDetallePremiado.vue';
import { modalSetupData } from '@/composables/modalDataStruct';
import { depoched, epoched } from '@/_helpers/formatters'
import { loadToggler } from '@/composables/loadToggler';
import { numberComma } from '@/directives/number';
import { LABELS as labels } from '@/_helpers/labels';
import { computed, ref } from 'vue';

//**LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador() {
  const self = this
  this.fetching = true;
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => ({
        value: val.codigo,
        label: val.descripcion,
      }));
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
        loading: 'fetching',
      })
    },
    done: () => {
      self.fetching = false;
    }
  })
}

//**LISTAR PUNTO DE VENTA*********************************************************
async function fetchPuntoVenta() {
  const self = this;
  this.fetching = true;
  const codComprador = self.comprador == 'seleccione' ? 'MDAwMDAw' : self.comprador;
  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${codComprador}`,
    self,
    success: (rjson) => {
      self.puntoVenta = 'seleccione';
      self.puntoVentaOptions = rjson.datos.map((val) => ({
        value: val.codigo,
        label: val.descripcion,
      }));
    },
    error: (rjson) => {
      self.puntoVenta = 'seleccione';
      self.puntoVentaOptions = [];
      self.v$.$reset();
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
        loading: 'fetching',
      })
    },
    done: () => {
      self.fetching = false;
    }
  })
}

async function ListarTaquilla () {
    const self = this;
    this.fetching = true;
    const codPuntoVenta = self.puntoVenta == 'seleccione' ? 'MDAwMDAw' : self.puntoVenta;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarTaquillas/${self.auth_tokenUsuario}/${codPuntoVenta}`,
        self,
        success: (rjson) => {
          self.taquilla = self.auth_tipoUsuario === 20 ? '0' : 'MDA=';
          self.taquillas = rjson.datos.map((val) => {
            return {
              label: window.atob(val.descripcion),
              value: val.codigo,
            };
          });
        self.taquillas = self.auth_tipoUsuario == 20 ? self.taquillas : [{label:'TODOS',value:'MDA='}, ...self.taquillas];
        if(self.auth_tipoUsuario == 20) self.taquilla = self.taquillas[0].value;

        }, 
        error: (rjson) => {
            console.error(rjson);
            self.taquilla = 'seleccione';
            self.taquillas = [];
            self.v$.$reset();
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar las taquillas', true),
                loading: 'fetching',
              })
            },
            done: () => {
              self.fetching = false;
            }
    });
}

async function ListarTipoMoneda () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarMoneda/${self.auth_tokenUsuario}`,
        self,
        success: (rjson) => {
          self.tipoMonedas = rjson.datos.map((val) => {
            return {
              label: val.descripcion,
              value: val.codigo,
            };
          });
          self.tipoMonedas = [{label:'SELECCIONE',value:'0'}, ...self.tipoMonedas];
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de monedas', true),
            });
        },
    });
}

async function buscar () {
    const self = this;
    self.loading = true;
    const fechaD = depoched(self.fechaDesde.getTime())
    const fechaH = depoched(self.fechaHasta.getTime())
    const codTaquilla = self.taquilla
    const codMoneda = self.tipoMoneda
    const codPuntoVenta = self.puntoVenta == 'seleccione' ? 'MDAwMDAw' : self.puntoVenta;
    this.showExtraCols = false;

    fetchRequest({ 
        api: `${this.$apiReporte}ListarTicketsPremiados/${self.auth_tokenUsuario}/${fechaD}/${fechaH}/${codTaquilla}/${codMoneda}/${codPuntoVenta}`,
        self,
        success: (rjson) => {
          // console.log("data rjson",rjson)
            self.loading = false;
            self.showTable = true;
            self.acumMontoTicket = 0;
            self.acumMontoPremio = 0;

            self.tableData = rjson.datos.listaTickets.map((val) => {
              self.acumMontoTicket += val.montoTicket;
              self.acumMontoPremio += val.montoPremio;
              self.auxSimboloMoneda = val.simboloMoneda;
              if (val.montoIgtf && !self.showExtraCols) self.showExtraCols = true;

              const fechaNormal = new Date(epoched(val.fechaTicket))
              const dia = fechaNormal.getDate();
              const mes = fechaNormal.getMonth() + 1; // Los meses en JavaScript comienzan desde 0, por lo que se suma 1
              const anio = fechaNormal.getFullYear();
              const fechaFormateada = `${dia < 10 ? '0' + dia : dia}/${mes < 10 ? '0' + mes : mes}/${anio}`;

            return {
              fechaAux: val.fechaTicket,
              fecha: fechaFormateada,
              taquilla: window.atob(val.codigoTaquilla),
              ticket: window.atob(val.serialOculto),
              ticketAux: val.serialTicket,
              montoTicket: /* self.formatearNumero( */val.montoTicket/* ) */,
              montoPremio: /* self.formatearNumero( */val.montoPremio/* ) */,
              premioBruto: val.montoIgtf ? val.premioBruto : '',
              montoIgtf: val.montoIgtf || '',
              estatusTicket: val.estatusTicket
            };
          });

          self.tableData2 = rjson.datos.listaResumen.reduce((allVals, val) => {
            if (val.estatusTicket != 'PREMIADO') allVals.push({
              cantidadTickets: val.cantidadTickets,
              estatusTicket: val.estatusTicket,
              montoTotal: /* self.formatearNumero( */val.montoTotal/* ) */
            });
            return allVals
          }, []);

          // self.acumMontoTicket = self.formatearNumero(self.acumMontoTicket)
          // self.acumMontoPremio = self.formatearNumero(self.acumMontoPremio)

        }, 
        error: (rjson) => {
            console.error(rjson);
            self.tableData = [];
            self.showTable = false;
            self.loading = false;
            // self.taquilla = this.auth_tipoUsuario === 20 ? '0' : 'MDA=';
            self.tipoMoneda = '0';
            self.fechaDesde = new Date(new Date().toDateString());
            self.fechaHasta = new Date(new Date().toDateString());
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

function formatearNumero(numero) {
  // Convertir el número a una cadena.
  const numeroStr = numero.toString();

  // Invertir la cadena.
  const numeroStrInvertido = numeroStr.split('').reverse().join('');

  // Añadir un punto cada tres dígitos.
  let numeroStrFormateado = numeroStrInvertido.match(/\d{1,3}/g).join('.');

  // Invertir la cadena de nuevo.
  numeroStrFormateado = numeroStrFormateado.split('').reverse().join('');

  // Devolver el número formateado.
  return numeroStrFormateado;
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
  loadToggler()

  const showExtraCols = ref(false)
  
  const optionsColWidthRem = 5
  
  const inTableData = computed(() => {
    const forTabla = [
      [{ name: 'fecha', attr: 'fecha'}],
      [{ name: 'Taquilla', attr: 'taquilla'}],
      [{ name: 'Ticket', attr: 'ticket'}],
      [{ name: 'Monto Ticket', attr: 'montoTicket', dir: 'dot' }],
      [{ name: 'Monto Premio', attr: 'montoPremio', dir: 'dot' }],
      ...(showExtraCols.value ? [
        [{ name: 'Premio Bruto', attr: 'premioBruto', dir: 'dot' }],
        [{ name: 'Monto IGTF', attr: 'montoIgtf', dir: 'dot' }],
      ] : []),
      [{ name: 'Estatus', attr: 'estatusTicket'}],
    ]
    const data = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
    return data
  })

  const forTabla2 = [
      [{ name: 'Estatus', attr: 'estatusTicket'}, 33],
      [{ name: 'Cantidad de Tickets', attr: 'cantidadTickets'}, 33],
      [{ name: 'Monto Total', attr: 'montoTotal', dir: 'dot' } , 33],
  ]
  const inTableData2 = tableDataStruc(forTabla2.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla2.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    ...modalSetupData('premiado'),
    v$: useVuelidate(),
    showExtraCols,
    inTableData,
    inTableData2,
    optionsColWidthRem,
    auth_tokenUsuario,
    auth_tipoUsuario
  }
}

async function detalleTicketPremiado (data) {
  const self = this;
  const ticketEncrip = data.ticketAux
  const fecha = data.fechaAux

    return fetchRequest({ 
        api: `${this.$apiReporte}ConsultarDetalleTicket/${self.auth_tokenUsuario}/${ticketEncrip}/${fecha}/MQ==`,
        self,
        promiseReturn: true,
        success: (rjson) => {
          const listaDetalleAnulado_ = rjson.datos.map((val) => {
            return {
              nombreSorteo: val.descripcionSorteo,
              modalidad: val.descripcionModalidad,
              simbolo: window.atob(val.descripcionSimbolo),
              montoApuesta: val.montoTicket,
              montoPremio: val.montoPremio,
              simboloMoneda: val.simboloMoneda
            };
          });

          return listaDetalleAnulado_;

        }, 
        error: (rjson) => {
            console.error(rjson);
            return [];
        },
    });
}
// depoched
async function viewPremiado (data, mode) {
  const listaDetalleAnulado = await this.detalleTicketPremiado(data);
  this.actionFromTable({ // para abrir modal
    laTabla: listaDetalleAnulado,
    fechaPremiado: data.fecha,
    fechaAux: new Date(epoched(data.fechaAux)),
    serialPremiado: data.ticket
  }, mode);
}

function fechaHastaW(val) {
  const desde = this.fechaDesde.getTime()
  const hasta = val.getTime()
  if (hasta < desde) this.fechaDesde = new Date(val.getTime())
  else {
    const yearD = this.fechaDesde.getFullYear(),
      yearH = val.getFullYear(),
      valMo = val.getMonth() + 1,
      desdeMo = this.fechaDesde.getMonth()
    const distance = yearD != yearH ? 12 - desdeMo + valMo : valMo - desdeMo
    if (distance > 6) {
      const changeTo = desdeMo + 1 + 1 > 12
      this.fechaDesde = new Date(
        new Date(
          `${changeTo ? yearH : yearD}/${(
            valMo + (changeTo || valMo > 5 ? -5 : 7)
          )
            .toString()
            .padStart(2, '0')}/01`,
        ).getTime(),
      )
    }
  }
  this.v$.fechaHasta.$touch()
}

function fechaDesdeW(val) {
  const desde = val.getTime()
  const hasta = this.fechaHasta.getTime()
  if (desde > hasta) this.fechaHasta = new Date(val.getTime())
  this.v$.fechaDesde.$touch()
}

function data() {
  return {
    loading: false,
    showTable: false,
    fechaDesde: new Date(new Date().toDateString()),
    fechaHasta: new Date(new Date().toDateString()),
    comprador: 'seleccione',
    compradorOptions: [],
    puntoVenta: 'seleccione',
    puntoVentaOptions: [],
    taquilla: 'seleccione',
    taquillas: [],
    tipoMoneda: '0',
    tipoMonedas: [],
    listaDetalleAnulado: [],
    acumMontoTicket: 0,
    acumMontoPremio: 0,
    auxSimboloMoneda: '',
    fetching: false,
  }
}

export default {
  data,
  setup,
  methods: {
    buscar,
    ListarTaquilla,
    ListarTipoMoneda,
    viewPremiado,
    detalleTicketPremiado,
    formatearNumero,
    fetchComprador,
    fetchPuntoVenta,
  },
  validations () {
    return listadoTicketPremiadoVals(this.auth_tipoUsuario);
  },
  components: { CCTable, CCInput, CCLoader, ModalDetallePremiado },
  mixins: [tableGenerals,globals,modalGenerals],
  mounted() {
    this.tRef = 'listadoTicketPremiado';
    if (this.auth_tipoUsuario === 24) this.fetchComprador();
    if ([22,23].includes(this.auth_tipoUsuario)) this.fetchPuntoVenta();
    if ([0,20].includes(this.auth_tipoUsuario)) this.ListarTaquilla();
    this.ListarTipoMoneda();
  },
  watch: {
    fechaHasta: fechaHastaW,
    fechaDesde: fechaDesdeW,
    comprador: function (val) {
      if (!this.fetching && val !== 'seleccione') this.fetchPuntoVenta();
      else if (val === 'seleccione') {
        this.puntoVenta = 'seleccione';
        this.puntoVentaOptions = [];
      }
    },
    puntoVenta: function (val) {
      if (!this.fetching && val !== 'seleccione') this.ListarTaquilla();
      else if (val === 'seleccione') {
        this.taquilla = 'seleccione';
        this.taquillas = [];
        this.v$.$reset();
      }
    },
  },
  directives: {
    numberComma,
  },
}
</script>

<style lang="scss" scoped>
.aling-custom {
  @include mediaquery(lg, $other-size: 'xl') {
    text-align: end !important;
    
    button {
      width: auto !important;
    }
  }
}
.back-title{
  background: #dae8fd;;
}
.color-text {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
</style>