<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Listado de tickets</h5></CCardHeader>
        <CCardBody>
          <div class="row mb-3">
              <CCol xs="12" :lg="this.auth_tipoUsuario === 0 || this.auth_tipoUsuario === 20 ? 5 : 3" class="me-1 mb-3">
                <CCol class="mb-1">Fecha desde</CCol>
                <CCInput  
                    :allData="{ 
                      errorMessageClasses: 'wrong-input', 
                      type: 'date', 
                     }"
                    v-model="fechaDesde" 
                    :v_="v$.fechaDesde" 
                    :disabled="loading"
                    :sinceDate="nowDate()"
                    :untilDate="new Date()"
                />
            </CCol>
            <CCol xs="12" :lg="this.auth_tipoUsuario === 0 || this.auth_tipoUsuario === 20 ? 5 : 3" class="me-1 mb-3">
              <CCol class="mb-1">Fecha hasta</CCol>
              <CCInput  
                  :allData="{ 
                    type: 'date',
                    errorMessageClasses: 'wrong-input',
                  }"
                  v-model="fechaHasta" 
                  :v_="v$.fechaHasta" 
                  :disabled="loading"
                  :sinceDate="nowDate()"
                  :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="3" class="me-1">
              <CCol class="mb-1">Tipo moneda</CCol>
              <CCInput  
                  :allData="{
                    errorMessageClasses: 'wrong-input', 
                    type: 'select' 
                  }"
                  v-model="tipoMoneda" 
                  :v_="v$.tipoMoneda" 
                  :disabled="this.tipoMoneda.length > 0 ? false : true"
                  activateTouched
                  :execute="() => {v$.taquilla.$touch()}"
                  :options="tipoMonedas"
                  hideSeleccione
              />
            </CCol>
            <CCol xs="12" :lg="this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 24 ? 2 : 3">
                <CCol class="mb-1">Estatus</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input', 
                    type: 'select',
                  }"
                  v-model="estatus"
                  :v_="v$.estatus"
                  activateTouched
                  :execute="
                    () => {
                      v$.estatus.$touch()
                    }
                  "
                  :options="estatus_"
                  hideSeleccione
                  :disabled="this.horario === '00' ? true : false"
                />
            </CCol>
            <CCol v-if="this.auth_tipoUsuario === 24" lg="3">
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="comprador"
                :v_="v$.comprador"
                :options="compradorOptions"
                :execute="
                  () => {
                    v$.comprador.$touch()
                  }
                "
                hideSeleccione
              />
            </CCol>
            <CCol v-if="this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 23 || this.auth_tipoUsuario === 24" lg="3">
              <CCol class="mb-1">Punto de venta</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="puntoVenta"
                :v_="v$.puntoVenta"
                :options="puntoVentaOptions"
                :execute="
                  () => {
                    v$.puntoVenta.$touch()
                  }
                "
                hideSeleccione
                :disabled="dsbComprador"
              />
            </CCol>
            <CCol xs="12" :lg="this.auth_tipoUsuario === 0 || this.auth_tipoUsuario === 20 ? 3 : 3" class="me-1">
              <CCol class="mb-1">Taquilla</CCol>
              <CCInput  
                  :allData="{
                    errorMessageClasses: 'wrong-input', 
                    type: 'select' 
                  }"
                  v-model="taquilla" 
                  :v_="v$.taquilla" 
                  :disabled="this.taquillas.length > 0 ? false : true"
                  activateTouched
                  :execute="() => {v$.taquilla.$touch()}"
                  :options="taquillas"
                  hideSeleccione
              />
            </CCol>
          </div>
          <CCol :class="'mt-3'">
            <CButton 
              class="btn-primario" 
              @click="buscar" 
              color="dark"
              :disabled="disabeldBtnGuardar()"
            >
            <CCLoader v-if="loading" inline />&nbsp;
              Buscar
            </CButton>
          </CCol>
          <br>
          <CRow v-if="showTable">
              <CCol class="mt-3" xs="12" lg="12">
                <div class="mr-3 row">
                  <CCard class="mb-4 wf-44 cardNo">
                    <CCardBody>
                      <span class="color-text">Cantidad de tickets: {{countTicket}}</span> 
                    </CCardBody>
                  </CCard>
                  <CCard class="mb-4 wf-44 cardNo">
                    <CCardBody>
                      <span class="color-text">Monto total: {{tableData[0]?.simboloMoneda || ''}}<span v-numberComma:dot="{truncate: 2, val: acumMonto}">{{acumMonto}}</span></span> 
                    </CCardBody>
                  </CCard>
                </div>
                <CCTable
                  :ref="tRef"
                  v-model="currentPage"
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :setTableState="setTableState"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :viewFromTable="viewAnulado"
                  :loading="tableDataLoading"
                  maxHeight="22rem"
                  doNotEmit
                  :showEdit="false"
                  :showDelete="false"
                  :pageSize="8"
                  :monedaStatic="tableData[0]?.simboloMoneda || ''"
                  :truncateNum="2"
                />
              </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
    <ModalDetalleAnulado
    ref="modalanuladoDecorator"
    :visible="anuladoModalVisible" 
    :data="anuladoModalDta"
    :close="closeModal" 
    :mode="anuladoMode"
    :formData="listadoAnulado"
  />
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import tableGenerals from '@/_mixins/tableGenerals';
import globals from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import listadoTicketAnuladoVals from '@/_validations/listadoTicketAnuladoVals';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { useAuth } from '@/store/auth';
import { storeToRefs } from 'pinia';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalDetalleAnulado from './modales/modalTicketDetalleAnulado.vue';
import { modalSetupData } from '@/composables/modalDataStruct';
import { depoched, epoched } from '@/_helpers/formatters'
import { loadToggler } from '@/composables/loadToggler';
import { numberComma } from '@/directives/number';
import { LABELS as labels } from '@/_helpers/labels';

function disabeldBtnGuardar(){
  const self = this;
  if (!self.taquillas.length) return true;
  if(self.auth_tipoUsuario === 0 || self.auth_tipoUsuario === 20){
    if(self.taquilla === '0' || self.tipoMoneda === '0') return true
    else false
  }else if (self.auth_tipoUsuario === 22 || self.auth_tipoUsuario === 23){
    if(self.taquilla === '0' || self.tipoMoneda === '0' || self.puntoVenta === 'MDA=') return true
    else false
  }else if (self.auth_tipoUsuario === 24){
    if(self.taquilla === '0' || self.tipoMoneda === '0' || self.comprador === 'MDA=' || self.puntoVenta === 'MDA=') return true
    else false
  }
}

async function ListarTaquilla () { 
    const self = this;

    let auxPtoVenta = ''
    if(self.auth_tipoUsuario == 20 || self.auth_tipoUsuario == 0) auxPtoVenta = 'MDAwMDAw'
    else if(self.auth_tipoUsuario == 22 || self.auth_tipoUsuario == 23) auxPtoVenta = self.puntoVenta
    else if(self.auth_tipoUsuario == 24) auxPtoVenta = self.puntoVenta


    fetchRequest({ 
        api: `${this.$apiGeneral}ListarTaquillas/${self.auth_tokenUsuario}/${auxPtoVenta}`,
        self,
        success: (rjson) => {
          // console.log("rjson taquilla",rjson)
          self.taquillas = rjson.datos.map((val) => {
            return {
              label: window.atob(val.descripcion),
              value: val.codigo,
            };
          });
        self.taquillas = self.auth_tipoUsuario == 20 ? self.taquillas : [{label:'TODOS',value:'MDA='}, ...self.taquillas];
        
        if(self.auth_tipoUsuario == 20) self.taquilla = self.taquillas[0].value;
       
        }, 
        error: (rjson) => {
            console.error(rjson);
            self.tableData = [];
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar las taquillas', true),
            });
        },
    });
}

async function ListarTipoMoneda () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarMoneda/${self.auth_tokenUsuario}`,
        self,
        success: (rjson) => {
          self.tipoMonedas = rjson.datos.map((val) => {
            return {
              label: val.descripcion,
              value: val.codigo,
            };
          });
        self.tipoMonedas = [{label:'SELECCIONE',value:'0'}, ...self.tipoMonedas];
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de monedas', true),
            });
        },
    });
}

async function fetchComprador() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.compradorOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

async function fetchPuntoVenta(val) {
  const self = this
  if (self.auth_tipoUsuario === 22 || self.auth_tipoUsuario === 23) self.auxValorPtoVenta = 'MDAwMDAw'
  else if (self.auth_tipoUsuario === 24) self.auxValorPtoVenta = val

  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${self.auxValorPtoVenta}`,
    self,
    success: (rjson) => {
        self.puntoVentaOptions = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.puntoVentaOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.puntoVentaOptions,
        ]
        self.dsbComprador = false
    },
    error: (rjson) => {
      self.dsbComprador = true
      console.error('fetchPuntoVenta', rjson)
      self.puntoVentaOptions = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

async function buscar () {
    const self = this;
    self.loading = true;
    const fechaD = depoched(self.fechaDesde.getTime())
    const fechaH = depoched(self.fechaHasta.getTime())
    const codTaquilla = self.taquilla
    const codMoneda = self.tipoMoneda
    const auxEstatus = self.estatus
    const auxPunto = self.puntoVenta != 'MDA=' ? self.puntoVenta : 'MDAwMDAw'
    const auxComprador = self.comprador != 'MDA=' ? self.comprador : 'MDAwMDAw'

    fetchRequest({ 
        api: `${this.$apiReporte}ListarTicketsAnulados/${self.auth_tokenUsuario}/${fechaD}/${fechaH}/${codTaquilla}/${codMoneda}/${auxEstatus}/${auxPunto}/${auxComprador}`,
        self,
        success: (rjson) => {
            self.loading = false;
            self.showTable = true;
            self.countTicket = 0;
            self.acumMonto = 0;
            self.tableData = rjson.datos.map((val) => {
              self.countTicket++;
              self.acumMonto += val.montoTicket

              const fechaNormal = new Date(epoched(val.fechaTicket))
              const dia = fechaNormal.getDate();
              const mes = fechaNormal.getMonth() + 1; // Los meses en JavaScript comienzan desde 0, por lo que se suma 1
              const anio = fechaNormal.getFullYear();
              const fechaFormateada = `${dia < 10 ? '0' + dia : dia}/${mes < 10 ? '0' + mes : mes}/${anio}`;
              
            return {
              fechaAux: val.fechaTicket,
              fecha: fechaFormateada,
              horaAnulacion: val.horaAnulacion,
              taquilla: window.atob(val.codigoTaquilla),
              ticket: window.atob(val.serialOculto),
              ticketAux: val.serialTicket,
              usuario: val.loginUsuario,
              monto: val.montoTicket,
              simboloMoneda:val.simboloMoneda,
              descripcionEstatus: val.descripcionEstatus
            };
          });
          // self.acumMonto = self.formatearNumero(self.acumMonto.toFixed(2))
        }, 
        error: (rjson) => {
            console.error(rjson);
            self.tableData = [];
            self.showTable = false;
            self.loading = false;
            self.taquilla = this.auth_tipoUsuario == 20 ? self.taquillas[0].value : 'MDA=';
            self.tipoMoneda = '0';
            self.estatus = '2';
            self.fechaDesde = new Date(new Date().toDateString());
            self.fechaHasta = new Date(new Date().toDateString());
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

async function detalleTicketAnulado (data) {
  const self = this;
  const ticketEncrip = data.ticketAux
  const fecha = data.fechaAux
// console.log("data",data)
    return fetchRequest({ 
        api: `${this.$apiReporte}ConsultarDetalleTicket/${self.auth_tokenUsuario}/${ticketEncrip}/${fecha}/Mg==`,
        self,
        promiseReturn: true,
        success: (rjson) => {
          const listaDetalleAnulado_ = rjson.datos.map((val) => {
            return {
              nombreSorteo: val.descripcionSorteo,
              modalidad: val.descripcionModalidad,
              simbolo: window.atob(val.descripcionSimbolo),
              montoApuesta: val.montoTicket,
              montoUniq: val.montoTicket,
              simboloMoneda:val.simboloMoneda
            };
          });

          return listaDetalleAnulado_;

        }, 
        error: (rjson) => {
            console.error(rjson);
            return [];
        },
    });
}

async function viewAnulado (data, mode) {
  const listaDetalleAnulado = await this.detalleTicketAnulado(data);
  this.actionFromTable({ // para abrir modal
    laTabla: listaDetalleAnulado,
    fechaAnulado: data.fecha,
    horaAnulado: data.horaAnulacion,
    serialAnulado: data.ticket,
    fechaAux: new Date(epoched(data.fechaAux)),
  }, mode);
}

function formatearNumero(numero) {
  // Convertir el número a una cadena.
  const numeroStr = numero.toString();

  // Invertir la cadena.
  const numeroStrInvertido = numeroStr.split('').reverse().join('');

  // Añadir un punto cada tres dígitos.
  let numeroStrFormateado = numeroStrInvertido.match(/\d{1,3}/g).join('.');

  // Invertir la cadena de nuevo.
  numeroStrFormateado = numeroStrFormateado.split('').reverse().join('');

  // Devolver el número formateado.
  return numeroStrFormateado;
}

//*********************LISTAR ESTATUS************************** */
function listarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarEstatus/MDE=',
    self,
    success: () => {
      self.estatus_ = self.estatusOptions
      self.estatus_ = self.estatus_.map((i) => {
        return {
          label: i.descripcion,
          value: i.codigo,
        }
      })
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

function fechaHastaW(val) {
  const desde = this.fechaDesde.getTime()
  const hasta = val.getTime()
  if (hasta < desde) this.fechaDesde = new Date(val.getTime())
  else {
    const yearD = this.fechaDesde.getFullYear(),
      yearH = val.getFullYear(),
      valMo = val.getMonth() + 1,
      desdeMo = this.fechaDesde.getMonth()
    const distance = yearD != yearH ? 12 - desdeMo + valMo : valMo - desdeMo
    if (distance > 6) {
      const changeTo = desdeMo + 1 + 1 > 12
      this.fechaDesde = new Date(
        new Date(
          `${changeTo ? yearH : yearD}/${(
            valMo + (changeTo || valMo > 5 ? -5 : 7)
          )
            .toString()
            .padStart(2, '0')}/01`,
        ).getTime(),
      )
    }
  }
  this.v$.fechaHasta.$touch()
}

function fechaDesdeW(val) {
  const desde = val.getTime()
  const hasta = this.fechaHasta.getTime()
  if (desde > hasta) this.fechaHasta = new Date(val.getTime())
  this.v$.fechaDesde.$touch()
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
  loadToggler()

   const optionsColWidthRem = 5
  const forTabla = [
      [{ name: 'fecha', attr: 'fecha'}],
      [{ name: 'Hora de Anulación', attr: 'horaAnulacion'}],
      [{ name: 'Taquilla', attr: 'taquilla'}],
      [{ name: 'Ticket', attr: 'ticket'}],
      [{ name: 'Usuario', attr: 'usuario'}],
      [{ name: 'Monto', attr: 'monto', dir: 'dot' }],
      [{ name: 'Estatus', attr: 'descripcionEstatus'}]

    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('anulado'),
    v$: useVuelidate(),
    inTableData,
    optionsColWidthRem,
    auth_tokenUsuario,
    auth_tipoUsuario
  }
}

function data() {
  return {
    loading: false,
    showTable: false,
    fechaDesde: new Date(new Date().toDateString()),
    fechaHasta: new Date(new Date().toDateString()),
    taquilla: this.auth_tipoUsuario === 20 ? '0' : 'MDA=',
    taquillas: [],
    tipoMoneda: '0',
    tipoMonedas: [],
    listaDetalleAnulado: [],
    countTicket: 0,
    acumMonto: 0,
    estatus: '2',
    estatus_:[],
    estatusOptions: [
      {
        descripcion: 'TODOS',
        codigo: '2',
      },
      {
        descripcion: 'VENDIDO',
        codigo: '0',
      },
      {
        descripcion: 'ANULADO',
        codigo: '1',
      },    
    ],
    comprador: 'MDA=',
    compradorOptions: [],
    puntoVenta: 'MDA=',
    puntoVentaOptions: [],
    dsbComprador: true
  }
}
export default {
  data,
  setup,
  methods: {
    buscar,
    ListarTaquilla,
    ListarTipoMoneda,
    viewAnulado,
    detalleTicketAnulado,
    formatearNumero,
    listarEstatus,
    fetchComprador,
    fetchPuntoVenta,
    disabeldBtnGuardar,
    cleanPVandTaq: function (onlyTaq = false) {
      if (!onlyTaq) {
        this.puntoVenta = 'MDA=';
        this.dsbComprador = true;
        this.puntoVentaOptions = [];
      }
      this.taquilla = this.auth_tipoUsuario === 20 ? '0' : 'MDA=';
      this.taquillas = [];
    },
  },
  validations () {
    return listadoTicketAnuladoVals(localStorage.getItem('tipoUsuario'));
  },
  components: { CCTable, CCInput, CCLoader, ModalDetalleAnulado },
  mixins: [tableGenerals,globals,modalGenerals],
  mounted() {
    this.tRef = 'listadoTicketAnulado';
    this.ListarTipoMoneda();
    this.listarEstatus();
    if(this.auth_tipoUsuario == 24) this.fetchComprador()
    if(this.auth_tipoUsuario == 22 || this.auth_tipoUsuario == 23) this.fetchPuntoVenta()
    if(this.auth_tipoUsuario == 20 || this.auth_tipoUsuario == 0) this.ListarTaquilla();
  },
  watch: {
    fechaHasta: fechaHastaW,
    fechaDesde: fechaDesdeW,
    comprador: function (val) {
      this.cleanPVandTaq();
      if (val != 'MDA=') this.fetchPuntoVenta(val);
    },
    puntoVenta: function (val){
      this.cleanPVandTaq(true);
      if (![val, ...(this.auth_tipoUsuario === 24 ? [this.comprador] : [])].includes('MDA=')) this.ListarTaquilla();
    },  
  },
  directives: {
    numberComma,
  },
}
</script>

<style lang="scss" scoped>
.aling-custom {
  @include mediaquery(lg, $other-size: 'xl') {
    text-align: end !important;
    
    button {
      width: auto !important;
    }
  }
}
.back-title{
  background: #dae8fd;;
}
.color-text {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
</style>