<template>
    <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>{{ mode === 'edit' ? 'Modificar' : mode === 'view' ? 'Detalle' : 'Registrar' }} Sorteo</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper :formData="formData">
                <template #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled || shouldDisabled()"
                        :options="getOptions(formObj.options, ['turno','hora','dia','status'].includes(formObj.model) ? null : options)"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                        :hideSeleccione="formObj.model == 'turno'"
                    />
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" @click="actionSorteo" :disabled="!isMValid">
                <template v-if="fetching"><CCLoader inline />&nbsp;</template>
                {{ mode === 'edit' ? 'Modificar' : mode === 'view' ? (modifying ? 'Guardar Cambios' : 'Modificar') : 'Guardar' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario" @click="shouldClose">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import sorteoRegisterVals from '@/_validations/gestionSorteo/sorteoRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import { caseWrong,fetchRequest } from '@/_helpers/fetchToolkit';
import { storeToRefs } from 'pinia';
import { useAuth } from '@/store/auth';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
function clearInputs () {
    this.fetching = false;
    ['turno','codigo','producto','seccion','hora','dia','status'].forEach((ths, i) => this[ths] = !i ? '0' : '');
    this.v$.$reset();
}

async function fillInputs (data) {
    this.codigo = data.codigo;
    this.producto = data.producto;
    this.seccion = data.seccion;
    this.status = data.status;
    this.hora = atob(data.hora);
    this.turno = data.turno
    this.dia = data.dia;
    this.modifying = this.mode != 'view';
    this.fetchTurno();

}

async function fetchTurno () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarTurnos`,
        self,
        success: (rjson) => {
            self.turnoOptions = rjson.datos.map((val) => {
            return {
              value: val.codigo,
              label: val.descripcion,
            };
          });
        self.turnoOptions = [{label:'Seleccione',value:'MDAwMA=='}, ...self.turnoOptions];
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

async function fetchTurnoHorario (turno) {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiEscrutinio}ListarHorarios/${self.auth_tokenUsuario}/MDAwMA==/${turno}`,
        self,
        success: (rjson) => {

            self.horaOptions = rjson.datos.map((val) => {
            return {
              value: window.atob(val.codigoHorario),
              // codigoTurno: val.codigoTurno,
              label: val.descripcionHorario,
            };
          });
          // self.tableData = [{label:'TODOS',value:'0'}, ...self.tableData];
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

async function fetchEstatus () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarEstatus/MDE=`,
        self,
        success: (rjson) => {
            self.estatusOptions = rjson.datos.map((val) => {
            return {
              value: val.codigo,
              label: val.descripcion,
            };
          });
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

async function fetchDias () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarDias`,
        self,
        success: (rjson) => {
          self.diaOptions = rjson.datos.map((val) => {
            return {
              label: val.descripcion,
              value: val.codigo,
            };
          });
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

function actionSorteo () {
    const self = this;
    const tryFetch = (data_, meth) => {
        const srtFail = self.dataTEST.find(srt => srt.producto === self.producto && 
                                                   srt.seccion === self.seccion &&
                                                   srt.dia === self.dia &&
                                                   srt.hora === self.hora);
        if (!srtFail || srtFail.codigo === self.codigo) self[meth](data_);
        else {
            self.fireToastMsg(`No se puede ${self.mode == 'register' ? 'registrar' : 'modificar'} debido a que ya se encuentra registrado un sorteo con las mismas características`, { icon: 'info' });
            self.fetching = false;
        }
    };

    const edit_ = (/* isDetail = false */) => {
        self.fetching = true;
        const dirtyOnes = Object.keys(this.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && this.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['producto','seccion','dia','hora','status'].reduce((attrs, attr) => // se puede editar los del array
                ({...attrs, ...(dirtyOnes.includes(attr) ? {[attr]: self[attr]} : {})}), {}),
        };
        tryFetch(data/* , isDetail */,'edit');
    };

    if (this.mode === 'edit') {
        edit_();
        return;
    }
    if (this.mode === 'view') {
        const modVal = Boolean(this.modifying);
        if (!this.modifying) this.modifying = !this.modifying; // CHECAR COMPORTAMIENTO
        if (modVal) edit_(/* true */);
        return;
    }
    // register
    this.fetching = true;
    const detalleSorteos = this.dia.map((val) => {
        return {
            codigoProducto: this.producto,
            codigoSeccion: this.seccion,
            codigoDia: window.btoa(val.value),
            codigoTurno: this.turno,
            codigoHorario: window.btoa(this.hora),
        }
    });
    tryFetch(detalleSorteos,'save');
}

function shouldDisabled (/* model */) {
    return (this.mode === 'view' && !this.modifying) || this.fetching
}

function shouldClose () {
    if (this.fetching) return;
    this.modifying = false;
    this.v$.$reset();
    this.close();
}

// COMPUTED
function isMValid () {
    const fields = ['producto','seccion','dia','hora','status'];
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? fields.some(f => this.v$[f].$dirty) : true;
    return extraVals && !this.v$.$invalid && !this.fetching
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
}

function mounted () {
    this.fetchEstatus();
    this.fetchDias();
}

export default {
    components: { CCInput, CCFormStructureWrapper, CCLoader },
    name: 'ModalSorteo',
    mixins: [ globalMixin ],
    data() {
        return {
            codigo: '',
            producto: 'seleccione',
            seccion: 'seleccione',
            dia: 'seleccione',
            turno: 'seleccione',
            hora: 'seleccione',
            status: 'seleccione',
            modifying: false,
            fetching: false,
            turnoOptions: [],
            estatusOptions:[],
            diaOptions:[],
            horaOptions: [],
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        formData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
        options: { type: Object, default: () => ({}) }, // opciones para selects
        dataTEST: Array, // TEST
    },
    setup() {
        const authStore = useAuth()
        const { auth_tokenUsuario } = storeToRefs(authStore)
        return {
            v$: useVuelidate(),
            auth_tokenUsuario
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        actionSorteo,
        shouldDisabled,
        shouldClose,
        fetchTurnoHorario,
        fetchTurno,
        fetchEstatus,
        fetchDias
    },
    computed: {
        isMValid,
        // filteredHoraOptions: function () {
        //     return this.options.horaOptions.filter(h => !+this.turno || h.turno === this.turno)
        // },
    },
    validations () {
        return sorteoRegisterVals(this.visible);
    },
    watch: {
        visible: visibleW,
        turno: function (val) {
            if(val != 0 && val != undefined)this.fetchTurnoHorario(val)
            else this.hora = 'seleccione';
        },
    },
    mounted
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
:deep(.select-multiple) {
    .vs__selected-options{
        max-height: 10rem !important;
    }
}
</style>
