<template>
    <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>Modificar Sorteo</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper :formData="formData">
                <template #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled"
                        :options="getOptions(formObj.options)"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                        compare
                    />
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" @click="actionSorteoCalendario" :disabled="!isMValid">
                <template v-if="fetching"><CCLoader inline />&nbsp;</template>
                Modificar
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario" @click="shouldClose">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import sorteoCalendarioVals from '@/_validations/gestionSorteo/sorteoCalendarioVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import { objSome } from '@/_helpers/formatters';
import { caseWrong,fetchRequest } from '@/_helpers/fetchToolkit';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
function clearInputs () {
    this.fetching = false;
    ['numSorteo','dia','fecha' /*,'horaDesde'*/,'producto','seccion','hora','status'].forEach(ths => this[ths] = '');
    this.v$.$reset();
}

async function fillInputs (data) {
    this.numSorteo = data.codSorteo || '';
    this.dia = data.nomDia || '';
    this.fecha = data.fecSorteo;
    this.producto = data.nomProducto || '';
    this.seccion = data.nomSeccion || '';
    this.hora = data.horSorteo || '';
    this.status = data.estSorteoCalendario;
    this.v$.$reset();
}

async function fetchEstatus () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarEstatus/MDE=`,
        self,
        success: (rjson) => {
            self.statusOptions = rjson.datos.map((val) => {
            return {
              value: val.codigo,
              label: val.descripcion,
            };
          });
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

function actionSorteoCalendario () {
    const self = this;
    const edit_ = (/* isDetail = false */) => {
        self.fetching = true;
        const dirtyOnes = Object.keys(this.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && this.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['status'].reduce((attrs, attr) => // se puede editar los del array
                ({...attrs, ...(dirtyOnes.includes(attr) ? {[attr]: self[attr].toUpperCase()} : {})}), {}),
        };
        self.edit(data/* , isDetail */);
    };

    if (this.mode === 'edit') {
        edit_();
        return;
    }

    // register
    this.fetching = true;
}

function shouldClose () {
    if (this.fetching) return;
    this.v$.$reset();
    this.close();
}

// COMPUTED
function isMValid () {
    const extraVals = this.mode === 'edit' ? this.v$.$anyDirty : true;
    return extraVals && !this.v$.$invalid && !this.fetching && !this.theresInvalid
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
}

function mounted () {
    this.fetchEstatus();
}

export default {
    components: { CCInput, CCFormStructureWrapper, CCLoader },
    name: 'ModalGenerarSorteo',
    mixins: [ globalMixin ],
    data() {
        return {
            status: 'seleccione',
            statusOptions: [],
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        formData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'edit',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
    },
    setup() {
        return {
            v$: useVuelidate(),
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        actionSorteoCalendario,
        shouldClose,
        fetchEstatus,
    },
    computed: {
        isMValid,
        theresInvalid: function () {
            const invalid = objSome(this.validTime, (fk) => this.validTime[fk]);
            return invalid
        }
    },
    validations () {
        return sorteoCalendarioVals(this.visible);
    },
    watch: {
        visible: visibleW,
        // status: function (val) {
        //     console.log("val",val)
        // },
    },
    mounted
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>