<template>
    <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>{{ mode === 'edit' ? 'Modificar' : mode === 'view' ? 'Detalle' : 'Registrar' }} Horario</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CForm
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <CCol xs="12" lg="5" class="me-1">
              <CCol class="mb-1 color-text">Descripción de Horario</CCol>
                <CCInput
                    :allData="{
                        rowClasses: 'col-lg-12 me-lg-12 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'text',
                    }"
                    :disabled="this.mode === 'view' ? true : false"
                    v-model="descripcionHorario"
                    :v_="v$.descripcionHorario"
                    activateTouched
                    :execute="
                    () => {
                        v$.descripcionHorario.$touch()
                    }
                    "
                />
            </CCol>
            <CCol xs="12" lg="5" class="me-1">
              <CCol class="mb-1 color-text">Código del Turno</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'col-lg-12 me-lg-12 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                :disabled="this.mode === 'view' ? true : false"
                v-model="codigoTurno"
                :v_="v$.codigoTurno"
                activateTouched
                :execute="
                  () => {
                    v$.codigoTurno.$touch()
                  }
                "
                :options="codigoTurnoOptions"
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="5" class="me-1 mt-3">
              <CCol class="mb-1 color-text">Hora Sorteo</CCol>
                <CCInput
                    :allData="{
                        rowClasses: 'col-lg-12 me-lg-12 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'time',
                    }"
                    :disabled="this.mode === 'view' ? true : false"
                    v-model="horaSorteo"
                    :v_="v$.horaSorteo"
                    activateTouched
                    :execute="
                    () => {
                        v$.horaSorteo.$touch()
                    }
                    "
                />
            </CCol>
            <CCol xs="12" lg="5" class="me-1 mt-3">
              <CCol class="mb-1 color-text">Hora de Activación</CCol>
                <CCInput
                    :allData="{
                        rowClasses: 'col-lg-12 me-lg-12 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'time',
                    }"
                    :disabled="this.mode === 'view' ? true : false"
                    v-model="horaActivacion"
                    :v_="v$.horaActivacion"
                    activateTouched
                    :execute="
                    () => {
                        v$.horaActivacion.$touch()
                    }
                    "
                />
            </CCol>
            <CCol xs="12" lg="5" class="me-1 mt-3">
              <CCol class="mb-1 color-text">Hora de Cierre</CCol>
                <CCInput
                    :allData="{
                        rowClasses: 'col-lg-12 me-lg-12 wide-mobile-lg',
                        labelClasses: 'pt-0 w-auto wide-mobile-md',
                        inputWrapperClasses: 'flex-grow-1',
                        errorMessageClasses: 'wrong-input',
                        type: 'time',
                    }"
                    :disabled="this.mode === 'view' ? true : false"
                    v-model="horaCierre"
                    :v_="v$.horaCierre"
                    activateTouched
                    :execute="
                    () => {
                        v$.horaCierre.$touch()
                    }
                    "
                />
            </CCol>
            <CCol xs="12" lg="5" class="me-1 mt-3" v-if="this.mode === 'edit' || this.mode === 'view'">
              <CCol class="mb-1 color-text">Estatus</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'col-lg-12 me-lg-12 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                :disabled="this.mode === 'view' ? true : false"
                v-model="estatusHorario"
                :v_="v$.estatusHorario"
                activateTouched
                :execute="
                  () => {
                    v$.estatusHorario.$touch()
                  }
                "
                :options="estatusHorarioOptions"
                hideSeleccione
              />
            </CCol>
          </CForm>
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton v-if="this.mode !='view'" ref="acceptbtn" class="btn-primario" @click="actionHorario" :disabled="!isMValid">
                <template v-if="fetching"><CCLoader inline />&nbsp;</template>
                {{ mode === 'edit' ? 'Modificar' : mode === 'view' ? (modifying ? 'Guardar Cambios' : 'Modificar') : 'Guardar' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario" @click="shouldClose">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import horarioRegisterVals from '@/_validations/gestionSorteo/horarioRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
// import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import { objSome } from '@/_helpers/formatters';

// METHODS
function clearInputs () {
    this.fetching = false;
    ['codigoHorario','descripcionHorario','codigoTurno' /*,'horaDesde'*/,'horaSorteo','horaActivacion','horaCierre','estatusHorario'].forEach(ths => this[ths] = '');
    this.v$.$reset();
}

async function fillInputs (data) {
    // ("Data",data)
    this.codigoHorario = data.codigoHorario;
    this.descripcionHorario = data.descripcionHorario || '';
    this.codigoTurno = data.codigoTurno;
    this.horaSorteo = data.horaSorteo || '';
    this.horaActivacion = data.horaActivacion || '';
    this.horaCierre = data.horaCierre || '';
    this.estatusHorario = data.estatusHorario;
    this.v$.$reset();
    this.modifying = this.mode != 'view';
}

function actionHorario () {
    const self = this;
    const edit_ = (/* isDetail = false */) => {
        self.fetching = true;
        const dirtyOnes = Object.keys(this.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && this.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['descripcionHorario','codigoTurno'/*,'horaDesde'*/,'horaSorteo','horaActivacion','horaCierre','estatusHorario'].reduce((attrs, attr) => // se puede editar los del array
                ({...attrs, ...(dirtyOnes.includes(attr) ? {[attr]: self[attr].toUpperCase()} : {})}), {}),
        };

        self.edit(data/* , isDetail */);
    };

    if (this.mode === 'edit') {
        edit_();
        return;
    }
    if (this.mode === 'view') {
        const modVal = Boolean(this.modifying);
        this.modifying = !this.modifying;
        if (modVal) edit_(/* true */);
        return;
    }
    // register
    this.fetching = true;
    const data = {
        codigo: this.codigo,
        guid: this.codigo,
        descripcionHorario: this.descripcionHorario.toUpperCase(),
        codigoTurno: this.codigoTurno,
        // horaDesde: this.horaDesde.toUpperCase(),
        horaSorteo: this.horaSorteo.toUpperCase(),
        horaActivacion: this.horaActivacion.toUpperCase(),
        horaCierre: this.horaCierre.toUpperCase(),
        estatusHorario: this.estatusHorario
    };
    this.save(data);
}

function shouldDisabled (/* model */) {
    return (this.mode === 'view' && !this.modifying) || this.fetching
}

function shouldClose () {
    if (this.fetching) return;
    this.modifying = false;
    this.v$.$reset();
    this.close();
}

// COMPUTED
function isMValid () {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.$anyDirty : true;
    return extraVals && !this.v$.$invalid && !this.fetching && !this.theresInvalid
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
}

export default {
    components: { CCInput, /*CCFormStructureWrapper,*/ CCLoader },
    name: 'ModalHorario',
    mixins: [ globalMixin ],
    data() {
        return {
            codigoHorario: '',
            descripcionHorario: '',
            codigoTurno: 'seleccione',
            // horaDesde: '',
            horaSorteo: '',
            horaActivacion: '',
            validTime: {
                // horaDesde: false,
                horaSorteo: false,
                horaActivacion: false,
            },
            horaCierre: '',
            modifying: false,
            fetching: false,
            codigoTurnoOptions: [
                { label: 'Mañana', value: '01' },
                { label: 'Tarde', value: '02' },
                { label: 'Noche', value: '03' },
            ],
            estatusHorario: 'seleccione',
            estatusHorarioOptions: [
                { label: 'Activo', value: '1' },
                { label: 'Inactivo', value: '0' },
            ],
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        formData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
    },
    setup() {
        return {
            v$: useVuelidate(),
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        actionHorario,
        shouldDisabled,
        shouldClose,
        compareTimes: function (fo, low = true) {
            if (fo[low ? 'lowerThan' : 'greaterThan'] && this[fo.model] && this[fo[low ? 'lowerThan' : 'greaterThan']]) {
                let [hr, min, qM, hr2, min2, qM2] = [...this[fo.model].split(/:|\s/), ...this[fo[low ? 'lowerThan' : 'greaterThan']].split(/:|\s/)];
                hr = qM == 'PM' ? (hr == '12' ? 12 : +hr+12) : hr == '12' ? 0 : +hr;
                hr2 = qM2 == 'PM' ? (hr2 == '12' ? 12 : +hr2+12) : hr2 == '12' ? 0 : +hr2;
                if ((low ? hr > hr2 : hr < hr2) || (hr == hr2 && (low ? min > min2 : min < min2))) return `Debe ser ${low ? 'inferior' : 'superior'} o igual a ${fo.compareMsg}`;
            }
            return ''
        },
        zeroFrmt: function (num) {
            return String(num).padStart(2,'0')
        },
        setInvalid: function (e,fo) {
            this.validTime[fo.model] = Boolean(e);
        },
    },
    computed: {
        isMValid,
        theresInvalid: function () {
            const invalid = objSome(this.validTime, (fk) => this.validTime[fk]);
            return invalid
        }
    },
    validations () {
        return horarioRegisterVals(this.visible, this.mode);
    },
    watch: {
        visible: visibleW,
        horaSorteo: function (val) {
            if (val) {
                let [hr, min, qM] = val.split(/:|\s/);
                hr = qM == 'PM' ? (hr == '12' ? 12 : (+hr + 12)) : hr == '12' ? 0 : +hr;
                hr = +min < 5 ? (hr ? (hr - 1) : 23) : hr;
                min = this.zeroFrmt(+min < 5 ? (60 - (5 - +min)) : (+min - 5));
                qM = hr < 12 ? 'A' : 'P';
                hr = this.zeroFrmt(hr > 12 ? (hr - 12) : !hr ? 12 : hr);
                if (this?.v$?.horaCierre) this.v$.horaCierre.$model = `${hr}:${min} ${qM}M`;
            }
            else if (this?.v$?.horaCierre) this.v$.horaCierre.$model = '';
        },
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>