
<template>
  <div>
    <div>
      <label>Status</label>
      <span class="status">{{ status }}</span>
    </div>
    <p>
      <button class="print" @click="print">Print</button>
    </p>
  </div>
</template>

<script>
import {WebPrint} from './WebPrint';

const myWebPrint = new WebPrint();
// // myWebPrint.setStatusUrl("http://localhost:8887/Printer/Status");
// // myWebPrint.setPrintUrl("http://localhost:8887/Printer/Print");
// // myWebPrint.onStatusChange((status) => {
// //   console.log("Status changed:", status);
// // });
// myWebPrint.print("Hello, World!");
// myWebPrint.getStatus((status) => {
//   console.log("Current status:", status);
// });

function hola(){ 
      const array = [
        "C. DE APUESTA DARIOSCAR\r\n",
        "Taquilla:00\r\n",
        "Fecha Actual:28/11/2023, 11:27:36\r\n",
        "Fecha Desde:01/11/2023\r\n",
        "Fecha Hasta:28/11/2023\r\n",
        "Reporte Cuadre de Caja\r\n",
        "Venta en Bs....8.928,00\r\n0Premios pagados en Bs...…s pagados en $...0,00\r\n0 Saldo en caja $...253,00\r\n"
      ];
      const string = array.join('').replace(/\r\n/g, '\r\n');
      myWebPrint.print(string);
}






export default {
  data() {
    return {
      status: ''
    };
  },
  mounted() {
    // console.log("WEBPRINT",WebPrint)
    // WebPrint.onStatusChange((data) => {
    //   this.status = data.Description;
    // });
    // this.hola();

  },
  methods: {
    hola
    // print() {
    //   const array = [
    //     "C. DE APUESTA DARIOSCAR\r\n",
    //     "Taquilla:00\r\n",
    //     "Fecha Actual:28/11/2023, 11:27:36\r\n",
    //     "Fecha Desde:01/11/2023\r\n",
    //     "Fecha Hasta:28/11/2023\r\n",
    //     "Reporte Cuadre de Caja\r\n",
    //     "Venta en Bs....8.928,00\r\n0Premios pagados en Bs...…s pagados en $...0,00\r\n0 Saldo en caja $...253,00\r\n"
    //   ];
    //   const string = array.join('').replace(/\r\n/g, '\r\n');
    //   WebPrint.print(string);
    // }
  }
};
</script>

<style scoped>
/* Estilos personalizados aquí */
</style>