<template>
  <CCol>
    <CCard class="mb-4">
      <CCardHeader>
        <h5>Gestionar comprador</h5>
      </CCardHeader>
      <CCardBody class="row">
        <div class="col-md-12">
          <CRow>
            <CCol xs="12" lg="5" v-if="this.auth_tipoUsuario === 24">
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                }"
                v-model="compradorc"
                :v_="v$.compradorc"
                activateTouched
                :execute="
                  () => {
                    v$.compradorc.$touch()
                  }
                "
                :options="compradoresc"
                hideSeleccione
                />
            </CCol>
           
            <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">Estatus</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="estatus"
                  :v_="v$.estatus"
                  activateTouched
                  :execute="
                    () => {
                      v$.estatus.$touch()
                    }
                  "
                  :options="estatusOptions"
                  hideSeleccione
                /> 
              </CCol>
          </CRow>
          <br>
          <CRow>
            <CCol xs="2" lg="3"></CCol>
            <CCol xs="4" lg="2">
                <CModalFooter class="justify-content-center m-t-3">
                  <CButton
                    class="btn-primario mx-2"
                    @click="fetchListarGestionComprador()"
                    >Buscar
                  </CButton>
                </CModalFooter>
              </CCol>
            <CCol xs="4" lg="2">
              <CModalFooter class="justify-content-center m-t-3">
                <CButton
                  class="btn-primario mx-2"
                  @click="viewComprador('', 'register')"
                  >Agregar
                </CButton>
              </CModalFooter>
            </CCol>
          </CRow>
          <br />
          <br />
          <CRow>
            <CCTable
              :ref="tRef"
              v-model="currentPage"
              :tableData="tableData"
              :inTableData="inTableData"
              :setTableState="setTableState"
              :showPagination="showPagination"
              :setShowPagination="setShowPagination"
              :showDelete="false"
              :showView="false"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem"
              :checkCol="false"
              :hideActionsHeader="true"
              maxHeight="30rem"
              doNotEmit
              :pageSize="15"
              :viewFromTable="viewComprador"
              :editFromTable="viewComprador"
            />
          </CRow>

        </div>
      </CCardBody>
    </CCard>
  </CCol>
  <modalComprador
    ref="modalCompradorDecorator"
    :visible="compradorModalVisible"
    :data="compradorModalDta"
    :close="closeModal"
    :edit="compradorEdit"
    :mode="compradorMode"
    :actualizarComprador="fetchListarCompradorComercial"
    :actualizarTabla="fetchListarGestionComprador"
    
    />
</template>
<script>
import CCTable from '@/components/custom/CCTable.vue'
import monitorearValidaciones from '@/_validations/gestionComprador/gestionCompradorVal'
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import CCInput from '@/components/custom/CCInput.vue'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import useVuelidate from '@vuelidate/core'
import modalComprador from './modalComprador.vue'
import {optionsColWidthRemStup,setupData, tableDataStruc,} from '@/composables/tableDataStruc'
import modalGenerals from '@/_mixins/modalGenerals'
import { modalSetupData } from '@/composables/modalDataStruct'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { loadToggler } from '@/composables/loadToggler'

//------------------------------------------------- LISTAR COMPRADOR COMERCIAL ------------------------------------------------------------

async function fetchListarCompradorComercial(desdeModal) {
    const self = this
    fetchRequest({
      api:
        this.$apiGeneral + 'ListarCompradorComercial/-' + self.auth_tokenUsuario,
      self,
      success: (rjson) => {
        self.compradoresc = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.compradoresc = [
          { label: 'TODOS', value: 'MDAwMDAw' },
          ...self.compradoresc,
        ]
      },
      error: (rjson) => {
        console.error('entidadOptions', rjson)
      },
      done: () =>{
        if (desdeModal == 'tabla_') self.compradorc = { label: 'TODOS', value: 'MDAwMDAw' }
      }
    })
  }
//---------------------------------------------------- LISTAR ESTATUS ----------------------------------------------------------------
async function fetchListarEstatus() {
    const self = this
    fetchRequest({
      api: this.$apiGeneral + 'ListarEstatus/MDE=',
      self,
      success: (rjson) => {
        self.estatusOptions = rjson.datos.map((val) => {
          return {
            label: val.descripcion,
            value: window.btoa(val.codigo),
          }
        })
        self.estatusOptions = [
          { label: 'TODOS', value: '%' },
          ...self.estatusOptions,
        ]
      },
      error: (rjson) => {
        console.error('jsonResponse', rjson)
      },
    })
  }

//------------------------------------------------------- LISTAR GESTION GRUPOS ---------------------------------------------------------------

async function fetchListarGestionComprador() {
    this.tableDataLoading = true
    const self = this

    let codComprador = self.compradorc ? self.compradorc.value : 'MDAwMDAw' 
    let codStatus = self.estatus === '%' ? 'JQ==' : self.estatus
    self.tableData = []
    fetchRequest({
      api: `${this.$apiAdministrativo}ConsultarCompradorComercial/${self.auth_tokenUsuario}/${codComprador}/${codStatus}`,
      self,
      success: (rjson) => {
        if (rjson.mensaje.codigo === '000') {
          self.tableData = rjson.datos
        }
      },
      error: (rjson) => {
        console.error('error', rjson)
        self.tableData = []
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          boolError: true,
        })
      },
      done: () => {
        self.tableDataLoading = false
      },
    })
  }
  
  //-----------------------------------------------------------------------------------------------------------------------------------
  
  function clearAll(){
    this.compradorc = { label: 'TODOS', value: 'MDAwMDAw' }
}

function compradorEdit() {
    this.compradorModalVisible = false
    this.modalDecorator(this, 'modalCompradorDecorator')
  }
  
  async function viewComprador(data, mode) {
    if (mode === 'edit') {
      this.compradorc = { label: data.nombreComprador, value: data.codigoComprador }
    }else this.auxComprador = ''
	this.compradorMode = mode
    this.compradorModalDta = {
      auxComprador: this.compradorc,
      allData: data,
    }
    this.actionFromTable(this.compradorModalDta, mode)
    this.compradorModalVisible = true
  }
  
  function closeModal(isLoading = false) {
    if (!isLoading) {
      this.compradorModalVisible = false
      this.modalDecorator(this, 'modalCompradorDecorator')
    }
  }

  function isInvalid() {
    return this.v$.$invalid
  }
  
  function mounted() {
    this.tRef = 'usuariosTable'

    if (this.auth_tipoUsuario === 24) this.fetchListarCompradorComercial()
    if (this.auth_tipoUsuario === 24 || this.auth_tipoUsuario === 22) {
      this.fetchListarEstatus()
    }
  }
  
  function unmounted() {}
  
  function setup() {
    const optionsColWidthRem = 2
    const authStore = useAuth()
    const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)

    loadToggler()

    const forTabla = [
      [{ name: 'Comprador Comercial', attr: 'nombreComprador' }],
      [{ name: 'Rif', attr: 'rifComprador' }],
      [{ name: 'Estatus', attr: 'descEstatusComprador' }],
    ]
    const inTableData = tableDataStruc(
      forTabla.map((tableCol) => ({
        ...tableCol[0],
        ...(tableCol[1]
          ? optionsColWidthRemStup(tableCol[1], optionsColWidthRem)
          : {}),
      })),
    )
  
    return {
      ...setupData(1),
      ...modalSetupData('actualizar'),
      ...modalSetupData('modalGrupo', true),
      v$: useVuelidate(),
      inTableData,
      auth_tokenUsuario,
      optionsColWidthRem,
      auth_tipoUsuario,
    }
  }
  
  function data() {
    return {
      compradoresc: [],
      compradorc: { label: 'TODOS', value: 'MDAwMDAw' },
      estatus: '%',
      estatusOptions: [],
      tableData: [],
      compradorModalVisible: false,
      compradorModalDta: {},
      compradorMode: 'Register',
    }
  }
  
  export default {
    name: 'gestionComprador',
    components: { CCTable, CCInput, modalComprador },
    mixins: [globalMixin, tableGenerals, modalGenerals],
    setup,
    data,
    methods: {
      fetchListarCompradorComercial,
      fetchListarEstatus,
      fetchListarGestionComprador,
      viewComprador,
      compradorEdit,
      closeModal,
      clearAll,
    },
    watch: {

    },
    mounted,
    validations() {
      return monitorearValidaciones(this.auth_tipoUsuario)
    },
    unmounted,
    computed: {
      isInvalid,
    },
  }


</script>

