<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Anular ticket</h5></CCardHeader>
        <CCardBody>
          <div class="row mb-3">
            <CCol xs="12" lg="4" v-if="this.auth_tipoUsuario == '24'">
              <CCol class="mb-1 color-text">Comprador comercial</CCol>
              <CCInput
                  :allData="{
                      errorMessageClasses: 'wrong-input',
                      type: 'vSelect',
                      multiple: false
                  }"
                  v-model="compradorComercial"
                  :v_="v$.compradorComercial"
                  :execute="
                  () => {
                      v$.compradorComercial.$touch()
                  }
                  "                    
                  :options="compradorComercialOption"      
                  hideSeleccione                                
              />
            </CCol>
            <CCol xs="12" lg="4">
              <CCol class="mb-1 color-text">Centro de apuesta</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                v-model="centro"
                :v_="v$.centro"
                :execute="
                  () => {
                    v$.centro.$touch()
                  }
                "
                :options="centrosA"
                hideSeleccione
                :disabled="compradorComercial.value === 'MDA=' ? true : false"
              />
            </CCol>
            <CCol xs="12" lg="4">
              <CCol class="mb-1 color-text">Taquilla</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="taquilla"
                :v_="v$.taquilla"
                :execute="
                  () => {
                    v$.taquilla.$touch()
                  }
                "
                :options="taquillas"
                hideSeleccione
                :disabled="centro.value === 'MDA=' ? true : false"
              />
            </CCol>
            <CRow class="mt-3">
              <CModalFooter class="justify-content-center mt-3">
								<CCLoader v-if="loading" inline />&nbsp;
                <CButton
                  class="btn-primario mx-2"
                  @click="buscarTicketAnulado()"
                  :disabled="isInvalid"
                  >
                    Buscar
                  </CButton
                >
              </CModalFooter>
            </CRow>
          </div>
					<CRow v-if="showTable">
              <CCol class="mt-3" xs="12" lg="12">
                <CCTable
                  :ref="tRef"
                  v-model="currentPage"
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :setTableState="setTableState"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :viewFromTable="viewAnularTicket"
                  :loading="tableDataLoading"
                  maxHeight="15rem"
                  doNotEmit
                  :showEdit="false"
                  :showDelete="false"
                  :pageSize="8"
                />
              </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
	<ModalAnular
    ref="anualarTicketDecorator"
    :visible="anularModalVisible"
    :data="anularModalDta"
    :close="closeModal"
    :mode="anularMode"
    :actualizarTabla="buscarTicketAnulado"
  />
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import CCLoader from '@/components/custom/CCLoader.vue';
import CCTable from '@/components/custom/CCTable.vue';
import tableGenerals from '@/_mixins/tableGenerals';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import anularTicketAdminVals from '@/_validations/anularTicketAdmin/anularTicketAdminVals'
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import modalGenerals from '@/_mixins/modalGenerals'
import ModalAnular from './modalAnular.vue'
import { modalSetupData } from '@/composables/modalDataStruct'
import { LABELS as labels } from '@/_helpers/labels';

//******************************************METODOS DE CONSUMO DE APIS
function fetchCentroApuesta() {
  const self = this
  let codComprador = 'MDAwMDAw'

  if (self.auth_tipoUsuario == '24' || self.compradorComercial.value != 'MDA=' ) {
        codComprador = self.compradorComercial.value
  } 

  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${codComprador}`,
    self,
    success: (rjson) => {
      self.centrosA = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.centrosA = [{ label: 'SELECCIONE', value: 'MDA=' }, ...self.centrosA]
    },
    error: (rjson) => {
      console.error(rjson)
      self.tableData = []
      self.centro = { label: 'SELECCIONE', value: 'MDA=' }
      self.centrosA = []
      self.taquilla = 'SELECCIONE'
      self.taquillas = []      
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los centros de apuestas', true),
      })
    },
  })
}

function fetchTaquillas(centro) {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarTaquillas/${self.auth_tokenUsuario}/${centro}`,
    self,
    success: (rjson) => {
      self.taquillas = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: window.atob(val.descripcion),
        }
      })
      self.taquillas = [
        { label: 'SELECCIONE', value: 'SELECCIONE' },
        ...self.taquillas,
      ]
      self.taquilla = 'SELECCIONE'
    },
    error: (rjson) => {
      console.error(rjson)
      self.tableData = []
      self.taquilla = 'SELECCIONE'
      self.taquillas = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar las taquillas', true),
      })
    },
  })
}

function buscarTicketAnulado() {
  const self = this
  self.loading = true
  fetchRequest({
    api: `${this.$apiLoteria}ListarAnularTicket/${self.auth_tokenUsuario}/${self.centro.value}/${self.taquilla}`,
    self,
    success: (rjson) => {
      self.loading = false
      self.showTable = true
			self.tableData = rjson.datos.map((val) => {
            return {
							fecha: val.fechaTicket,
							hora: val.horaTicket,
							serial: window.atob(val.serialOculto),
							serialAlterno: val.serialAlterno,
							serialTicket: val.serialTicket
            };
          });
    },
    error: (rjson) => {
      console.error(rjson)
      self.loading = false
			self.tableData = [];
			self.showTable = false;
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//--- LISTAR COMPRADOR COMERCIAL ---
async function fetchListarCompradorComercial() {
    const self = this
    fetchRequest({
        api: this.$apiGeneral + 'ListarCompradorComercial/'+self.auth_tokenUsuario,
        self,
        success: (rjson) => {
        self.compradorComercialOption = rjson.datos.map((val) => {
            return {
            value: val.codigo,
            label: val.descripcion,
            }
        })      
            self.compradorComercialOption = [{ label: 'SELECCIONE', value: 'MDA='} , ...self.compradorComercialOption]                 
        },
        error: (rjson) => {            
            self.compradorComercial = ''
            self.compradorComercialOption = []               
            return caseWrong({
                self,
                error: rjson.msg || rjson,
                passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsgPlus('cargar los compradores comerciales', true),
            })
        },
    })
}

//************************************************************************* */

//********************************OTROS METODOS************************ */
function isInvalid() {
  if (this.centro.value === 'MDA=' || this.taquilla === 'SELECCIONE') return true
  else false
}

async function viewAnularTicket(data, mode) {
  this.actionFromTable(
    {
			serialAlterno: data.serialAlterno,
			serialTicket: data.serialTicket
    },
    mode,
  )
}

function changeCompradorComercial(){
  const self = this 
  if (self.compradorComercial.value != 'MDA=' && self.auth_tipoUsuario == '24')   
    self.fetchCentroApuesta()  
  else {
    self.centrosA = []
    self.centro = { label: 'SELECCIONE', value: 'MDA=' }
    self.taquillas = []
  }
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)

  const optionsColWidthRem = 5
  const forTabla = [
      [{ name: 'Fecha', attr: 'fecha'}, 33],
      [{ name: 'Hora', attr: 'hora'}, 33],
      [{ name: 'Serial', attr: 'serial'}, 33],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
		...setupData(1),
    v$: useVuelidate(),
		...modalSetupData('anular'),
    auth_tokenUsuario,
		inTableData,
		optionsColWidthRem,
    auth_tipoUsuario,
  }
}

function data() {
  return {
		loading: false,
		showTable: false,
    centro: { label: 'SELECCIONE', value: 'MDA=' },
    centrosA: [],
    taquilla: 'SELECCIONE',
    taquillas: [],
    compradorComercial: { label: 'SELECCIONE', value: 'MDA=' },
    compradorComercialOption: [],
  }
}

export default {
  data,
  setup,
  methods: {
    fetchCentroApuesta,
    fetchTaquillas,
    buscarTicketAnulado,
		viewAnularTicket,
    fetchListarCompradorComercial,
    changeCompradorComercial
  },
  validations() {
    return anularTicketAdminVals
  },
  components: { CCInput, CCLoader, CCTable, ModalAnular },
  mixins: [tableGenerals, globalMixin, modalGenerals],
  mounted() {    
    if (this.auth_tipoUsuario == '24') 
      this.fetchListarCompradorComercial()
    else {
      this.fetchCentroApuesta()
      this.compradorComercial = ''}
  },
  watch: {
    centro: function (val) {     
      if (this.centro.value != '' && this.centro.value != 'MDA=')
        this.fetchTaquillas(val.value)
      else
        this.taquillas = []
    },   
    compradorComercial: function(newVal, oldVal){
      if(newVal.value != oldVal.value){
        this.changeCompradorComercial();
        this.centro = { label: 'SELECCIONE', value: 'MDA=' };
        this.taquilla = 'SELECCIONE';
      } 
    }   
  },
  computed: {
    isInvalid,
  },
}
</script>

<style>
</style>