<template>
  <CModal
    size="lg"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle>Detalle del ticket</CModalTitle>
    </CModalHeader>
    <CModalBody>
      <CRow>
        <CCol class="mt-3" xs="12" lg="12">
          <CCTable
            :ref="tRef"
            v-model="currentPage"
            :tableData="tableData"
            :inTableData="inTableData"
            :setTableState="setTableState"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :loading="tableDataLoading"
            maxHeight="10rem"
            doNotEmit
            hideActions
          />
        </CCol>
        <CCol xs="12" lg="6">
          <CCol class="mb-1 color-text"
            >Cantidad de apuestas: {{ contApuesta }}
          </CCol>
        </CCol>
        <CCol xs="12" lg="6">
          <CCol class="mb-1 color-text textRight">Monto Total: {{valSimboloMoneda}} {{ montoTotal }} </CCol>
        </CCol>
      </CRow>
    </CModalBody>
    <CModalFooter
      class="col-lg-12 col-12 mt-3 justify-content-center mt-3 mb-3"
    >
      <CButton ref="acceptbtn" @click="anularTicket()" class="btn-primario mx-2"> Anular </CButton>
      <CButton ref="cancelbtn" @click="shouldClose" class="btn-primario mx-2"> Cancelar </CButton>
    </CModalFooter>
  </CModal>
</template>

<script>
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { LABELS as labels } from '@/_helpers/labels'

function visibleW() {
  this.fillInputs(this.data)
}

function shouldClose() {
  this.close()
}

async function fillInputs(data) {
  if (data.serialAlterno && data.serialTicket) {
    this.fetchDetalleTicket(data.serialTicket, data.serialAlterno)
		this.consultedData.serialTicket = data.serialTicket
		this.consultedData.serialAlterno = data.serialAlterno
  }
}

//*******************************************************DETALLE DEL TICKET****************************************************
async function fetchDetalleTicket(ticket, alterno) {
  const self = this
  fetchRequest({
    api: `${this.$apiLoteria}DetalleTicket/${self.auth_tokenUsuario}/${ticket}/${alterno}`,
    self,
    success: (rjson) => {
      // console.log("detalle",rjson)
      self.contApuesta = rjson.datos.listaJugada.length
      self.tableData = rjson.datos.listaJugada.map((val) => {
        self.valSimboloMoneda = val.simboloMoneda
        return {
          nombreSorteo: window.atob(val.nombreSorteo),
          apuesta: window.atob(val.apuesta),
          monto: val.simboloMoneda + ' ' + val.monto,
        }
      })
      self.montoTotal = rjson.datos.listaJugada.reduce(
        (total, jugada) => total + jugada.monto,
        0,
      )
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

async function anularTicket() {    
    const res = await this.fireAlertMsg('¿Está seguro que quiere anular este ticket?', {});

    if (res.isConfirmed) {
      const self = this;
      fetchRequest({ 
          api: this.$apiLoteria+'AnularTicket', 
          method: 'PUT',
          self,
          body: {
            serialTicket: self.consultedData.serialTicket,
            serialAlterno: self.consultedData.serialAlterno,
            tokenUsuario: self.auth_tokenUsuario
          },
          success: () => {
            self.fireToastMsg('Ticket anulado satisfactoriamente.', { icon: 'success' });
            self.shouldClose()
            setTimeout(() => {
              this.actualizarTabla()
            }, 3000);
          }, 
          error: (rjson) => {
            console.error(rjson)
            return caseWrong({
              self,
              error: rjson.msg || rjson,
              passMsg: Boolean(rjson.msg),
              defaultMsg: labels.defaultErrorMsgPlus('cargar las taquillas', true),
            })
          },
      });
    }
}

function setup() {
  const optionsColWidthRem = 5
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  const forTabla = [
    [{ name: 'Nombre del sorteo', attr: 'nombreSorteo' }],
    [{ name: 'Apuesta', attr: 'apuesta' }, 30],
    [{ name: 'Monto', attr: 'monto' }, 10],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    inTableData,
    optionsColWidthRem,
    auth_tokenUsuario,
  }
}

function data() {
  return {
    contApuesta: '',
    montoTotal: '',
		consultedData: {
			serialTicket: '',
			serialAlterno:''
		},
    valSimboloMoneda: ''
  }
}

export default {
  name: 'ModalAnular',
  setup,
  data,
  components: { CCTable },
  mixins: [tableGenerals, globals],
  methods: {
    fillInputs,
    shouldClose,
    fetchDetalleTicket,
		anularTicket
  },
  props: {
    visible: Boolean,
    close: Function,
    data: Object,
    actualizarTabla: { type: Function, default: () => {} },
  },
  watch: {
    visible: visibleW,
  },
}
</script>

<style>
  .textRight{
    text-align: right;
  }
</style>