<template>
  <CCol>
    <CCard class="mb-4">
      <CCardHeader>
        <h5>Registrar movimiento</h5>
      </CCardHeader>
      <CCardBody class="row">
        <div class="col-md-6">
          <CRow>
            <CCol xs="12" lg="6">
              <CCol class="mb-1">Movimiento *</CCol>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }" 
                v-model="movimiento" 
                :v_="v$.movimiento"
                activateTouched
                :execute="
                  () => {
                    v$.movimiento.$touch()
                  }
                "
                :options="movimientos"
                hideSeleccione
              />
            </CCol>

            <CCol xs="12" lg="6" v-if="this.auth_tipoUsuario === 24">
              <CCol class="mb-1">Comprador comercial *</CCol>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                errorMessageClasses: 'wrong-input',
                type: 'vSelect',
                multiple: false
              }" 
                v-model="compradorc" 
                :v_="v$.compradorc"
                activateTouched
                :execute="
                  () => {
                    v$.compradorc.$touch()
                  }
                "
                :options="compradoresc"
                hideSeleccione
              />
            </CCol>
             <CCol xs="12" lg="6" v-if="(this.auth_tipoUsuario === 22 && this.auxCodigoDisabled === '4' && this.auxCodigoDisabled != '0') 
             //|| (this.auth_tipoUsuario === 0 && this.auxCodigoDisabled === '4' && this.auxCodigoDisabled != '0')
             ">
                <CCol class="mb-1">Grupo *</CCol>
                <CCInput :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }" 
                  v-model="grupo" 
                  :v_="v$.grupo"
                  activateTouched
                  :execute="
                    () => {
                      v$.grupo.$touch()
                    }
                  "
                  :options="grupoOption"
                  hideSeleccione
                />
            </CCol> 

            <CCol xs="12" lg="6" v-if="(this.auth_tipoUsuario === 22 && this.auxCodigoDisabled === '3' && this.auxCodigoDisabled != '0') || (this.auth_tipoUsuario === 23 && this.auxCodigoDisabled === '3' && this.auxCodigoDisabled != '0')">
              <CCol class="mb-1">Centro de apuesta *</CCol>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }" 
                v-model="centroApuesta" 
                :v_="v$.centroApuesta"
                activateTouched
                :execute="
                  () => {
                    v$.centroApuesta.$touch()
                  }
                "
                :options="centroApuestaOptions"
                hideSeleccione
              />
            </CCol>

            <CCol class="estilo-fecha" xs="12" lg="6">
              <CFormLabel for="serial" class="col-sm-6 label-customs">Fecha *</CFormLabel>
              <CCInput  
                :allData="{ 
                  errorMessageClasses: 'wrong-input', 
                  type: 'date', 
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg estilo-fecha' }"
                v-model="fecha" 
                :v_="v$.fecha" 
                :disabled="loading"
                :sinceDate="sinceUpperDesde"
                :untilDate="new Date()"
            />
            </CCol>           
            
            <CCol xs="12" lg="6">
              <CCol class="mb-1">Forma de pago *</CCol>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                errorMessageClasses: 'wrong-input',
                type: 'select',

              }" 
                v-model="formPago" 
                :v_="v$.formPago"
                activateTouched
                :execute="
                  () => {
                    v$.formPago.$touch()
                  }
                "
                :options="formPagoOptions"
                hideSeleccione
              />
            </CCol>

             <CCol xs="12" lg="6">
              <CCol class="mb-1">Moneda *</CCol>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }" 
               v-model="moneda" 
                :v_="v$.moneda"
                activateTouched
                :execute="
                  () => {
                    v$.moneda.$touch()
                  }
                "
                :options="monedaOptions"
                hideSeleccione
              />
            </CCol>

             <CCol v-if="formPago != 'Mw=='" xs="12" lg="6">
              <CFormLabel for="serial">Número referencia *</CFormLabel>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                labelClasses: 'pt-0 w-auto wide-mobile-md',
                inputWrapperClasses: 'flex-grow-1',
                errorMessageClasses: 'wrong-input',

                type: 'text',
              }" 
              v-model="referencia"
                :v_="v$.referencia"
                activateTouched
                :execute="
                  () => {
                    v$.referencia.$touch()
                  }
                "
              />
            </CCol>

            <CCol xs="12" lg="6">
              <CFormLabel for="serial">Monto *</CFormLabel>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                labelClasses: 'pt-0 w-auto wide-mobile-md',
                inputWrapperClasses: 'flex-grow-1',
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"  v-model="monto"
                :v_="v$.monto"
                activateTouched
                :execute="
                  () => {
                    v$.monto.$touch()
                  }
                "
                />
            </CCol>

           <CCol xs="12" lg="6">
              <CFormLabel for="serial">Observación</CFormLabel>
              <CCInput :allData="{
                rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                labelClasses: 'pt-0 w-auto wide-mobile-md',
                inputWrapperClasses: 'flex-grow-1',
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
                v-model="observacion"
                :v_="v$.observacion"
                activateTouched
                :execute="
                  () => {
                    v$.observacion.$touch()
                  }
                "
               />
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CModalFooter class="justify-content-center m-t-3">
              <CButton class="btn-primario mx-2" @click="fetchRegistrarMovimiento" :disabled="isInvalid || (this.compradorc.value == '' && this.auth_tipoUsuario === 24)">Registrar
              </CButton>
              <CButton class="btn-primario mx-2" @click="cleanAll">Cancelar</CButton>
            </CModalFooter>
          </CRow>
        </div>
        <CCol class="col-md-6">
          <CRow>
            <CCTable 
              :ref="tRef"
              v-model="currentPage" 
              :tableData="tableData" 
              :inTableData="inTableData"
              :setTableState="setTableState" 
              :showPagination="showPagination" 
              :setShowPagination="setShowPagination"
              :showDelete="false"
              :showEdit="false"
              :showView="false"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem" 
              :checkCol="true"
              :hideActionsHeader="true"
              maxHeight="30rem" doNotEmit
              :truncateNum="2"
            />
          </CRow>
          <CRow class="mt-3" v-if="auth_tipoUsuario != 24">
            <CModalFooter class="justify-content-center m-t-3">
              <CButton class="btn-primario mx-2" :disabled="this.selectedOnesFromTable.length <= 0" @click="anularMov">Anular</CButton>
            </CModalFooter>
          </CRow>
        </CCol>
      </CCardBody>
    </CCard>
  </CCol>
</template>
  
<script>
import CCTable from '@/components/custom/CCTable.vue'
import registrarMovimiento from '@/_validations/registrarMovimiento/registrarMovimiento';
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import modalGenerals from '@/_mixins/modalGenerals'
import CCInput from '@/components/custom/CCInput.vue'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import useVuelidate from '@vuelidate/core';
import { depoched } from '@/_helpers/formatters';
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { modalSetupData } from '@/composables/modalDataStruct'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { LABELS as labels } from '@/_helpers/labels';


// METHODS
function anularMov() {
  let noHayPendiente = false;
    for (var i = 0; i < this.selectedOnesFromTable.length; i++) {
      if (this.selectedOnesFromTable[i].descripcionEstatus != "PENDIENTE") {
        noHayPendiente = true;
        this.fireToastMsg('Seleccionó un movimiento que ya fue procesado, verifique e intente nuevamente.', { icon: 'warning' });
        break;
      }

      if (!noHayPendiente) {
        this.arrayCodMovimiento = this.selectedOnesFromTable.map(function(objeto) {
          return { codigoMovimiento: objeto.codigoMovimiento };
        });
        this.fetchAnularMovimientos(this.arrayCodMovimiento)
      }
  }
}

function cleanAll(){
  const self = this;
  self.movimiento = '';
  self.compradorc = {label:'SELECCIONE',value:''};
  self.fecha = new Date(new Date().toDateString());
  self.formPago = '';
  self.moneda = '';
  self.monto = '';
  self.referencia = '';
  self.observacion = ''
  self.grupo = '';
  self.centroApuesta = '';
  self.v$.$reset();
}

function isInvalid() {
   return this.v$.$invalid
}

async function fetchAnularMovimientos(array){
this.tableDataLoading = true;
  const self = this;
  fetchRequest({ 
      api: this.$apiAdministrativo+'AnularMovimiento',
      method: 'PUT',
      self,
      body: {
        tokenUsuario: self.auth_tokenUsuario,
        detalleMovimientos: array,
      },
      success: () => {
        self.tableDataLoading = false;
        self.setTableDeselected();
        self.fetchListarMovimientos()
        self.fireToastMsg('Movimientos anulados de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
      }
  });
}

async function fetchListarMovimientos() {
  this.tableDataLoading = true
  const self = this;
  const auxFecha = depoched(self.fecha)
  fetchRequest({
    api: `${this.$apiReporte}ListarMovimientos/${self.auth_tokenUsuario}/${auxFecha}/MDA=/MDAwMDAw`,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos.map((val) => {

  const montoEntrada = val.montoEntrada.toLocaleString('de-DE', {style: 'currency', currency: 'EUR', minimumFractionDigits: 2}).replace("€", "")
  const montoSalida = val.montoSalida.toLocaleString('de-DE', {style: 'currency', currency: 'EUR', minimumFractionDigits: 2}).replace("€", "")

        return {
          codigoMovimiento:val.codigoMovimiento,
          fechaMovimiento: val.fechaMovimiento,
          descripcionMovimiento: val.descripcionMovimiento,
          descripcionMedioPago: val.descripcionMedioPago,
          descripcionMoneda:  val.descripcionMoneda,
          montoEntrada: montoEntrada,
          montoSalida: montoSalida,
          descripcionEstatus: val.descripcionEstatus,
        };
      });
    },
    error: (rjson) => {
      console.error('error', rjson)
      self.tableData = []
      if(rjson.mensaje.codigo != '012') return caseWrong({ self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg), boolError: true });
    },
    done: () => {
      self.tableDataLoading = false
    },
  });
  //self.caducidad = self.caducidad_options.label;
}

async function fetchRegistrarMovimiento(){
  this.tableDataLoading = true;
  const self = this;
  const six0encoded = 'MDAwMDAw';

  if(self.auth_tipoUsuario === 24){
    if(self.compradorc.value === "")self.auxCodigoEntidad = six0encoded
    else self.auxCodigoEntidad = self.compradorc.value
  }
  else if(self.auth_tipoUsuario === 23){
    if(self.centroApuesta != '') self.auxCodigoEntidad = self.centroApuesta
    else self.auxCodigoEntidad = self.compradorc.value
  }
  else if(self.auth_tipoUsuario === 22){
    if(self.centroApuesta != '') self.auxCodigoEntidad = self.centroApuesta
    else if(self.grupo != '') self.auxCodigoEntidad = self.grupo
    else if(self.centroApuesta === '' && self.grupo === '') self.auxCodigoEntidad = six0encoded
  }
  else if(self.auth_tipoUsuario === 0){
    if(self.grupo != '') self.auxCodigoEntidad = self.grupo
    self.auxCodigoEntidad = six0encoded
  }

  const auxFecha = depoched(self.fecha)

    fetchRequest({ 
      api: this.$apiAdministrativo+'RegistrarMovimiento',
      method: 'POST', self,
      body: {
        tokenUsuario: self.auth_tokenUsuario,
        tipoMovimiento: self.auxCodigoMovimiento,
        codigoEntidad: self.auxCodigoEntidad || six0encoded,
        numeroReferencia: self.formPago != 'Mw==' ? window.btoa(self.referencia) : six0encoded,
        formaPago: self.formPago,
        codigoMoneda: self.moneda,
        observacionMovimiento: self.observacion,
        fechaMovimiento: auxFecha,
        montoMovimiento: self.monto

      },
      success: () => {
        self.tableDataLoading = false;
        self.fetchListarMovimientos()
        self.fireToastMsg('Movimiento añadido de manera exitosa', { icon: 'success' });
        
      }, 
      error: (rjson) => {
        console.error(rjson);
        self.tableDataLoading = false;
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.cleanAll()
      }
  });
  this.v$.$reset();
}

//APIS GET LISTAR 
async function fetchListarMoviminetoSelect() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral + 'ListarTipoMovimineto/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.movimientos = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: window.atob(val.descripcion)
        };
      });
      self.movimientos = [{label:'SELECCIONE',value:''}, ...self.movimientos];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}

async function fetchListarCompradorComercial() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral + 'ListarCompradorComercial/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.compradoresc = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        };
      });
      self.compradoresc = [{label:'SELECCIONE',value:''}, ...self.compradoresc];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}

async function fetchListarGrupos() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral + 'ListarGrupos/' + self.auth_tokenUsuario + '/MDAwMDAw',
    self,
    success: (rjson) => {
      self.grupoOption = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        };
      });
      self.grupoOption = [{label:'SELECCIONE',value:''}, ...self.grupoOption];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}

async function fetchListarPuntoVenta() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral + 'ListarPuntoVenta/' + self.auth_tokenUsuario + '/MDAwMDAwMQ==', // se concatena 1 para condicion en el procedimiento de puntos prepagos
    self,
    success: (rjson) => {
      self.centroApuestaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        };
      });
      self.centroApuestaOptions = [{label:'SELECCIONE',value:''}, ...self.centroApuestaOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}

async function fetchMedioPago() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral + 'ListarMedioPago/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.formPagoOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        };
      });
      self.formPagoOptions = [{label:'SELECCIONE',value:''}, ...self.formPagoOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}

async function fetchListarMoneda() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral + 'ListarMoneda/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.monedaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion
        };
      });
      self.monedaOptions = [{label:'SELECCIONE',value:''}, ...self.monedaOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}
//APIS FIN GET LISTAR 

// SETUP
function setup() {
  const optionsColWidthRem = 2
  const authStore = useAuth();
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
  const forTabla = [
    [{ name: 'Fecha', attr: 'fechaMovimiento' }, 3],
    [{ name: 'Movimiento', attr: 'descripcionMovimiento' }, 70],
    [{ name: 'Forma de pago', attr: 'descripcionMedioPago' }, 15],
    [{ name: 'Moneda', attr: 'descripcionMoneda' }, 15],
    [{ name: 'Entrada', attr: 'montoEntrada', dir: 'dot' }, 15],
    [{ name: 'Salida', attr: 'montoSalida', dir: 'dot' }, 15],
    [{ name: 'Estatus', attr: 'descripcionEstatus' }, 15],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
          tableCol[1],
            
          optionsColWidthRem,
        )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    ...modalSetupData('actualizar'),
    v$: useVuelidate(),
    inTableData,
    auth_tokenUsuario,
    optionsColWidthRem,
    auth_tipoUsuario
  }
}

function mounted() {
  this.tRef = 'usuariosTable'
  //API GET LISTAR
  this.fetchListarMoviminetoSelect();

  if(this.auth_tipoUsuario === 24) this.fetchListarCompradorComercial();
  if(this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 0) this.fetchListarGrupos();
  if(this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 23) this.fetchListarPuntoVenta();
  this.fetchMedioPago();
  this.fetchListarMoneda();
  this.fetchListarMovimientos();
}

function data() {
  return {
    tipoMovimiento: [{ codigo: '0', descripcion: 'Entrada' }, { codigo: '1', descripcion: 'Salida' }],
    tableData: [],
    movimiento: '',
    movimientos: [],
    compradorc: {label:'SELECCIONE',value:''},
    compradoresc: [],
    fecha: new Date(new Date().toDateString()),
    formPago: '',
    formPagoOptions: [],
    moneda: '',
    monedaOptions: [],
    referencia: '',
    monto: '',
    observacion: '',
    grupo: '',
    grupoOption: [],
    centroApuesta: '',
    centroApuestaOptions: [],
    auxCodigoDisabled: '0',
    auxCodigoMovimiento: '',
    auxCodigoEntidad: '',
    arrayCodMovimiento: [],
  }
}
export default {
  name: 'GestionUsuario',
  components: { CCTable, CCInput },
  mixins: [globalMixin, tableGenerals, modalGenerals],
  setup,
  data,
  methods: {
    fetchListarMovimientos,
    fetchMedioPago,
    fetchListarMoneda,
    fetchListarMoviminetoSelect,
    fetchListarCompradorComercial,
    fetchListarGrupos,
    fetchListarPuntoVenta,
    fetchRegistrarMovimiento,
    anularMov,
    cleanAll,
    fetchAnularMovimientos,
  },
  watch: {
    movimiento: function(val){      
      const aux = window.atob(val)
      this.auxCodigoDisabled = aux.slice(0,1)
      this.auxCodigoMovimiento = window.btoa(aux.slice(1))
    }
  },  
  mounted,
  validations() {
    const auxPago = this.formPago;
    const auxCodigo = this.auxCodigoDisabled;
    return registrarMovimiento(this.auth_tipoUsuario, auxPago,auxCodigo);
  },
  computed: {
    isInvalid
  },
}
</script>
  
<style>
.label-customs {
  margin-bottom: 0.3rem !important;
}
</style>