<template>
  <div class="out-logged-page bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center align-items-center flex-column">
        <img src="@/assets/images/Logo-MA.png" alt="logo" class="mb-4 width-custom">
        <CCol :md="8" :lg="6" :xl="4">
          <CCard class="p-4">
            <CCardHeader class="bg-white"><h4 class="fw-bold mx-auto">Recuperar contraseña</h4></CCardHeader>
            <CCardBody>
              <CForm
                class="d-flex flex-wrap justify-content-between align-items-baseline"
                v-if="this.auxSerial === '1'"
              >
                  <CCInput
                    :allData="{ label: 'Usuario', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'text' }"
                    v-model="login"
                    :v_="v$.login"
                    col activateTouched
                    :execute="
                      () => {
                        v$.login.$touch()
                      }
                    "
                  />

                  <CCInput
                    :allData="{ label: 'Correo electrónico', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'text' }"
                    v-model="email"
                    :v_="v$.email"
                    col activateTouched
                    :execute="
                      () => {
                        v$.email.$touch()
                      }
                    "
                  />

                  <CCInput
                    :allData="{ label: 'Teléfono', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'text' }"
                    v-model="telefono"
                    :v_="v$.telefono"
                    col activateTouched
                    :execute="
                      () => {
                        v$.telefono.$touch()
                      }
                    "
                  />
                <CCol xs="12" lg="12" class="mt-3 text-center">
                  <CButton
                    class="btn-primario me-3"
                    color="dark"
                    @click="dataRecuperarClave"
                    :disabled="isDisabled || auxDisabled">
                    Aceptar
                  </CButton>
                  <CButton
                    class="btn-primario me-3"
                    color="dark"
                    @click="limpiarInputs(1)"
                  >
                    Cancelar
                  </CButton>
                </CCol>
              </CForm>

              <CForm
                class="d-flex flex-wrap justify-content-center align-items-start"
                v-if="this.auxSerial === '2'"
              >
                  <CCInput
                    :allData="{ label: 'Nueva contraseña', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'group', icon:'cicEye' }"
                    v-model="newPassword"
                    :v_="v$.newPassword"
                    col activateTouched
                    :execute="
                      () => {
                        v$.newPassword.$touch()
                      }
                    "
                  />

                  <CCInput
                    :allData="{ label: 'Confirmar contraseña', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'group', icon:'cicEye' }"
                    v-model="passwordConfirmation"
                    :v_="v$.passwordConfirmation"
                    col activateTouched
                    :execute="
                      () => {
                        v$.passwordConfirmation.$touch()
                      }
                    "
                  />

                  <CCInput
                    :allData="{ label: 'Caducidad', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'select' }"
                    v-model="caducidad"
                    :v_="v$.caducidad"
                    col activateTouched
                    :execute="
                      () => {
                        v$.caducidad.$touch()
                      }
                    "
                    :options="caducidad_options"
                  />
                <CCol xs="12" lg="12" class="mt-3 text-center">
                  <CButton
                    class="btn-primario me-3"
                    color="dark"
                    @click="guardarClave"
                    :disabled="isDisabled || this.caducidad === 'seleccione'"
                  >
                    Guardar
                  </CButton>
                  <CButton
                    class="btn-primario me-3"
                    color="dark"
                    @click="limpiarInputs(2)"
                  >
                    Cancelar
                  </CButton>
                </CCol>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
  <ModalRecuperarClave
    ref="ModalCodigo"
    :visible="showModal"
    :close="close"
    :formData="DataModal"
    :validar_serial="Validar_Codigo"
  />
</template>

<script>
import useValidate from '@vuelidate/core'
import CCInput from '@/components/custom/CCInput.vue'
import recuperarClaveVals from '@/_validations/recuperarClave/recuperarClaveVals'
import ModalRecuperarClave from './modalRecuperarClave.vue'
import globalMixin from '@/_mixins/globals'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { LABELS as labels } from '@/_helpers/labels'

function isDisabled() {
  return this.v$.$invalid
}

function limpiarInputs(val) {
  if (val === 1) {
    this.$router.push({ name: 'Login' })
    this.login = ''
    this.email = ''
    this.telefono = ''
    this.v$.$reset()
  } else {
    this.caducidad = this.caducidad_options[0].value
    this.newPassword = ''
    this.passwordConfirmation = ''
    this.v$.$reset()
    this.$router.push({ name: 'Login' })
  }
}

async function dataRecuperarClave() {
  const auxCod = this.telefono.slice(0, 4)
  const auxTel = this.telefono.slice(4, 12)
  const teleFinal = auxCod + '-' + auxTel

  this.auxDisabled = true

  const self = this
  fetchRequest({
    api: this.$apiUsuario+'GenerarCodigoValidacion',
    method: 'POST',
    self,
    body: {
      codigoSoftware: 'MDE=',
      login: self.login,
      numeroTelefono: teleFinal,
      email: self.email,
      tipoOperacion: 'MA==',
    },
    success: () => {
      self.auxDisabled = false
      self.showModal = true
      let objData = {
        login: self.login,
        numeroTelefono: teleFinal,
        email: self.email,
      }
      self.DataModal = objData
    },
    error: (rjson) => {
      console.error('data recuperar', rjson)
      self.auxDisabled = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
          // 'Usuario no existe, por favor verifique e intente de nuevo.',
      })
    },
  })
}

async function Validar_Codigo() {
  this.auxSerial = '2'
  this.fetchCaducidad()
}

async function fetchCaducidad() {
  const self = this
  const tokenAux = '00000000000000000000000000000000'
  fetchRequest({
    api: this.$apiUsuario + 'ListarCaducidad/' + tokenAux,
    self,
    success: (rjson) => {
      self.caducidad_options = rjson.datos.map((val) => {
        return {
          value: val.valorCaducidad,
          label:
            val.valorCaducidad === 'MA=='
              ? 'NUNCA'
              : window.atob(val.valorCaducidad),
        }
      })
    },
    error: (rjson) => {
      console.error('fetchCaducidad', rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar las fechas de caducidad', true),
      })
    },
  })
  //self.caducidad = self.caducidad_options.label;
}

async function guardarClave() {
  const self = this
  fetchRequest({
    api: this.$apiUsuario+'RecuperarClave',
    self,
    method: 'PUT',
    body: {
      codigoSoftware: 'MDE=',
      login: self.login,
      claveNueva: window.btoa(self.passwordConfirmation),
      caducidadClave: window.atob(self.caducidad),
    },
    success: (rjson) => {
      self.fireToastMsg(rjson.mensaje.descripcion, { icon: 'success' })
      self.limpiarInputs(2)
      self.$router.push({ name: 'Login' })
    },
    error: (rjson) => {
      console.error('fetchCaducidad', rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

function close() {
  this.showModal = false
  this.modalDecorator(this, 'modalValidate')
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  return {
    auth_tokenUsuario,
  }
}

function data() {
  return {
    v$: useValidate(),
    login: '',
    email: '',
    telefono: '',
    showModal: false,
    auxSerial: '1',
    caducidad_options: [],
    caducidad: '',
    newPassword: '',
    passwordConfirmation: '',
    codigoValidacion: '',
    DataModal: [],
    auxDisabled: false
  }
}

export default {
  data,
  setup,
  methods: {
    dataRecuperarClave,
    limpiarInputs,
    close,
    Validar_Codigo,
    fetchCaducidad,
    guardarClave,
  },
  validations() {
    return recuperarClaveVals(this.newPassword, this.auxSerial)
  },
  computed: {
    isDisabled,
  },
  components: { ModalRecuperarClave, CCInput },
  mixins: [globalMixin],
}
</script>

<style lang="scss" scoped>
@include outLoggedAppearance;
</style>
