<template>
  <CModal
    size="lg"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="close"
  >
    <CModalHeader>
      <CModalTitle>Código de validación</CModalTitle>
    </CModalHeader>
    <CModalBody>
      <div class="custon-align-center">
        <CCol xs="12" lg="12">
          <CFormLabel for="serial">Código de validación</CFormLabel>
          <CCol>
            <CFormInput
              maxlength="6"
              v-model="codigo"
              type="text"
              class="mb-3"
            />
          </CCol>
        </CCol>
      </div>
    </CModalBody>
  </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { LABELS as labels } from '@/_helpers/labels'

function clearInputs () {
  this.codigo = ''
}

function enviarCodigo() {
  const self = this
  fetchRequest({
    api: this.$apiUsuario+'ValidarCodigo',
    method: 'POST',
    self,
    body: {
      codigoSoftware: 'MDE=',
      login: self.localFormData.login,
      numeroTelefono: self.localFormData.numeroTelefono,
      email: self.localFormData.email,
      tipoOperacion: 'MA==',
      codigoValidacion: window.btoa(self.codigo),
    },
    success: () => {
      self.validar_serial()
      self.close()
    },
    error: (rjson) => {
      console.error('data recuperar', rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
          // 'Usuario no existe, por favor verifique e intente de nuevo.',
      })
    },
  })
}

function visibleW(val) {
  if (!val) this.clearInputs();
}

export default {
  name: 'ModalRecuperarClave',
  mixins: [globalMixin],
  data() {
    return {
      codigo: '',
    }
  },
  props: {
    visible: Boolean,
    close: Function,
    validar_serial: Function,
    formData: {
      type: Object,
      default: () => {},
    },
  },
  watch: {
    visible: visibleW,
    codigo: function (val) {
      if (val.length === 6) {
        this.enviarCodigo()
      }
    },
  },
  computed: {
    localFormData() {
      return this.formData
    },
  },
  methods: {
    enviarCodigo,
    clearInputs
  },
}
</script>

<style></style>
