<template>
  <CHeader id="main-page-header" position="sticky" class="mb-4">
    <CContainer fluid>
      <CHeaderToggler class="ps-1" @click="toggleSidebar">
        <CIcon icon="cil-menu" size="lg" />
      </CHeaderToggler>
      <div>
        <img src="@/assets/images/Logo-MA-blue.png" width="180" height="60" alt="logo">
      </div>
      <!-- <CHeaderBrand class="mx-auto d-lg-none" to="/">
        ANIMALITOS
      </CHeaderBrand> -->
      <CHeaderNav class="align-items-center ms-auto">
       <!-- <strong class="ms-2">{{auth_nombrePuntoVenta}}</strong>
        <a href="javascript:void(0);" @click="clogOutSession" class="ms-2 text-gray">
          <CIcon icon="cil-account-logout" />
        </a>  -->
        <div v-if="auth_usuarioLogueado">
          <AppHeaderDropdownAccnt />
          <a v-if="auth_showBuzon" href="javascript:void(0);" @click="goMailBox" class="ms-2 messages" v-bind:class="newMessage ? 'text-red' : 'text-gray'">
            <span v-if="newMessage && typeof newMessage == 'number'">Tiene ({{newMessage}}) mensaje{{msgPlural}} nuevo{{msgPlural}}</span>
            <span v-else-if="newMessage">{{newMessage}}</span>
            <span v-else>No tiene mensajes nuevos</span>
          </a>
        </div>
        
      </CHeaderNav>
    </CContainer>
    <!-- <CHeaderDivider />
    <CContainer fluid>
      <AppBreadcrumb />
    </CContainer> -->
  </CHeader>
</template>

<script>
import { useSidebar } from '@/store/sidebar'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
// import AppBreadcrumb from './AppBreadcrumb'
import AppHeaderDropdownAccnt from './AppHeaderDropdownAccnt'
import { logo } from '@/assets/brand/logo'
import globals from '@/_mixins/globals'
import { logOutSession, timeOfSideHelp } from '@/_helpers/general'
import { useSideHelp } from '@/store/sidehelp'
import { useMessages } from '@/store/messages'

export default {
  name: 'AppHeader',
   components: {
  //   AppBreadcrumb,
    AppHeaderDropdownAccnt,
  },
  mixins: [globals],
  setup() {
    const sidebarStore = useSidebar()
    const { sidebarVisible } = storeToRefs(sidebarStore)
    const { toggleSidebar } = sidebarStore
    const { updateHeaderHeight } = useSideHelp()
    const authStore = useAuth()
    const { auth_nombrePuntoVenta, auth_usuarioLogueado, auth_showBuzon } = storeToRefs(authStore)
    const messageStore = useMessages()
    const { loadingMessage, newMessage } = storeToRefs(messageStore)
    return {
      logo,
      toggleSidebar,
      auth_nombrePuntoVenta,
      logOutSession,
      sidebarVisible,
      updateHeaderHeight,
      timeOfSideHelp,
      loadingMessage,
      newMessage,
      auth_usuarioLogueado,
      auth_showBuzon,
    }
  },
  methods: {
    clogOutSession() {
      const self = this;
      this.logOutSession(self, true, false, true);
    },
    setHeaderHeight() {
      const self = this;
      this.updateHeaderHeight(65);
      setTimeout(() => {
        const mph = document.getElementById('main-page-header');
        if (mph) self.updateHeaderHeight(mph.offsetHeight);
      }, self.timeOfSideHelp);
    },
	goMailBox(){
		this.$router.push({ name: 'buzonMensajes' })
	}
  },
  watch: {
    sidebarVisible: function () {
      this.setHeaderHeight();
    },
    // newMessage: function(){
    //     return this.newMessage  
    // }
  },
  computed: {
    msgPlural: function () {
      return this.newMessage && typeof this.newMessage == 'number' && this.newMessage > 1 ? 's' : ''
    },
  },
  mounted() {
    this.setHeaderHeight();
  },
}
</script>
<style scoped>
	.messages{
		cursor: pointer;
		text-decoration: none;
	}
	.messages:hover{
		color: #7d7d7d;
	}
</style>