<template>
  <CDropdown v-if="moneda" variant="nav-item" class="container-moneda" :placement="placement">
    <CDropdownToggle 
      class="py-0 moneda" 
      v-bind:class="[
        ['01','02','03'].includes(moneda?.codigoMoneda) ? (moneda.codigoMoneda == '01' ? 'VBS' : moneda.codigoMoneda == '02' ? 'USD' : 'COP') : 'off',
        moneda.simboloMoneda.length > 1 ? 'px-1' : 'px-2'
      ]"
      :caret="false" 
      href="javascript:void(0);"
      :title="moneda.nombreMoneda+' ('+moneda.simboloMoneda+')'"
      @click="handleMsg()"
    >{{moneda.nombreMoneda}}</CDropdownToggle>
    <CDropdownMenu class="pt-0">
      <CDropdownItem 
        v-for="coin of monedas"
        :key="coin.codigoMoneda"
        class="opcion-moneda"
        v-bind:class="coin.codigoMoneda === moneda.codigoMoneda ? 'fw-semibold' : ''"
        @click="setMoneda(coin)"
      >{{coin.nombreMoneda}}</CDropdownItem>
    </CDropdownMenu>
  </CDropdown>
</template>

<script>
import { useMultimoneda } from '@/store/multimoneda'
import { storeToRefs } from 'pinia'

export default {
  name: 'AppHeaderDropdownMultmon',
  setup() {
    const multimonedaStore = useMultimoneda()
    const { moneda, monedas } = storeToRefs(multimonedaStore)
    const { setMoneda } = multimonedaStore

    return {
      moneda, 
      monedas,
      setMoneda, 
    }
  },
  props: {
    placement: {
      type: String,
      default: 'bottom-start'
    },
    byMoneda: Boolean,
    byTabla: Boolean,
    showAlert: {
      type: Function,
      default: () => {}
    },
  },
  methods: {
    handleMsg: function () {
      if (this.byMoneda && !this.byTabla) this.showAlert('Solo hay una moneda disponible');
      else if (this.byTabla) this.showAlert('Para cambiar de moneda debe cobrar o borrar las jugadas en la lista');
    },
  },
}
</script>
<style lang="scss" scoped>
.container-moneda {
  @include mediaquery(md, 'max') {
    top: -1.65rem;
  }
  @include mediaquery(md, $other-size: 'lg') {
    top: -0.1rem;
  }
}
.moneda {
    width: max-content;
    background: #a5a5a5;
    color: #fff !important;
    font-weight: bold;
    border-radius: 12px;
    border: 4px solid #7d7d7d;
    /* border: 1px solid $dark-gray DARKER; */
    /* box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.25); */

    &.VBS {
      background: $soft-middle-gray;
      border-color: $dark-gray;
    }
    &.USD {
      background: #f12c2c;
      border-color: #bd0606;
    }
    &.COP {
      background: #129903;
      border-color: #0d7102;
    }

    &:focus, &:focus-within {
      box-shadow: 0px 0px 1px 3px $hyper-blue !important;
      outline: none;
    }
}
.opcion-moneda {
    cursor: pointer;
}
</style>