<template>
  <CSidebar
    position="fixed"
    :unfoldable="sidebarUnfoldable"
    :visible="sidebarVisible"
    @visible-change="updateSidebarVisible"
  >
    <CSidebarBrand>
      {{sidebarUnfoldable ? 'SDL' : 'SISTEMA DE LOTERÍA'}}
    </CSidebarBrand>
    <AppSidebarNav />
    <!-- <CSidebarToggler
      class="d-none d-lg-flex"
      @click="toggleUnfoldable"
    /> -->
    <div class="p-4 mb-2 text-center">
      <img src="@/assets/images/Logo-MA-menu.png" alt="logo">
    </div>
  </CSidebar>
</template>

<script>
import { useSidebar } from '@/store/sidebar'
import { storeToRefs } from 'pinia'
import { AppSidebarNav } from './AppSidebarNav'
import { logoNegative } from '@/assets/brand/logo-negative'
import { sygnet } from '@/assets/brand/sygnet'
export default {
  name: 'AppSidebar',
  components: {
    AppSidebarNav,
  },
  setup() {
    const sidebarStore = useSidebar()
    const { updateSidebarVisible, toggleUnfoldable } = sidebarStore
    const { sidebarUnfoldable, sidebarVisible/* , isSidebarVisible */ } = storeToRefs(sidebarStore)

    return {
      logoNegative,
      sygnet,
      updateSidebarVisible, 
      toggleUnfoldable,
      sidebarUnfoldable, 
      sidebarVisible,
      // isSidebarVisible,
    }
  },
}
</script>
