<template>
  <CRow class="mb-3">
    <CCol class="col-sm-6">
      <CRow class="mb-3 estilo-fecha" v-if="props.siFechaDesde">
        <CFormLabel for="serial" class="col-sm-3">Fecha desde</CFormLabel>
        <div class="col-sm-9">
          <Datepicker v-model="fechaDesde" />
        </div>
      </CRow>

      <CRow class="mb-3 estilo-fecha" v-if="props.siFechaHasta">
        <CFormLabel for="serial" class="col-sm-3">Fecha desde</CFormLabel>
        <div class="col-sm-9">
          <Datepicker v-model="fechaHasta" />    
        </div>
      </CRow>  

      <CRow class="ms-3" v-if="props.siSwitch">
        <CFormSwitch label="Ver Tickets anulados" id="formSwitchCheckDefault" @change="showItems"/>
      </CRow>
    </CCol>

    <CCol class="col-sm-6">
      <CRow class="mb-3" v-if="props.siSorteo">
        <CFormLabel for="serial" class="col-sm-4 text-lg-end"
          >Sorteo</CFormLabel
        >
        <CCol>
          <CFormSelect
            aria-label="Default select example"
            :options="[
              'Seleccione',
              { label: '01', value: '01' },
              { label: '02', value: '02' },
              { label: '03', value: '03' },
            ]"
          >
          </CFormSelect>
        </CCol>
      </CRow>
      <CRow class="mb-3" v-if="props.siTaquilla">
        <CFormLabel for="serial" class="col-sm-4 text-lg-end"
          >Taquilla</CFormLabel
        >
        <CCol>
          <CFormSelect
            aria-label="Default select example"
            :options="[
              'Seleccione',
              { label: '1', value: '1' },
              { label: '2', value: '2' },
              { label: '3', value: '3' },
            ]"
          >
          </CFormSelect>
        </CCol>
      </CRow>
      <CRow class="mb-3" v-if="props.siTurno">
        <CFormLabel for="serial" class="col-sm-4 text-lg-end"
          >Turno</CFormLabel
        >
        <CCol>
          <CFormSelect
            aria-label="Default select example"
            :options="[
              'Seleccione',
              { label: '1', value: '1' },
              { label: '2', value: '2' },
              { label: '3', value: '3' },
            ]"
          >
          </CFormSelect>
        </CCol>
      </CRow>
      <CRow class='text-center'>
        <CCol class="mb-3 col-sm-6" v-if="props.siConsultar">
          <CButton
            @click="search_register"
            class="btn-primario">
            Consultar
          </CButton>
        </CCol>
        <CCol class="mb-3 col-sm-6" v-if="props.siImprimir">
          <CButton
           class="btn-secundario">
           Imprimir
          </CButton>
        </CCol>
      </CRow>
    </CCol>
  </CRow>
</template>

<script setup>
const fechaDesde = new Date()
const fechaHasta = new Date()
let statusSwitch = false; 

function showItems(){
  if(statusSwitch === false){
    statusSwitch = true;
  }else{
    statusSwitch = false;
  }
}



const props = defineProps({
  siFechaDesde: Boolean,
  siFechaHasta: Boolean,
  siSwitch: Boolean,
  siSorteo: Boolean,
  siTaquilla: Boolean,
  siConsultar: Boolean, 
  siImprimir: Boolean,
  valoresDate: Function,
  siTurno: Boolean

})

//FUNCTION QUE PASA POR PROPS LOS DATOS
const search_register =  () => {
  // console.log('props',props)
}
</script>
