<template>
    <CModal 
        size="xl"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>{{ mode === 'edit' ? 'Modificar' : mode === 'view' ? 'Detalle' : 'Registrar' }} Producto</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper :formData="formData(minNum,minSimb)">
                <template #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled || shouldDisabled() || (formObj.model == 'combinaSeccion' && updatingTables)"
                        :options="getOptions(formObj.options)"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                        :execute="changeName"
                    />
                </template>
                <template #freeButtonOut="btnData">
                    <template v-if="!doShowFooter">
                    <CButton 
                        v-bind:class="btnData.class || ''"
                        :disabled="!isMValid"
                        @click="() => { doShowFooter = true }"
                    >Asignar Nuevo Producto
                    </CButton>
                    <CButton 
                        v-bind:class="btnData.class2 || ''"
                        @click="shouldClose"
                    >Cancelar
                    </CButton>
                    </template>
                </template>
                <template #outFreeCode="formOutCode">
                    <div v-if="doShowFooter" v-bind:class="formOutCode.class || ''">
                        <template v-if="formOutCode.panes">
                        <CNav variant="tabs" role="tablist" class="tab-alinks overflow-auto flex-row flex-nowrap overy-hidden">
                            <CNavItem v-for="(name, ni) in formOutCode.panes.names" :key="ni">
                                <CNavLink
                                    href="javascript:void(0);"
                                    :active="tabActive === ni"
                                    @click="setPane(ni)"
                                    class="maxContent"
                                    v-bind:class="!ni || (ni == 1 && seccion.len) || componenteSeccion.len ? 'enabled' : ''"
                                >{{name}}
                                </CNavLink>
                            </CNavItem>
                        </CNav>
                        <CTabContent class="pt-3 px-3 mb-2 border-start border-bottom border-end">
                            <CTabPane
                                v-for="(contentItems, cii) in formOutCode.panes.content" 
                                :key="cii"
                                role="tabpanel" 
                                :aria-labelledby="'tab-'+cii" 
                                :visible="tabActive === cii"
                            >
                                <div class="d-flex flex-wrap justify-content-between align-items-baseline">
                                    <template v-for="(cItem, ci) in contentItems" :key="ci">
                                        <template v-if="cItem.freeButton">
                                            <CButton 
                                                v-if="modifying"
                                                v-bind:class="cItem.class || ''"
                                                :disabled="cItem.refId == 1 ? !isSeccionValid : cItem.refId == 2 ? !isComponenteValid : !isModalidadValid"
                                                @click="addWithinTable(cItem.refId)"
                                            >{{cItem.refId == 1 ? 'Agregar Sección' : cItem.refId == 2 ? 'Agregar Componente a la Sección' : 'Agregar Modalidad a la Sección'}}
                                            </CButton>
                                        </template>
                                        <template v-if="cItem.freeButton2">
                                            <CButton 
                                                v-if="modifying"
                                                v-bind:class="cItem.class || ''"
                                                :disabled="!isAddCompsValid"
                                                @click="shouldClose(null, true)"
                                            >Asignar componentes a modalidad
                                            </CButton>
                                        </template>
                                        <template v-else-if="cItem.freeTable">
                                            <CCTable 
                                                :ref="makeTRef(cItem.ref)" 
                                                v-bind:class="cItem.class || ''"
                                                v-model="[currentPage,currentPage2,currentPage3][cItem.refId - 1]" 
                                                :tableData="getTableDyn('tableData', cItem.refId)" 
                                                :inTableData="getTableDyn('inTableData', cItem.refId)"
                                                :tableNum="cItem.refId == 1 ? '' : cItem.refId"
                                                :setTableState="setTableState"
                                                :showPagination="getTableDyn('showPagination', cItem.refId)"
                                                :setShowPagination="setShowPagination"
                                                :customFromTable="cItem.refId != 3 ? () => {} : verComponentes"
                                                :unselectFromTable="deleteWithinTable"
                                                :alertMsgs="getAllAlerts(cItem.refId)"
                                                :loading="getTableDyn('tableDataLoading', cItem.refId)"
                                                :optionsColWidth="optionsColWidthRem"
                                                maxHeight="10rem"
                                                doNotEmit
                                                :showEdit="false"
                                                :showView="false"
                                                :disabledDelete="!modifying || fetching"
                                                :optionsLabelsDynamic="{ tipoSeccionOptions, yesNoOptions, statusOptions, nombreSeccionOptions, componenteOptions, modalidadOptions }"
                                                :deliveredParam="String(cItem.refId)"
                                            />
                                            <!-- :customAction="cItem.refId == 3 ? 'cil-apps,ver componentes' : ''" -->
                                            <!-- :optionsColWidth="optionsColWidthRem + (cItem.refId != 3 ? 0 : 3)" -->
                                        </template>
                                        <CCInput 
                                            v-else-if="v$[cItem.which] && v$[cItem.which][cItem.model] && modifying"
                                            :allData="cItem"
                                            v-model="v$[cItem.which][cItem.model].$model" 
                                            :v_="v$[cItem.which][cItem.model]" 
                                            :col="cItem.col"
                                            :disabled="cItem.disabled || shouldDisabled() || 
                                                (cItem.which == 'seccion' && cItem.model == 'tieneSimbolo' && (!seccion.tipoSeccion || seccion.tipoSeccion == 'seleccione' || seccion.tipoSeccion == '02')) ||
                                                (cItem.which == 'seccion' && cItem.model == 'cantidadSimbolos' && (!seccion.tieneSimbolo || seccion.tieneSimbolo == 'seleccione' || seccion.tieneSimbolo == '1')) ||
                                                (cItem.which == 'componenteSeccion' && cItem.model == 'maxSimbolosLista' && (!componenteSeccion.componente || componenteSeccion.componente == 'seleccione' || checkComponente))
                                            "
                                            :options="getOptions(cItem.options)"
                                            :disabledLighted="!showFooter"
                                            :keyPress="cItem.kpress"
                                        />
                                    </template>
                                </div>
                            </CTabPane>
                        </CTabContent>
                        </template>
                    </div>
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
        <CModalFooter v-if="showFooter && doShowFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario adapt-all-md ms-md-auto" @click="actionProducto" :disabled="!isProductoValid">
                <template v-if="fetching"><CCLoader inline />&nbsp;</template>
                {{ mode === 'edit' ? 'Modificar' : mode === 'view' ? (modifying ? 'Guardar Cambios' : 'Modificar') : 'Registrar Producto' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario adapt-all-md me-md-auto ms-md-3" @click="shouldClose">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
//#region IMPORTS
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import useVuelidate from '@vuelidate/core';
import productoRegisterVals from '@/_validations/gestionProductos/productoRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import CCTable from '@/components/custom/CCTable.vue';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { LABELS as labels } from '@/_helpers/labels';
//#endregion

//#region METHODS
function clearInputs () {
    ['tabActive','fetching','modifying','doShowFooter'].forEach((attr, i) => this[attr] = !i ? 0 : false);
    // 
    ['caducidadTicket','caducidadReintegro','codigo','nombre','nombreResumido','combinaSeccion','status'].forEach((attr, i) => this[attr] = i < 2 ? 1 : i < 5 ? '' : 'seleccione');
    // SECCION
    ['nombreSeccion','cantidadTriples','len','cantidadSimbolos','tipoSeccion','tieneSimbolo','statusSeccion'].forEach((attr, i) => this.seccion[attr] = !i ? '' : i < 4 ? 0 : 'seleccione');
    this.seccion.$dirty = false;
    // COMPONENTE-SECCION
    ['longitudCampo','len','ordenJerarquia','maxSimbolosLista','nombreEtiqueta','nombreSeccion','componente'].forEach((attr, i) => this.componenteSeccion[attr] = !i ? 1 : i < 4 ? 0 : i < 5 ? '' : 'seleccione');
    this.componenteSeccion.$dirty = false;
    // MODALIDAD-SECCION
    ['len','montoMinimo','multiplo','nombreSeccion','modalidad'].forEach((attr, i) => this.modalidadSeccion[attr] = !i ? 0 : i < 3 ? 1 : 'seleccione');
    this.modalidadSeccion.$dirty = false;
    // 
    ['loteria','operadora','loteriaOptions','operadoraOptions','componentesDeModalidad'].forEach((attr, i) => this[attr] = i < 2 ? 'seleccione' : []);
    // yesNoOptions = [];
    // statusOptions = [];
    // tipoSeccionOptions = [];
    // componenteOptions = [];
    // modalidadOptions = [];
    // 
    Array(this.tablesCount).fill([]).forEach((v,i) => this['tableData' + (!i ? '' : (i+1))] = v);
    // 
    this.v$.$reset();
}

async function fillInputs (data) {
    if (data.componentesDeModalidad) {
        this.addingComponente = false;
        if (!data.justView) this.componentesDeModalidad = data.componentesDeModalidad;
    }
    else {
        this.codigo = data.codigo;
        this.nombre = data.nombre;
        this.nombreResumido = data.nombreResumido;
        this.caducidadTicket = +data.caducidadTicket;
        this.caducidadReintegro = +data.caducidadReintegro;
        this.combinaSeccion = data.combinaSeccion;
        this.status = data.status;
        // SECCION
        if (data.secciones.length) {
            this.tableData = data.secciones.map(s => ({...s}));
            this.doShowFooter = true;
        }
        // COMPONENTE-SECCION
        if (data.seccionComponentes.length) this.tableData2 = data.seccionComponentes.map(c => ({...c, producto: data.nombre}));
        // MODALIDAD-SECCION
        if (data.seccionModalidades.length) this.tableData3 = data.seccionModalidades.map(m => ({...m, producto: data.nombre}));
        // 
        this.loteria = data.loteria;
        this.operadora = data.operadora;
        this.loteriaOptions = data.loteriaOptions;
        this.operadoraOptions = data.operadoraOptions;
        // this.yesNoOptions = data.yesNoOptions;
        // this.statusOptions = data.statusOptions;
        // this.tipoSeccionOptions = data.tipoSeccionOptions;
        // this.componenteOptions = data.componenteOptions;
        // this.modalidadOptions = data.modalidadOptions;
        this.v$.$reset();
        if (this.mode != 'view') this.modifying = true;
    }
}

function actionProducto () {
    const self = this;
    const edit_ = (/* isDetail = false */) => {
        self.fetching = true;
        const dirtyOnes = Object.keys(this.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && this.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['nombre','nombreResumido','caducidadTicket','caducidadReintegro','combinaSeccion','status'].reduce((attrs, attr, i) => // se puede editar los del array
                ({...attrs, ...(dirtyOnes.includes(attr) ? {[attr]: i < 2 ? self[attr].toUpperCase() : self[attr]} : {})}), {}),
        };
        self.edit({
            ...data, 
            ...(self.seccion.$dirty ? { secciones: self.tableData.map(s => ({...s})) } : {}),
            ...(self.componenteSeccion.$dirty ? { seccionComponentes: self.tableData2.map(c => ({...c})) } : {}),
            ...(self.modalidadSeccion.$dirty ? { seccionModalidades: self.tableData3.map(m => ({...m})) } : {}),
        }/* , isDetail */);
    };

    if (this.mode === 'edit') {
        edit_();
        return;
    }
    if (this.mode === 'view') {
        const modVal = Boolean(this.modifying);
        this.modifying = !this.modifying;
        if (modVal) edit_(/* true */);
        return;
    }
    // register
    this.fetching = true;
    const data = {
        guid: this.codigo,
        codigo: this.codigo,
        nombre: this.nombre.toUpperCase(),
        nombreResumido: this.nombreResumido.toUpperCase(),
        caducidadTicket: +this.caducidadTicket,
        caducidadReintegro: +this.caducidadReintegro,
        combinaSeccion: this.combinaSeccion,
        status: this.status,
        secciones: this.tableData.map(s => ({...s})),
        seccionComponentes: this.tableData2.map(c => ({...c})),
        seccionModalidades: this.tableData3.map(m => ({...m})),
    };
    this.save(data);
}

function shouldDisabled (/* model */) {
    return (this.mode === 'view' && !this.modifying) || this.fetching
}

function shouldClose (ev = null, goOpenModComp = false, mod = null) {
    const self = this;
    if (this.fetching) return;
    if (!goOpenModComp) {
        this.modifying = false;
        this.v$.$reset();
    }
    else this.addingComponente = true; // OLD
    const comps = goOpenModComp ? this.componenteOptions.reduce((compos, compo) => ({...compos, [compo.value]: compo.label}), {}) : null; // OLD
    const compsSeccionSelected = !goOpenModComp ? [] : 
        this.tableData2.reduce((sComps,sComp) => {
            const ns = mod ? mod.seccion : self.modalidadSeccion.nombreSeccion;
            if (sComp.seccion === ns) sComps.push({ label: comps[sComp.componente], value: sComp.componente });
            return sComps
        }, []); // OLD
    if (!mod && this.addingComponente && !compsSeccionSelected.length) { // OLD
        this.fireToastMsg('No hay componentes asignados a la sección seleccionada.', {icon: 'info'});
        this.addingComponente = false;
        return;
    }

    const mod_ = goOpenModComp ? (mod ? mod.modalidad : this.modalidadSeccion.modalidad) : ''; // OLD
    this.close(goOpenModComp ? { // OLD
        obj: true,
        mode: this.mode,
        modalidad: mod ? mod.modalidad : this.modalidadSeccion.modalidad, 
        componentes: mod ? mod.componentes : this.componentesDeModalidad.map(c => ({...c})), // OLD
        options: compsSeccionSelected, 
        modOptions: [{...(this.modalidadOptions.find(modO => modO.value === mod_) || {})}],
        justView: Boolean(mod),
    } : ev);
}

function attrDta (refId) {
    return refId == 1 ? 'seccion' : refId == 2 ? 'componenteSeccion' : 'modalidadSeccion';
}

function setPane (ni) {
    if (!ni || (ni == 1 && this.seccion.len) || this.componenteSeccion.len) this.tabActive = ni;
}

function clearWithinTable (refId) {
    if (refId == 1) ['nombreSeccion','cantidadTriples','cantidadSimbolos','tipoSeccion','tieneSimbolo','statusSeccion']
        .forEach((k, i) => this.seccion[k] = !i ? '' : i < 3 ? 0 : 'seleccione');
    else if (refId == 2) ['longitudCampo','ordenJerarquia','maxSimbolosLista','nombreEtiqueta','nombreSeccion','componente']
        .forEach((k, j) => this.componenteSeccion[k] = !j ? 1 : j < 3 ? 0 : j < 4 ? '' : 'seleccione');
    else /* 3 */ ['modalidad','nombreSeccion','montoMinimo','multiplo']
        .forEach((k, l) => this.modalidadSeccion[k] = l > 1 ? 1 : 'seleccione');
    this.v$[this.attrDta(refId)].$reset();
}

function addWithinTable (refId) {
    const id = (new Date().getTime()) + Math.random().toFixed(16);
    const dta = refId == 1 ? 
        {
            nombreSeccion: this.seccion.nombreSeccion.toUpperCase(),
            tipoSeccion: this.seccion.tipoSeccion,
            tieneSimbolo: this.seccion.tieneSimbolo,
            cantidadTriples: this.seccion.cantidadTriples,
            cantidadSimbolos: `${this.seccion.cantidadSimbolos}`,
            statusSeccion: this.seccion.statusSeccion,
        } : refId == 2 ? 
        {
            producto: this.nombre,
            seccion: this.componenteSeccion.nombreSeccion,
            componente: this.componenteSeccion.componente,
            longitudCampo: this.componenteSeccion.longitudCampo,
            nombreEtiqueta: this.componenteSeccion.nombreEtiqueta.toUpperCase(),
            maxSimbolosLista: `${this.componenteSeccion.maxSimbolosLista}`,
            ordenJerarquia: this.componenteSeccion.ordenJerarquia,
        } : 
        {
            producto: this.nombre,
            seccion: this.modalidadSeccion.nombreSeccion,
            modalidad: this.modalidadSeccion.modalidad,
            montoMinimo: this.modalidadSeccion.montoMinimo,
            multiplo: this.modalidadSeccion.multiplo,
            // componentes: this.componentesDeModalidad.map(c => ({...c})),
        };

    let isPorCombSec;
    const secCompOrModIn = refId != 1 && this['tableData'+refId].some(scm => {
        const name = refId == 2 ? 'componente' : 'modalidad';
        if (scm[name] == dta[name]) {
            if (refId == 2 && scm.seccion != dta.seccion && +this.combinaSeccion) isPorCombSec = true;
            return isPorCombSec || scm.seccion == dta.seccion;
        }
        return false;
    });
    if (secCompOrModIn) {
        const comp = refId == 2;
        this.fireToastMsg(isPorCombSec 
            ? 'El producto se definió para no combinar secciones. Ya este componente se encuentra agregado para otra sección' 
            : `Ya est${comp ? 'e' : 'a'} ${comp ? 'componente' : 'modalidad'} se encuentra agregad${comp ? 'o' : 'a'} para esta sección`, 
            {icon: 'info'}
        );
        return;
    }

    this[`tableData${refId == 1 ? '' : refId}`] = [ ...this[`tableData${refId == 1 ? '' : refId}`], { ...dta, guid: id } ];
    this.clearWithinTable(refId);
    this[this.attrDta(refId)].$dirty = true;
}

async function deleteWithinTable (...args) {
    if (args.length < 2) return;
    const self = this;
    const msg = typeof args[1] == 'boolean' ? null : args[1][1];
    const result = msg ? await this.fireAlertMsg(msg, {}) : { isConfirmed: true };
    if (result.isConfirmed) {
        const wchTab = args[4] ? +args[4] : 1;
        let elimsMsg;
        // if (wchTab == 2 && this.tableData3.length) this.tableData3 = this.tableData3.reduce((allData, td) => {
        //     const notEq = td.seccion != args[0].seccion;
        //     if (notEq || td.componentes.some(c => c.guid != args[0].componente)) {
        //         const td_ = notEq ? null : {
        //             ...td,
        //             componentes: td.componentes.reduce((cs, c) => [...cs, ...(c.guid != args[0].componente ? [{...c}] : [])], []),
        //         };
        //         if (notEq || td_.componentes.length) allData.push(notEq ? {...td} : td_);
        //     }
        //     return allData
        // }, []); 
        /* else  */if (wchTab == 1 && this.tableData2.length) elimsMsg = await this.elimCoponentes(args[0]);
        // 
        this.removeFromTable(false, args[0], args[4]);
        if (wchTab == 2 && this.tableData3.length) {
            const filtrd = this.tableData3.filter(m => {
                const mods = self.modalidadesPorSeccionFunc(m.seccion);
                return mods[0].length
            });
            this.tableData3 = filtrd.map(fm => ({...fm}));
        }
        if (elimsMsg) await this.fireToastMsg(elimsMsg, { icon: 'info' });
        if (msg) this.fireToastMsg(args[1][3], { icon: 'success' });
        this[this.attrDta(args[4] ? +args[4] : 1)].$dirty = true;
    }
}

function makeTRef (dta) {
    if (!this[dta[0]]) {
        this[dta[0]] = dta[1]+'Table';
        this['canDelete'+dta[2]] = dta[1];
    }
    return this[dta[0]]
}

function getTableDyn (attr, id) {
    const id_ = id == 1 ? '' : id;
    return this[attr+id_]
}

function getAllAlerts (refId) {
    const is1 = refId == 1, is2 = refId == 2;
    const isFem = is2 ? false : true;
    const singular = is2 ? 'componente' : is1 ? 'sección' : 'modalidad';
    const alerts = [
        labels.sureDelete(true, singular, isFem), 
        labels.sureDelete(false, singular, isFem), 
        labels.deleteAll(is2 ? 'componentes' : is1 ? 'secciones' : 'modalidades', isFem), 
        labels.deleteOne(singular, isFem)
    ];
    return alerts
}

function verComponentes (modalidad) {
    this.shouldClose(null, true, modalidad);
}

function modalidadesPorSeccionFunc (nameSec, showMsg = false) {
    const componentes = !nameSec || nameSec == 'seleccione' ? null : this.componentesPorSeccion[nameSec];
    if (!componentes) return [[], ''];
    const mods = this.modalidadOptions.filter(m => m.componentes.some(c => componentes.includes(c)));
    if (showMsg && this.tabActive == 2 && !mods.length) [mods, 'No hay modalidades que apliquen a la sección'];
    return [mods, '']
}
//#endregion

//#region COMPUTED
function extras () {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.$anyDirty : true;
    return extraVals && !this.fetching
}

function isMValid () {
    return this.extras && !this.v$.$invalid
}

function isSeccionValid () {
    return this.extras && !this.v$.seccion?.$invalid
}

function isComponenteValid () {
    return this.extras && !this.v$.componenteSeccion?.$invalid
}

function isModalidadValid () {
    return this.extras && !this.v$.modalidadSeccion?.$invalid/*  && this.componentesDeModalidad.length */
}

function isMainDirty () {
    const drty = ['nombre',
    'nombreResumido',
    'caducidadTicket',
    'caducidadReintegro',
    'combinaSeccion',
    'status'].some(attr => this.v$ && this.v$[attr]?.$dirty);

    return drty
}

function isProductoValid () {
    const allSectionsHave = this.tableData.every(s => this.tableData2.some(c => c.seccion == s.guid) && this.tableData3.some(m => m.seccion == s.guid));
    return !this.fetching && (this.isMainDirty || this.seccion.$dirty || this.componenteSeccion.$dirty || this.modalidadSeccion.$dirty) && this.tableData2?.length && this.tableData3?.length && allSectionsHave 
        || (this.mode === 'view' && !this.modifying)
}

function isAddCompsValid () {
    return this.extras && this.modalidadSeccion.nombreSeccion && this.modalidadSeccion.nombreSeccion != 'seleccione' && this.modalidadSeccion.modalidad && this.modalidadSeccion.modalidad != 'seleccione'
}

function nombreSeccionOptions () {
    return this.tableData.map(td => ({ label: td.nombreSeccion, value: td.guid, tipo: td.tipoSeccion }))
}

function componentesPorTipoOptions () {
    const nameSec = this.componenteSeccion.nombreSeccion;
    const seccion = !nameSec || nameSec == 'seleccione' ? null : this.nombreSeccionOptions.find(s => s.value == nameSec);
    if (!seccion) return [];
    return this.componenteOptions.filter(c => seccion.tipo == '02' || c.tipo == seccion.tipo);
}

function modalidadesPorSeccionOptions () {
    const mods = this.modalidadesPorSeccionFunc(this.modalidadSeccion.nombreSeccion, true);
    if (mods[1]) this.fireToastMsg(mods[1], { icon: 'info' });
    return mods[0]
}

function checkComponente () {
    return this.componenteOptions.some(c => c.value == this.componenteSeccion.componente && c.tipo == '01')
}
//#endregion

//#region WATCH
function visibleW (val) {
    if (!val) { if (!this.addingComponente) this.clearInputs(); }
    else if (this.data) this.fillInputs(this.data);
}

function seccionTipoSeccionW (val) {
    if (!val || val == 'seleccione') this.seccion.tieneSimbolo = 'seleccione';
    else if (val == '02') this.seccion.tieneSimbolo = '0';
}

function seccionTieneSimboloW (val) {
    const cond = !val || val == 'seleccione' || val == '1';
    const nFig = cond ? 0 : 1;
    const nNum = cond ? 1 : 0;
    this.seccion.cantidadSimbolos = nFig;
    this.minSimb = nFig;
    this.seccion.cantidadTriples = nNum;
    this.minNum = nNum;
}

function componenteSeccionComponenteW (val) {
    if (!val || val == 'seleccione' || this.checkComponente) this.componenteSeccion.maxSimbolosLista = 0;
}

function componenteSeccionNombreSeccionW (/* val */) {
    /* if (!val || val == 'seleccione')  */this.componenteSeccion.componente = 'seleccione';
}

function modalidadSeccionNombreSeccionW (/* val */) {
    /* if (!val || val == 'seleccione')  */this.modalidadSeccion.modalidad = 'seleccione';
    this.componentesDeModalidad = [];
}

function clearCompModW () {
    this.componentesDeModalidad = [];
}

function seccionLen (val) {
    this.seccion.len = val ? val.length : 0;
}

function componenteSeccionLen (val) {
    this.componenteSeccion.len = val ? val.length : 0;
}

function modalidadSeccionLen (val) {
    this.modalidadSeccion.len = val ? val.length : 0;
}
//#endregion

//#region DATA, SETUP and HOOKS
function data () {
    return {
        codigo: '',
        nombre: '',
        nombreResumido: '',
        caducidadTicket: 1,
        caducidadReintegro: 1,
        combinaSeccion: 'seleccione',
        status: 'seleccione',
        // SECCION
        seccion: {
            len: 0,
            $dirty: false,
            nombreSeccion: '',
            tipoSeccion: 'seleccione',
            tieneSimbolo: 'seleccione',
            cantidadTriples: 0,
            cantidadSimbolos: 0,
            statusSeccion: 'seleccione',
        },
        // COMPONENTE-SECCION
        componenteSeccion: {
            len: 0,
            $dirty: false,
            nombreSeccion: 'seleccione',
            componente: 'seleccione',
            longitudCampo: 1,
            ordenJerarquia: 0,
            nombreEtiqueta: '',
            maxSimbolosLista: 0,
        },
        // MODALIDAD-SECCION
        modalidadSeccion: {
            len: 0,
            $dirty: false,
            nombreSeccion: 'seleccione',
            modalidad: 'seleccione',
            montoMinimo: 1,
            multiplo: 1,
        },
        // 
        loteria: 'seleccione',
        operadora: 'seleccione',
        loteriaOptions: [],
        operadoraOptions: [],
        yesNoOptions: [
            { label: 'Sí', value: '0' },
            { label: 'No', value: '1' },
        ],
        statusOptions: [
            { label: 'Activo', value: '0' },
            { label: 'Inactivo', value: '1' },
        ],
        tipoSeccionOptions: [
            { label: 'Número', value: '01' },
            { label: 'Figura', value: '02' },
        ],
        componenteOptions: [
            { label: 'NUMEROA', value: '01', tipo: '01' },
            { label: 'NUMEROB', value: '02', tipo: '01' },
            { label: 'ANIMALITO', value: '03', tipo: '02' },
            { label: 'CACHO', value: '04', tipo: '02' },
            { label: 'ASTRAL', value: '05', tipo: '02' },
        ],
        modalidadOptions: [
            { value: '01', label: 'TRIPLE FIJO', componentes: ['01', '02'] }, 
            { value: '02', label: 'COLA', componentes: ['01'] }, 
            { value: '03', label: 'PUNTA', componentes: ['01'] },
            { value: '04', label: 'ANIMALITO', componentes: ['03'] },
        ],
        modifying: false,
        fetching: false,
        tabActive: 0,
        // 
        doShowFooter: false,
        // 
        addingComponente: false,
        componentesDeModalidad: [],
        updatingTables: false,
        minSimb: 0,
        minNum: 0,
    }
}

function setup () {
    const optionsColWidthRem = 1
    const forTabla = [
        [{name: 'Nombre de la Seccion', attr: 'nombreSeccion'}],
        [{name: 'Tipo Seccion', attr: 'tipoSeccion', slct: 'tipoSeccionOptions'}],
        [{name: 'Tiene Símbolos', attr: 'tieneSimbolo', slct: 'yesNoOptions'}],
        [{name: 'Cant. Triples', attr: 'cantidadTriples'}],
        [{name: 'Cant Símbolos', attr: 'cantidadSimbolos'}],
        [{name: 'Estado', attr: 'statusSeccion', slct: 'statusOptions'}],
    ]
    const forTabla2 = [
        [{name: 'Producto', attr: 'producto', width: '20%'}],
        [{name: 'Sección', attr: 'seccion', slct: 'nombreSeccionOptions'}],
        [{name: 'Componente', attr: 'componente', slct: 'componenteOptions'}],
        [{name: 'Longitud', attr: 'longitudCampo'}],
        [{name: 'Etiqueta', attr: 'nombreEtiqueta'}],
        [{name: 'Max. Símbolos', attr: 'maxSimbolosLista'}],
        [{name: 'Orden Jerarquía', attr: 'ordenJerarquia'}],
    ]
    const forTabla3 = [
        [{name: 'Producto', attr: 'producto'}],
        [{name: 'Sección', attr: 'seccion', slct: 'nombreSeccionOptions'}],
        [{name: 'Modalidad', attr: 'modalidad', slct: 'modalidadOptions'}],
        [{name: 'Monto Mínimo', attr: 'montoMinimo'}],
        [{name: 'Multiplo', attr: 'multiplo'}],
    ]
    const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
    const inTableData2 = tableDataStruc(forTabla2.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
    const inTableData3 = tableDataStruc(forTabla3.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem+3) : {}) })))

    return {
        v$: useVuelidate(),
        ...setupData(3),
        inTableData,
        inTableData2,
        inTableData3,
        optionsColWidthRem,
        labels,
    }
}
//#endregion

export default {
    components: { CCInput, CCFormStructureWrapper, CCLoader, CCTable },
    name: 'ModalProducto',
    mixins: [ globalMixin, tableGenerals ],
    data,
    setup,
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        formData: { type: Function, default: () => {} },
        mode: { type: String, default: 'register' },
        data: Object,
        showFooter: { type: Boolean, default: true },
    },
    methods: {
        clearInputs,
        fillInputs,
        actionProducto,
        shouldDisabled,
        shouldClose,
        attrDta,
        setPane,
        clearWithinTable,
        addWithinTable,
        deleteWithinTable,
        makeTRef,
        getTableDyn,
        getAllAlerts,
        verComponentes,
        modalidadesPorSeccionFunc,
        elimCoponentes: async function (seccion = null) {
            this.updatingTables = true;
            const toElim = seccion ? this.tableData2.reduce((elim, componente) => [...elim, ...(seccion.guid == componente.seccion ? [componente] : [])], []) : [];
            const { toEliminate } = !seccion ? this.tableData2.reduce((data, componente) => {
                if (data.unrepeated[componente.componente]) data.toEliminate.push(componente);
                else data.unrepeated[componente.componente] = true;
                return data
            }, { unrepeated: {}, toEliminate: [] }) : { toEliminate: [] };
            
            const forElimination = seccion ? toElim : toEliminate;
            if (forElimination.length) {
                const allElims = forElimination.map(async (comp) => await this.deleteWithinTable(comp,true,true,true,2));
                await Promise.allSettled(allElims);
                if (!seccion) this.fireToastMsg('Se borraron algunos componentes de la tabla componente/sección, ya que no se permite combinar sección.', { icon: 'info' });
                else {
                    this.updatingTables = false;
                    return 'Se borraron algunos componentes de la tabla componente/sección.'
                }
            }
            this.updatingTables = false;
        },
        changeName: function (e) {
            if (e && e == 'blur' && this.nombre) {
                this.tableData2 = this.tableData2.map(c => ({...c, producto: `${this.nombre}`}));
                this.tableData3 = this.tableData3.map(m => ({...m, producto: `${this.nombre}`}));
            }
        },
    },
    computed: {
        extras,
        isMValid,
        isSeccionValid,
        isComponenteValid,
        isModalidadValid,
        isProductoValid,
        isAddCompsValid,
        nombreSeccionOptions,
        checkComponente,
        componentesPorTipoOptions,
        isMainDirty,
        componentesPorSeccion: function () {
            const secComps = this.tableData2.reduce((secciones, componente) => ({ ...secciones, [componente.seccion]: [...(secciones[componente.seccion] || []), componente.componente] }), {});
            return secComps
        },
        modalidadesPorSeccionOptions,
    },
    validations () { return productoRegisterVals(this.visible, this.doShowFooter, this.seccion.len, this.checkComponente, this.minNum, this.minSimb) },
    watch: {
        visible: visibleW,
        'seccion.tipoSeccion': seccionTipoSeccionW,
        'seccion.tieneSimbolo': seccionTieneSimboloW,
        'componenteSeccion.componente': componenteSeccionComponenteW,
        'componenteSeccion.nombreSeccion': componenteSeccionNombreSeccionW,
        'modalidadSeccion.nombreSeccion': modalidadSeccionNombreSeccionW,
        'modalidadSeccion.modalidad': clearCompModW,
        tableData: seccionLen,
        tableData2: componenteSeccionLen,
        tableData3: modalidadSeccionLen,
        combinaSeccion: function (val) {
            if (this.doShowFooter && val == '1') this.elimCoponentes();
        },
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
:deep(.tab-alinks) {
    &.overy-hidden {
        overflow-y: hidden !important;
    }

    .nav-link {
        color: $soft-gray !important;

        &.enabled {
            color: $deep-gray !important;
        }
        &.active {
            color: $dark-gray !important;
        }
    }
}
</style>