<template>
    <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader :closeButton="false">
            <CModalTitle>{{justView ? '' : 'Asignar '}}Componentes {{justView ? 'de' : 'a'}} {{modalidadOptions.length && modalidadOptions[0]?.label || 'Modalidad'}}</CModalTitle>
            <CIcon class="ms-auto icon-rotate" icon="cil-exit-to-app" size="xl" @click="shouldClose" />
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper 
                :formData="formData"
                :btnAction="[addComponente]"
                :customVals="customValidations"
                :showCustom="!justView"
                asStart
            >
                <template v-if="!justView" #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :options="getOptions(formObj.options)"
                        :keyPress="formObj.kpress"
                    />
                </template>
                <template #outFreeCode="formOutCode">
                    <CCTable 
                        :ref="tRef" 
                        v-bind:class="formOutCode.class || ''"
                        v-model="currentPage" 
                        :tableData="tableData" 
                        :inTableData="inTableData"
                        :setTableState="setTableState"
                        :showPagination="showPagination"
                        :setShowPagination="setShowPagination"
                        :loading="tableDataLoading"
                        :optionsColWidth="optionsColWidthRem"
                        maxHeight="10rem"
                        doNotEmit
                        :showEdit="false"
                        :showView="false"
                        :showDelete="false"
                        hideActions
                        :optionsLabelsDynamic="{ componenteSeccionOptions, modalidadOptions }"
                    />
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import useVuelidate from '@vuelidate/core';
import componenteModalidadRegisterVals from '@/_validations/gestionProductos/componenteModalidadRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCTable from '@/components/custom/CCTable.vue';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';

// METHODS
function clearInputs () {
    this.componenteSeccion = 'seleccione';
    this.justView = false;
    this.v$.$reset();
}

async function fillInputs (data) {
    this.componenteSeccionOptions = data.options.map(o => ({...o}));
    this.modalidadOptions = data.modOptions.map(mo => ({...mo}));
    this.modalidad = data.modalidad;
    this.tableData = data.componentes.map(c => ({...c}));
    this.v$.$reset();
    this.justView = data.justView;
}

function shouldClose () {
    this.v$.$reset();
    const data = {
        obj: true,
        mode: this.mode,
        componentesDeModalidad: this.justView ? [] : this.tableData.map(c => ({...c})),
        justView: !!this.justView,
    };
    this.justView = false;
    this.close(data);
}

// COMPUTED
function isMValid () {
    return !this.v$.$invalid
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
}

export default {
    components: { CCInput, CCFormStructureWrapper, CCTable },
    name: 'ModalModalidadComponente',
    mixins: [ globalMixin, tableGenerals],
    data() {
        return {
            componenteSeccion: 'seleccione',
            modalidad: '',
            componenteSeccionOptions: [], 
            modalidadOptions: [],
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        formData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
    },
    setup() {
        const optionsColWidthRem = 5
        const forTabla = [
                [{name: 'Modalidad', attr: 'modalidad', slct:'modalidadOptions'}, 50], 
                [{name: 'Componente', attr: 'guid', slct:'componenteSeccionOptions'}, 50],
            ]
        const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

        return {
            v$: useVuelidate(),
            ...setupData(1),
            inTableData,
            optionsColWidthRem,
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        shouldClose,
        addComponente: function () {
            const compIn = this.tableData.some(comp => comp.guid == this.componenteSeccion);
            if (compIn) {
                this.fireToastMsg('Ya este componente se encuentra agregado para esta modalidad', {icon: 'info'});
                return;
            }

            this.tableData = [ ...this.tableData, { modalidad: this.modalidad, guid: this.componenteSeccion } ];
            this.clearInputs();
        },
    },
    computed: {
        isMValid,
    },
    validations () {
        return componenteModalidadRegisterVals(this.visible);
    },
    watch: {
        visible: visibleW,
    },
    mounted: function () {
        this.tRef = 'componenteModalidadTable';
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.icon-rotate {
    transform: rotate(180deg);
    cursor: pointer;
    color: $dark-gray;
}
</style>