<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Reporte estado de cuenta</h5>
        </CCardHeader>
        <CCardBody>
          <div class="row mb-3">
            <CCol xs="12" lg="4">
              <CCol class="mb-1">Fecha desde</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'date',
                }"
                v-model="fechaDesde"
                :v_="v$.fechaDesde"
                :disabled="loading"
                :sinceDate="nowDate()"
                :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="4">
              <CCol class="mb-1">Fecha hasta</CCol>
              <CCInput
                :allData="{
                  type: 'date',
                  errorMessageClasses: 'wrong-input',
                }"
                v-model="fechaHasta"
                :v_="v$.fechaHasta"
                :disabled="loading"
                :sinceDate="nowDate()"
                :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="4">
              <CCol class="mb-1">Moneda</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="moneda"
                :v_="v$.moneda"
                :execute="
                  () => {
                    v$.moneda.$touch()
                  }
                "
                :options="monedaOptions"
                hideSeleccione
              />
            </CCol>
          </div>
          <div class="row mb-3">
            <div class="col-md-4" v-if="this.auth_tipoUsuario != '0' && this.auth_tipoUsuario != '20'">
              <CCol class="mb-1">Entidad</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="entidad"
                :v_="v$.entidad"
                :disabled="loading"
                :options="entidadOptions"
                :execute="
                  () => {
                    v$.entidad.$touch()
                  }
                "
                hideSeleccione
              />
            </div>
            <div
              v-if="
                this.auth_tipoUsuario === '24' &&
                (this.entidad === '21' ||
                  this.entidad === '22' ||
                  this.entidad === '23')
              "
              class="col-md-4"
            >
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="comprador"
                :v_="v$.comprador"
                :disabled="loading"
                :options="compradorOptions"
                :execute="
                  () => {
                    v$.comprador.$touch()
                  }
                "
                hideSeleccione
              />
            </div>
            <div v-if="(this.auth_tipoUsuario === '22' && this.entidad === '21') || (this.auth_tipoUsuario === '23' && this.entidad === '21') || (this.entidad === '21' && this.comprador != 'MDA=')" class="col-md-4">
              <CCol class="mb-1">Centro de apuesta</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="puntoVenta"
                :v_="v$.puntoVenta"
                :options="puntoVentaOptions"
                :execute="
                  () => {
                    v$.puntoVenta.$touch()
                  }
                "
                hideSeleccione
              />
            </div>
            <div v-if="(this.auth_tipoUsuario === '22' && this.entidad === '23')|| (this.auth_tipoUsuario === '23' && this.entidad === '23') || (this.entidad === '23' && this.comprador != 'MDA=')" class="col-md-4">
              <CCol class="mb-1">Grupo</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="grupo"
                :v_="v$.grupo"
                activateTouched
                :options="grupOptions"
                :execute="
                  () => {
                    v$.grupo.$touch()
                  }
                "
                hideSeleccione
              />
            </div>
          </div>
          <CCol xs="12" class="mt-3">
            <CButton
              @click="fetchConsulta()"
              ref="acceptbtn"
              :disabled="!isValid || loading"
              class="btn-primario"
            >
            <CCLoader v-if="loading" inline />&nbsp;
              Buscar
            </CButton>
            <template v-if="tableData.length">
              <CButton
                @click="funcionImprimirDesc()"
                ref="cancelbtn"
                :class="
                  validarBtnImpr ? 'btn-primario mx-2' : 'btn-primario mx-2'
                "
                :disabled="validarBtnImpr || printing"
              >
                {{ this.auth_tipoUsuario === '0' ? 'Imprimir' : 'Descargar Excel' }}
              </CButton>
              <CButton
                v-if="auth_tipoUsuario != '0'"
                @click="descarExcel(1)"
                :class="
                  validarBtnImpr ? 'btn-primario mx-2' : 'btn-primario mx-2'
                "
                :disabled="validarBtnImpr || printing"
              >
                Descargar txt 
              </CButton>
            </template>
          </CCol>
          <CRow class="mt-4" v-if="showTable">
            <CCard class="mb-4 wf-44 cardNo">
              <CCardBody>
                <span class="color-text">Saldo anterior: {{simboloMoneda}}<span v-numberComma:dot="{truncate: 2, val: saldoAnterior}">{{saldoAnterior}}</span></span> 
              </CCardBody>
            </CCard>
            <CCTable
              :ref="tRef"
              v-model="currentPage"
              :tableData="tableData"
              :inTableData="inTableData"
              :setTableState="setTableState"
              :showPagination="showPagination"
              :setShowPagination="setShowPagination"
              :viewFromTable="viewDetailEstadoCuenta"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem"
              :showDelete="false"
              :showEdit="false"
              maxHeight="30rem"
              doNotEmit
              :pageSize="10"
              :showCurrency="false"
              :resumeRow="{ label: 'total', data: totalesTabla}"
              :truncateNum="2"
            />
          </CRow>
          <!-- <CRow class="mt-3" v-if="showTable">
            <div class="d-flex flex-row" v-for="item in this.totalesTabla" :key="item">
                <div class="col-md-2 borderColor">
                    <CCol class="mb-1 bckColor color-text"></CCol>
                    <CCol class="mb-1 color-text">Total</CCol>
                </div>
                <div class="col-md-2 borderColor">
                    <CCol class="mb-1 bckColor color-text">Ventas</CCol>
                    <CCol class="mb-1 color-text">{{ item.ventas }}</CCol>
                </div>
                <div class="col-md-2 borderColor">
                    <CCol class="mb-1 bckColor color-text">Premios</CCol>
                    <CCol class="mb-1 color-text">{{ item.premios }}</CCol>
                </div>
                <div class="col-md-2 borderColor">
                    <CCol class="mb-1 bckColor color-text">Reintegros</CCol>
                    <CCol class="mb-1 color-text">{{ item.reintegros }}</CCol>
                </div>
                <div class="col-md-1 borderColor">
                    <CCol class="mb-1 bckColor color-text">Ganancias</CCol>
                    <CCol class="mb-1 color-text">{{ item.ganancias }}</CCol>
                </div>
                <div class="col-md-1 borderColor">
                    <CCol class="mb-1 bckColor color-text">Entradas</CCol>
                    <CCol class="mb-1 color-text">{{ item.entradas }}</CCol>
                </div>
                <div class="col-md-1 borderColor">
                    <CCol class="mb-1 bckColor color-text">Salidas</CCol>
                    <CCol class="mb-1 color-text">{{ item.salidas }}</CCol>
                </div>
                <div class="col-md-1 borderColor">
                    <CCol class="mb-1 bckColor color-text">Saldo</CCol>
                    <CCol class="mb-1 color-text">{{ item.saldo }}</CCol>
                </div>
            </div>
          </CRow> -->
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalDetail
    ref="modalDetailDecorator"
    :visible="detailModalVisible"
    :data="detailModalDta"
    :close="closeModal"
    :mode="detailMode"
  />
</template>
  
<script>
import useVuelidate from '@vuelidate/core'
import reportEstadoCuentaVals from '@/_validations/reportEstadoCuenta/reportEstadoCuenta'
import { loadToggler } from '@/composables/loadToggler'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import CCTable from '@/components/custom/CCTable.vue'
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import { modalSetupData } from '@/composables/modalDataStruct'
import CCInput from '@/components/custom/CCInput.vue'
import printGenerals from '@/_mixins/printGenerals'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { dateDepocher, parrafr, depoched, dateTimeOfTheDay, theBreak, rounderPlusOne } from '@/_helpers/formatters'
import { msgError } from '@/_helpers/general'
import modalGenerals from '@/_mixins/modalGenerals'
import ModalDetail from './modalDetail.vue'
import * as XLSX from 'xlsx/xlsx.mjs'
import { numberComma } from '@/directives/number'
import CCLoader from '@/components/custom/CCLoader.vue';
import { LABELS as labels } from '@/_helpers/labels'

function limpiarCerrar() {
  this.showTable = false
  this.loading = false
  this.fechaDesde = new Date(new Date().toDateString())
  this.fechaHasta = new Date(new Date().toDateString())
  this.moneda = 'MDA='
  this.entidad = 'MDA='
  this.comprador = 'MDA='
  this.puntoVenta = 'MDA='
  this.grupo = 'MDA='
  this.fechaDesde = new Date(new Date().toDateString())
  this.fechaHasta = new Date(new Date().toDateString())
  this.consultedData = {
    fechaDesde: new Date(),
    fechaHasta: new Date(),
  }
  this.v$.$reset()
}

function formatearNumero(numero) {
  // Convertir el número a una cadena.
  const numeroStr = numero.toString();

  // Invertir la cadena.
  const numeroStrInvertido = numeroStr.split('').reverse().join('');

  // Añadir un punto cada tres dígitos.
  let numeroStrFormateado = numeroStrInvertido.match(/\d{1,3}/g).join('.');

  // Invertir la cadena de nuevo.
  numeroStrFormateado = numeroStrFormateado.split('').reverse().join('');

  // Devolver el número formateado.
  return numeroStrFormateado;
}

async function viewDetailEstadoCuenta(data, mode) {
  this.actionFromTable(
    {
      // para abrir modal
      fecha: data.fecha_,
      codigoAsociado: data.codigoAsociado,
      moneda: this.moneda,
    },
    mode,
  )
}

//*******************************************************CONSULTA REPORTE ESTADO DE CUENTA ****************************************************
async function fetchConsulta() {
  //e.preventDefault();
  // if (this.fechaDesde.getMonth() != this.fechaHasta.getMonth()) {
  //   this.fireToastMsg(
  //     'El rango de fechas debe encontrarse en el mismo mes.',
  //     {},
  //   )
  //   return
  // }

  const throwErr = (rjson) => {
    const msg = msgError(rjson)
    self.showTable = false
    self.tableData = []
    self.entidad = 'MDA='
    self.comprador = 'MDA='
    self.puntoVenta = 'MDA='
    self.grupo = 'MDA='
    self.moneda = 'MDA='
    self.validarBtn = true
    return caseWrong({
      self,
      error: msg || rjson,
      passMsg: Boolean(msg),
      loading: 'loading',
      boolError: true,
      resetVals: true,
      touchVal: 'fechaHasta',
      defaultMsg: labels.defaultErrorMsgPlus('cargar la información de la tabla'),
    })
  }
  this.loading = true
  const self = this
  if (self.auth_tipoUsuario === '0' || self.auth_tipoUsuario === '20') {
    if (
      self.puntoVenta === 'MDA=' &&
      self.grupo === 'MDA=' &&
      self.comprador === 'MDA=' &&
      self.entidad === 'MDA='
    ) {
      self.auxCodigoEntidad = 'MDAwMDAw'
      self.auxTipoEntidad = 'MDA='
    }
  } else if (self.auth_tipoUsuario === '22' || self.auth_tipoUsuario === '23') {
    if (self.puntoVenta === 'MDA=' && self.grupo != 'MDA=' && self.entidad != 'MDA=') {
      self.auxTipoEntidad = window.btoa(self.entidad)
      self.auxCodigoEntidad = self.grupo
    } else if (self.grupo === 'MDA=' && self.entidad != 'MDA=' && self.puntoVenta != 'MDA=') {
      self.auxTipoEntidad = window.btoa(self.entidad)
      self.auxCodigoEntidad = self.puntoVenta
    } else if (self.entidad === 'MDA=' && self.puntoVenta === 'MDA=' && self.grupo === 'MDA=') {
      self.auxTipoEntidad = 'MDA='
      self.auxCodigoEntidad = 'MDAwMDAw'
    }
  } else if (self.auth_tipoUsuario === '24') {
    if (self.entidad === '22') {
      self.auxTipoEntidad = window.btoa(self.entidad)
      self.auxCodigoEntidad = self.comprador
    } else if (self.entidad === '21') {
      self.auxTipoEntidad = window.btoa(self.entidad)
      self.auxCodigoEntidad = self.puntoVenta
    } else if (self.entidad === '23') {
      self.auxTipoEntidad = window.btoa(self.entidad)
      self.auxCodigoEntidad = self.grupo
    } else if (self.entidad === 'MDA=') {
      self.auxTipoEntidad = 'MDA='
      self.auxCodigoEntidad = 'MDAwMDAw'
    }
  }
  fetchRequest({
    api: `${this.$apiReporte}ConsultarEstadoCuenta/${
      this.auth_tokenUsuario
    }/${depoched(self.fechaDesde.getTime()).toString()}/${depoched(
      self.fechaHasta.getTime(),
    ).toString()}/${self.moneda}/${self.auxTipoEntidad}/${
      self.auxCodigoEntidad
    }`,
    self,
    success: (rjson) => {
      console.log("rjson fechas0",rjson)
      const { listaDatos, saldoAnterior } = rjson.datos;
      self.saldoAnterior = +saldoAnterior;
      self.loading = false;
      let totalSaldo = 0;

      self.tableData = listaDatos.map((val) => {
        totalSaldo = val.saldo;
        return {
          fecha: dateDepocher(val.fecha),
          ventas: val.ventas,
          premios: val.premios,
          // reintegros: val.reintegros,
          // ganancias: val.ganancias,
          fecha_: val.fecha,
          entradas: val.entradas,
          salidas: val.salidas,
          saldo: val.saldo,
          codigoAsociado: val.codigoAsociado,
          simboloMoneda: val.simboloMoneda,
          comision: val.comision,
          utilidad: val.utilidad,
        }
      })

      self.simboloMoneda = listaDatos[0].simboloMoneda;

      const totalEntradas = rounderPlusOne(self.tableData, 'entradas');
      // const totalGanancias = rounderPlusOne(self.tableData, 'ganancias');
      const totalPremios = rounderPlusOne(self.tableData, 'premios');
      // const totalReintegros = rounderPlusOne(self.tableData, 'reintegros');
      const totalSalidas = rounderPlusOne(self.tableData, 'salidas');
      const totalVentas = rounderPlusOne(self.tableData, 'ventas');
      const totalComision = rounderPlusOne(self.tableData, 'comision');
      const totalUtilidad = rounderPlusOne(self.tableData, 'utilidad');

      self.totalesTabla = {
        total: '',
        moneda: self.simboloMoneda,
        entradas: totalEntradas,
        // ganancias: totalGanancias,
        premios: totalPremios,
        // reintegros: totalReintegros,
        saldo: totalSaldo,
        salidas: totalSalidas,
        ventas: totalVentas,
        comision: totalComision,
        utilidad: totalUtilidad,
      };
      self.showTable = true
      self.consultedData.fechaDesde = self.fechaDesde
      self.consultedData.fechaHasta = self.fechaHasta
      self.tableData.length > 0
        ? (self.validarBtnImpr = false)
        : (self.validarBtnImpr = true)
    },
    error: throwErr,
  })
}

//*******************************************************LISTAR MONEDA****************************************************
async function fetchMoneda() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarMoneda/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.monedaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.monedaOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.monedaOptions,
      ]
    },
    error: (rjson) => {
      console.error('fetchMoneda', rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//*******************************************************LISTAR ENTIDAD****************************************************
async function fetchEntidad() {
  const self = this
  self.usuarioTipo =
    self.auth_tipoUsuario === '0' ? 'MjE=' : window.btoa(self.auth_tipoUsuario)

  fetchRequest({
    api: `${this.$apiGeneral}ListarEntidad/MDE=/${self.usuarioTipo}`,
    self,
    success: (rjson) => {
      self.entidadOptions = rjson.datos.map((val) => {
        return {
          value: window.atob(val.codigo),
          label: val.descripcion,
        }
      })
      self.entidadOptions = [
        { label: 'TODOS', value: 'MDA=' },
        ...self.entidadOptions,
      ]
    },
    error: (rjson) => {
      console.error('entidad error', rjson)
    },
  })
}
//*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.compradorOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//*******************************************************LISTAR CENTRO APUESTA****************************************************
async function fetchPuntoVenta() {
  const self = this
  if (
    self.auth_tipoUsuario === '22' ||
    self.auth_tipoUsuario === '23' ||
    self.auth_tipoUsuario === '0'
  ) {
    self.auxValorPtoVenta = 'MDAwMDAwMQ==' // se concatena 1 para condicion en el procedimiento de puntos prepagos
  } else if (self.auth_tipoUsuario === '24') {
    let auxPtoVenta = window.atob(this.comprador)
    auxPtoVenta = auxPtoVenta + '1' // se concatena 1 para condicion en el procedimiento de puntos prepagos
    auxPtoVenta = window.btoa(auxPtoVenta)

    self.auxValorPtoVenta = auxPtoVenta
  }

  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${self.auxValorPtoVenta}`,
    self,
    success: (rjson) => {
        self.puntoVentaOptions = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.puntoVentaOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.puntoVentaOptions,
        ]
    },
    error: (rjson) => {
       self.puntoVentaOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
        ]
      self.puntoVenta = 'MDA='
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//****************************************************************LISTAR GRUPO****************************************************
async function fetchGrupo() {
  const self = this
  if (
    self.auth_tipoUsuario === '22' ||
    self.auth_tipoUsuario === '23' ||
    self.auth_tipoUsuario === '0'
  ) {
    self.auxValorGrupo = 'MDAwMDAw'
  } else if (self.auth_tipoUsuario === '24') {
    self.auxValorGrupo = this.comprador
  }
  fetchRequest({
    api: `${this.$apiGeneral}ListarGrupos/${self.auth_tokenUsuario}/${self.auxValorGrupo}`,
    self,
    success: (rjson) => {
        self.grupOptions = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.grupOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.grupOptions,
        ]
    },
    error: (rjson) => {
      self.grupOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
      ]
      self.grupo = 'MDA='
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

function funcionImprimirDesc() {
  if (this.auth_tipoUsuario == 0) this.sendToPrint();
  else this.descarExcel()
}

function sendToPrint() {
  const self = this;
  this.printing = true;
  const data = {
    centerName: this.auth_nombrePuntoVenta,
    sinceDate: dateDepocher(this.consultedData.fechaDesde, false, true, true),
    untilDate: dateDepocher(this.consultedData.fechaHasta, false, true, true),
    // mainTitle: 'Cuadre de Caja',
    fechaReporte: new Date().toLocaleString(),
  }
  
// console.log('totalesTabla',this.totalesTabla);
  let auxData = []
  const itm = {...this.totalesTabla};
  auxData.push(
    ...parrafr(
      itm.ventas != undefined ? 'Ventas:' + '.....' + itm.ventas + ' ' + itm.moneda : '',
      false,
      self.auth_columnaTicket,
      '',
    ),
    ...parrafr(
      itm.premios != undefined ? 'Premios:' + '.....' + itm.premios + ' ' + itm.moneda : '',
      false,
      self.auth_columnaTicket,
      '',
    ),
    // ...parrafr(
    //   itm.reintegros != undefined
    //     ? 'Reintegros:' + '.....' + itm.reintegros + ' ' + itm.moneda
    //     : '',
    //   false,
    //   self.auth_columnaTicket,
    //   '',
    // ),
    ...parrafr(
      itm.comision != undefined
        ? 'Comisión:' + '.....' + itm.comision + ' ' + itm.moneda
        : '',
      false,
      self.auth_columnaTicket,
      '',
    ),
    // ...parrafr(
    //   itm.ganancias != undefined
    //     ? 'Ganancias:' + '.....' + itm.ganancias + ' ' + itm.moneda
    //     : '',
    //   false,
    //   self.auth_columnaTicket,
    //   '',
    // ),
    ...parrafr(
      itm.utilidad != undefined
        ? 'Utilidad:' + '.....' + itm.utilidad + ' ' + itm.moneda
        : '',
      false,
      self.auth_columnaTicket,
      '',
    ),
    ...parrafr(
      itm.entradas != undefined ? 'Entradas:' + '.....' + itm.entradas + ' ' + itm.moneda : '',
      false,
      self.auth_columnaTicket,
      '',
    ),
    ...parrafr(
      itm.salidas != undefined ? 'Salidas:' + '.....' + itm.salidas + ' ' + itm.moneda : '',
      false,
      self.auth_columnaTicket,
      '',
    ),
    ...parrafr(
      itm.saldo != undefined ? 'Saldo:' + '.....' + itm.saldo + ' ' + itm.moneda : '',
      false,
      self.auth_columnaTicket,
      '',
    )
  );

  const fechaActual = dateDepocher(new Date(), false, true, true);
  const timeActual = dateTimeOfTheDay(new Date().getTime(), false, false, '', ':');

  const ticketDta = [
    ...parrafr(data.centerName, false, this.auth_columnaTicket, ''),
    ...parrafr("Fecha Actual:" + fechaActual + ' ' +timeActual,false,this.auth_columnaTicket,''),
    ...parrafr(
      'Fecha Desde:' + data.sinceDate,
      false,
      this.auth_columnaTicket,
      '',
    ),
    ...parrafr(
      'Fecha Hasta:' + data.untilDate,
      false,
      this.auth_columnaTicket,
      '',
    ),

    theBreak + theBreak,
    ...parrafr('Reporte Estado de Cuenta', false, this.auth_columnaTicket, ''),
    theBreak + theBreak,
    auxData.join(''),
  ]

  // const ticketName = data.mainTitle;
  const ticketDoc = ticketDta
  this.saveAndPrintFile({
    // nombreArchivo: ticketName,
    dataPrint: ticketDoc,
    onDone: () => { this.printing = false },
  })
}

function setup() {
  const authStore = useAuth()
  const {
    auth_tokenUsuario,
    auth_nombrePuntoVenta,
    auth_taquilla,
  } = storeToRefs(authStore)

  loadToggler()

  const optionsColWidthRem = 3.5
  const forTabla = [
    [{ name: 'Fecha', attr: 'fecha' }, 15],
    [{ name: 'Ventas', attr: 'ventas', dir: 'dot' }],
    [{ name: 'Premios', attr: 'premios', dir: 'dot' }],
    [{ name: 'Comisión', attr: 'comision', dir: 'dot' }],
    [{ name: 'Utilidad', attr: 'utilidad', dir: 'dot' }],
    [{ name: 'Entradas', attr: 'entradas', dir: 'dot' }],
    [{ name: 'Salidas', attr: 'salidas', dir: 'dot' }],
    [{ name: 'saldos', attr: 'saldo', dir: 'dot' }],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(2),
    v$: useVuelidate(),
    ...modalSetupData('detail'),
    inTableData,
    auth_tokenUsuario,
    auth_nombrePuntoVenta,
    auth_taquilla,
    optionsColWidthRem,
  }
}

function sinceUpperDesde() {
  const untilMonth = this.fechaHasta.getMonth() + 1
  const res = untilMonth - 6
  const decr = res > -1
  const date = new Date(
    `${this.fechaHasta.getFullYear() - (decr ? 0 : 1)}/${(decr
      ? res + 1
      : 12 + res + 1
    )
      .toString()
      .padStart(2, '0')}/01`,
  )
  return new Date(date.getTime())
}

function untilLowerHasta() {
  return new Date(this.fechaHasta.getTime())
}

// WATCH
function fechaHastaW(val) {
  const desde = this.fechaDesde.getTime()
  const hasta = val.getTime()
  if (hasta < desde) this.fechaDesde = new Date(val.getTime())
  else {
    const yearD = this.fechaDesde.getFullYear(),
      yearH = val.getFullYear(),
      valMo = val.getMonth() + 1,
      desdeMo = this.fechaDesde.getMonth()
    const distance = yearD != yearH ? 12 - desdeMo + valMo : valMo - desdeMo
    if (distance > 6) {
      const changeTo = desdeMo + 1 + 1 > 12
      this.fechaDesde = new Date(
        new Date(
          `${changeTo ? yearH : yearD}/${(
            valMo + (changeTo || valMo > 5 ? -5 : 7)
          )
            .toString()
            .padStart(2, '0')}/01`,
        ).getTime(),
      )
    }
  }
  this.v$.fechaHasta.$touch()
}

function fechaDesdeW(val) {
  const desde = val.getTime()
  const hasta = this.fechaHasta.getTime()
  if (desde > hasta) this.fechaHasta = new Date(val.getTime())
  this.v$.fechaDesde.$touch()
}

function descarExcel(cond = 0) {
  let data_ = this.tableData.map((val) => {
    // self.tableData = rjson.datos.map((val) => {
        return {
          fecha: val.fecha,
          ventas: val.ventas,
          premios: val.premios,
          comision: val.comision,
          utilidad: val.utilidad,
          entradas: val.entradas,
          salidas: val.salidas,
          saldo: val.saldo,
          simboloMoneda: val.simboloMoneda,
        }
    
    // const obj = { ...v }
    // if (obj['codigoMovimiento']) delete obj['codigoMovimiento']
    // if (obj['codigoAsociado']) delete obj['codigoAsociado']
    // if (obj['fecha_']) delete obj['fecha_']
    // //if (obj['simboloMoneda']) delete obj['simboloMoneda']
    // return obj
  })

  let data_Aux = this.tableData.map((val) => {
   return {
    'Fecha;': val.fecha + ';',
    'Ventas;': val.ventas + ';',
    'Premios;': val.premios + ';',
    // 'Reintegros;': val.reintegros + ';',
    'Comisión;': val.comision + ';',
    // 'Ganancias;': val.ganancias + ';',
    'Utilidad;': val.utilidad + ';',
    'Entradas;': val.entradas + ';',
    'Salidas;': val.salidas + ';',
    'Saldo;': val.saldo + ';',
    'SimboloMoneda': val.simboloMoneda + ';'
   }
  })
  
  const fechaActual = new Date();
  const dia = fechaActual.getDate();
  const mes = fechaActual.getMonth() + 1; // Los meses en JavaScript son indexados desde 0, por lo que se suma 1
  const anio = fechaActual.getFullYear();
  
  let type = 'xlsx';
  if (cond == 1) type = 'txt';
  let data = XLSX.utils.json_to_sheet(cond == 1 ? data_Aux : data_)
  const workbook = XLSX.utils.book_new()
  const filename = `EstadoCuenta${dia}${mes}${anio}`
  XLSX.utils.book_append_sheet(workbook, data, filename)
  XLSX.writeFile(workbook, `${filename}.${type}`)
}

//

function data() {
  return {
    loading: false,
    printing: false,
    showTable: false,
    fechaDesde: new Date(new Date().toDateString()),
    fechaHasta: new Date(new Date().toDateString()),
    moneda: 'MDA=',
    simboloMoneda: '',
    entidad: 'MDA=',
    comprador: 'MDA=',
    puntoVenta: 'MDA=',
    grupo: 'MDA=',
    monedaOptions: [],
    entidadOptions: [],
    compradorOptions: [],
    puntoVentaOptions: [],
    grupOptions: [],
    consultedData: {
      fechaDesde: new Date(),
      fechaHasta: new Date(),
    },
    usuarioTipo: '',
    auxCodigoEntidad: '',
    auxTipoEntidad: '',
    auxValorPtoVenta: '',
    auxValorGrupo: '',
    validarBtn: true,
    validarBtnImpr: true,
    totalesTabla: {},
    auth_tipoUsuario: ''
  }
}
export default {
  data,
  setup,
  computed: {
    isValid: function () {
      const byDflt = ['20','22','23','24'].includes(this.auth_tipoUsuario || '');
      return (byDflt && this.moneda != 'MDA=' && this.entidad == 'MDA=') || !this.validarBtn
    },
    sinceUpperDesde,
    untilLowerHasta,
    // isInvalid
  },
  components: { CCTable, CCInput, ModalDetail, CCLoader },
  mixins: [tableGenerals, printGenerals, globalMixin, modalGenerals],
  methods: {
    limpiarCerrar,
    sendToPrint,
    fetchMoneda,
    // handlerSelect,
    fetchEntidad,
    fetchComprador,
    fetchPuntoVenta,
    fetchGrupo,
    fetchConsulta,
    viewDetailEstadoCuenta,
    descarExcel,
    funcionImprimirDesc,
    formatearNumero,
    valsMoneda: function (val) {
      if (this.auth_tipoUsuario === '0') {
        if (val != 'MDA=') this.validarBtn = false
        else this.validarBtn = true
      }else if(this.auth_tipoUsuario === '22' || this.auth_tipoUsuario === '23'){
        if(val != 'MDA=' && (this.entidad != 'MDA=' && (this.puntoVenta != 'MDA=' || this.grupo != 'MDA='))) this.validarBtn = false
        else this.validarBtn = true
      }else if(this.auth_tipoUsuario === '24'){
        if(val != 'MDA=' && (this.entidad != 'MDA=' && this.comprador != 'MDA=' || (this.puntoVenta != 'MDA=' || this.grupo != 'MDA='))) this.validarBtn = false
        else this.validarBtn = true
      }
    },
  },
  validations() {
    return reportEstadoCuentaVals(localStorage.getItem('tipoUsuario'))
  },
  watch: {
    fechaHasta: fechaHastaW,
    fechaDesde: fechaDesdeW,
    entidad: function (val) {
      if (this.auth_tipoUsuario === '22' || this.auth_tipoUsuario === '23') {
        if (val === '21') {
          this.fetchPuntoVenta()
          this.grupo = 'MDA='
          this.puntoVenta = 'MDA='
          this.comprador = 'MDA='
        } else if (val === '23') {
          this.grupo = 'MDA='
          this.puntoVenta = 'MDA='
          this.comprador = 'MDA='
          this.fetchGrupo()
        } else {
          this.grupo = 'MDA='
          this.puntoVenta = 'MDA='
          this.comprador = 'MDA='
          this.validarBtn = false
        }
      }
      if (val != 'MDA=') this.validarBtn = true;
      this.grupo = 'MDA='
      this.puntoVenta = 'MDA='
      this.comprador = 'MDA='
    },
    comprador: function (val) {
      if (['21','23'].includes(this.entidad) && val != 'MDA=') {
        if (this.entidad === '21') this.fetchPuntoVenta()
        else this.fetchGrupo()
        this.validarBtn = true;
      }
      if (this.auth_tipoUsuario === '24' && this.entidad === '22') {
        if (val != 'MDA=') this.validarBtn = false
        else this.validarBtn = true
        if (!this.validarBtn) this.valsMoneda(this.moneda);
      }
    },
    moneda: function (val) {
      this.valsMoneda(val);
    },
    puntoVenta: function (val) {
      if (
        this.auth_tipoUsuario === '22' ||
        this.auth_tipoUsuario === '23' ||
        this.auth_tipoUsuario === '24'
      ) {
        if (val != 'MDA=') this.validarBtn = false
        else this.validarBtn = true
        if (!this.validarBtn) this.valsMoneda(this.moneda);
      }
    },
    grupo: function (val) {
      if (
        this.auth_tipoUsuario === '22' ||
        this.auth_tipoUsuario === '23' ||
        this.auth_tipoUsuario === '24'
      ) {
        if (val != 'MDA=') this.validarBtn = false
        else this.validarBtn = true
        if (!this.validarBtn) this.valsMoneda(this.moneda);
      }
    },
  },
  directives: {
    numberComma,
  },
  mounted() {
    this.auth_tipoUsuario = localStorage.getItem('tipoUsuario')
    this.tRef = 'reporteEstadoCuenta'
    this.fetchMoneda()
    if (this.auth_tipoUsuario != '0' && this.auth_tipoUsuario != '20') this.fetchEntidad()
    if (this.auth_tipoUsuario === '24') this.fetchComprador()
  },
}
</script>
  
<style lang="scss" scoped>
.aling-custom {
  @include mediaquery(lg, $other-size: 'xl') {
    text-align: end !important;

    button {
      width: auto !important;
    }
  }
}

.border-table {
  border: 1px solid #dae8fd;
}

.back-title {
  background: #dae8fd;
}

.color-text {
  color: #000;
  font-weight: 600;
}

.borderColor{
    border: 1px solid #dae8fd;
    text-align: center;
}
.bckColor{
    background: #dae8fd
}
</style>