<template>
  <CModal
    size="lg"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle>Movimientos</CModalTitle>
    </CModalHeader>
    <CModalBody>
      <CRow>
        <CCol class="mt-3" xs="12" lg="12" v-if="tableData.length > 0">
          <CCTable
            :ref="tRef"
            v-model="currentPage"
            :tableData="tableData"
            :inTableData="inTableData"
            :setTableState="setTableState"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :loading="tableDataLoading"
            maxHeight="25rem"
            doNotEmit
            hideActions
            :truncateNum="2"
          />
        </CCol>
        <CCol class="mt-3" xs="12" lg="12" v-else>
          <span class="color-text">{{mensajeError}}</span>
        </CCol>
      </CRow>
    </CModalBody>
  </CModal>
</template>
  
  <script>
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { /* caseWrong */ fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
// import { LABELS as labels } from '@/_helpers/labels'

function shouldClose() {
  this.tableData = []
  this.close()
}

function setup() {
  const optionsColWidthRem = 5
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  const forTabla = [
    [{ name: 'Fecha', attr: 'fecha' }],
    [{ name: 'Movimiento', attr: 'movimiento' }],
    [{ name: 'Forma de pago', attr: 'formpago' }],
    [{ name: 'Moneda', attr: 'moneda' }],
    [{ name: 'Entrada', attr: 'entradas', dir: 'dot' }],
    [{ name: 'Salida', attr: 'salidas', dir: 'dot' }],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    inTableData,
    optionsColWidthRem,
    auth_tokenUsuario,
  }
}

async function fillInputs(data) {

  if (data.codigoAsociado) {
    this.fetchMovimiento(data.moneda, data.fecha, data.codigoAsociado)
  }
}

function visibleW() {
  this.fillInputs(this.data)
}

//*******************************************************LISTAR DETALLE MOVIMIENTO****************************************************
async function fetchMovimiento(moneda, fecha, codAsociado) {
  const self = this
  fetchRequest({
    api: `${this.$apiReporte}ListarMovimientos/${self.auth_tokenUsuario}/${fecha}/${moneda}/${codAsociado}`,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos.map((val) => {
        return {
          fecha: val.fechaMovimiento,
          entradas: val.montoEntrada,
          movimiento: val.descripcionMovimiento,
          formpago: val.descripcionMedioPago,
          moneda: val.descripcionMoneda,
          salidas: val.montoSalida,
        }
      })
    },
    error: (rjson) => {
      // console.log('error', rjson)
      self.mensajeError = rjson.msg
      // self.showError 
      // return caseWrong({
      //   self,
      //   error: rjson.msg || rjson,
      //   passMsg: Boolean(rjson.msg),
      //   defaultMsg: labels.defaultErrorMsg,
      // })
    },
  })
}

export default {
  name: 'ModalDetailEstadoCuenta',
  setup,
  components: { CCTable },
  mixins: [tableGenerals, globals],
  methods: {
    fillInputs,
    shouldClose,
    fetchMovimiento,
  },
  props: {
    visible: Boolean,
    close: Function,
    data: Object,
  },
  mounted() {
    this.tRef = 'tableDetailEstadoCuenta'
  },
  data() {
    return {
      nombreSorteo: '',
      modalidad: '',
      simbolo: '',
      montoApuesta: '',
      fecha: '',
      hora: '',
      serial: '',
      acumMontoApuesta: 0,
      mensajeError: ''
    }
  },
  watch: {
    visible: visibleW,
  },
}
</script>
  
  <style>
  .color-text {
    color: #000;
    font-weight: 600;
}
</style>