<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar subGrupo</h5></CCardHeader>
        <CCardBody>
          <CCFormStructureWrapper 
            :formData="subGroupRegister" 
            :btnAction="[addEsquemaNegociacion]"
            :customVals="customValidations"
          >
            <template #formOut="formObj">
              <CCInput  
                :allData="formObj"
                v-model="v$[formObj.model].$model" 
                :v_="v$[formObj.model]" 
                :col="formObj.col"
                :options="getOptions(formObj.options)"
                :hasUnless="formObj.unless"
                :disabled="disableField === formObj.model || formObj.disabled"
                :keyPress="formObj.kpress"
                :loaders="{loadingGeo}"
                :execute="($event) => {callFiller($event, 'fillSubGroupData')}"
              />
              <CCol v-if="!disableField && formObj.model === 'rif'" xs="12" class="d-lg-none mb-3">
                <CButton class="btn-primario w-100" :disabled="v$.rif.$invalid" @click="fillSubGroupData">
                  Buscar
                </CButton>
              </CCol>
            </template>
            <template #formIn="inCol">
              <CCInput
                :allData="inCol"
                v-model="v$[inCol.model].$model" 
                :v_="v$[inCol.model]" 
                :col="inCol.col"
                :options="getOptions(inCol.options)"
                :hasUnless="inCol.unless"
                :disabled="disableField === inCol.model || inCol.disabled"
                :keyPress="inCol.kpress"
                :loaders="{loadingGeo}"
                :execute="($event) => {callFiller($event, 'fillSubGroupData')}"
              />
            </template>
            <template #freeCode>
              <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :unselectFromTable="eraseFromTable"
                :alertMsgs="[labels.sureDelete(true, 'esquema', false, ' de negociacion'), labels.sureDelete(false, 'esquema de negociacion', false), 
                  labels.deleteAll('esquemas de negociacion', false), labels.deleteOne('esquema de negociacion', false)]"
                :viewFromTable="actionFromTable"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="10rem"
                doNotEmit
                :showEdit="false"
              />
            </template>
          </CCFormStructureWrapper>
        </CCardBody>
        <CCardFooter class="d-flex justify-content-center buttons-custom flex-wrap">
            <CButton ref="acceptbtn" class="btn-primario m-1" @click="actionSubGroup" :disabled="!isValid">
              {{ disableField ? 'Guardar' : 'Registrar' }}
            </CButton>
            <!--  -->
            <CButton ref="cancelbtn" class="btn-primario m-1" @click="clearInputs">
              Cancelar
            </CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
  <ModalEsquemaNegociacion 
    ref="modalesquemaDecorator"
    :visible="esquemaModalVisible" 
    :data="esquemaModalDta"
    :close="closeModal" 
    mode="view"
    :esquemaData="esquemaRegister"
    :showFooter="false"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import { tableDataStruc, setupData, optionsColWidthRemStup } from '@/composables/tableDataStruc';
import { esquemaRegister, subGroupRegister } from '@/_helpers/formData';
import useVuelidate from '@vuelidate/core';
import subGroupRegisterVals from '@/_validations/subGroupRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import { LABELS as labels } from '@/_helpers/labels';
import globals from '@/_mixins/globals';
import esquemaGenerals from '@/_mixins/esquemaGenerals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import consumosVarios from '@/_mixins/consumosVarios';
import geoSet from '@/_mixins/geoSet';
import ModalEsquemaNegociacion from '@/components/shared/modalEsquemaN.vue';
// MOMENTANEO
import { useEsquemanegociacion } from '@/store/esquemanegociacion';
import { useGrupolistero } from '@/store/grupolistero';
import { useSubGrupo } from '@/store/subgrupo';
import { storeToRefs } from 'pinia';
import { modalSetupData } from '@/composables/modalDataStruct';
import { useAuth } from '@/store/auth';
import { useUtils } from '@/store/utils';
// 

// METHODS
function actionSubGroup () {
  const subGrupo = this.getSubGrupoData(); // MOMENTANEO
  if (this.disableField) {
    this.editSubGrupo(subGrupo) // MOMENTANEO
    this.fireToastMsg('El SubGrupo fue actualizado con éxito.', { icon: 'success' });
    this.justReset();
  }
  else { // REGISTRA
    this.addSubGrupo(subGrupo) // MOMENTANEO
    this.fireToastMsg('El SubGrupo fue registrado con éxito.', { icon: 'success' });
    this.clearInputs();
  }
}

//MOMENTANEO
function getSubGrupoData () {
  const subGroup = {};
  ['rif','name','phone1','phone2',
  'rName','rLastName','email',
  'state','city','municipality',
  'status','lister']
    .forEach(ths => subGroup[ths] = this[ths]);
  subGroup['esquemaNegociacionData'] = this.tableData.map(tdta => tdta.id);
  return subGroup
}
//

function justReset () {
  this.v$.$reset();
}

function clearInputs () {
    ['rif','name','phone1','phone2',
    'rName','rLastName','email',
    'state','city','municipality',
    'status','lister',
    // 
    /* 'gamblingType', */'esquemaNegociacion',
    // 
    'disableField']
    .forEach(ths => this[ths] = '');

    // this.esquemaNegociacionOptions = [];
    this.removeFromTable(true);
    this.justReset();
    this.cleanGeoAll();
}

function fillInputs (data) {
    ['rif','name','phone1','phone2',
    'rName','rLastName','email',
    'state','city','municipality',
    'status','lister']
    .forEach(ths => this[ths] = data[ths]);

    this.callFiller(['fillSelect', '', ['cities', 'municipalities'], this.state]);
}

function fillSubGroupData (e = null, type = 'keypress') {
  const self = this;
  if (e) e.preventDefault();
  if (!this.disableField && (!e || (e.pointerId > -1 && e.pointerType))) {
    const rif = this.rif.toUpperCase();
    const subGroup = this.subGrupos.find(subGrp => subGrp.rif === rif); // MOMENTANEO
    if (subGroup) {
      this.disableField = 'rif';
      this.v$.rif.$reset();
      this.fillInputs(subGroup);
      // setTimeout(() => {
        self.justReset();
        if (subGroup.esquemaNegociacionData.length && self.esquemaNegociacionOptions.length) {
          const esquemasId = self.esquemaNegociacionOptions.reduce((ids, esq) => ({ ...ids, [esq.value]: { description: esq.label, id: esq.value, guid: esq.value } }), {});
          self.tableData = subGroup.esquemaNegociacionData.reduce((esqs, esqId) => [...esqs, ...(esquemasId[esqId] ? [esquemasId[esqId]] : [])], []);
        } else self.tableData = [];
      // });
    } else {
      this.disableField = '';
      if (type === 'keypress') this.fireToastMsg('No se encontro ningun SubGrupo para este RIF.', { icon: 'warning' });
    }
  }
}

// COMPUTED
function isValid () {
  return this.v$.$anyDirty && !this.v$.$invalid
}

// WATCH
function listerW () {
  this.cleanEsq();
  if (this.v$.$anyDirty) this.tableData = [];
}

// function gamblingW (val) {
//   this.esquemaNegociacion = 'seleccione';
//   if (val && val !== 'seleccione') {
//     const esquemaDta = this.esquemas; // MOMENTANEO
//     const slectedOnes = esquemaDta.filter(esq => this.listerosEsquemas[this.lister]?.includes(esq.id) && esq.category === val);
//     this.esquemaNegociacionOptions = slectedOnes.map(esq => ({label: esq.description, value: esq.id}));
//   } 
//   else this.esquemaNegociacionOptions = [];
// }

// SETUP
function setup () {
  // MOMENTANEO
  const esquemanegociacionStore = useEsquemanegociacion()
  const grupolisteroStore = useGrupolistero()
  const subGrupoStore = useSubGrupo()
  const authStore = useAuth()
  const utilsStore = useUtils()
  const { esquemas } = storeToRefs(esquemanegociacionStore)
  const { listerosEsquemas } = storeToRefs(grupolisteroStore)
  const { subGrupos } = storeToRefs(subGrupoStore)
  const { auth_tokenUsuario } = storeToRefs(authStore)
  const { loadingGeo, stateOptions, cityOptions, municipalityOptions } = storeToRefs(utilsStore)
  const { addSubGrupo, editSubGrupo } = subGrupoStore
  const { setGeo, cleanGeo, cleanGeoAll } = utilsStore
  //
  loadToggler()

  const optionsColWidthRem = 4
  const forTabla = [
      // [{name: 'tipo jugada', attr: 'category', slct: true}, 25],
      [{name: 'descripcion', attr: 'description'/* , width: 'auto' */}],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('esquema'),
    v$: useVuelidate(),
    inTableData,
    labels,
    esquemaRegister: esquemaRegister(),
    subGroupRegister,
    // MOMENTANEO
    esquemas, 
    listerosEsquemas,
    subGrupos,
    addSubGrupo, 
    editSubGrupo, 
    // 
    auth_tokenUsuario,
    loadingGeo, stateOptions, cityOptions, municipalityOptions,
    setGeo, cleanGeo, cleanGeoAll,
    optionsColWidthRem,
  }
}

// MOUNTED
async function mounted () {
  this.tRef = 'subGrupoTable';
  this.setOnModify = true;

  await this.awaitFetchDone();
  await this.loadListeros();
  await this.loadEsquemas('Mw==');
}

export default {
    name: 'SubGrupo',
    components: { CCInput, CCTable, ModalEsquemaNegociacion, CCFormStructureWrapper },
    mixins: [ globals, tableGenerals, modalGenerals, esquemaGenerals, consumosVarios, geoSet ],
    data() {
      return {
        disableField: '',
        // //
        rif: '',
        name: '',
        phone1: '',
        phone2: '',
        rName: '', // nombre responsable
        rLastName: '',
        email: '',
        state: '',
        city: '',
        municipality: '',
        status: '',
        lister: '',
        // gamblingType: '',
        esquemaNegociacion: '',
        esquemaNegociacionOptions: [],
        // 
        // 
        listerOptions: [],
      }
    },
    setup,
    computed: {
      isValid,
    },
    methods: {
      justReset,
      actionSubGroup,
      clearInputs,
      fillInputs,
      fillSubGroupData,
      getSubGrupoData, //MOMENTANEO
    },
    watch: {
      // gamblingType: gamblingW,
      lister: listerW,
    },
    validations () {
      return subGroupRegisterVals();
    },
    mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>