<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Aprobar/Rechazar movimiento</h5></CCardHeader>
        <CCardBody>
          <CRow class="mb-5">
            <div class="col-md-12 row">
              <CCol xs="12" lg="4" v-if="this.auth_tipoUsuario === 24">
                <CCol class="mb-1">Comprador comercial</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                  }"
                  v-model="comprador"
                  :v_="v$.comprador"
                  :options="compradorOptions"
                  :execute="
                    () => {
                      v$.comprador.$touch()
                    }
                  "
                  hideSeleccione
                />
              </CCol>
              <CCol xs="12" lg="4" v-if="this.auth_tipoUsuario === 22">
                <CCol class="mb-1">Entidad</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="entidad"
                  :v_="v$.entidad"
                  :options="entidadOptions"
                  :execute="
                    () => {
                      v$.entidad.$touch()
                    }
                  "
                  hideSeleccione
                />
              </CCol>
              <CCol xs="12" lg="4" v-if="this.auth_tipoUsuario === 22 && this.entidadSelect === '4' && this.entidadSelect != 'MDA='">
                <CCol class="mb-1">RIF/Grupo</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                  }"
                  v-model="grupo"
                  :v_="v$.grupo"
                  activateTouched
                  :options="grupOptions"
                  :execute="
                    () => {
                      v$.grupo.$touch()
                    }
                  "
                  hideSeleccione
                />
              </CCol>
              <CCol
                xs="12"
                lg="4"
                v-if="(this.auth_tipoUsuario === 22 && this.entidadSelect === '3' && this.entidadSelect != 'MDA=') || this.auth_tipoUsuario === 23">
                <CCol class="mb-1">RIF/Centro de apuesta</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                  }"
                  v-model="puntoVenta"
                  :v_="v$.puntoVenta"
                  :options="puntoVentaOptions"
                  :execute="
                    () => {
                      v$.puntoVenta.$touch()
                    }
                  "
                  hideSeleccione
                />
              </CCol>
              <CCol
                xs="12"
                lg="4"
              >
                <CCol class="mb-1">Moneda</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="moneda"
                  :v_="v$.moneda"
                  :options="monedaOptions"
                  :execute="
                    () => {
                      v$.moneda.$touch()
                    }
                  "
                  hideSeleccione
                />
              </CCol>

              <CRow class="mb-3 mt-3">
                <CCol class="d-md-flex">
                  <CButton class="btn-primario" @click="fetchListarMov()" :disabled="disableBtn() || loading"
                    >
                  <CCLoader v-if="loading" inline />&nbsp;
                    Buscar</CButton
                  >
                </CCol>
              </CRow>
            </div>
          </CRow>
          <CRow class="mb-4">
            <CCTable
              :ref="tRef"
              v-model="currentPage"
              :tableData="tableData"
              :inTableData="inTableData"
              :setTableState="setTableState"
              :showPagination="showPagination"
              :setShowPagination="setShowPagination"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem"
              maxHeight="30rem"
              doNotEmit
              :checkCol="true"
              :valsAttrs="['observacionMovimiento']"
            />
          </CRow>
          <CRow class="mb-3">
            <CCol class="d-md-flex">
              <CButton
                class="btn-primario adapt-all-md mb-2 mb-md-0 ms-md-auto me-md-2"
                @click="aprobar()"
                :disabled="disabledAction"
              >
                Aprobar
              </CButton>
              <CButton
                class="btn-terciario adapt-all-md me-md-auto ms-md-2"
                @click="rechazar()"
                :disabled="disabledAction"
              >
                Rechazar
              </CButton>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import CCInput from '@/components/custom/CCInput.vue'
import { movimientoFilters } from '@/_helpers/formData'
import useVuelidate from '@vuelidate/core'
import aprobarRechazarMovFilterVals from '@/_validations/aprobarRechazarMovimiento/aprobarRechazarMovFilterVals'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import CCTable from '@/components/custom/CCTable.vue'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { loadToggler } from '@/composables/loadToggler'
import { LABELS as labels } from '@/_helpers/labels'
import CCLoader from '@/components/custom/CCLoader.vue'

//*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.compradorOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//*******************************************************LISTAR MONEDAS***************************************************
async function listarTipoMoneda() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarMoneda/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.monedaOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.monedaOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.monedaOptions,
      ]
    },
    error: (rjson) => {
      console.error(rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de monedas', true),
      })
    },
  })
}
//*******************************************************LISTAR ENTIDAD****************************************************
async function fetchEntidad() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarEntidadGeneral/${self.auth_tokenUsuario}/`,
    self,
    success: (rjson) => {
      self.entidadOptions = rjson.datos.map((val) => {
        return {
          value: window.atob(val.codigo),
          label: val.descripcion,
        }
      })
      self.entidadOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.entidadOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//*******************************************************LISTAR GRUPO*************************
async function fetchGrupo() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarGrupos/${self.auth_tokenUsuario}/MDAwMDAw`,
    self,
    success: (rjson) => {
      self.grupOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.grupOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.grupOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//*******************************************************LISTAR PUNTO DE VENTA*************************
async function fetchPuntoVenta() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/MDAwMDAwMQ==`, // se concatena 1 para condicion en el procedimiento de puntos prepagos
    self,
    success: (rjson) => {
      self.puntoVentaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.puntoVentaOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.puntoVentaOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//*******************************************************LISTAR MOVIMIENTOS*************************
async function fetchListarMov() {
  const self = this
  self.loading = true
  let auxUsu =
    self.auth_tipoUsuario === 24
      ? '2'
      : self.auth_tipoUsuario === 23
      ? '3'
      : self.auth_tipoUsuario === 22 && this.entidadSelect === '3'
      ? this.entidadSelect
      : self.auth_tipoUsuario === 22 && this.entidadSelect === '4'
      ? this.entidadSelect
      : ''

  let auxSeleccion = ''
  if (self.auth_tipoUsuario === 24) {
    auxSeleccion = self.comprador.value != 'MDAwMDAw' ? self.comprador.value : 'MDAwMDAw'
  } else if (self.auth_tipoUsuario === 23) {
    auxSeleccion = self.puntoVenta.value != 'MDAwMDAw' ? self.puntoVenta.value : 'MDAwMDAw'
  } else if (self.auth_tipoUsuario === 22) {
    auxSeleccion =
      self.puntoVenta.value != 'MDAwMDAw'
        ? self.puntoVenta.value
        : self.grupo.value != 'MDAwMDAw'
        ? self.grupo.value
        : 'MDAwMDAw'
  }

  fetchRequest({
    api: `${this.$apiAdministrativo}ListarMovimientosPendientes/${self.auth_tokenUsuario}/${auxUsu}/${self.moneda}/${auxSeleccion}`,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos
      self.tableData = rjson.datos.map((val) => {
        return {
          codigoMovimiento: val.codigoMovimiento,
          entidad: val.nombreEntidad,
          fecha: val.fecha,
          monto: val.montoMovimiento,
          formaPago: val.formaPago,
          numeroReferencia: window.atob(val.numeroReferencia),
          observacionMovimiento: val.observacionMovimiento,
        }
      })
      self.loading = false
    },
    error: (rjson) => {
      self.tableData = []
      self.loading = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

function disableBtn(){
  if(this.auth_tipoUsuario === 24 || this.auth_tipoUsuario === 23){
    if(this.moneda === "MDA=") return true
    else return false
  }else if(this.auth_tipoUsuario === 22){
    if(this.moneda === "MDA=" || this.entidad === "MDA=") return true
    else return false
  }
}

//#region COMPUTED
function shouldDisabled() {
  return this.loadingFilters
}

function isMValid() {
  return !this.v$.$invalid
}
//#endregion

export default {
  name: 'AprobarRechazarMovimientos',
  mixins: [globalMixin, tableGenerals],
  components: {
    CCInput,
    CCTable,
    CCLoader
  },
  data() {
    return {
      detalleMovimientos: [],

      comprador: { label: 'TODOS', value: 'MDAwMDAw' },
      compradorOptions: [],

      moneda: 'MDA=',
      monedaOptions: [],

      entidad: 'MDA=',
      entidadOptions: [],
      entidadSelect: 'MDA=',

      grupo: { label: 'TODOS', value: 'MDAwMDAw' },
      grupOptions: [],

      puntoVenta: { label: 'TODOS', value: 'MDAwMDAw' },
      puntoVentaOptions: [],

      loadingFilters: false,
      loading: false,
    }
  },
  setup() {
    const authStore = useAuth()
    const { auth_tipoUsuario, auth_tokenUsuario } = storeToRefs(authStore)
    loadToggler()

    const optionsColWidthRem = 2
    const forTabla = [
      [{ name: 'Entidad', attr: 'entidad', dir: 'no' }, 14],
      [{ name: 'Fecha', attr: 'fecha', dir: 'no' }, 14],
      [{ name: 'Monto', attr: 'monto', dir: 'no' }, 10],
      [{ name: 'Forma de pago', attr: 'formaPago', dir: 'no' }, 14],
      [
        { name: 'Número de referencia', attr: 'numeroReferencia', dir: 'no' },
        15,
      ],
      [
        {
          name: 'Observación',
          attr: 'observacionMovimiento',
          dir: 'dot',
          inputable: 'textarea',
        },
        16,
      ],
    ]
    const inTableData = tableDataStruc(
      forTabla.map((tableCol) => ({
        ...tableCol[0],
        ...(tableCol[1]
          ? optionsColWidthRemStup(
              tableCol[1],
              forTabla.length,
              optionsColWidthRem,
            )
          : {}),
      })),
    )

    return {
      ...setupData(1),
      v$: useVuelidate(),
      movimientoFilters,
      auth_tipoUsuario,
      auth_tokenUsuario,
      optionsColWidthRem,
      inTableData,
    }
  },
  validations() {
    return aprobarRechazarMovFilterVals(this.auth_tipoUsuario)
  },
  computed: {
    shouldDisabled,
    isMValid,
    disabledAction: function () {
      return !this.selectedOnesFromTable.length
    },
  },
  watch: {
    entidad: function (val) {
      this.entidadSelect = val
      if (this.entidadSelect === '4') {
        this.fetchGrupo()
        this.puntoVentaOptions = []
      } else if (this.entidadSelect === '3') {
        this.fetchPuntoVenta()
        this.grupOptions = []
      }
    },
  },
  methods: {
    aprobar: function () {
      const self = this
      self.detalleMovimientos = self.selectedOnesFromTable.map((val) => {
        return {
          codigoMovimiento: val.codigoMovimiento,
          observacionMovimiento:
            val.observacionMovimiento != undefined
              ? val.observacionMovimiento
              : '',
        }
      })

      fetchRequest({
        api: this.$apiAdministrativo+'ProcesarMovimiento ',
        method: 'PUT',
        self,
        body: {
          tokenUsuario: self.auth_tokenUsuario,
          tipoOperacion: '1',
          detalleMovimientos: self.detalleMovimientos,
        },
        success: () => {
          self.fireToastMsg('Movimientos aprobados de manera exitosa', {
            icon: 'success',
          })

          if(self.tableData.length > 1) {
              self.fetchListarMov()
              self.detalleMovimientos = []
            }else{
              self.detalleMovimientos = []
              self.tableData = []
            }   
          self.setTableDeselected()       
        },
        error: async (rjson) => {
          console.error(rjson)
        },
      })
    },
    rechazar: function () {
      const self = this
      const cannot = self.selectedOnesFromTable.every(mov => Object.prototype.hasOwnProperty.call(mov, 'observacionMovimiento') && mov.observacionMovimiento && mov.observacionMovimiento.length > 0);
      if (!cannot)
        self.fireToastMsg(
          'Para rechazar movimientos debe definirles una observación',
          { icon: 'info' },
        )
      else if (cannot) {
        self.detalleMovimientos = self.selectedOnesFromTable.map((val) => {
          return {
            codigoMovimiento: val.codigoMovimiento,
            observacionMovimiento: val.observacionMovimiento,
          }
        })

        fetchRequest({
          api: this.$apiAdministrativo+'ProcesarMovimiento ',
          method: 'PUT',
          self,
          body: {
            tokenUsuario: self.auth_tokenUsuario,
            tipoOperacion: '2',
            detalleMovimientos: self.detalleMovimientos,
          },
          success: () => {
            self.fireToastMsg('Movimientos rechazados de manera exitosa', {
              icon: 'success',
            })
            if(self.tableData.length > 1) {
              self.fetchListarMov()
              self.detalleMovimientos = []
            }else{
              self.detalleMovimientos = []
              self.tableData = []
            }
            self.setTableDeselected()
          },
          error: async (rjson) => {
            console.error(rjson)
          },
        })
      }
    },
    fetchComprador,
    listarTipoMoneda,
    fetchEntidad,
    fetchGrupo,
    fetchPuntoVenta,
    fetchListarMov,
    disableBtn,
  },
  mounted() {
    this.tRef = 'movimientosTable'
    this.dynAttr = this.toModUsu
    this.listarTipoMoneda()
    if (this.auth_tipoUsuario === 24) this.fetchComprador()
    else if (this.auth_tipoUsuario === 22) {
      this.fetchEntidad()
    } else if (this.auth_tipoUsuario === 23) this.fetchPuntoVenta()
  },
}
</script>

<style lang="scss" scoped>
</style>