<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Registrar abono</h5></CCardHeader>
        <CCardBody>
          <CForm
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <CCol xs="12" lg="5" class="me-1">
              <CCol class="mb-1 color-text">Saldo disponible</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }"
                v-model="saldo"
                :v_="v$.saldo"
                disabled="true"
                activateTouched
                :execute="
                  () => {
                    v$.saldo.$touch()
                  }
                "
              />
            </CCol>
            <CCol xs="12" lg="5" class="mt-3">
              <CButton class="btn-primario" color="dark" @click="consultarInfoCuenta()">
                <CCLoader v-if="loading" inline />&nbsp;
                  Información de las cuentas
              </CButton>
            </CCol>
            <CCol xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Tipo de Abono</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="tipoAbono"
                :v_="v$.tipoAbono"
                :disabled="this.tipoAbono.length > 0 ? false : true"
                activateTouched
                :execute="
                  () => {
                    v$.tipoAbono.$touch()
                  }
                "
                :options="tipoAbonos"
                hideSeleccione
              />
            </CCol>
            {{tipoAbono}}
            <CCol xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Banco de Origen</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="banco"
                :v_="v$.banco"
                :disabled="this.banco.length > 0 ? false : true"
                activateTouched
                :execute="
                  () => {
                    v$.banco.$touch()
                  }
                "
                :options="bancos"
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Cuenta de Destino</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="cuentaDestino"
                :v_="v$.cuentaDestino"
                :disabled="this.cuentaDestino.length > 0 ? false : true"
                activateTouched
                :execute="
                  () => {
                    v$.cuentaDestino.$touch()
                  }
                "
                :options="cuentasDestino_"
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Nro. Referencia</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }"
                v-model="referencia"
                :v_="v$.referencia"
                activateTouched
                :execute="
                  () => {
                    v$.referencia.$touch()
                  }
                "
              />
            </CCol>
            <CCol xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Fecha de Pago</CCol>
              <CCInput
                :allData="{
                  type: 'date',
                  inputWrapperClasses: 'flex-grow-1 col-sm-6',
                  errorMessageClasses: 'wrong-input',
                  rowClasses:
                    'g-0 mb-3 mt-3 mb-lg-0 wide-mobile-lg estilo-fecha',
                }"
                v-model="fechaPago"
                :v_="v$.fechaPago"
                :disabled="loading"
                :sinceDate="new Date().setMonth(new Date().getMonth() - 6)"
                :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Monto Abono</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }"
                v-model="montoAbono"
                :v_="v$.montoAbono"
                activateTouched
                :execute="
                  () => {
                    v$.montoAbono.$touch()
                  }
                "
              />
							<CCol class="mb-1">El monto debe ser mayor a {{this.montoMin}} y menor a {{this.montoMax}}</CCol>
            </CCol>
						<CCol v-if="this.tipoAbono === 'MDg='" xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Número Teléfono</CCol>
              <CCInput
								:placeholder="'0412-0000000'"
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }"
                v-model="nroTelefono"
                :v_="v$.nroTelefono"
                activateTouched
                :execute="
                  () => {
                    v$.nroTelefono.$touch()
                  }
                "
              />
							<CCol class="mb-1">Ej. 0412-0000000</CCol>
            </CCol>
						<CCol  v-if="this.tipoAbono === 'MDg='" xs="12" lg="5" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Número de Documento</CCol>
              <CCInput
								:placeholder = "'V20000000'"
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }"
                v-model="nroDocumento"
                :v_="v$.nroDocumento"
                activateTouched
                :execute="
                  () => {
                    v$.nroDocumento.$touch()
                  }
                "
              />
							<CCol class="mb-1">Ej. V20000000</CCol>
            </CCol>
            <CCol xs="12" lg="12" class="mt-3 me-1">
              <CCol class="mb-1 color-text">Observación</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                  labelClasses: 'pt-0 w-auto wide-mobile-md',
                  inputWrapperClasses: 'flex-grow-1',
                  errorMessageClasses: 'wrong-input',
                  type: 'text',
                }"
                v-model="observacion"
                :v_="v$.observacion"
                activateTouched
                :execute="
                  () => {
                    v$.observacion.$touch()
                  }
                "
              />
            </CCol>
            <CCol xs="12" lg="12" class="mt-3 text-center">
              <CButton class="btn-primario me-3" color="dark" @click="registrarAbono" :disabled="validarBtn()">
                <CCLoader v-if="loading" inline />&nbsp;
                  Procesar
              </CButton>
							<CButton class="btn-primario me-3" color="dark" @click="limpiarInputs" >
                <CCLoader v-if="loading" inline />&nbsp;
                  Limpiar
              </CButton>
            </CCol>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
	<ModalInfoCuentas
    ref="modalinfoCuentaDecorator"
    :visible="infoModalVisible" 
    :data="infoModalDta"
    :close="closeModal" 
    :mode="infoMode"
    :formData="infoCuenta"
  />
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import globals from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import registrarAbonoVals from '@/_validations/registrarAbonoVals'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { depoched } from '@/_helpers/formatters'
import modalGenerals from '@/_mixins/modalGenerals';
import ModalInfoCuentas from './modalInfoCuentas.vue';
import { modalSetupData } from '@/composables/modalDataStruct';
import { loadToggler } from '@/composables/loadToggler'
import { LABELS as labels } from '@/_helpers/labels'

async function consultarSaldo() {
  const self = this
  fetchRequest({
    api: `${this.$apiGestionSaldo}ConsultarSaldo/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      this.saldo = rjson.datos
    },
    error: (rjson) => {
      console.error(rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar el saldo disponible', true),
      })
    },
  })
}

async function iniciarAbono() {
  const self = this
  fetchRequest({
    api: `${this.$apiGestionSaldo}IniciarAbono/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.montoMax = rjson.datos.montoMax
			self.montoMin = rjson.datos.montoMin
			self.tipoAbonos = rjson.datos.TipoAbono.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.tipoAbonos = [
        { label: 'SELECCIONE', value: '00' },
        ...self.tipoAbonos,
      ]
    },
    error: (rjson) => {
      console.error(rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de abono', true),
      })
    },
  })
}

async function bancoOrigen() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarBanco/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.bancos = rjson.datos.map((val) => {
        return {
          label: window.atob(val.descripcion),
          value: val.codigo,
        }
      })
      self.bancos = [{ label: 'SELECCIONE', value: '00' }, ...self.bancos]
    },
    error: (rjson) => {
      console.error(rjson)
      self.tableData = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de abono', true),
      })
    },
  })
}

async function listarCuentasBancarias() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCuentaBancaria/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.cuentasDestino_ = rjson.datos.map((val) => {
        return {
          label: window.atob(val.descripcion),
          value: val.codigo,
        }
      })
      self.cuentasDestino_ = [
        { label: 'SELECCIONE', value: '00' },
        ...self.cuentasDestino_,
      ]
    },
    error: (rjson) => {
      console.error(rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de abono', true),
      })
    },
  })
}

function registrarAbono () {
  const self = this;

  fetchRequest({
      api: this.$apiGestionSaldo+'RegistrarAbono',
      method: 'POST',
      self,
      body: {
        tokenUsuario : self.auth_tokenUsuario,
        codigoBancoOrigen : self.banco,
        fechaAbono : depoched(self.fechaPago.getTime()),
        montoAbono : self.saldo,
        observacion : self.observacion,
        tipoAbono :  self.tipoAbono,
				nroReferencia: window.btoa(self.referencia),
				cuentaDestino: self.cuentaDestino,
				nroTelefono: self.tipoAbono === 'MDg=' ? self.nroTelefono : '',
				nroDocumento: self.tipoAbono === 'MDg=' ? window.btoa(self.nroDocumento.toUpperCase()) : ''
      },
      success: () => {
        self.fireToastMsg('Se realizó el registro de abono de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
				self.limpiarInputs()
      }
  });
}

function validarBtn() {
	if(this.saldo && this.tipoAbono != '00' && this.banco != '00' && this.cuentaDestino != '00' && this.referencia.length >= 1 && this.referencia.length <= 20 && this.montoAbono >= this.montoMin && this.montoAbono <= this.montoMax && this.observacion.length >= 3 && this.nroTelefono.length == 12 && this.nroDocumento.length >= 8)	{
      return false
	}else if(this.saldo && this.tipoAbono != '00' && this.banco != '00' && this.cuentaDestino != '00'	 && this.referencia.length >= 1 && this.referencia.length <= 20 && this.montoAbono >= this.montoMin && this.montoAbono <= this.montoMax && 	this.observacion.length >= 3){
    return false
	}else return true
}
async function consultarInfoCuenta() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ConsultarInfoCuenta/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
			this.actionFromTable(rjson.datos, 'view');
    },
    error: (rjson) => {
      console.error(rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los tipos de cuenta', true),
      })
    },
  })
}

function limpiarInputs() {
	this.tipoAbono = '00';
	this.banco = '00';
	this.cuentaDestino = '00';
	this.referencia = '';
	this.fechaPago = new Date(new Date().toDateString());
	this.montoAbono = '';
	this.observacion = '';
	this.nroTelefono = '';
	this.nroDocumento = ''
}

function data() {
  return {
    saldo: '',
    tipoAbono: '00',
    tipoAbonos: [],
    banco: '00',
    bancos: [],
    cuentaDestino: '00',
    cuentasDestino_: [],
    referencia: '',
    fechaPago: new Date(new Date().toDateString()),
    montoAbono: '',
    observacion: '',
		nroTelefono: '',
		nroDocumento: '',
		infoCuentas: [],
		montoMax: '',
		montoMin: ''
  }
}
function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  loadToggler()
  
  return {
		...modalSetupData('info'),
    v$: useVuelidate(),
    auth_tokenUsuario,
  }
}
export default {
  data,
  setup,
  methods: {
    consultarSaldo,
    iniciarAbono,
    bancoOrigen,
    listarCuentasBancarias,
		limpiarInputs,
		registrarAbono,
		consultarInfoCuenta,
		validarBtn
  },
  validations() {
    return registrarAbonoVals(this.montoMax,this.montoMin)
  },
  components: { CCInput, ModalInfoCuentas },
  mixins: [globals, modalGenerals],
  mounted() {
    this.consultarSaldo();
      this.iniciarAbono();
      this.bancoOrigen();
      this.listarCuentasBancarias();
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.color-text {
  color: #1c4c96;
}
</style>
