<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Validar ticket</h5></CCardHeader>
        <CCardBody>
          <CForm
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <CCInput
              :allData="{
                label: 'Serial',
                rowClasses: 'col-lg-5 g-0 mb-3 mb-lg-0 wide-mobile-lg',
                labelClasses: 'pt-0 w-auto wide-mobile-md',
                inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3',
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="serial"
              :v_="v$.serial" 
              :disabled="loading"
              activateTouched
              :execute="
                () => {
                  v$.serial.$touch()
                }
              "
            />

            <CCInput
              :allData="{
                label: 'Serial alterno',
                rowClasses: 'col-lg-5 g-0 mb-3 mb-lg-0 wide-mobile-lg',
                labelClasses: 'pt-0 w-auto wide-mobile-md',
                inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3',
                errorMessageClasses: 'wrong-input',
                type: 'text',
              }"
              v-model="serialInterno"
              :v_="v$.serialInterno" 
              :disabled="loading"
              activateTouched
              :execute="
                () => {
                  v$.serialInterno.$touch()
                }
              "
            />

            <CCol xs="12" lg="2" class="flex-grow-1 mt-2 mt-lg-0">
              <CButton
                class="btn-primario w-100"
                @click="Validar_Ticket(0)"
                color="dark"
                :disabled="!isValid"
              >
                <CCLoader v-if="loading" inline />&nbsp;
                  Validar
              </CButton>
            </CCol>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalValidate
    ref="modalValidate"
    :visible="showModal"
    :close="close"
    :formData="DataModal"
    :pagar_ticket="Validar_Ticket"
  />
</template>

<script>
import valTicket from '@/_validations/ticketValidate/ticketValidateVals'
import useValidate from '@vuelidate/core'
import { loadToggler } from '@/composables/loadToggler'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import globalMixin from '@/_mixins/globals'
import CCLoader from '@/components/custom/CCLoader.vue'
import ModalValidate from './modalValidate.vue'
import printGenerals from '@/_mixins/printGenerals'
import CCInput from '@/components/custom/CCInput.vue';
import { parrafr, epoched, theBreak } from '@/_helpers/formatters'

// PRINT PDF

// import pdfMake from 'pdfmake/build/pdfmake'
// import pdfFonts from 'pdfmake/build/vfs_fonts'
import { resCodes } from '@/_helpers/general'
// pdfMake.vfs = pdfFonts.pdfMake.vfs

function limpiarCerrar() {
  this.serial = ''
  this.serialInterno = ''
  this.v$.$reset()
}
// SETUP
function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  loadToggler()
  return {
    auth_tokenUsuario,
  }
}

//COMPUTED
function isDisabled() {
  return this.v$.$invalid
}

function isValid () {
  return !this.loading && this.v$.$anyDirty && !this.v$.$invalid
}

function data() {
  return {
    v$: useValidate(),
    triplebs: '',
    terminal: '',
    serialInterno: '',
    serial: '',
    auxSerial:'',
    loading: false,
    showModal: false,
    DataModal: [],
    listaGeneral: [],
    listaPremio: [],
    listaRetencion: [],
    printData: false,
  }
}

// const stackData = (str1, str2) => ({
//   stack: [
//     {
//       columns: [
//         {
//           width: 'auto',
//           text: str1,
//           bold: true,
//         },
//         {
//           text: window.atob(str2),
//           width: '*',
//           style: str1 === '' ? 'header' : 'marginL',
//         },
//       ],
//     },
//   ],
//   style: 'Margin',
//   bold: false,
//   alignment: 'left',
// })

function printTicket(data,serial) {
  const fechaAux_ = new Date(epoched(data.listaGeneral[0].fecha))

  const dia = fechaAux_.getDate();
  const mes = fechaAux_.getMonth() + 1; // Los meses en JavaScript son indexados desde 0, por lo que se suma 1
  const anno = fechaAux_.getFullYear();

  const fechaAux = `${dia < 10 ? '0' + dia : dia}/${mes < 10 ? '0' + mes : mes}/${anno}`;


  const encabezado = {
    fecha: fechaAux,
    hora: window.atob(data.listaGeneral[0].hora),
    nombrePunto: window.atob(data.listaGeneral[0].nombrePunto),
  }

  let listaRetencion = [];
  data.listaRetencion.forEach(ret => {
    listaRetencion.push(...parrafr(window.atob(ret.titulo),false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Serial ticket:" + serial,false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Monto bruto:" + window.atob(ret.montoBruto),false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Monto neto:" + window.atob(ret.montoNeto),false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Monto retención:" + window.atob(ret.montoRetencion),false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Cédula cliente:" + window.atob(ret.cedulaCliente),false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Nombre loteria:" + window.atob(ret.nombreLoteria),false,this.auth_columnaTicket,'') + theBreak );
    listaRetencion.push(...parrafr("Producto:" + window.atob(ret.nombreProducto),false,this.auth_columnaTicket,''));
    listaRetencion.push(...parrafr("Porcentaje:" + window.atob(ret.porcentaje),false,this.auth_columnaTicket,'') + theBreak + theBreak);
  })

  let listaPremio = [];
  data.listaPremio.forEach(pre => {
    listaPremio.push(...parrafr(window.atob(pre.titulo),false,this.auth_columnaTicket,''));
    listaPremio.push(...parrafr("Serial ticket:" + serial,false,this.auth_columnaTicket,''));
    listaPremio.push(...parrafr("Monto Neto:" + window.atob(pre.montoNeto),false,this.auth_columnaTicket,''));
    listaPremio.push(...parrafr("Nombre loteria:" + window.atob(pre.nombreLoteria),false,this.auth_columnaTicket,''));
    listaPremio.push(...parrafr("Producto:" + window.atob(pre.nombreProducto),false,this.auth_columnaTicket,''));
    listaPremio.push(...parrafr(window.atob(pre.desripcion),false,this.auth_columnaTicket,'') + theBreak + theBreak);
  }) 
  
  let listaReintegro = [];
  data.listaReintegro.forEach(rei => {
    listaReintegro.push(...parrafr(window.atob(rei.titulo),false,this.auth_columnaTicket,''));
    listaReintegro.push(...parrafr("Serial ticket:" + serial,false,this.auth_columnaTicket,''));
    listaReintegro.push(...parrafr("Monto Reintegro:" + window.atob(rei.montoReintegro),false,this.auth_columnaTicket,''));
    listaReintegro.push(...parrafr("Nombre loteria:" + window.atob(rei.nombreLoteria),false,this.auth_columnaTicket,''));
    listaReintegro.push(...parrafr("Producto:" + window.atob(rei.nombreProducto),false,this.auth_columnaTicket,''));
    listaReintegro.push(...parrafr(window.atob(rei.desripcion),false,this.auth_columnaTicket,'') + theBreak + theBreak);
  })
  
  const ticketDta = [];

    // Comprobar si listaRetencion está vacía
    if (listaRetencion.length > 0) {
      // Añadir los datos de retención al array ticketDta
      ticketDta.push(...parrafr(encabezado.nombrePunto,false,this.auth_columnaTicket,''));
      ticketDta.push(...parrafr("Fecha Actual:" + encabezado.fecha,false,this.auth_columnaTicket,''));
      ticketDta.push(...parrafr("Hora:" + encabezado.hora,false,this.auth_columnaTicket,''));
      ticketDta.push(theBreak + theBreak);
      ticketDta.push(listaRetencion.join(''));
    }

    // Comprobar si listaPremio está vacía
    if (listaPremio.length > 0) {
      // Añadir los datos de premio al array ticketDta
      ticketDta.push(theBreak);
      ticketDta.push(...parrafr(encabezado.nombrePunto,false,this.auth_columnaTicket,''));
      ticketDta.push(...parrafr("Fecha Actual:" + encabezado.fecha,false,this.auth_columnaTicket,''));
      ticketDta.push(...parrafr("Hora:" + encabezado.hora,false,this.auth_columnaTicket,''));
      ticketDta.push(theBreak + theBreak);
      ticketDta.push(listaPremio.join(''));
    }

    // Comprobar si listaReintegro está vacía
    if (listaReintegro.length > 0) {
      // Añadir los datos de reintegro al array ticketDta
      ticketDta.push(theBreak);
      ticketDta.push(...parrafr(encabezado.nombrePunto,false,this.auth_columnaTicket,''));
      ticketDta.push(...parrafr("Fecha Actual:" + encabezado.fecha,false,this.auth_columnaTicket,''));
      ticketDta.push(...parrafr("Hora:" + encabezado.hora,false,this.auth_columnaTicket,''));
      ticketDta.push(theBreak + theBreak);
      ticketDta.push(listaReintegro.join(''));
    }

  ticketDta.push(theBreak);
  const ticketDoc = ticketDta;
  self.printData = false

  this.saveAndPrintFile({
    dataPrint: ticketDoc,
  });

}

async function Validar_Ticket(tipoSolicitud, ced) {
  this.loading = true
  let auxTipo = tipoSolicitud === 1 && this.DataModal.estatusCedula === '1' ? ced.slice(0,1) : ''
  let auxCed = tipoSolicitud === 1 && this.DataModal.estatusCedula === '1' ? ced.slice(1) : ''
  this.auxSerial = this.serial
  const cedulaFinal = auxTipo + '-' + auxCed
  const api = this.$apiLoteria+'ValidarPagarTicket'
  // const api = this.$apiPrueba;
  const self = this;
  const isPrintServiceOk = tipoSolicitud ? await this.checkPrintService(', ticket no pagado') : true;

  if (isPrintServiceOk) fetchRequest({
    api,
    method: 'POST',
    self,
    body: {
      serialTicket: window.btoa(self.serial),
      serialAlterno: window.btoa(self.serialInterno),
      tipoSolicitud: window.btoa(tipoSolicitud),
      tokenUsuario: self.auth_tokenUsuario,
      estatusCedula: self.DataModal.estatusCedula === '1' ? window.btoa(self.DataModal.estatusCedula) : '',
      numeroCedula: self.DataModal.estatusCedula === '1' ? window.btoa(cedulaFinal.toUpperCase()) : ''
    },
    success: async (rjson) => {
      if (tipoSolicitud === 0) {

        let objData = {
          serial: self.serial,
          montoApuesta: window.atob(rjson.datos.listaValidar[0].montoApuesta),
          montoPremio: window.atob(rjson.datos.listaValidar[0].montoPremio),
          montoReintegro: window.atob(rjson.datos.listaValidar[0].montoReintegro),
          estatusCedula: rjson.datos.listaValidar[0].estatusCedula,
        }
        self.DataModal = objData
        self.showModal = true
      } else {
        self.printData = true
        self.close()
        // const msg = rjson?.mensaje?.description || rjson?.message?.descripcion
        // await self.fireToastMsg(msg, { icon: 'success' })
        self.printTicket(rjson.datos,this.auxSerial);
        self.limpiarCerrar();
      }
      self.loading = false
    },
    error: (rjson) => {
      self.close()
      self.limpiarCerrar()
      const cde = resCodes(rjson, false);
      if (['022', '023'].includes(cde)) {
        self.loading = false
        return self.fireAlertMsg(rjson.msg, {
          icon: 'info',
          showCancelButton: false,
          confirmButtonText: 'Ok',
        })
      }
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        boolError: true,
        loading: 'loading',
      })
    },
  });
  else this.loading = false;
}

function close() {
  this.showModal = false
  this.modalDecorator(this, 'modalValidate')
  this.limpiarCerrar()
}

export default {
  setup,
  data,
  validations() {
    return valTicket()
  },
  computed: {
    isDisabled,
    isValid,
  },
  methods: {
    limpiarCerrar,
    Validar_Ticket,
    close,
    printTicket,
  },
  components: { CCLoader, ModalValidate, CCInput },
  mixins: [globalMixin, printGenerals],
}
</script>
