<template>
  <div>
    <CRow>
      <CCol>
        <CCard class="mb-4">
          <CCardHeader><h5>Registro de abono</h5></CCardHeader>
          <CCardBody>
            <CRow class="mb-3">
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Saldo</CFormLabel>
                <CCol>
                  <CCInput
                    :allData="{ errorMessageClasses: 'wrong-input', inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3' }"
                    v-model="saldo"
                    :v_="v$.saldo"
                    activateTouched
                    :execute="() => {v$.saldo.$touch()}"
                  >
                  </CCInput>
                </CCol>
              </CCol>
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Banco</CFormLabel>
                <CCol>
                  <CFormSelect
                    id="banco"
                    aria-label="select"
                    class="custom-input-class"
                    v-model="bancoSelect"
                  >
                  </CFormSelect>
                </CCol>
              </CCol>
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end"
                  >Tipo de Abono</CFormLabel
                >
                <CCol>
                  <CFormSelect
                    v-model="typeSelect"
                    id="type"
                    aria-label="Default select example"
                  >
                  </CFormSelect>
                </CCol>
              </CCol>
            </CRow>
            <CRow class="mt-3 mb-3">
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Referencia</CFormLabel>
                <CCol>
                  <CCInput 
                    :allData="{ errorMessageClasses: 'wrong-input', inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3' }"
                    v-model="referencia"
                    :v_="v$.referencia"
                    activateTouched
                    :execute="() => {v$.referencia.$touch()}"
                  />
                </CCol>
              </CCol>
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end"
                  >Cta destino</CFormLabel
                >
                <CCol>
                  <CCInput 
                    :allData="{ errorMessageClasses: 'wrong-input', inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3' }"
                    v-model="ctaDestino"
                    :v_="v$.ctaDestino"
                    activateTouched
                    :execute="() => {v$.ctaDestino.$touch()}"
                  />
                </CCol>
              </CCol>
              <CCol class="row">
                <CFormLabel class="col-sm-4 text-lg-end">Fecha</CFormLabel>
                <CCol>
                  <Datepicker v-model="fecha" :upperLimit="new Date()" />
                </CCol>
              </CCol>
            </CRow>
            <CRow class="mt-3 mb-3 col-md-8">
              <CCol class="row">
                <CFormLabel class="col-sm-2 text-lg-end">Monto</CFormLabel>
                <CCol class="md-4">
                  <CCInput 
                    :allData="{ errorMessageClasses: 'wrong-input', inputWrapperClasses: 'flex-grow-1 ps-md-3 pe-lg-3' }"
                    v-model="monto"
                    :v_="v$.monto"                    
                    activateTouched
                    :execute="() => {v$.monto.$touch()}"
                  />
                </CCol>
              </CCol>
            </CRow>
            <CCol xs="12" lg="12" class="text-center mt-5 mb-3">
              <CButton class="btn-primario me-2" color="dark" lg="4">Guardar</CButton>
              <CButton class="btn-primario me-2" color="dark" lg="4">Cancelar</CButton>
            </CCol>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>
<script>
import CCInput from '@/components/custom/CCInput.vue'
import abonarValidation from '@/_validations/abonar/abonarValidation'
import globals from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
function data() {
  return {
    saldo: '',
    fecha: new Date(new Date().toDateString()),
    bancoSelect: '',
    typeSelect: '',
    referencia: '',
    ctaDestino: '',
    monto: '',
  }
}
function setup() {
  return {
    v$: useVuelidate(),
  }
}

export default {
  data,
  setup,
  mounted() {},
  methods: {},
  validations() {
    return abonarValidation
  },
  components: { CCInput },
  mixins: [globals],
}
</script>
