<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Gestionar horarios</h5>
        </CCardHeader>
        <CCardBody>
          <CRow class="mb-3">
            <CCol class="col-12 col-lg-4">
              <CFormLabel for="turno-select" class="col-form-label col-12">Turno</CFormLabel>
              <div class="col-12">
                <CFormSelect id="turno-select" v-model="turno" aria-label="select" class="custom-input-class"
                  :disabled="tableDataLoading" @change="filtrarHorarios">
                  <!-- <option value="seleccione">Seleccione</option> -->
                  <option v-for="(option, sel_i) in turnoOptions" :key="sel_i" :value="option.value"
                    :selected="option.value === turno">
                    {{ option.label }}
                  </option>
                </CFormSelect>
              </div>
            </CCol>
          </CRow>
          <CRow>
            <CCTable :ref="tRef" v-model="currentPage" :tableData="tableDataFiltered" :inTableData="inTableData"
              :setTableState="setTableState" :showPagination="showPagination" :setShowPagination="setShowPagination"
              :viewFromTable="viewHorario" :editFromTable="viewHorario" :showDelete=false :alertMsgs="[labels.sureDelete(true, 'horario', false), labels.sureDelete(false, 'horario', false),
              labels.deleteAll('horarios', false), labels.deleteOne('horario', false)]"
              :optionsLabelsDynamic="{ turnoOptions }" :loading="tableDataLoading" :optionsColWidth="optionsColWidthRem"
              maxHeight="30rem" doNotEmit />
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario" @click="actionFromTable(horarioData(), 'register')"
                :disabled="tableDataLoading">
                Agregar Horario
              </CButton>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalHorario ref="modalhorarioDecorator" :visible="horarioModalVisible" :data="horarioModalDta" :close="closeModal"
    :save="saveHorario" :edit="editHorario" :mode="horarioMode" :formData="horarioRegister" />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import CCTable from '@/components/custom/CCTable.vue';
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import ModalHorario from './modales/modalHorario.vue';
import { horarioRegister } from '@/_helpers/formData';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import { storeToRefs } from 'pinia';
import { ref } from 'vue';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
function convertHora(val) {
  let auxHora = val.slice(0, 2)
  const auxHora2 = val.slice(3, 5)

  if (auxHora <= 12) {
    return auxHora + ':' + auxHora2 + ' ' + 'AM';
  } else {
    return auxHora - 12 + ':' + auxHora2 + ' ' + 'PM';
  }
}


async function fetchHorarios() {
  this.tableDataLoading = true;
  const self = this;
  fetchRequest({
    api: `${this.$apiEscrutinio}ListarHorarios/${self.auth_tokenUsuario}/MDAwMA==/MDA=`,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos;

      self.tableData = rjson.datos.map((val) => {
        return {
          codigoHorario: window.atob(val.codigoHorario),
          codigoTurno: val.codigoTurno,
          descripcionEstatus: val.descripcionEstatus,
          descripcionHorario: val.descripcionHorario,
          estatusHorario: val.estatusHorario,
          horaActivacion: convertHora(val.horaActivacion),
          horaCierre: convertHora(val.horaCierre),
          horaSorteo: convertHora(val.horaSorteo),
          nombreTurno: val.nombreTurno === 'Ma¿ana' ? 'Mañana' : val.nombreTurno,
          tokenUsuario: val.tokenUsuario
        };
      });
      // self.tableData = [{label:'TODOS',value:'0'}, ...self.tableData];

    },
    error: (rjson) => {
      console.error(rjson);
      self.tableData = [];
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self.tableDataLoading = false;
    }
  });
}

async function fetchTurnos() {
  this.tableDataLoading = true;
  const self = this;
  fetchRequest({
    api: `${this.$apiGeneral}ListarTurnos`,
    self,
    success: (rjson) => {
      self.turnoOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        };
      });
      self.turnoOptions = [{ label: 'TODOS', value: '0' }, ...self.turnoOptions];
    },
    error: (rjson) => {
      console.error(rjson);
      self.tableData = [];
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self.tableDataLoading = false;
    }
  });
}

function saveHorario(data) {
  this.tableDataLoading = true;
  const self = this;

  let auxHoraSorteo = data.horaSorteo.slice(0, 2)
  const auxHoraSorteo2 = data.horaSorteo.slice(3, 5)
  const auxHoraSorteoPm = data.horaSorteo.slice(-2)

  let auxHoraActivacion = data.horaActivacion.slice(0, 2)
  const auxHoraActivacion2 = data.horaActivacion.slice(3, 5)
  const auxHoraActivacionPm = data.horaActivacion.slice(-2)

  let auxHoraCierre = data.horaCierre.slice(0, 2)
  const auxHoraCierre2 = data.horaCierre.slice(3, 5)
  const auxHoraCierrePm = data.horaCierre.slice(-2)

  if (auxHoraSorteoPm === 'PM' && auxHoraActivacionPm === 'PM' && auxHoraCierrePm === 'PM') {
    auxHoraSorteo = Number(auxHoraSorteo) + 12;
    auxHoraActivacion = Number(auxHoraActivacion) + 12;
    auxHoraCierre = Number(auxHoraCierre) + 12;
  }
  const horaSorteoFinal = auxHoraSorteo + ':' + auxHoraSorteo2
  const horaActivacionFinal = auxHoraActivacion + ':' + auxHoraActivacion2
  const horaCierreFinal = auxHoraCierre + ':' + auxHoraCierre2

  fetchRequest({ 
      api: this.$apiEscrutinio+'InsertarHorario',
      method: 'POST',
      self,
      body: {
        tokenUsuario : self.auth_tokenUsuario,
        descripcionHorario : data.descripcionHorario,
        horaSorteo : auxHoraSorteoPm === 'PM' ?  horaSorteoFinal : data.horaSorteo.slice(0, 5),
        horaActivacion : auxHoraActivacionPm === 'PM' ? horaActivacionFinal : data.horaActivacion.slice(0, 5),
        horaCierre :  auxHoraCierrePm === 'PM' ? horaCierreFinal : data.horaCierre.slice(0, 5),
        codigoTurno : window.btoa(data.codigoTurno)	    
      },
      success: () => {
        self.fetchHorarios();
        self.fireToastMsg('Horario añadido de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        // self.turno = 'seleccione';
        self.turno = '0';
        self.tableDataLoading = false;
        self.horarioModalVisible = false;
        self.modalDecorator(self,'modalhorarioDecorator');
      }
  });
}

function editHorario(data/* , isDetail = false */) {

  const auxHoraSorteo = data.horaSorteo.slice(0, 5)
  const auxHoraActivacion = data.horaActivacion.slice(0, 5)
  const auxHoraCierre = data.horaCierre.slice(0, 5)


  this.tableDataLoading = true;
  const self = this;
  fetchRequest({
    api: this.$apiEscrutinio+'EditarHorario',
    method: 'PUT',
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      codigoHorario: btoa(data.codigoHorario),
      descripcionHorario: data.descripcionHorario,
      horaSorteo: auxHoraSorteo,
      horaActivacion: auxHoraActivacion,
      horaCierre: auxHoraCierre,
      codigoTurno: btoa(data.codigoTurno),
      estatusHorario: data.estatusHorario
    },
    success: () => {
      self.fetchHorarios();
      self.fireToastMsg('Horario modificado de manera exitosa', { icon: 'success' });
    },
    error: (rjson) => {
      console.error(rjson);
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self.tableDataLoading = false;
      self.horarioModalVisible = false;
      self.modalDecorator(self, 'modalhorarioDecorator');
    }
  });
}

async function viewHorario(data, mode) {

  this.actionFromTable({ // para abrir modal
    codigoHorario: data.codigoHorario,
    descripcionHorario: data.descripcionHorario,
    codigoTurno: window.atob(data.codigoTurno),
    horaSorteo: data.horaSorteo,
    horaActivacion: data.horaActivacion,
    horaCierre: data.horaCierre,
    estatusHorario: data.estatusHorario
  }, mode);
}

// DATA
function data() {
  return {

  }
}

// SETUP
function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  // 
  loadToggler()
  const turno = ref('0')

  const optionsColWidthRem = 5
  const forTabla = [
    [{ name: 'Código del horario', attr: 'codigoHorario' }, 16],
    [{ name: 'Descripción del horario', attr: 'descripcionHorario' }, 20],
    [{ name: 'Hora Sorteo', attr: 'horaSorteo' }, 10],
    [{ name: 'Hora de Activación', attr: 'horaActivacion' }, 16],
    [{ name: 'Hora de Cierre', attr: 'horaCierre' }, 13],
    [{ name: 'Turno', attr: 'nombreTurno' }, 20],
    [{ name: 'Estatus', attr: 'descripcionEstatus' }, 20],
  ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('horario'),
    horarioRegister,
    inTableData,
    turno,
    auth_tokenUsuario,
    labels,
    optionsColWidthRem,
  }
}

// MOUNTED
function mounted() {
  this.tRef = 'horarioTable';
  this.canDelete = 'horario';
  this.fetchHorarios();
  this.fetchTurnos();
}

export default {
  name: 'GestionarHorario',
  components: { CCTable, ModalHorario },
  mixins: [
    globalMixin,
    tableGenerals,
    modalGenerals,
  ],
  data,
  setup,
  computed: {
    tableDataFiltered: function () {
      return this.tableData.filter(c => !this.turno || this.turno === 'seleccione' || this.turno === '0' || c.codigoTurno == this.turno)
    },
  },
  methods: {
    fetchTurnos,
    fetchHorarios,
    saveHorario,
    editHorario,
    viewHorario,
    filtrarHorarios: function (e) {
      if (e?.target?.value) this.turno = e.target.value;
    },
    horarioData: function () {
      const id = 'T' + String(this.tableData.length + 1).padStart(3, '0');
      const horario = {
        codigo: id,
        guid: id,
        descripcionHorario: '',
        codigoTurno: 'seleccione',
        // horaDesde: '',
        horaSorteo: '',
        horaActivacion: '',
        horaCierre: '',
      };

      return horario
    },
  },
  mounted,
}
</script>

<style lang="scss" scoped></style>