<template>
    <div></div>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Buzon de Mensajes</h5>
        </CCardHeader>
        <CCardBody class="row">
          <div class="col-md-12">
            <template v-if="auth_showBuzon">
            <CRow>
              <CCol xs="12" lg="12"></CCol>
               <CCol xs="12" lg="12">
                <CModalFooter class="justify-content-start m-t-3">
                  <CButton
                    class="btn-primario mx-2"
                    @click="viewMessage(null, 'register')"
                    >Nuevo Mensaje
                  </CButton>
                </CModalFooter>
              </CCol>
            </CRow>
            <br />
            <br />
            </template>
            <CRow>
              <CCTable
                :ref="tRef"
                v-model="currentPage"
                :tableData="tableData"
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :showDelete="false"
                :showView="true"
                :showEdit="false"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                :checkCol="false"
                :hideActionsHeader="true"
                maxHeight="30rem"
                doNotEmit
                :pageSize="15"
                :viewFromTable="viewMessage"
              />
            </CRow>
          </div>
        </CCardBody>
      </CCard>
    </CCol>
    <modalMessage
      ref="modalMessageDecorator"
      :visible="messageModalVisible"
      :data="messageModalDta"
      :close="closeModal"
      :edit="messageEdit"
      :mode="messageMode"
      />
      <!-- :refresh="fetchListarGestionGrupo()" -->
      <!-- :refresh="compradorc != 'MDAwMDAw' ? fetchListarGestionGrupo() : clearAll()" -->
  </template>
  <script>
  import CCTable from '@/components/custom/CCTable.vue'
  import globalMixin from '@/_mixins/globals'
  import tableGenerals from '@/_mixins/tableGenerals'
  import { storeToRefs } from 'pinia'
  import { useAuth } from '@/store/auth'
  import useVuelidate from '@vuelidate/core'
  import modalMessage from './modalMensaje.vue'
  import {
    optionsColWidthRemStup,
    setupData,
    tableDataStruc,
  } from '@/composables/tableDataStruc'
  import modalGenerals from '@/_mixins/modalGenerals'
  import { modalSetupData } from '@/composables/modalDataStruct'
  import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
  import { loadToggler } from '@/composables/loadToggler'
  import { dateDepocher } from '@/_helpers/formatters'
  import { useMessages } from '@/store/messages';
  import { LABELS as labels } from '@/_helpers/labels'
  
  
  function clearAll(){
      this.compradorc = 'MDAwMDAw'
  }
  
 
  //------------------------------------------------------- LISTAR GESTION GRUPOS ---------------------------------------------------------------
  
  async function fetchListarBuzonMensajes() {
    this.tableDataLoading = true
    const self = this
    self.tableData = []
    fetchRequest({
      api: `${this.$apiAdministrativo}ConsultarBuzonMensaje/${self.auth_tokenUsuario}`,
      self,
      success: (rjson) => {
        if (rjson.mensaje.codigo === '000') {
          const listaDatos = rjson.datos;
          self.datosMensajes = listaDatos;
          self.tableDataLoading = false;
          let notRead = 0;
          self.tableData = listaDatos.map((val) => {
            if (val.estatus === 'NO LEÍDO') notRead++;
            return {
              fecha: dateDepocher(val.fecha),
              nombreRemitente: val.nombreRemitente,
              contenidoMsj: val.contenidoMsj,
              contenidoMsjCorto: val.contenidoMsj.length > 50 ? val.contenidoMsj.substring(0,50)+'...' : val.contenidoMsj,
              estatus: val.estatus,
              codigoRemitente: val.codigoRemitente,
              codigoMensaje: val.codigoMensaje,
            }
          });
          self.setMessageNumber(notRead ? 1 : 0, notRead);
        }
      },
      error: (rjson) => {
        console.error('error', rjson)
        self.tableData = []
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          boolError: true,
        })
      },
      done: () => {
        self.tableDataLoading = false
      },
    })
  }
  
  //-----------------------------------------------------------------------------------------------------------------------------------
  
  function messageEdit() {
    this.messageModalVisible = false
    this.modalDecorator(this, 'modalMessageDecorator')
  }

async function setMessageViewed(msgCode) {
  const self = this;
  const res = await fetchRequest({
    api: this.$apiAdministrativo + 'ActualizarEstatusMsj',
    method: 'PUT',
    body: {
      tokenUsuario: this.auth_tokenUsuario,
      codigoMensaje: msgCode,
      estatusMsj: "MQ==", // 0 (MA==), 1 (MQ==)
    },
    promiseReturn: true,
    self,
    success: (rjson) => rjson,
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
  });
  return res
}
  
  async function viewMessage(data, mode) {
    if (data?.estatus === 'NO LEÍDO') {
      const resp = await this.setMessageViewed(data.codigoMensaje);
      if (!resp) return;
    }
    this.messageMode = mode
    // if (data?.estatus === 'NO LEÍDO') this.setMessages(this.$apiAdministrativo)
    this.messageModalDta = {
      allData: data,
    }
    this.actionFromTable(this.messageModalDta, mode)
    this.messageModalVisible = true
  }
  
  function closeModal(isLoading = false, ) {
    if (!isLoading) {
      if (this.messageMode != 'register') this.fetchListarBuzonMensajes();
      this.messageModalVisible = false;
      this.modalDecorator(this, 'modalMessageDecorator');
    }
/*    if (this.groupMode === 'register' && this.auth_tipoUsuario === 22) this.fetchListarGrupos('MDAwMDAw')
    if (this.groupMode === 'edit') this.fetchListarGestionGrupo()
    if (this.groupMode === 'register' && this.tableData.length > 0) this.fetchListarGestionGrupo()*/
  }
  
 
  function mounted() {
    this.tRef = 'usuariosTable'
    if (this.auth_showBuzon) this.fetchListarBuzonMensajes()
    // this.setMessages(this.$apiAdministrativo)
  }
  
  function unmounted() {}
  
  function setup() {
    const optionsColWidthRem = 2
    const authStore = useAuth()
    const { auth_tokenUsuario, auth_tipoUsuario, auth_showBuzon } = storeToRefs(authStore)
    const messageStore = useMessages()
    const { loadingMessage, newMessage } = storeToRefs(messageStore)
    const { setMessages, cleanMessages, setMessageNumber } = messageStore
    loadToggler()
  
    const forTabla = [
      [{ name: 'Fecha', attr: 'fecha' },10],
      [{ name: 'Remitente', attr: 'nombreRemitente' },25],
      [{ name: 'Mensaje', attr: 'contenidoMsjCorto' },50],
      [{ name: 'Estatus', attr: 'estatus' },10],
    ]
    const inTableData = tableDataStruc(
      forTabla.map((tableCol) => ({
        ...tableCol[0],
        ...(tableCol[1]
          ? optionsColWidthRemStup(tableCol[1], optionsColWidthRem)
          : {}),
      })),
    )
  
    return {
      ...setupData(1),
      ...modalSetupData('actualizar'),
      ...modalSetupData('modalMessage', true),
      v$: useVuelidate(),
      inTableData,
      auth_tokenUsuario,
      optionsColWidthRem,
      auth_tipoUsuario,
      loadingMessage,
      cleanMessages,
      setMessages,
      newMessage,
      setMessageNumber,
      auth_showBuzon,
    }
  }
  
  function data() {
    return {
      compradorc: 'MDAwMDAw',
      tableData: [],
      messageModalVisible: false,
      messageModalDta: {},
      messageMode: 'Register',
      errorMessage: false,
      datosMensajes: []
    }
  }
  
  export default {
    name: 'buzonMensajes',
    components: { CCTable, modalMessage },
    mixins: [globalMixin, tableGenerals, modalGenerals],
    setup,
    data,
    methods: {
      fetchListarBuzonMensajes,
      viewMessage,
      messageEdit,
      closeModal,
      clearAll,
      setMessageViewed,
    },
    mounted,
    unmounted,
    watch:{
        newMessage: function(){
            return this.newMessage  
        }
    }
  }
  </script>
  