<template>
    <CModal
      size="xl"
      alignment="center"
      backdrop="static"
      :visible="visible"
      @close="shouldClose"
    >
      <CModalHeader>
        <CModalTitle>{{
          mode === 'edit' ? 'Nuevo Mensaje' : 'Detalle de Mensaje'
        }}</CModalTitle>
      </CModalHeader>
      <CModalBody class="modal-content overflow-visible">
        <CCol xs="12" lg="12" class="mt-3" v-if="mode === 'view'">
            <CCol class="mb-1 color-text" xs="12" lg="3">Fecha: {{fecha}}</CCol>
        </CCol>
        <CCol xs="12" lg="12" class="mt-3" v-if="mode === 'view'">
            <CCol class="mb-1 color-text" xs="12" lg="12">Contenido</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'textarea',
                }"
                v-model="recibido"
                :v_="v$.recibido"
                activateTouched
                :execute="
                  () => {
                    v$.recibido.$touch()
                  }
                "
                :disabled="mode === 'view' ? true : false"
              />
          </CCol>
        <CForm class="d-flex flex-wrap justify-content-between align-items-start" v-if="viewForm || mode === 'register'">
            <CCol v-if="mode === 'register'" xs="12" class="pe-3" v-bind:class="showCC && showLister ? 'col-lg-3' : 'col-lg-5'">
                <CCol class="mb-1 color-text">Entidad</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.entidad"
                  :options="entidadOptions"
                  v-model="entidad"
                  hideSeleccione
                />
            </CCol>
            <CCol v-if="showCC" xs="12" v-bind:class="[showLister ? 'pe-3' : '', showLister ? 'col-lg-4' : 'col-lg-7']">
                <CCol class="mb-1 color-text">Comprador comercial</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                  }"
                  v-model="comprador"
                  :v_="v$.comprador"
                  :options="compradorOptions"
                  :execute="
                    () => {
                      v$.comprador.$touch()
                    }
                  "
                  hideSeleccione
                  :disabled="entidad === 'MDA=' || loadingOptions ? true : false"
                />
            </CCol>
            <CCol v-if="showLister && this.entidad != 'MDA='" xs="12" v-bind:class="showCC ? 'col-lg-5' : 'col-lg-7'">
                      <!-- <CCInput
                        :allData="{
                          rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                          errorMessageClasses: 'wrong-input',
                          type: 'select',
                        }"
                        :v_="v$.codigoEntidad"
                        :options="codigoOptions"
                        v-model="codigoEntidad"
                        hideSeleccione
                        :disabled="entidad === 'MDA=' || loadingOptions ? true : false"
                      /> -->
                      <CCol class="mb-1 color-text">{{this.entidad == 'MjE=' ? 'Centros de apuesta' : this.entidad == 'MjM=' ? 'Grupos' 
                        : this.entidad == 'MjQ=' ? 'Banca' : this.entidad == 'MjI=' ? 'Comprador comercial' : ''}}</CCol>
                      <CCInput
                        :allData="{
                            rowClasses: 'g-0 mb-3 wide-mobile-lg',
                            errorMessageClasses: 'wrong-input',
                            type: 'vSelect',
                            multiple: false
                        }"
                        v-model="codigoEntidad"
                        :v_="v$.codigoEntidad"
                        :execute="
                        () => {
                            v$.codigoEntidad.$touch()
                        }
                        "                    
                        :options="codigoOptions"      
                        hideSeleccione                                
                        :disabled="entidad === 'MDA=' || (loadingOptions ? true : false) || (showCC && (!comprador || comprador.value === 'MDAwMDAw'))"
                      />
            </CCol>
            <CCol v-if="showLister && this.entidad == 'MDA='" xs="12" v-bind:class="showCC ? 'col-lg-5' : 'col-lg-7'"></CCol>

          <CCol xs="12" lg="12" class="mt-3">
            <CCol class="mb-1 color-text" xs="12" lg="12">Mensaje</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'textarea',
                }"
                v-model="mensaje"
                :v_="v$.mensaje"
                activateTouched
                :execute="
                  () => {
                    v$.mensaje.$touch()
                  }
                "
              />
              <div class="row" v-if="mensaje.length > 0 && this.v$.mensaje.minlength.$invalid"><span style="color: red;">{{ this.v$.mensaje.minlength.$message }}</span></div>
              <div class="row" v-if="mensaje.length > 0 && this.v$.mensaje.maxlength.$invalid"><span style="color: red;">{{ this.v$.mensaje.maxlength.$message }}</span></div>
          </CCol>
        </CForm>
        <CModalFooter v-if="mode === 'view' && !viewForm" class="justify-content-right">
            <CButton
              class="btn-primario"
              @click="viewForm = true"
            >
              Responder
            </CButton>
        </CModalFooter>
        <CModalFooter v-if="viewForm || mode === 'register'" class="justify-content-right">
            <CButton
              class="btn-primario"
              @click="fetchGestionarBuzonMensajes()"
              :disabled="v$.mensaje.$error || !mensaje || mensaje.length < 10 || (mode === 'register' && ((showLister && (!codigoEntidad || codigoEntidad.value === 'MDAwMDAw')) || (showCC && (!comprador || comprador.value === 'MDAwMDAw'))))"
            >
              Enviar
            </CButton>
        </CModalFooter>
      </CModalBody>
    </CModal>
  </template>
  <script>
  import globalMixin from '@/_mixins/globals'
  import useVuelidate from '@vuelidate/core'
  import modalMensaje from '@/_validations/buzonMensajes/modalBuzonMensajes'
  import CCInput from '@/components/custom/CCInput.vue'
  import { useAuth } from '@/store/auth'
  import { storeToRefs } from 'pinia'
  import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
  import { LABELS as labels } from '@/_helpers/labels'


  
  function cleanAll() {
    this.compradorOptions = [];
    this.comprador = { label: 'SELECCIONE', value: 'MDAwMDAw' };
    this.nombreGrupo = ''
    this.grupo = ''
    this.centrosApuestaGrupo = ''
    this.centrosApuestaGrupoOptions = []
    this.viewForm = false
    this.mensaje = ''
    this.recibido = ''
    //this.codigoEntidad = 'MDAwMDAw'
    this.codigoEntidad = { label: 'SELECCIONE', value: 'MDAwMDAw' }
  }
  
  
  
 
  
  //*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************

async function fetchListarCompradorComercial(onlyCC = false) {
    const self = this;
    const regular = onlyCC || this.isBanca || ![0,20,23].includes(this.auth_tipoUsuario);

    if (!onlyCC || !self.compradorOptions.length) 
      fetchRequest({
        api:
          this.$apiGeneral + `${regular ? 'ListarCompradorComercial' : 'listarInfoEntidadMsj'}/` + self.auth_tokenUsuario + (regular ? '' : '/MjI='),
        self,
        success: (rjson) => {
          self[onlyCC ? 'compradorOptions' : 'codigoOptions'] = rjson.datos.map((val) => ({ value: val.codigo, label: val.descripcion }));
          /*self.compradorOptions = [
            { label: 'SELECCIONE', value: 'MDAwMDAw' },
            ...self.compradorOptions,
          ]*/
          self.loadingOption = false
        },
        error: (rjson) => {
          self.loadingOption = false;
          return caseWrong({
            self,
            error: rjson.msg || rjson,
            passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
          })
        },
      });
    else self.loadingOption = false;
  }

async function fetchListarBanca() {
  const self = this;

  fetchRequest({
    api:
      this.$apiGeneral + 'listarInfoEntidadMsj/' + self.auth_tokenUsuario + '/MjQ=',
    self,
    success: (rjson) => {
      self.bancaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.codigoOptions = self.bancaOptions
      self.bancaOptions = [
        { label: 'SELECCIONE', value: 'MDAwMDAw' },
        ...self.bancaOptions,
      ]
      self.loadingOption = false
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
  
   //*******************************************************LISTAR ENTIDAD ****************************************************
   async function fetchEntidad() {
    const self = this
    const tipoUsuario = window.btoa(self.auth_tipoUsuario || '21')
    fetchRequest({
      // api: `${this.$apiGeneral}ListarEntidad/MDE=/${tipoUsuario}`,
      api: `${this.$apiGeneral}ListarEntidadBuzon/MDE=/${tipoUsuario}`,
      self,
      success: (rjson) => {
        
        self.entidadOptions = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          };
        });
        self.entidadOptions = [{ label: 'SELECCIONE', value: 'MDA=' }, ...self.entidadOptions];
        self.entidad = 'MDA='
      },
      error: (rjson) => {
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
    });
  }

//*******************************************************LISTAR PUNTO VENTA ****************************************************
  async function fetchCapuesta() {
    const self = this
    const auxComprador = self.comprador.value ? self.comprador.value : 'MDAwMDAw';
    fetchRequest({
      api: `${self.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${auxComprador}`,
      self,
      success: (rjson) => {
        self.centroApuestaOptions = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.codigoOptions = self.centroApuestaOptions
        self.centroApuestaOptions = [
          { label: 'SELECCIONE', value: 'MDAwMDAw' },
          ...self.centroApuestaOptions,
        ]
        self.loadingOption = false
      },
      error: (rjson) => {
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
    })
  }
  

//*******************************************************LISTAR GRUPO ****************************************************


  async function fetchListarGrupos() {
    const self = this;
    const regular = this.isBanca || ![0,20].includes(this.auth_tipoUsuario);
    const auxComprador = self.comprador.value ? self.comprador.value : 'MDAwMDAw';
    const valorComprador = regular ? auxComprador : 'MjM=';

    fetchRequest({
      api: this.$apiGeneral + `${regular ? 'ListarGrupos' : 'listarInfoEntidadMsj'}/${self.auth_tokenUsuario}/${valorComprador}`,
      self,
      success: (rjson) => {
        self.grupoOption = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.codigoOptions = self.grupoOption
        self.grupoOption = [
          { label: 'SELECCIONAR', value: 'MDAwMDAw' },
          ...self.grupoOption,
        ]
        self.loadingOption = false
      },
      error: (rjson) => {
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
    })
  }


  
  //**********************************GESTIONAR GRUPO ************************************** */
  async function fetchGestionarBuzonMensajes() {
      const self = this
      self.loading = true
      const codEntidad = self.mode === 'view' ? self.codigoRemitente : (self.showLister ? self.codigoEntidad?.value : self.comprador?.value);
      const entidad = self.mode === 'view' ? 'MDA=' : self.entidad
      fetchRequest({
        api: this.$apiAdministrativo+'RegistrarMensajeBuzon',
        method: 'POST',
        self,
        body: {
          tokenUsuario: self.auth_tokenUsuario,
          tipoEntidad: entidad,
          codigoEntidad: codEntidad,
          contenidoMsj: self.mensaje
        },
    
         success: () => {
          self.loading = false
          self.close()
          self.fireToastMsg(self.mode === 'register' ? 'Mensaje enviado de manera exitosa.' : 'Respuesta enviada de manera exitosa.', { icon: 'success' });
          //self.cleanAll()
        },
        error: (rjson) => {
          self.loading = false
          return caseWrong({
            self,
            error: rjson.msg || rjson,
            passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
          })
        },
        done: () => {},
      })
    }
    
  
  function shouldClose() {
    this.cleanAll()
    this.v$.$reset()
    this.close()
  }
  
  async function fillInputs(data) {
    if (this.visible === true) {
        this.fecha = data.allData ? data.allData.fecha : ''
        this.recibido = data.allData ? data.allData.contenidoMsj : ''
        this.codigoRemitente = data.allData ? data.allData.codigoRemitente : ''

        if (this.mode === 'register'){
            this.fetchEntidad();
            if (this.isBanca) this.fetchListarCompradorComercial(true);
        }
    }

    
  }
  

  function visibleW() {
    this.cleanAll()
    this.fillInputs(this.data)
  }
  export default {
    name: 'modalMensaje',
  
    data() {
      return {
        loading: false,
        comprador: { label: 'SELECCIONE', value: 'MDAwMDAw' },
        compradorOptions: [],
        bancaOptions: [],
        compradorAux:'',
        estatus: '',
        centroApuestas: '',
        fecha: '',
        mensaje: '',
        viewForm: false,
        entidad: 'MDA=',
        entidadOptions: [],
        centroApuestaOptions: [],
        grupoOption:[],
        grupo:'',
        //codigoEntidad: 'MDAwMDAw',
        codigoEntidad: { label: 'SELECCIONE', value: 'MDAwMDAw' },
        codigoOptions:[],
        loadingOption: true

      }
    },
    components: { CCInput },
    mixins: [globalMixin],
    props: {
      visible: Boolean,
      close: Function,
      save: Function,
      edit: Function,
      refresh: Function,
      formData: {
        type: Array,
        default: () => [],
      },
      mode: {
        type: String,
        default: 'register',
      },
      data: Object,
      showFooter: {
        type: Boolean,
        default: true,
      },
    },
    setup() {
      const authStore = useAuth()
      const { auth_tipoUsuario, auth_tokenUsuario } = storeToRefs(authStore)
      return {
        v$: useVuelidate(),
        auth_tipoUsuario,
        auth_tokenUsuario,
      }
    },
    computed: {
        isBanca: function () {
          return this.auth_tipoUsuario == 24
        },
        showCC: function () {
          return this.isBanca && this.mode === 'register'
        },
        showLister: function () {
          return (this.mode === 'register' && !this.isBanca) || (this.showCC && this.entidad !== 'MjI=')
        },
    },
    validations() {
    return modalMensaje(this.auth_tipoUsuario)
    },

    mounted() {
    this.tRef = 'gestionGrupo'
    },
    
  
   
    methods: {
      shouldClose,
      fetchListarCompradorComercial,
      fillInputs,
      cleanAll,
      fetchGestionarBuzonMensajes,
      fetchCapuesta,
      fetchEntidad,
      fetchListarGrupos,
      fetchListarBanca,
    },
  
    watch: {
      visible: visibleW,
      entidad: function (val) {
        this.codigoEntidad = { label: 'SELECCIONE', value: 'MDAwMDAw' };
        this.codigoOptions = [];
        if (this.isBanca) {
          this.comprador = null;
          return;
        }
        if (val === 'MjI='){ //22
            this.fetchListarCompradorComercial()
        }
        else if (val === 'MjE='){ //21
            this.fetchCapuesta()
        }
        else if (val === 'MjM='){ //23
            this.fetchListarGrupos()
        }
        else if (val === 'MjQ=') { //24
            this.fetchListarBanca()
        }
      },
      comprador: function (val) {
        this.codigoEntidad = { label: 'SELECCIONE', value: 'MDAwMDAw' };
        this.codigoOptions = [];
        if (val && this.showLister) {
          const ent = this.entidad;
          const meth = ent === 'MjI=' ? 'ListarCompradorComercial' : ent === 'MjE=' ? 'Capuesta' : ent === 'MjM=' ? 'ListarGrupos' : ent === 'MjQ=' ? 'ListarBanca' : '';
          if (meth) this['fetch'+meth]();
        }
      },
      mensaje: function(){
        console.log("v$.mensaje",this.v$.mensaje.$invalid)
      }
    },
  }
  </script>
  <style lang="scss" scoped>
  @include deepSectionContainer;
  .border-blue {
    border: 4px solid #dae8fd;
    border-radius: 10px;
    padding: 0.75rem 0.5rem 0.5rem;
    text-align: center;
  }
  .color-text {
    color: #1c4c96;
  }
  .inline-block {
    display: inline-block;
  }
  a {
    color: gray !important;
    cursor: pointer;
  }
  .nav-link {
    color: gray !important;
  }
  .modal-content {
    overflow-y: scroll; /* Habilitar el scroll vertical */
  }
  .tableContainer {
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
  }
  .maximo {
    width: 30%;
  }
  
  .inputContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }
  .inputContainer label {
    padding-right: 10px;
    padding-bottom: 5px;
  }

  /*:deep(.select-multiple) {
    .vs__selected-options{
        max-height: 1.5rem !important;
    }
  }*/
  </style>
  