<template>
  <div>
    <showInfo
      ref="modalshowinfoDecorator"
      :data="showinfoModalDta"
      :visible="showinfoModalVisible"
      :close="closeShowInfoModal"
    />
  </div>
  <CCol>
    <CCard class="mb-4">
      <CCardHeader>
        <h5>Monitorear ventas de combinaciones</h5>
      </CCardHeader>
      <CCardBody class="row">
        <div class="col-md-12">
          <CRow>
            <CCol
              xs="12"
              lg="5"
              v-if="this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 0"
            >
              <CCol class="mb-1">Grupo</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                v-model="grupo"
                :v_="v$.grupo"
                activateTouched
                :execute="
                  () => {
                    v$.grupo.$touch()
                  }
                "
                :options="grupoOption"
                hideSeleccione
                @change="fetchListarCentroApuesta"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol xs="12" lg="5" v-if="this.auth_tipoUsuario === 24">
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                v-model="compradorc"
                :v_="v$.compradorc"
                activateTouched
                :execute="
                  () => {
                    v$.compradorc.$touch()
                  }
                "
                :options="compradoresc"
                hideSeleccione
              />
            </CCol>

            <CCol
              xs="12"
              lg="5"
              v-if="
                this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 23
              "
            >
              <CCol class="mb-1">Centro de apuesta</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                v-model="centroApuesta"
                :v_="v$.centroApuesta"
                activateTouched
                :execute="
                  () => {
                    v$.centroApuesta.$touch()
                  }
                "
                :options="centroApuestaOptions"
                hideSeleccione
              />
            </CCol>

            <CCol xs="1" lg="1"></CCol>

            <CCol
              xs="12"
              lg="5"
              v-if="
                this.auth_tipoUsuario === 24 ||
                this.auth_tipoUsuario === 23 ||
                this.auth_tipoUsuario === 22
              "
            >
              <CCol class="mb-1 color-text">Producto</CCol>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="producto"
                :v_="v$.producto"
                activateTouched
                :execute="
                  () => {
                    v$.producto.$touch()
                  }
                "
                :options="productos"
                hideSeleccione
              />
            </CCol>
          </CRow>
          <CRow class="col-md-12">
            <CCol xs="12" lg="5" class="me-1">
              <CCol class="mb-1 color-text">Simbolos</CCol>
              <div class="border-blue">
                <CFormCheck
                  inline
                  class="text-capitalize"
                  v-for="aim of simbolos"
                  :key="aim"
                  type="radio"
                  name="simbolo"
                  :id="'simbolo' + aim"
                  autocomplete="off"
                  :label="aim.descripcion"
                  :value="aim.codigo"
                  :checked="simbolo === aim.codigo"
                  @change="handlerSimbolos(aim.codigo)"
                />
              </div>
            </CCol>
            <CCol xs="1" lg="1"></CCol>
            <CCol xs="12" lg="5">
              <CCol class="mb-1 color-text">Números</CCol>
              <div class="border-blue">
                <CFormCheck
                  inline
                  class="text-capitalize"
                  v-for="aim of numeros"
                  :key="aim"
                  type="radio"
                  name="numero"
                  :id="'numero' + aim"
                  :label="aim.descripcion"
                  :value="aim.codigo"
                  :checked="numero === aim.codigo"
                  @change="handlerNumeros(aim.codigo)"
                />
              </div>
            </CCol>
          </CRow>
          <br />
          <CRow>
            <CCol xs="12" lg="5" class="inputContainer">
              <CCol xs="12" lg="5">
                <CFormLabel for="serial">Rango de ventas mayor a</CFormLabel>
              </CCol>
              <CCol xs="12" lg="7">
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    labelClasses: 'pt-0 w-auto wide-mobile-md',
                    inputWrapperClasses: 'flex-grow-1',
                    errorMessageClasses: 'wrong-input',
                    type: 'text',
                  }"
                  v-model="rango"
                  :v_="v$.rango"
                  activateTouched
                  :execute="
                    () => {
                      v$.rango.$touch()
                    }
                  "
                />
              </CCol>
            </CCol>
            <CCol xs="1" lg="1"></CCol>

<CCol xs="12" lg="5" class="inputContainer">
              <CCol xs="12" lg="5">
                <CFormLabel for="tickets"
                  >Cantidad de tickets mayor a</CFormLabel
                >
              </CCol>
              <CCol xs="12" lg="7">
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    labelClasses: 'pt-0 w-auto wide-mobile-md',
                    inputWrapperClasses: 'flex-grow-1',
                    errorMessageClasses: 'wrong-input',
                    type: 'text',
                  }"
                  v-model="tickets"
                  :v_="v$.tickets"
                  activateTouched
                  :execute="
                    () => {
                      v$.tickets.$touch()
                    }
                  "
                />
              </CCol>
            </CCol>
            <CCol xs="1" lg="1"></CCol>
            
          </CRow>
          <CRow> 
            <CCol xs="12" lg="5" class="inputContainer">
              <CCol xs="12" lg="4">
                <CFormLabel for="serial">Porcentaje hasta</CFormLabel>
              </CCol>
              <CCol xs="12" lg="8">
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    labelClasses: 'pt-0 w-auto wide-mobile-md',
                    inputWrapperClasses: 'flex-grow-1',
                    errorMessageClasses: 'wrong-input',
                    type: 'text',
                  }"
                  v-model="porcentajeHasta"
                  :v_="v$.porcentajeHasta"
                  activateTouched
                  :execute="
                    () => {
                      v$.porcentajeHasta.$touch()
                    }
                  "
                />
              </CCol>
            </CCol>
            <CCol xs="1" lg="1"></CCol>
            <CCol xs="12" lg="5" class="inputContainer">
              <CCol xs="12" lg="4">
                <CFormLabel for="serial">Porcentaje desde</CFormLabel>
              </CCol>
              <CCol xs="12" lg="8">
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    labelClasses: 'pt-0 w-auto wide-mobile-md',
                    inputWrapperClasses: 'flex-grow-1',
                    errorMessageClasses: 'wrong-input',
                    type: 'text',
                  }"
                  v-model="porcentajeDesde"
                  :v_="v$.porcentajeDesde"
                  activateTouched
                  :execute="
                    () => {
                      v$.porcentajeDesde.$touch()
                    }
                  "
                />
              </CCol>
            </CCol>
          </CRow>
          <CRow>
            <CCol xs="12" lg="5" class="inputContainer">
              <!-- <CCol class="mb-1">Moneda</CCol> -->
              <CCol xs="12" lg="4">
                <CFormLabel for="moneda">Moneda</CFormLabel>
              </CCol>
              <CCol xs="12" lg="8">
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="moneda"
                  :v_="v$.moneda"
                  activateTouched
                  :execute="
                    () => {
                      v$.moneda.$touch()
                    }
                  "
                  :options="monedaOptions"
                  hideSeleccione
                />
              </CCol>
            </CCol>
            <CCol xs="12" lg="5">
              <CModalFooter class="justify-content-center m-t-3" >
                <CButton
                  class="btn-primario mx-2"
                  @click="fetchListarVentaMonitor"
                  :disabled="v$.rango.$error || v$.tickets.$error || v$.porcentajeDesde.$error || v$.porcentajeHasta.$error || tableDataLoading === true ? 'disabled': null"
                  >Buscar
                </CButton>
              </CModalFooter>
            </CCol>
          </CRow>
        </div>
        <CRow>
          <CCTable
            :ref="tRef"
            v-model="currentPage"
            :tableData="tableData"
            :inTableData="inTableData"
            :setTableState="setTableState"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :showDelete="false"
            :showEdit="false"
            :showView="true"
            :loading="tableDataLoading"
            :optionsColWidth="optionsColWidthRem"
            :checkCol="false"
            :hideActionsHeader="true"
            maxHeight="30rem"
            doNotEmit
            :viewFromTable="sendData"
            :pageSize="15"
          />
        </CRow>
        <CRow v-if="totalVendido > 0">
          <CCol class="color-text" xs="12" lg="6"
            >Monto Total Vendido: {{ totalVendido.toFixed(2) }}
          </CCol>
        </CRow>

        <CRow class="mt-3">
          <CModalFooter class="justify-content-center m-t-3">
            <CButton class="btn-primario mx-2" @click="cleanAll"
              >Cancelar</CButton
            >
          </CModalFooter>
        </CRow>
      </CCardBody>
    </CCard>
  </CCol>
</template>
<script>
import CCTable from '@/components/custom/CCTable.vue'
import monitorearCombinaciones from '@/_validations/monitorCombinacionesVal'
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import modalGenerals from '@/_mixins/modalGenerals'
import CCInput from '@/components/custom/CCInput.vue'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
import useVuelidate from '@vuelidate/core'
import showInfo from './modalDetalle.vue'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { modalSetupData } from '@/composables/modalDataStruct'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { loadToggler } from '@/composables/loadToggler'

//---------------------------------------------------------- LISTAR GRUPOS ----------------------------------------------------------------

async function fetchListarGrupos() {
  const self = this
  fetchRequest({
    api:
      this.$apiGeneral + 'ListarGrupos/' + self.auth_tokenUsuario + '/MDAwMDAw',
    self,
    success: (rjson) => {
      self.grupoOption = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.grupoOption = [
        { label: 'TODOS', value: '000000' },
        ...self.grupoOption,
      ]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}

//------------------------------------------------- LISTAR COMPRADOR COMERCIAL ------------------------------------------------------------

async function fetchListarCompradorComercial() {
  const self = this
  fetchRequest({
    api:
      this.$apiGeneral + 'ListarCompradorComercial/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.compradoresc = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradoresc = [
        { label: 'TODOS', value: '000000' },
        ...self.compradoresc,
      ]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}

//-----------------------------------------------------  CENTRO APUESTA -------------------------------------------------------------------

async function fetchListarCentroApuesta() {
  const self = this
  let codGrupo = self.grupo.value === '000000' ? window.btoa('000000') : self.grupo.value
  let codComprador = self.compradorc.value === '000000' ? window.btoa('000000') : self.compradorc.value
  let codAsociado = self.auth_tipoUsuario === 22 ? codGrupo : codComprador
 
  fetchRequest({
    api:this.$apiGeneral+'ListarPuntoVenta/'+self.auth_tokenUsuario +'/'+codAsociado,
    self,
    success: (rjson) => {
      self.centroApuestaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.centroApuestaOptions = [
        { label: 'TODOS', value: '000000' },
        ...self.centroApuestaOptions,
      ]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}

//------------------------------------------------------ LISTAR PRODUCTOS -----------------------------------------------------------------

function fetchListarProducto() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarProductos/MDAwMA==`,
    self,
    success: (rjson) => {
      self.productos = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.productos = [{ label: 'TODOS', value: '0000' }, ...self.productos]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}

//------------------------------------------------------ LISTAR MONEDAS -----------------------------------------------------------------

async function fetchListarMoneda() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral + 'ListarMoneda/' + self.auth_tokenUsuario,
    self,
    success: (rjson) => {
      self.monedaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.monedaOptions = [
        { label: 'TODOS', value: '00' },
        ...self.monedaOptions,
      ]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}

//------------------------------------------------------- LISTAR VENTAS -----------------------------------------------------------------

async function fetchListarVentaMonitor() {
  this.tableDataLoading = true
  const self = this
  let codComprador =
    self.compradorc.value === '000000' ? window.btoa('000000') : self.compradorc.value
  let codGrupo = self.grupo.value === '000000' ? window.btoa('000000') : self.grupo.value
  let codCentroApuesta =
    self.centroApuesta.value === '000000' ? window.btoa('000000') : self.centroApuesta.value
  let codProducto =
    self.producto === '0000' ? window.btoa('0000') : self.producto
  let codMoneda = self.moneda === '00' ? window.btoa('00') : self.moneda
  let codigoMoneda = ''
  self.totalVendido = 0
  self.tableData = []
  clearInterval(self.tiempo)
  fetchRequest({
    api: `${this.$apiReporte}ConsurltarInfoVentaMonitor/${self.auth_tokenUsuario}/${codComprador}/${codGrupo}/${codCentroApuesta}/${codProducto}/${self.simbolo}/${self.numero}/${self.rango}/${codMoneda}/${self.tickets}/${self.porcentajeDesde}/${self.porcentajeHasta}`,
    self,
    success: (rjson) => {
      if (rjson.mensaje.codigo === '000') {
        self.totalVendido = rjson.datos.infoVenta.reduce(
          (acumulador, actual) => acumulador + actual.venta,
          0,
        )
        self.tableData = rjson.datos.infoVenta
        codigoMoneda = self.tableData[0].codigoMoneda
        self.cuentaRegresiva(rjson.datos.tiempo)
        self.simboloMoneda = self.monedaOptions.find(
          (e) => e.value === codigoMoneda,
        )
      }
    },
    error: (rjson) => {
      console.error('error', rjson)
      self.tableData = []
      self.compradorc = { label: 'TODOS', value: '000000' }
      self.grupo = { label: 'TODOS', value: '000000' }
      self.centroApuesta = { label: 'TODOS', value: '000000' }
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        boolError: true,
      })
    },
    done: () => {
      self.tableDataLoading = false
      self.compradorc = { label: 'TODOS', value: '000000' }
      self.grupo = { label: 'TODOS', value: '000000' }
      self.centroApuesta = { label: 'TODOS', value: '000000' }
    },
  })
}

//-----------------------------------------------------------------------------------------------------------------------------------

function sendData(data) {
  this.showinfoModalDta = data
  this.showinfoModalVisible = true
}

function closeShowInfoModal() {
  this[this.modalPre + 'ModalVisible'] = false
  this.modalDecorator(this, 'modal' + this.modalPre + 'Decorator')
  this[this.modalPre + 'ModalDta'] = {}
}

function cleanAll() {
  const self = this
  self.compradorc = { label: 'TODOS', value: '000000' },
  self.moneda = '00'
  self.rango = '0'
  self.tickets = '0'
  self.grupo = { label: 'TODOS', value: '000000' }
  self.centroApuesta = { label: 'TODOS', value: '000000' }
  self.producto = '0000'
  self.porcentajeDesde = '0'
  self.porcentajeHasta = '0'
  self.totalVendido = 0
  self.tableData = []
  self.v$.$reset()
  self.tableDataLoading = false
  clearInterval(self.tiempo)
}

function cuentaRegresiva(seg) {
  this.tiempo = setInterval(() => this.fetchListarVentaMonitor(), seg * 1000)
}

function isInvalid() {
  return this.v$.$invalid
}

async function fillInputs(data) {
  if (this.visible === true) {
    this.rango = data.rango ? data.allData : '0'
  }
}

function handlerSimbolos(val) {
  this.simbolo = val
}

function handlerNumeros(val) {
  this.numero = val
}

function mounted() {
  this.tRef = 'usuariosTable'
  if (
    this.auth_tipoUsuario === 22 ||
    this.auth_tipoUsuario === 23 ||
    this.auth_tipoUsuario === 24
  )
    this.fetchListarProducto()
  if (this.auth_tipoUsuario === 24) this.fetchListarCompradorComercial()
  if (this.auth_tipoUsuario === 22 || this.auth_tipoUsuario === 23)
    this.fetchListarCentroApuesta()
  if ( this.auth_tipoUsuario === 22)
    this.fetchListarGrupos()
  if (
    this.auth_tipoUsuario === 22 ||
    this.auth_tipoUsuario === 23 ||
    this.auth_tipoUsuario === 24
  )
    this.fetchListarMoneda()
}

function unmounted(){
	this.cleanAll()
}

function setup() {
  const optionsColWidthRem = 2
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)

  loadToggler()
  
  const forTabla = [
    [{ name: 'Sorteo', attr: 'sorteo' }, 20],
    [{ name: 'Apuesta', attr: 'apuesta' }, 20],
    [{ name: 'Venta', attr: 'venta' }, 10],
    [{ name: 'Veces Vendido', attr: 'vecesVendido' }, 15],
    [{ name: 'Porcentaje de Premios', attr: 'porcentajePremio' }, 15],
    [{ name: 'Máxima Venta', attr: 'maxVenta' }, 30],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(tableCol[1], optionsColWidthRem)
        : {}),
    })),
  )

  return {
    ...setupData(1),
    ...modalSetupData('actualizar'),
    ...modalSetupData('showinfo', true),
    v$: useVuelidate(),
    inTableData,
    auth_tokenUsuario,
    optionsColWidthRem,
    auth_tipoUsuario,
  }
}

function data() {
  return {
    tipoMovimiento: [
      { codigo: '0', descripcion: 'Entrada' },
      { codigo: '1', descripcion: 'Salida' },
    ],
    tableData: [],
    compradorc: { label: 'TODOS', value: '000000' },
    compradoresc: [],
    fecha: new Date(new Date().toDateString()),
    moneda: '00',
    monedaOptions: [],
    rango: '0',
    tickets: '0',
    porcentajeDesde: '0',
    porcentajeHasta: '0',
    grupo: { label: 'TODOS', value: '000000' },
    grupoOption: [],
    centroApuesta: { label: 'TODOS', value: '000000' },
    centroApuestaOptions: [],
    totalVendido: 0,
    producto: '0000',
    productos: [],
    simbolo: '0',
    simbolos: [
      { codigo: '0', descripcion: 'TODOS' },
      { codigo: '1', descripcion: 'CON SIMBOLO' },
      { codigo: '2', descripcion: 'SIN SIMBOLO' },
    ],
    numero: '0',
    numeros: [
      { codigo: '0', descripcion: 'TODOS' },
      { codigo: '1', descripcion: 'TRIPLES' },
      { codigo: '2', descripcion: 'TERMINALES' },
    ],
    showinfoModalVisible: true,
    showinfoModalDta: {},
    tiempo: null,
    simboloMoneda: {},
  }
}

export default {
  name: 'monitorVenta',
  components: { CCTable, CCInput, showInfo },
  mixins: [globalMixin, tableGenerals, modalGenerals],
  setup,
  data,
  methods: {
    fetchListarProducto,
    fetchListarMoneda,
    fetchListarCompradorComercial,
    fetchListarGrupos,
    fetchListarCentroApuesta,
    cleanAll,
    handlerSimbolos,
    handlerNumeros,
    fetchListarVentaMonitor,
    closeShowInfoModal,
    sendData,
    cuentaRegresiva,
    fillInputs,
  },
  watch: {},
  mounted,
  validations() {
    return monitorearCombinaciones(this.auth_tipoUsuario)
  },
  computed: {
    isInvalid,
  },
  unmounted
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
  text-align: center;
}
.color-text {
  color: #1c4c96;
}
.label-customs {
  margin-bottom: 0.3rem !important;
}
.inputContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.inputContainer label {
  padding-right: 10px;
  padding-bottom: 5px;
}
</style>
