<template>
  <CModal
    :visible="visible"
    @close="shouldClose"
    size="lg"
    alignment="center"
    backdrop="static"
  >
    <CModalHeader>
      <CModalTitle> Detalle de las ventas </CModalTitle>
    </CModalHeader>
    <CModalBody class="row">
      <div class="col-md-12">
        <CRow>
          <CCol xs="12" lg="4"> Sorteo: {{ sorteo }} </CCol>
          <CCol xs="12" lg="4"> Apuesta: {{ apuesta }} </CCol>
          <CCol xs="12" lg="4"> Fecha: {{ fecha }} </CCol>
        </CRow>
      </div>
      <CRow>
        <CCol class="mt-3" xs="12" lg="12" v-if="tableData.length > 0">
          <CCTable
            :ref="tRef"
            v-model="currentPage"
            :tableData="tableData"
            :inTableData="inTableData"
            :setTableState="setTableState"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :loading="tableDataLoading"
            maxHeight="22rem"
            doNotEmit
            hideActions
          />
        </CCol>
        <CCol class="mt-3" xs="12" lg="12" v-else>
          <span class="color-text">{{ mensajeError }}</span>
        </CCol>
      </CRow>
      <CRow v-if="totalVenta > 0">
        <CCol class="color-text textRight" xs="12" lg="12"
          >Monto total: {{ totalVenta.toFixed(2) }} {{ totalMoneda }}
        </CCol>
      </CRow>
    </CModalBody>
    <CModalFooter>
      <CButton color="secondary" @click="shouldClose"> Cerrar </CButton>
    </CModalFooter>
  </CModal>
</template>
<script>
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'

function shouldClose() {
  this.tableData = []
  this.close()
}

function setup() {
  const optionsColWidthRem = 5
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  const forTabla = [
    [{ name: 'Comprador Comercial', attr: 'compradorComercial' }],
    [{ name: 'Grupo', attr: 'grupo' }],
    [{ name: 'Centro de Apuesta', attr: 'centroApuesta' }],
    [{ name: 'Ticket', attr: 'ticket' }],
    [{ name: 'Monto', attr: 'monto' }],
    [{ name: 'Moneda', attr: 'moneda' },5],
    [{ name: 'Hora', attr: 'hora' }],
    
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    inTableData,
    optionsColWidthRem,
    auth_tokenUsuario,
  }
}

async function fillInputs(data) {
  if (data.codigoComprador) {
    this.tableData = []
    this.fetchMovimiento(data)
  }
}

function visibleW() {
  this.fillInputs(this.data)
}

//*******************************************************LISTAR DETALLE MOVIMIENTO****************************************************
async function fetchMovimiento(data) {
  const self = this
  const hoy = new Date()

  self.datosTabla = []
  self.totalVenta = 0
  fetchRequest({
    api: `${this.$apiReporte}ConsultarDetalleMonitor/${self.auth_tokenUsuario}/${data.codigoComprador}/${data.codigoGrupo}/${data.codigoPunto}/${data.codigoMoneda}/${data.codigoSorteo}/${data.codigoCalendario}/${data.cadenaComb} `,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos.detalle.map((val) => {
        self.totalMoneda = val.simboloMoneda
        return {
          compradorComercial: val.compradorComercial,
          grupo: val.grupo,
          centroApuesta: val.centroApuesta,
          ticket: val.ticket,
          monto: val.monto.toFixed(2),
          hora: val.hora,
          moneda: val.simboloMoneda
        };
    });
      self.totalVenta = rjson.datos.detalle.reduce((acumulador, actual) => acumulador + actual.monto, 0,)
      self.sorteo = rjson.datos.sorteo
      self.apuesta = rjson.datos.apuesta
      self.fecha = hoy.toLocaleDateString()

    },
    error: (rjson) => {
      self.mensajeError = rjson.msg
    },
  })
}

export default {
  name: 'ModalDetailVentas',
  setup,
  components: { CCTable },
  mixins: [tableGenerals, globals],
  methods: {
    fillInputs,
    fetchMovimiento,
    shouldClose,
  },
  data() {
    return {
      date: '',
      boxOffice: '',
      ticketAmount: '',
      ticketp: '',
      status: '',
      mensajeError: '',
      sorteo: '',
      apuesta: '',
      fecha: '',
      datosTabla: [],
      totalVenta: 0,
      totalMoneda:''
    }
  },

  props: {
    data: Object,
    visible: Boolean,
    close: Function,
  },
  watch: {
    visible: visibleW,
  },
}
</script>
<style>
  .textRight{
    text-align: right;
  }
</style>
