<template>
  <router-view />
</template>

<script>
import devtoolsControls from '@/_mixins/devtoolsControls'

export default {
    name: 'LayoutLoggedOut',
    mixins: [ devtoolsControls ],
}
</script>