<template>
    <CRow>
        <CCol>
            <CCard class="mb-4">
                <CCardHeader>
                    <h5>Cambiar contraseña de acceso</h5>
                </CCardHeader>
                <CCardBody>
                    <CForm class="d-flex flex-wrap justify-content-center align-items-start">
                        <CCol xs="12" lg="6" class="mt-3 me-1">
                            <CCol class="mb-1 color-text">Contraseña actual</CCol>
                            <CCInput :allData="{
                                rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                                labelClasses: 'pt-0 w-auto wide-mobile-md',
                                inputWrapperClasses: 'flex-grow-1',
                                errorMessageClasses: 'wrong-input',
                                type: 'group', icon:'cicEye'
                            }" v-model="anterior" :v_="v$.anterior" activateTouched :execute="() => {
                                v$.anterior.$touch()
                            }
                                " />
                        </CCol>
                        <CCol xs="12" lg="6" class="mt-3 me-1">
                            <CCol class="mb-1 color-text">Contraseña nueva</CCol>
                            <CCInput :allData="{
                                rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                                labelClasses: 'pt-0 w-auto wide-mobile-md',
                                inputWrapperClasses: 'flex-grow-1',
                                errorMessageClasses: 'wrong-input',
                                type: 'group', icon:'cicEye'
                            }" v-model="password" :v_="v$.password" activateTouched :execute="() => {
                                v$.password.$touch()
                            }
                                " />
                        </CCol>
                        <CCol xs="12" lg="6" class="mt-3 me-1">
                            <CCol class="mb-1 color-text">Confirmar contraseña</CCol>
                            <CCInput :allData="{
                                rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                                labelClasses: 'pt-0 w-auto wide-mobile-md',
                                inputWrapperClasses: 'flex-grow-1',
                                errorMessageClasses: 'wrong-input',
                                type: 'group', icon:'cicEye'
                            }" v-model="password_confirmation" :v_="v$.password_confirmation" activateTouched :execute="() => {
                                v$.password_confirmation.$touch()
                            }
                                " />
                        </CCol>
                        <CCol xs="12" lg="6" class="mt-3 me-1">
                            <CCol class="mb-1 color-text">Caducidad</CCol>
                            <CCInput :allData="{
                                rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                                labelClasses: 'pt-0 w-auto wide-mobile-md',
                                inputWrapperClasses: 'flex-grow-1',
                                errorMessageClasses: 'wrong-input',
                                type: 'select',
                            }" v-model="caducidad" :v_="v$.caducidad"
                                activateTouched :execute="() => {
                                    v$.caducidad.$touch()
                                }
                                " :options="caducidad_options" />
                        </CCol>
                        <CCol xs="12" lg="12" class="mt-3 text-center">
                            <CButton class="btn-primario me-3" color="dark" @click="cambiarClave"
                            :disabled="isDisabled">
                                Guardar
                            </CButton>
                            <CButton class="btn-primario me-3" color="dark" @click="limpiarInputs">
                                Cancelar
                            </CButton>
                        </CCol>
                    </CForm>
                </CCardBody>
            </CCard>
        </CCol>
    </CRow>
</template>
  
<script>
import CCInput from '@/components/custom/CCInput.vue'
import globals from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import cambioClave from '@/_validations/cambioClave/index'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import modalGenerals from '@/_mixins/modalGenerals';
import { modalSetupData } from '@/composables/modalDataStruct';
import { loadToggler } from '@/composables/loadToggler'
import { LABELS as labels } from '@/_helpers/labels'


//COMPUTED
function isDisabled() {
  return this.v$.$invalid
}


function cambiarClave() {
    const self = this;
    const login = localStorage.getItem('login');
    var loginStr = login.replace(/['"]/g, "");
    fetchRequest({
        api: this.$apiUsuario+'CambiarClave',
        method: 'PUT',
        self,
        body: {
            tokenUsuario: self.auth_tokenUsuario,
            claveNueva: window.btoa(self.password),
            claveAnterior: window.btoa(self.anterior),
            caducidadClave: window.atob(self.caducidad),
            login: !self.auth_tokenUsuario ? window.btoa(loginStr) : loginStr
        },
        success: (rjson) => {
            self.fireToastMsg(rjson.mensaje.descripcion, { icon: 'success' });
            if(rjson.mensaje.codigo === '000' && !self.auth_tokenUsuario){
                self.$router.push({ path: "/pages/login" });
            }
        },
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
        done: () => {
            self.limpiarInputs()
        }
    });
}

async function fetchCaducidad() {
  const self = this;
  const tokenAux = '00000000000000000000000000000000'
  fetchRequest({
    api: this.$apiUsuario + 'ListarCaducidad/' + tokenAux,
    self,
    success: (rjson) => {
      self.caducidad_options = rjson.datos.map((val) => {
        return {
          value: val.valorCaducidad,
          label: val.valorCaducidad === 'MA==' ? 'NUNCA' : window.atob(val.valorCaducidad)
        };
      });
    },
    error: (rjson) => {
      console.error('fetchCaducidad', rjson);
    },
   
  });
  //self.caducidad = self.caducidad_options.label;
}


function limpiarInputs() {
    this.anterior='';
    this.password='';
    this.password_confirmation='';
    this.caducidad = this.caducidad_options[0].value;
    this.v$.$reset();
    this.$router.push({ path: "/pages/login" });
}

function data() {
    return {
        caducidad_options: [],
        anterior: '',
        password: '',
        password_confirmation: '',
        caducidad:''
    }
}
function setup() {
    const authStore = useAuth()
    const { auth_tokenUsuario } = storeToRefs(authStore)
    loadToggler()

    return {
        ...modalSetupData('info'),
        v$: useVuelidate(),
        auth_tokenUsuario,
    }
}
export default {
    data,
    setup,
    methods: {
        limpiarInputs,
        cambiarClave,
        fetchCaducidad
    },
    validations() {
        return cambioClave(this.password);
    },
    components: { CCInput },
    mixins: [globals, modalGenerals],
    mounted() {
        this.fetchCaducidad();
    },
    computed: {
    isDisabled,
  },
}
</script>
  
<style lang="scss" scoped>
@include deepSectionContainer;

.color-text {
    color: #1c4c96;
}
</style>
  