<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Reporte de liquidación general</h5></CCardHeader>
        <CCardBody>
          <CForm class="d-flex flex-wrap align-items-start">
            <CCol xs="12" lg="2" class="me-3">
              <CCol class="mb-1">Fecha desde</CCol>
              <CCInput
                :allData="{
                  type: 'date',
                  errorMessageClasses: 'wrong-input',
                }"
                v-model="fechaDesde"
                :v_="v$.fechaDesde"
                :disabled="loading"
                :sinceDate="nowDate()"
                :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="2" class="me-3">
              <CCol class="mb-1">Fecha hasta</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'date',
                }"
                v-model="fechaHasta"
                :v_="v$.fechaHasta"
                :disabled="loading"
                :sinceDate="nowDate()"
                :untilDate="new Date()"
              />
            </CCol>
            <CCol xs="12" lg="2" class="me-3">
              <CCol class="mb-1">Moneda</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="moneda"
                :v_="v$.moneda"
                :disabled="loading"
                activateTouched
                :execute="
                  () => {
                    v$.moneda.$touch()
                  }
                "
                :options="monedas"
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="2" class="me-3">
              <CCol class="mb-1">Entidad</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                v-model="entidad"
                :v_="v$.entidad"
                :disabled="loading"
                activateTouched
                :execute="
                  () => {
                    v$.entidad.$touch()
                  }
                "
                :options="entidadOptions"
                hideSeleccione
              />
            </CCol>
            <CCol
              xs="12"
              lg="2"
              class="me-3"
              v-if="
                this.auth_tipoUsuario === '24' &&
                (this.entidad === '3' ||
                  this.entidad === '2' ||
                  this.entidad === '4')
              "
            >
              <CCol class="mb-1">Comprador comercial</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false,
                }"
                v-model="comprador"
                :v_="v$.comprador"
                :disabled="loading"
                :options="compradorOptions"
                :execute="
                  () => {
                    v$.comprador.$touch()
                  }
                "
                hideSeleccione
              />
            </CCol>
            <CCol
              v-if="
                (this.auth_tipoUsuario === '22' && this.entidad === '3') ||
                (this.auth_tipoUsuario === '23' && this.entidad === '3') ||
                (this.entidad === '3' && (this.comprador && (this.comprador.value !== 'MDA=')))
              "
              xs="12"
              lg="2"
              :class="this.auth_tipoUsuario === '24' ? 'me-3 mt-3' : 'me-3'"
            >
              <CCol class="mb-1">Centro de apuesta</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                v-model="puntoVenta"
                :v_="v$.puntoVenta"
                :options="puntoVentaOptions"
                :execute="
                  () => {
                    v$.puntoVenta.$touch()
                  }
                "
                hideSeleccione
              />
            </CCol>
            <CCol
              v-if="
                (this.auth_tipoUsuario === '22' && this.entidad === '4') ||
                (this.auth_tipoUsuario === '23' && this.entidad === '4') ||
                (this.entidad === '4' && (this.comprador && (this.comprador.value !== 'MDA=')))
              "
              :class="this.auth_tipoUsuario === '24' ? 'me-3 mt-3' : 'me-3'"
              xs="12"
              lg="2"
            >
              <CCol class="mb-1">Grupo</CCol>
              <CCInput
                :allData="{
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                v-model="grupo"
                :v_="v$.grupo"
                activateTouched
                :options="grupOptions"
                :execute="
                  () => {
                    v$.grupo.$touch()
                  }
                "
                hideSeleccione
              />
            </CCol>
            <CCol
              v-if="
                (this.auth_tipoUsuario === '24' && this.entidad === '1')
              "
              :class="'me-3'"
              xs="12"
              lg="3"
            >
              <CCol class="mb-1">Productos</CCol>
              <vSelect
                class="select-multiple"
                multiple
                v-model="producto"
                placeholder="SELECCIONE"
                :options="productoOptions"
              >
                <template #no-options="{ search, searching }">
                  <template v-if="searching">
                    No se encontraron resultados para <em>{{ search }}</em
                    >.
                  </template>
                  <template v-else> No hay resultados para mostrar. </template>
                </template>
              </vSelect>
            </CCol>
            <CCol
              xs="12"
              lg="5"
              class="mt-3 me-3"
              v-if="verRadio()"
            >
              <CCol class="mb-1">Filtrado por</CCol>
              <div id="aim-radios">
                <CFormCheck
                  v-for="aim of estatusOptions"
                  :key="aim"
                  inline
                  class="text-capitalize"
                  type="radio"
                  name="estatusR"
                  :id="'estatusR' + aim"
                  autocomplete="off"
                  :label="aim.descripcion"
                  :value="aim.codigo"
                  @change="handlerEstatus(aim.codigo)"
                />
              </div>
            </CCol>
          </CForm>
          <CCol xs="12" class="mt-3">
            <CButton
              class="btn-primario wide-mobile-md"
              @click="buscar"
              color="dark"
              :disabled="valBtn() || loading"
            >
              <CCLoader v-if="loading" inline />&nbsp; Buscar
            </CButton>
            <!-- <CButton
                  v-if="showTable"
                  class="btn-primario wide-mobile-md ms-md-2 mt-2 mt-md-0"
                  :disabled="loading"
                  @click="sendToPrint"
                >
                  <CCLoader v-if="printing" inline />&nbsp;
                    Imprimir
                </CButton> -->
            <CButton
              v-if="showTable"
              @click="descarExcel(1)"
              class="btn-primario wide-mobile-md ms-md-2 mt-2 mt-md-0"
              :disabled="loading"
            >
              Descargar Excel
            </CButton>
            <CButton
              v-if="showTable"
              @click="descarExcel(2)"
              class="btn-primario wide-mobile-md ms-md-2 mt-2 mt-md-0"
              :disabled="loading"
            >
              Descargar txt
            </CButton>
          </CCol>
          <CRow class="mt-4" v-if="showTable">
            <CCTable
              :ref="tRef"
              v-model="currentPage"
              :tableData="tableData"
              :inTableData="inTableData"
              :setTableState="setTableState"
              :showPagination="showPagination"
              :setShowPagination="setShowPagination"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem"
              :showView="true"
              :showDelete="false"
              :showEdit="false"
              maxHeight="30rem"
              doNotEmit
              :pageSize="10"
              hideActionsNone
              :resumeRow="{ label: 'total', data: totalesTabla}"
            />
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import globals from '@/_mixins/globals'
import reporteLiquidacionGeneralVals from '@/_validations/reporteLiquidacionGeneralVals'
import {
  dateDepocher,
  depoched,
  parrafr,
  theBreak,
  rounderPlusOneLiquidacion,
} from '@/_helpers/formatters'
import CCInput from '@/components/custom/CCInput.vue'
import CCLoader from '@/components/custom/CCLoader.vue'
import CCTable from '@/components/custom/CCTable.vue'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import tableGenerals from '@/_mixins/tableGenerals'
import printGenerals from '@/_mixins/printGenerals'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import * as XLSX from 'xlsx/xlsx.mjs'
import { LABELS as labels } from '@/_helpers/labels'
import { computed, ref } from 'vue'

//*******************************************************LISTAR MONEDA****************************************************

async function fetchMoneda() {
  const self = this
  // const codPunto = 'MDAwMDAw'; // 000000 encriptado // si no se sabe cual es el codigo del punto
  fetchRequest({
    api: `${this.$apiGeneral}ListarMoneda/${this.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.monedas = rjson.datos.map((dto) => ({
        label: dto.descripcion,
        value: dto.codigo,
      }))
      self.monedas = [
        { label: 'SELECCIONE', value: 'MDAwMA==' },
        ...self.monedas,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar las monedas', true),
      })
    },
  })
}

  //---------------------------------------------------------- LISTAR PRODUCTOS ----------------------------------------------------------------
  async function fetchListarProductos() {
    const self = this
    fetchRequest({
      api:
        this.$apiGeneral + 'ListarProductos/MDAwMA==',
      self,
      success: (rjson) => {
        self.productoOptions = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.productoOptions = [
        { label: 'TODOS', value: 'MDAwMA==' },
          ...self.productoOptions,
        ]
      },
      error: (rjson) => {
        console.error('productoOptions', rjson)
      },
    })
  }

//*******************************************************LISTAR ENTIDAD****************************************************
async function fetchEntidad(val) {
  const self = this

  fetchRequest({
    api: `${self.$apiGeneral}ListarEntidadGeneral/${self.auth_tokenUsuario}${val}`,
    self,
    success: (rjson) => {
      self.entidadOptions = rjson.datos.map((val) => {
        return {
          value: window.atob(val.codigo),
          label: val.descripcion,
        }
      })
      self.entidadOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.entidadOptions,
      ]
    },
    error: (rjson) => {
      console.error('entidad error', rjson)
    },
  })
}

//*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador(entidad) {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        {
          label: entidad === '2' ? 'TODOS' : 'SELECCIONE',
          value: entidad === '2' ? 'MDAwMDAw' : 'MDA=',
        },
        ...self.compradorOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//*******************************************************LISTAR CENTRO APUESTA****************************************************
async function fetchPuntoVenta() {
  const self = this
  if (self.auth_tipoUsuario === '22' || self.auth_tipoUsuario === '23') {
    self.auxValorPtoVenta = 'MDAwMDAw'
  } else if (self.auth_tipoUsuario === '24') {
    self.auxValorPtoVenta = this.comprador.value
  }

  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${self.auxValorPtoVenta}`,
    self,
    success: (rjson) => {
      self.puntoVentaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.puntoVentaOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.puntoVentaOptions,
      ]
    },
    error: (rjson) => {
      self.puntoVentaOptions = [{ label: 'SELECCIONE', value: 'MDA=' }]
      self.puntoVenta = { label: 'SELECCIONE', value: 'MDA=' }
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//****************************************************************LISTAR GRUPO****************************************************
async function fetchGrupo() {
  const self = this
  if (self.auth_tipoUsuario === '22' || self.auth_tipoUsuario === '23') {
    self.auxValorGrupo = 'MDAwMDAw'
  } else if (self.auth_tipoUsuario === '24') {
    self.auxValorGrupo = this.comprador.value
  }
  fetchRequest({
    api: `${this.$apiGeneral}ListarGrupos/${self.auth_tokenUsuario}/${self.auxValorGrupo}`,
    self,
    success: (rjson) => {
      self.grupOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.grupOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.grupOptions,
      ]
    },
    error: (rjson) => {
      self.grupOptions = [{ label: 'SELECCIONE', value: 'MDA=' }]
      self.grupo = { label: 'SELECCIONE', value: 'MDA=' }
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//*************************************BUSCAR LOS REPORTE DE LIQUIDACION ************************************/
async function buscar() {
  const self = this
  self.loading = true

  self.showExtraCols = false
  self.showExtraCols2 = 0
  self.showExtraCols3 = 0

  let estProducto = '' 
  if(self.entidad === '1') estProducto = window.btoa('1')
  else estProducto = this.estatusR === '1' ? window.btoa('1') : window.btoa('0')
  let estSorteo = this.estatusR === '0' ? window.btoa('1') : window.btoa('0')
  // let estGeneral = this.estatusR === '2' ? window.btoa('1') : window.btoa('0')

  let auxCodPto = ''
  let auxCodGrupo = ''
  let auxArrayProd = ''

  if(self.entidad === '1'){
    auxArrayProd = '/' + this.arrayCodProd
    auxCodPto = 'MDAwMDAw'
    auxCodGrupo = 'MDAwMDAw'
  }
  else if (self.entidad === '2') {
    auxArrayProd = ''
    auxCodPto = 'MDAwMDAw'
    auxCodGrupo = 'MDAwMDAw'
  } else if (self.entidad === '3') {
    auxArrayProd = ''
    auxCodGrupo = 'MDAwMDAw'
    auxCodPto = self.puntoVenta.value
  } else if (self.entidad === '4') {
    auxArrayProd = ''
    auxCodGrupo = self.grupo.value
    auxCodPto = 'MDAwMDAw'
  }

  const  auxComprador = this.auth_tipoUsuario === '24' && this.entidad != '1' ? self.comprador.value : 'MDAwMDAw';
  const auxEntidad = window.btoa(this.entidad)

  fetchRequest({
    api: `${this.$apiReporte}ReporteLiquidacionGeneral/${
      self.auth_tokenUsuario
    }/${depoched(this.fechaDesde.getTime()).toString()}/${depoched(
      this.fechaHasta.getTime(),
    ).toString()}/${self.moneda}/${auxEntidad}/${auxComprador}/${auxCodGrupo}/${auxCodPto}/${estProducto}/${estSorteo}/MDE=${auxArrayProd}`,
    self,
    success: (rjson) => {
      self.showTable = true
      self.loading = false

      self.consultedData.fechaDesde = self.fechaDesde
      self.consultedData.fechaHasta = self.fechaHasta

      self.tableData = rjson.datos.map((val) => {
        if (auxEntidad != 'Mg==' && auxEntidad != 'NA==' && auxEntidad != 'MQ==' && !self.showExtraCols) self.showExtraCols = true
        if (val.impMunicipal > '0') self.showExtraCols2 = 1;
        else self.showExtraCols2 = 0;
        if (val.impIGTF > 0) self.showExtraCols3 = 1;
        else self.showExtraCols3 = 0;
        
        return {
          entidad: val.nomEntidad,
          venBruta: val.venBruta,
          impuesto: val.impMunicipal,
          venNeta: val.venNeta,
          preBruto: val.preBruto,
          impIGTF: val.impIGTF,
          preNeto: val.preNeto,
          monUtilidad: val.monUtilidad,
          monComision: val.monComision,
          salPagar: val.salPagar,
          estatusR: self.estatusR,
        }
      })

      self.tableData2 = rjson.datos.map((val) => {
        return {
          venBruta: (val.venBruta.replace('.', '').replace(',', '.')),
          impuesto: (val.impMunicipal.replace('.', '').replace(',', '.')),
          venNeta: (val.venNeta.replace('.', '').replace(',', '.')),
          preBruto: (val.preBruto.replace('.', '').replace(',', '.')),
          impIGTF: (val.impIGTF.replace('.', '').replace(',', '.')),
          preNeto: (val.preNeto.replace('.', '').replace(',', '.')),
          monUtilidad: (val.monUtilidad.replace('.', '').replace(',', '.')),
          monComision: (val.monComision.replace('.', '').replace(',', '.')),
          salPagar: (val.salPagar.replace('.', '').replace(',', '.')),
        }
      })

        const totalVenBruta = rounderPlusOneLiquidacion(self.tableData2, 'venBruta');
        const totalImpuesto = rounderPlusOneLiquidacion(self.tableData2, 'impuesto');
        const totalVenNeta = rounderPlusOneLiquidacion(self.tableData2, 'venNeta');
        const totalPreBruto = rounderPlusOneLiquidacion(self.tableData2, 'preBruto');
        const totalImpIGTF = rounderPlusOneLiquidacion(self.tableData2, 'impIGTF');
        const totalPreNeto = rounderPlusOneLiquidacion(self.tableData2, 'preNeto');
        const totalMonUtilidad = rounderPlusOneLiquidacion(self.tableData2, 'monUtilidad');
        const totalMonComision = rounderPlusOneLiquidacion(self.tableData2, 'monComision');
        const totalSalPagar = rounderPlusOneLiquidacion(self.tableData2, 'salPagar');

        self.totalesTabla = {
          total: '',
          venBruta: totalVenBruta,
          impuesto: totalImpuesto,
          venNeta: totalVenNeta,
          preBruto: totalPreBruto,
          impIGTF: totalImpIGTF,
          preNeto: totalPreNeto,
          monUtilidad: totalMonUtilidad,
          monComision: totalMonComision,
          salPagar: totalSalPagar,
        };
    },
    error: (rjson) => {
      console.log('error', rjson)
      self.loading = false
      self.showTable = false
      self.moneda = 'MDAwMA=='
      self.entidad = 'MDA='
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//***********************************IMPRIMIR*********************************** */
function sendToPrint() {
  const self = this
  self.printing = true

  let array_data = []
  const itm = {...self.totalesTabla};
  array_data.push(
    ...parrafr(
        itm.entidad != undefined ? itm.entidad : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.venBruta != undefined ? 'Venta Bruta' + '...' + itm.venBruta : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.impuesto != undefined ? 'Impuesto' + '...' + itm.impuesto : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.venNeta != undefined ? 'Venta neta' + '...' + itm.venNeta : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.preBruto != undefined ? 'Premio Bruto' + '...' + itm.preBruto : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.impIGTF != undefined ? 'IGTF' + '...' + itm.impIGTF : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.preNeto != undefined ? 'Premio Neto' + '...' + itm.preNeto : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.monUtilidad != undefined
          ? 'Utilidad' + '...' + itm.monUtilidad
          : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.monComision != undefined
          ? 'Beneficio' + '...' + itm.monComision
          : '',
        false,
        self.auth_columnaTicket,
        '',
    ),
    ...parrafr(
        itm.salPagar != undefined ? 'Saldo a pagar' + '...' + itm.salPagar : '',
        false,
        self.auth_columnaTicket,
        '',
      )
  );

  // self.tableData.forEach((itm) => {
  //   array_data.push(
  //     ...parrafr(
  //       itm.entidad != undefined ? itm.entidad : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.venBruta != undefined ? 'Venta Bruta' + '...' + itm.venBruta : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.impuesto != undefined ? 'Impuesto' + '...' + itm.impuesto : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.venNeta != undefined ? 'Venta neta' + '...' + itm.venNeta : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.preBruto != undefined ? 'Premio Bruto' + '...' + itm.preBruto : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.impIGTF != undefined ? 'IGTF' + '...' + itm.impIGTF : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.preNeto != undefined ? 'Premio Neto' + '...' + itm.preNeto : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.monUtilidad != undefined
  //         ? 'Utilidad' + '...' + itm.monUtilidad
  //         : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...parrafr(
  //       itm.monComision != undefined
  //         ? 'Beneficio' + '...' + itm.monComision
  //         : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ),
  //   )
  //   array_data.push(
  //     ...(parrafr(
  //       itm.salPagar != undefined ? 'Saldo a pagar' + '...' + itm.salPagar : '',
  //       false,
  //       self.auth_columnaTicket,
  //       '',
  //     ) +
  //       theBreak +
  //       theBreak),
  //   )
  // })

  const cApuesta = self.auth_nombrePuntoVenta
  const fechaDesde = dateDepocher(
    self.consultedData.fechaDesde,
    false,
    true,
    true,
  )
  const fechaHasta = dateDepocher(
    self.consultedData.fechaHasta,
    false,
    true,
    true,
  )
  const fechaReporte = new Date().toLocaleString()

  const ticketDta = [
    ...parrafr(cApuesta, false, self.auth_columnaTicket, ''),
    ...parrafr(
      'Fecha Actual:' + fechaReporte,
      false,
      self.auth_columnaTicket,
      '',
    ),
    ...parrafr('Fecha Desde:' + fechaDesde, false, self.auth_columnaTicket, ''),
    ...parrafr('Fecha Hasta:' + fechaHasta, false, self.auth_columnaTicket, ''),

    theBreak + theBreak,
    ...parrafr(
      'Reporte de liquidación general',
      false,
      self.auth_columnaTicket,
      '',
    ),
    theBreak + theBreak,
    array_data.join(''),
  ]

  const ticketDoc = ticketDta

  self.saveAndPrintFile({
    dataPrint: ticketDoc,
    onDone: () => {
      self.printing = false
    },
  })
}

function descarExcel(cond = 1) {
  const auxEntidad = window.btoa(this.entidad)
  let esCentroA = false

  if (auxEntidad != 'Mg==' && auxEntidad != 'NA==' && !self.showExtraCols) esCentroA = true
 
  let data_Aux = this.tableData.map((val) => {

      let auxImpuesto = 0;
      let auxIGTF = 0;

      if (val.impuesto > '0') auxImpuesto = 1;
      else auxImpuesto = 0;

      if (val.impIGTF > 0) auxIGTF = 1;
      else auxIGTF = 0;

    if(esCentroA && auxImpuesto > 0 && auxIGTF > 0) {
      return {
        'Entidad;': val.entidad + ';',
        'Venta neta;': val.venNeta + ';',
        'Venta bruta;': val.venBruta + ';',
        'Impuesto;': val.impuesto + ';',
        'Premio bruto;': val.preBruto + ';',
        'IGTF;': val.impIGTF + ';',
        'Premio neto;': val.preNeto + ';',
        'Utilidad;': val.monUtilidad + ';',
        'Beneficio;': val.monComision + ';',
        'Saldo a pagar;': val.salPagar + ';',
      }
    }
    else if((esCentroA && auxImpuesto <= 0 && auxIGTF > 0) || (!esCentroA && auxIGTF > 0)){
      return {
        'Entidad;': val.entidad + ';',
        'Venta neta;': val.venNeta + ';',
        'Premio bruto;': val.preBruto + ';',
        'IGTF;': val.impIGTF + ';',
        'Premio neto;': val.preNeto + ';',
        'Utilidad;': val.monUtilidad + ';',
        'Beneficio;': val.monComision + ';',
        'Saldo a pagar;': val.salPagar + ';',
      }
    }
    else if(esCentroA && auxImpuesto > 0 && auxIGTF <= 0){
      return {
        'Entidad;': val.entidad + ';',
        'Venta neta;': val.venNeta + ';',
        'Venta bruta;': val.venBruta + ';',
        'Impuesto;': val.impuesto + ';',
        'Premio neto;': val.preNeto + ';',
        'Utilidad;': val.monUtilidad + ';',
        'Beneficio;': val.monComision + ';',
        'Saldo a pagar;': val.salPagar + ';',
      }
    }
    else if((esCentroA && auxImpuesto <= 0 && auxIGTF <= 0) || (!esCentroA && auxIGTF <= 0)){
      return {
        'Entidad;': val.entidad + ';',
        'Venta neta;': val.venNeta + ';',
        'Premio neto;': val.preNeto + ';',
        'Utilidad;': val.monUtilidad + ';',
        'Beneficio;': val.monComision + ';',
        'Saldo a pagar;': val.salPagar + ';',
      }
    }  
  })

  const fechaActual = new Date()
  const dia = fechaActual.getDate()
  const mes = fechaActual.getMonth() + 1 // Los meses en JavaScript son indexados desde 0, por lo que se suma 1
  const anio = fechaActual.getFullYear()

  let type = cond == 1 ? 'xlsx' : 'txt'
  let data = XLSX.utils.json_to_sheet(data_Aux)
  const workbook = XLSX.utils.book_new()
  const filename = `ReporteLiquidacion${dia}${mes}${anio}`
  XLSX.utils.book_append_sheet(workbook, data, filename)
  XLSX.writeFile(workbook, `${filename}.${type}`)
}

function fechaHastaW(val) {
  const desde = this.fechaDesde.getTime()
  const hasta = val.getTime()
  if (hasta < desde) this.fechaDesde = new Date(val.getTime())
  else {
    const yearD = this.fechaDesde.getFullYear(),
      yearH = val.getFullYear(),
      valMo = val.getMonth() + 1,
      desdeMo = this.fechaDesde.getMonth()
    const distance = yearD != yearH ? 12 - desdeMo + valMo : valMo - desdeMo
    if (distance > 6) {
      const changeTo = desdeMo + 1 + 1 > 12
      this.fechaDesde = new Date(
        new Date(
          `${changeTo ? yearH : yearD}/${(
            valMo + (changeTo || valMo > 5 ? -5 : 7)
          )
            .toString()
            .padStart(2, '0')}/01`,
        ).getTime(),
      )
    }
  }
  this.v$.fechaHasta.$touch()
}

function fechaDesdeW(val) {
  const desde = val.getTime()
  const hasta = this.fechaHasta.getTime()
  if (desde > hasta) this.fechaHasta = new Date(val.getTime())
  this.v$.fechaDesde.$touch()
}

function handlerEstatus(val) {
  this.estatusR = val
}

function verRadio(){
  //validacion de radio para banca
  if (this.auth_tipoUsuario === '24') {
    if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '2' &&
      (this.comprador && this.comprador.value != 'MDAwMDAw')
    ) {
      return true
    } else if(
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.comprador && this.comprador.value != 'MDA=') &&
      (this.puntoVenta && (this.puntoVenta.value != 'MDAwMDAw' && this.puntoVenta.value != 'MDA='))
    ) {
      return true
    }else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '4' &&
      (this.comprador && this.comprador.value != 'MDA=') &&
      (this.grupo && this.grupo.value != 'MDAwMDAw')
    ) {
      return true
    }else return false
    //validacion de radio para CC
  }else if (this.auth_tipoUsuario === '22') {
    if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.puntoVenta && this.puntoVenta.value != 'MDAwMDAw')
    ) {
      return true
    }else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '4' &&
      (this.grupo && this.grupo.value != 'MDAwMDAw')
    ) {
      return true
    } 
    else return false
  //validacion de radio para grupo
  }else if (this.auth_tipoUsuario === '23'){
    if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.puntoVenta && this.puntoVenta.value != 'MDAwMDAw')
    ) {
      return true
    }else return false
  }
}

function valBtn() {
  if (this.auth_tipoUsuario === '24') {
    //MONEDA != SELECCIONE && ENTIDAD = CC && CC = TODOS 
    if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '2' &&
      (this.comprador && this.comprador.value === 'MDAwMDAw')
    ) {
      return false
    //MONEDA != SELECCIONE && ENTIDAD = CC && CC != TODOS  && radio = activo
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '2' &&
      (this.comprador && this.comprador.value != 'MDAwMDAw') &&
      this.estatusR != '2'
    ) {
      return false
      //MONEDA != SELECCIONE && ENTIDAD = CA && CC != SELECCIONE && CA = TODOS 
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.comprador && this.comprador.value != 'MDA=') &&
      (this.puntoVenta && this.puntoVenta.value === 'MDAwMDAw') /* && this.estatusR != '2' */
    ) {
      return false
      //MONEDA != SELECCIONE && ENTIDAD = CA && CC != SELECCIONE && CA != TODOS && RADIO = ACTIVO 
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.comprador && this.comprador.value != 'MDA=') &&
      (this.puntoVenta && this.puntoVenta.value != 'MDAwMDAw') &&
      this.estatusR != '2'
    ) {
      return false
      //MONEDA != SELECCIONE && ENTIDAD = GRUPO && CC != SELECCIONE && GRUPO = TODOS 
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '4' &&
      (this.comprador && this.comprador.value != 'MDA=') &&
      (this.grupo && this.grupo.value === 'MDAwMDAw') /* && this.estatusR != '2' */
    ) {
      return false
      //MONEDA != SELECCIONE && ENTIDAD = GRUPO && CC != SELECCIONE && GRUPO != TODOS && RADIO = ACTIVO 
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '4' &&
      (this.comprador && this.comprador.value != 'MDA=') &&
      (this.grupo && this.grupo.value != 'MDAwMDAw') &&
      this.estatusR != '2'
    ) {
      return false
      //si entidad es comercializadora
    } else if(
      this.moneda != 'MDAwMA==' &&
      this.entidad === '1' &&
      this.producto.length > 0
    ){
      return false
    }
    else return true
  } else if (this.auth_tipoUsuario === '22') {
    //MONEDA != SELECCIONE && ENTIDAD = CA && CA = TODOS 
    if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.puntoVenta && this.puntoVenta.value === 'MDAwMDAw')
    ) {
      return false
    //MONEDA != SELECCIONE && ENTIDAD = CA && CA != TODOS && RADIO = ACTIVO 
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.puntoVenta && this.puntoVenta.value != 'MDAwMDAw') &&
      this.estatusR != '2'
    ) {
      return false
    //MONEDA != SELECCIONE && ENTIDAD = grupo && grupo != TODOS
    }else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '4' &&
      (this.grupo && this.grupo.value === 'MDAwMDAw')
    ) {
      return false
      //MONEDA != SELECCIONE && ENTIDAD = grupo && grupo != TODOS && RADIO = ACTIVO 
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '4' &&
      (this.grupo && this.grupo.value != 'MDAwMDAw') &&
      this.estatusR != '2'
    ) {
      return false
    } else return true
  } else if (this.auth_tipoUsuario === '23') {
    if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.puntoVenta && this.puntoVenta.value === 'MDAwMDAw')
    ) {
      return false
    } else if (
      this.moneda != 'MDAwMA==' &&
      this.entidad === '3' &&
      (this.puntoVenta && this.puntoVenta.value != 'MDAwMDAw') &&
      this.estatusR != '2'
    ) {
      return false
    } else return true
  }
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_nombrePuntoVenta } = storeToRefs(authStore)

  const showExtraCols = ref(false)
  const showExtraCols2 = ref(0)
  const showExtraCols3 = ref(0)

  const optionsColWidthRem = 3.5

  const inTableData = computed(() => {
    const forTabla = [
      [{ name: 'Entidad', attr: 'entidad' }, 12],
      [{ name: 'Venta neta', attr: 'venNeta' }, 12],
      ...(showExtraCols.value
        ? [
          ...(showExtraCols2.value > 0
          ? [
              [{ name: 'Venta Bruta', attr: 'venBruta' }, 12],
              [{ name: 'Impuesto', attr: 'impuesto' }, 12],
            ] :
            [])    
          ]
        : []),
      
      ...(showExtraCols3.value > 0 
      ? [
          [{ name: 'Premio Bruto', attr: 'preBruto' }, 12],
          [{ name: 'IGTF', attr: 'impIGTF' }, 12],
          [{ name: 'Premio Neto', attr: 'preNeto' }, 12],
      ] : [
        [{ name: 'Premio Neto', attr: 'preNeto' }, 12],
      ]),
      [{ name: 'Utilidad', attr: 'monUtilidad' }, 12],
      [{ name: 'Beneficio', attr: 'monComision' }, 12],
      [{ name: 'Saldo a pagar', attr: 'salPagar' }, 12],
    ]
    const data = tableDataStruc(
      forTabla.map((tableCol) => ({
        ...tableCol[0],
        ...(tableCol[1]
          ? optionsColWidthRemStup(
              tableCol[1],
              forTabla.length,
              optionsColWidthRem,
            )
          : {}),
      })),
    )
    return data
  })

  return {
    ...setupData(1),
    v$: useVuelidate(),
    auth_tokenUsuario,
    optionsColWidthRem,
    inTableData,
    auth_nombrePuntoVenta,
    showExtraCols,
    showExtraCols2,
    showExtraCols3,
  }
}

function data() {
  return {
    tableData: [],
    tableData2: [],
    loading: false,
    showTable: false,
    printing: false,
    fechaDesde: new Date(new Date().toDateString()),
    fechaHasta: new Date(new Date().toDateString()),
    consultedData: {
      fechaDesde: new Date(),
      fechaHasta: new Date(),
    },
    moneda: 'MDAwMA==',
    monedas: [],
    estatusR: '2',
    estatusOptions: [
      { codigo: '1', descripcion: 'PRODUCTO' },
      { codigo: '0', descripcion: 'TIPO DE SORTEO' },
    ],
    auth_tipoUsuario: '',
    entidad: 'MDA=',
    entidadOptions: [],
    comprador: this.entidad === '2' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' },
    compradorOptions: [],
    puntoVenta: this.entidad === '3' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' },
    puntoVentaOptions: [],
    auxValorPtoVenta: '',
    auxValorGrupo: '',
    grupo: this.entidad === '4' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' },
    grupOptions: [],
    totalesTabla: {},
    producto: '',
    productoOptions: [],
    auxValorPag: '',
    arrayCodProd: '/'
  }
}

export default {
  data,
  setup,
  components: { CCInput, CCLoader, CCTable },
  mixins: [globals, tableGenerals, printGenerals],
  validations() {
    return reporteLiquidacionGeneralVals
  },
  methods: {
    fetchMoneda,
    handlerEstatus,
    fetchEntidad,
    fetchComprador,
    fetchPuntoVenta,
    fetchGrupo,
    buscar,
    fechaDesdeW,
    fechaHastaW,
    valBtn,
    sendToPrint,
    descarExcel,
    verRadio,
    fetchListarProductos
  },
  mounted() {
    const path = window.location.href;
    const partAfterSlash = path.split('#')[1].split('/')[1];
    if(partAfterSlash === 'reporte-liquidacion-general') this.auxValorPag = '/MA=='

    this.tRef = 'liquidacionTable'
    this.auth_tipoUsuario = localStorage.getItem('tipoUsuario')
    this.fetchMoneda()
    this.fetchEntidad(this.auxValorPag)
    this.fetchListarProductos()
  },
  watch: {
    fechaHasta: fechaHastaW,
    fechaDesde: fechaDesdeW,
    entidad: function (val) {
console.log("entidad",val)
      if (this.auth_tipoUsuario === '22' || this.auth_tipoUsuario === '23') {
        if (val === '3') {
          this.fetchPuntoVenta()
          this.grupo = { label: 'SELECCIONE', value: 'MDA=' }
          this.puntoVenta = { label: 'TODOS', value: 'MDAwMDAw' }
          this.comprador = { label: 'SELECCIONE', value: 'MDA=' }
        } else if (val === '4') {
          this.grupo = { label: 'SELECCIONE', value: 'MDA=' }
          this.puntoVenta = { label: 'SELECCIONE', value: 'MDA=' }
          this.comprador = { label: 'SELECCIONE', value: 'MDA=' }
          this.fetchGrupo()
        } else {
          this.grupo = { label: 'SELECCIONE', value: 'MDA=' }
          this.puntoVenta = { label: 'SELECCIONE', value: 'MDA=' }
          this.comprador = { label: 'TODOS', value: 'MDAwMDAw' }
          this.validarBtn = false
        }
      } else if (this.auth_tipoUsuario === '24' && val === '1'){
        this.producto = ''
        this.grupo = { label: 'SELECCIONE', value: 'MDA=' }
        this.puntoVenta = { label: 'TODOS', value: 'MDAwMDAw' }
        this.comprador = { label: 'SELECCIONE', value: 'MDA=' }
      } 
      else {
        this.fetchComprador(val)
      }
      if (val != 'MDA=') this.validarBtn = true
      this.grupo = val === '4' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' }
      this.puntoVenta = val === '3' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' }
      this.comprador = val === '2' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' }
    },
    comprador: function (val) {
      if(val !== null){
          if (['3', '4'].includes(this.entidad) && (val.value != 'MDA=')) {
          if (this.entidad === '3') this.fetchPuntoVenta(this.entidad)
          else this.fetchGrupo(this.entidad)
          this.puntoVenta = this.entidad === '3' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' }
          this.grupo = this.entidad === '4' ? { label: 'TODOS', value: 'MDAwMDAw' } : { label: 'SELECCIONE', value: 'MDA=' }
        }

        if (val.value === 'MDAwMDAw') this.estatusR = '2'
      // this.estatusR = '2'
      // if (this.auth_tipoUsuario === '24' && this.entidad === '22') {
      //   if (val != 'MDA=') this.validarBtn = false
      //   else this.validarBtn = true
      // }
      }
    },
    puntoVenta: function (val) {
      if(val !== null){
        if (val.value === 'MDAwMDAw') this.estatusR = '2'
      }
    },
    grupo: function (val) {
      if(val !== null){
        if (val.value === 'MDAwMDAw') this.estatusR = '2'
      }
    },
    producto: function(val){
      if(val) {
        const valores = val?.map(item => window.atob(item.value));
        this.arrayCodProd = window.btoa(valores.join(','));
      }
    }
  },
}
</script>

<style>
.form-check-input {
  background-color: #fff !important;
}
.form-check-input:indeterminate {
  background-color: #fff !important;
}
</style>